<div class="p-5 pb-2">
  <div class="border border-neutral-400 rounded-xl size-12 flex items-center justify-center text-red-500">
    <mat-icon class="filled">favorite</mat-icon>
  </div>
  <h3 class="tracking-tight text-sm font-semibold mt-3.5">Likes</h3>
</div>
<div class="p-5 pt-0 flex items-center mt-1 gap-3">
  <div class="text-4xl font-semibold">44,101</div>
  <span class="font-semibold border text-3xs border-green-600 text-green-700 rounded-lg py-0.5 px-1 ps-5 relative">
    <span class="absolute start-0.5 -top-1">
      <mat-icon class="!size-5 !text-lg">arrow_drop_up</mat-icon>
    </span>
    +25%
  </span>
</div>
