@reference 'tailwindcss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 6);
  padding: calc(var(--spacing) * 12);
}
