<div class="p-10 space-y-6">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Ecommerce</h1>
    <div>
      <mat-form-field class="date-range-input">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  @defer {
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-3">
        <app-total-revenue-widget class="rounded-xl border dark:border-inverse"/>
      </div>
      <div class="col-span-3">
        <app-site-visitors-widget class="rounded-xl border dark:border-inverse"/>
      </div>
      <div class="col-span-3">
        <app-visit-duration-widget class="rounded-xl border dark:border-inverse"/>
      </div>
      <div class="col-span-6">
        <app-purchases-by-channels-widget class="rounded-xl border dark:border-inverse"/>
      </div>
      <div class="col-span-6">
        <app-visitor-insights-widget class="rounded-xl border dark:border-inverse"/>
      </div>
      <div class="col-span-8">
        <app-today-sales-widget class="rounded-xl border dark:border-inverse"/>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-3">
        <app-exchange-widget/>
      </div>
      <div class="col-span-4">
        <app-customer-satisfaction-widget/>
      </div>
    </div>
  } @placeholder (minimum 1s) {
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-3">
        <app-dashboard-skeleton-widget/>
      </div>
      <div class="col-span-3">
        <app-dashboard-skeleton-widget/>
      </div>
      <div class="col-span-3">
        <app-dashboard-skeleton-widget/>
      </div>
      <div class="col-span-6">
        <app-dashboard-chart-skeleton-widget/>
      </div>
      <div class="col-span-6">
        <app-dashboard-chart-skeleton-widget/>
      </div>
      <div class="col-span-8">
        <app-dashboard-cards-skeleton-widget/>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-3">
      </div>
    </div>
  }
</div>
<mat-date-range-picker #picker/>
