<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Table</h1>

      <h3>Basic Table</h3>
      <emr-playground>
        <app-basic-table-example></app-basic-table-example>
      </emr-playground>

      <h3>Table With Pagination</h3>
      <emr-playground>
        <app-table-with-pagination-example></app-table-with-pagination-example>
      </emr-playground>

      <h3>Table With Sorting</h3>
      <emr-playground>
        <app-table-with-sort-example></app-table-with-sort-example>
      </emr-playground>

      <h3>Table With Filtering</h3>
      <emr-playground>
        <app-table-with-filtering-example></app-table-with-filtering-example>
      </emr-playground>

      <h3>Table With Selection</h3>
      <emr-playground>
        <app-table-with-selection-example></app-table-with-selection-example>
      </emr-playground>

      <h3>Table With Fixed Columns</h3>
      <emr-playground>
        <app-table-with-fixed-columns-example></app-table-with-fixed-columns-example>
      </emr-playground>

      <h3>Table With Fixed Header</h3>
      <emr-playground>
        <app-table-with-sticky-header-example></app-table-with-sticky-header-example>
      </emr-playground>

      <h3>Table With Fixed Footer</h3>
      <emr-playground>
        <app-table-with-sticky-footer-example></app-table-with-sticky-footer-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
