<app-page>
  <div appPageContent>
    <h1>Brand Colors</h1>

    <h3 class="mat-title-large">Basic brand colors</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="basic-brand-colors-example">
      <app-basic-brand-colors-example/>
    </emr-playground>

    <h3 class="mat-title-large">Brand colors with custom colors</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="brand-colors-custom-colors-example">
      <app-brand-colors-custom-colors-example/>
    </emr-playground>

    <h3 class="mat-title-large">Brand colors with disabled state</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="brand-colors-disabled-example">
      <app-brand-colors-disabled-example/>
    </emr-playground>

    <h3 class="mat-title-large">Brand colors as form control</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="brand-colors-as-form-control-example">
      <app-brand-colors-as-form-control-example/>
    </emr-playground>
  </div>
</app-page>
