<app-page>
  <div appPageContent>
    <h1>Divider</h1>

    <h3>Basic Divider</h3>
    <emr-playground exampleUrl="_docs/components/divider/_examples" exampleName="basic-divider-example">
      <app-basic-divider-example></app-basic-divider-example>
    </emr-playground>

    <h3>Divider with text</h3>
    <emr-playground exampleUrl="_docs/components/divider/_examples" exampleName="divider-with-text-example">
      <app-divider-with-text-example></app-divider-with-text-example>
    </emr-playground>
  </div>
</app-page>
