:host {
  @apply block;
  scroll-padding-inline: 100px;
}

:host-context(.emr-carousel.fade) {
  animation: emr-carousel-fade;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-timeline: view(inline);
}

@keyframes emr-carousel-fade {
  from, to {
    opacity: .3;
  }
  50% {
    opacity: 1
  }
}
