<div class="relative h-full rounded-lg border group dark:border-inverse p-5">
  <div class="font-semibold">Customer Satisfaction</div>
  <div class="text-sm mt-2 text-neutral-500">Based on 1,999 reviews</div>
  <div class="mt-6 space-y-5">
    <div class="bg-neutral-100 dark:bg-neutral-700 h-10 rounded-lg relative overflow-hidden">
      <div class="absolute inset-0 z-0 bg-green-200 rounded-lg" [style.width]="'73%'"></div>
      <div class="flex items-center justify-between px-3 h-full z-[1] relative">
        <div class="flex items-center gap-2 text-neutral-700">
          <mat-icon class="font-icon">sentiment_very_satisfied</mat-icon>
          <span class="text-sm">Satisfied</span>
        </div>
        <div class="text-sm font-bold">73%</div>
      </div>
    </div>
    <div class="bg-neutral-100 dark:bg-neutral-700 h-10 rounded-lg relative overflow-hidden">
      <div class="absolute inset-0 z-0 bg-amber-200 rounded-lg" [style.width]="'20%'"></div>
      <div class="flex items-center justify-between px-3 h-full z-[1] relative">
        <div class="flex items-center gap-2 text-neutral-700">
          <mat-icon class="font-icon">mood</mat-icon>
          <span class="text-sm">Neutral</span>
        </div>
        <div class="text-sm font-bold">20%</div>
      </div>
    </div>
    <div class="bg-neutral-100 dark:bg-neutral-700 h-10 rounded-lg relative overflow-hidden">
      <div class="absolute inset-0 z-0 bg-red-200 rounded-lg" [style.width]="'7%'"></div>
      <div class="flex items-center justify-between px-3 h-full z-[1] relative">
        <div class="flex items-center gap-2 text-neutral-700">
          <mat-icon class="font-icon">mood_bad</mat-icon>
          <span class="text-sm">Dissatisfied</span>
        </div>
        <div class="text-sm font-bold">7%</div>
      </div>
    </div>
  </div>
</div>
