<div class="w-[500px] bg-neutral-100 dark:bg-neutral-900 rounded-xl p-5">
  <emr-carousel>
    <emr-carousel-card>
      <div class="border  p-6 rounded-xl size-72 bg-background">
        Card 1
      </div>
    </emr-carousel-card>
    <emr-carousel-card>
      <div class="border  p-6 rounded-xl size-72 bg-background">
        Card 2
      </div>
    </emr-carousel-card>
    <emr-carousel-card>
      <div class="border  p-6 rounded-xl size-72 bg-background">
        Card 3
      </div>
    </emr-carousel-card>
    <emr-carousel-card>
      <div class="border  p-6 rounded-xl size-72 bg-background">
        Card 4
      </div>
    </emr-carousel-card>
    <emr-carousel-card>
      <div class="border  p-6 rounded-xl size-72 bg-background">
        Card 5
      </div>
    </emr-carousel-card>
    <emr-carousel-card>
      <div class="border  p-6 rounded-xl size-72 bg-background">
        Card 6
      </div>
    </emr-carousel-card>
    <ng-container emrCarouselControls>
      <button mat-icon-button emrCarouselPrevious>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button emrCarouselNext>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </ng-container>
  </emr-carousel>
</div>
