<div class="p-10 flex flex-col gap-6">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Ecommerce</h1>
    <div>
      <mat-form-field class="date-range-input">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <emr-dashboard [configs]="configs" [widgets]="widgets"></emr-dashboard>

<!--  @defer {-->
<!--    <div class="grid grid-cols-12 gap-6">-->
<!--      <div class="col-span-3">-->
<!--        <emr-total-revenue-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--      <div class="col-span-3">-->
<!--        <emr-site-visitors-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--      <div class="col-span-3">-->
<!--        <emr-visit-duration-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--      <div class="col-span-6">-->
<!--        <emr-purchases-by-channels-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--      <div class="col-span-6">-->
<!--        <emr-visitor-insights-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--      <div class="col-span-8">-->
<!--        <emr-today-sales-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid grid-cols-12 gap-6">-->
<!--      <div class="col-span-3">-->
<!--        <emr-exchange-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--      <div class="col-span-4">-->
<!--        <emr-customer-satisfaction-widget class="rounded-xl border border-default "/>-->
<!--      </div>-->
<!--    </div>-->
<!--  } @placeholder (minimum 1s) {-->
<!--    <div class="grid grid-cols-12 gap-6">-->
<!--      <div class="col-span-3">-->
<!--        <emr-dashboard-stats-widget-skeleton/>-->
<!--      </div>-->
<!--      <div class="col-span-3">-->
<!--        <emr-dashboard-stats-widget-skeleton/>-->
<!--      </div>-->
<!--      <div class="col-span-3">-->
<!--        <emr-dashboard-stats-widget-skeleton/>-->
<!--      </div>-->
<!--      <div class="col-span-6">-->
<!--        <emr-dashboard-chart-widget-skeleton/>-->
<!--      </div>-->
<!--      <div class="col-span-6">-->
<!--        <emr-dashboard-chart-widget-skeleton/>-->
<!--      </div>-->
<!--      <div class="col-span-8">-->
<!--        <emr-dashboard-cards-skeleton/>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="grid grid-cols-12 gap-6">-->
<!--      <div class="col-span-3">-->
<!--      </div>-->
<!--    </div>-->
<!--  }-->
</div>
<mat-date-range-picker #picker/>
