<div class="flex flex-wrap mat-typography">
  <div class="flex w-full flex-col md:w-1/2">
    <a emr-logo routerLink="/" class="absolute top-7 start-8">Elementar</a>
    <div class="lg:w-[31rem] mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0">
      <h2>Get started with our service</h2>
      <p class="text-sm mt-3 text-neutral-500">
        Let's get started with your 30 days free trial
      </p>
      <form class="pt-3 md:pt-8" [formGroup]="form">
        <div class="grid grid-cols-2 gap-5">
          <div class="col-span-1">
            <mat-form-field class="w-full">
              <mat-label>First Name</mat-label>
              <input type="name" matInput formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="col-span-1">
            <mat-form-field class="w-full">
              <mat-label>Last Name</mat-label>
              <input type="name" matInput formControlName="lastName">
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Phone</mat-label>
          <emr-phone-input formControlName="phone"></emr-phone-input>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        @if (form.get('password')?.dirty) {
          <emr-password-strength [password]="passwordValue" class="relative -top-4"></emr-password-strength>
        }
        <button mat-flat-button color="primary" type="button" class="!h-12 mt-4 w-full" [disabled]="form.invalid">Create Account</button>
      </form>
      <emr-h-divider class="mt-10">Or register with</emr-h-divider>
      <div class="grid mt-10 gap-3 grid-cols-2 text-sm">
        <button class="col-span-1 flex items-center justify-center rounded-full border border-default  gap-2 px-3 py-3 outline-none ring-neutral-400
                       ring-offset-2 transition focus:ring-2 hover:border-primary dark:hover:border-primary">
          <img class="w-5 h-5" src="assets/auth/google-logo.svg" alt="Log in with Google"> Log in with Google
        </button>
        <button class="flex col-span-1 items-center justify-center rounded-full border border-default  gap-2 px-3 py-3 outline-none
                       ring-neutral-400 ring-offset-2 transition focus:ring-2 hover:border-primary dark:hover:border-primary">
          <img class="w-6 h-6" src="assets/auth/facebook-logo.svg" alt="Log in with Facebook"> Log in with Facebook
        </button>
      </div>
      <div class="pt-12 text-center">
        <p class="whitespace-nowrap text-xs">
          <span class="inline-block me-1 text-neutral-600 dark:text-neutral-400">Already have an account?</span>
          <a routerLink="/auth/sign-in" class="underline-offset-4 font-semibold text-neutral-800 dark:text-neutral-300
                                              underline hover:text-accent dark:hover:text-accent">Sign in</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen select-none bg-black md:block md:w-1/2">
<!--    <div class="absolute bottom-0 z-10 px-16 py-12 text-white opacity-100">-->
<!--      <p class="mb-8 text-3xl font-bold leading-10">-->
<!--        Coding the Future: Transforming Ideas into Reality. Precision in every line,-->
<!--        Innovation in every function. Your Vision, Our Code - Building Tomorrow, Today!-->
<!--      </p>-->
<!--      <p class="">Founder, Pavel Salauyou</p>-->
<!--      <p class="mb-7 text-sm opacity-70">Software Development Company</p>-->
<!--    </div>-->
    <img class="z-1 absolute top-0 h-full object-cover opacity-90 w-full" src="assets/auth/create-account.jpeg">
  </div>
</div>
