<div class="p-8 space-y-8">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Dashboard</h1>
  </div>
  <div class="grid grid-cols-4 gap-6">
    <div class="col-span-1">
      <app-total-subscribers-widget></app-total-subscribers-widget>
    </div>
    <div class="col-span-1">
      <app-avg-open-rate-widget></app-avg-open-rate-widget>
    </div>
    <div class="col-span-1">
      <app-avg-click-rate-widget></app-avg-click-rate-widget>
    </div>
    <div class="col-span-1">
      <app-unique-visitors-widget></app-unique-visitors-widget>
    </div>
    <div class="col-span-1">
      <app-total-tasks-widget></app-total-tasks-widget>
    </div>
    <div class="col-span-1">
      <app-total-projects-widget></app-total-projects-widget>
    </div>
    <div class="col-span-1">
      <app-events-widget></app-events-widget>
    </div>
    <div class="col-span-1">
      <app-team-widget></app-team-widget>
    </div>
    <div class="col-span-2">
      <app-tasks-in-progress-widget></app-tasks-in-progress-widget>
    </div>
    <div class="col-span-2">
      <app-todos-widget></app-todos-widget>
    </div>
  </div>
</div>
