@if (_initialized) {
  <div class="divide-y dark:divide-neutral-600">
    @for (notification of notifications(); track notification; let last = $last) {
      <div class="notification">
        <ng-container [ngTemplateOutlet]="getNotificationTemplate(notification.type)"
                      [ngTemplateOutletContext]="{ $implicit: notification }" />
        @if (controlsDef()) {
          <div class="controls">
            <ng-container [ngTemplateOutlet]="controlsTpl"
                          [ngTemplateOutletContext]="{ $implicit: notification }" />
          </div>
        }
      </div>
    }
  </div>
}
