:host {
  --emr-notification-is-new-bg: var(--color-primary-200);
  --emr-notification-padding: calc(var(--spacing) * 5);
  --emr-notification-gap: calc(var(--spacing) * 4);

  display: flex;
  flex-direction: column;

  .notification {
    position: relative;
    background: var(--color-surface-container-low);
    border-radius: var(--radius-xl);

    &:has(.is-new) {
      background: var(--emr-notification-is-new-bg);
    }
  }

  .controls {
    position: absolute;
    inset-inline-end: calc(var(--spacing) * 2);
    top: calc(var(--spacing) * 2);
  }

  &:has(.controls:not(:empty)) {
    .notification {
      padding-inline-end: calc(var(--spacing) * 7);
    }
  }
}

:host-context(html.dark) {
  --emr-notification-is-new-bg: var(--color-neutral-800);
}
