@if (_initialized) {
  @for (notification of notifications(); track notification; let last = $last) {
    @defer {
      <div class="notification">
        <ng-container [ngTemplateOutlet]="getNotificationTemplate(notification.type)"
                      [ngTemplateOutletContext]="{ $implicit: notification }" />
      </div>
    } @placeholder (minimum 500ms) {
      <ng-container [ngTemplateOutlet]="notificationSkeleton"/>
    }

    @if (!last) {
      <emr-h-divider/>
    }
  }
}

<ng-template #notificationSkeleton>
  <emr-skeleton class="flex gap-3 p-4">
    <emr-skeleton-circle class="size-11"/>
    <div class="grow space-y-2">
      <emr-skeleton-block class="h-16"/>
      <emr-skeleton-line class="w-20 h-3"/>
    </div>
  </emr-skeleton>
</ng-template>
