:host {
  --emr-notification-is-new-bg: theme('colors.primary.200');
  --emr-notification-padding: theme('padding.5');
  --emr-notification-gap: theme('gap.4');

  display: flex;
  flex-direction: column;

  .notification {
    position: relative;
    background: var(--color-surface-container-low);
    border-radius: var(--rounded-xl);

    &:has(.is-new) {
      background: var(--emr-notification-is-new-bg);
    }
  }

  .controls {
    position: absolute;
    inset-inline-end: var(--w-2);
    top: var(--h-2);
  }

  &:has(.controls:not(:empty)) {
    .notification {
      padding-inline-end: var(--p-7);
    }
  }
}

:host-context(html.dark) {
  --emr-notification-is-new-bg: theme('colors.neutral.800');
}
