:host {
  --emr-suggestions-bg: var(--color-surface-container-lowest);
  --emr-suggestion-block-heading-color: var(--color-on-surface);
  --emr-suggestion-block-font-size: var(--text-xs);
  --emr-suggestion-block-font-weight: var(--font-semibold);
  --emr-suggestion-block-content-padding: var(--p-2) 0;
  --emr-suggestion-height: var(--h-11);
  --emr-suggestion-padding: 0 var(--p-2);
  --emr-suggestion-hover-bg: var(--color-surface-container-low);
  --emr-suggestion-border-radius: var(--rounded-full);

  display: block;
  overflow-y: auto;
  background-color: var(--emr-suggestions-bg);
}

:host-context(html.dark) {
  --emr-suggestions-bg: var(--color-surface-container-high);
  --emr-suggestion-hover-bg: var(--color-surface-bright);
}
