:host {
  --emr-kanban-board-col-width: theme('width.72');
  --emr-kanban-board-padding-x: theme('padding.10');
  --emr-kanban-board-column-gap: theme('gap.5');

  height: 100%;

  .cdk-drag-placeholder {
    opacity: var(--opacity-60);
  }

  &.is-dragging-active {
    .scroll-container {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }
}
