<emr-panel class="h-full">
  <emr-panel-header class="overflow-hidden px-[var(--emr-kanban-board-padding-x)]">
    <div class="flex flex-nowrap gap-[var(--emr-kanban-board-column-gap)] h-full items-center header-container" #headerContainer>
      @for (column of columns(); track column; let index = $index) {
        <div class="h-full w-[var(--emr-kanban-board-col-width)] relative flex gap-2 items-center justify-between flex-none">
          <div class="flex gap-2 items-center uppercase text-sm">
            @if (column.color) {
              <div class="size-3 rounded-full" [style.background-color]="column.color"></div>
            }
            {{ column.name }} ({{ column.items.length }})
          </div>
          <div class="flex gap-0.5 items-center">
            <button mat-icon-button (click)="itemAdd.emit()">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="columnMenu">
              <mat-icon>more_horizontal</mat-icon>
            </button>
          </div>

          @if (_hasVerticalScroll()) {
            <div class="h-px bg-surface-container absolute bottom-0 start-0 end-0"></div>
          }

          <mat-menu #columnMenu="matMenu">
            <button mat-menu-item (click)="columnEdit.emit(column)">
              <mat-icon>share</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="columnDelete.emit({ column, index })">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      }
    </div>
  </emr-panel-header>
  <emr-panel-body class="relative overflow-hidden">
    <div #scrollContainer class="scroll-container h-full absolute overflow-auto inset-0 flex gap-[var(--emr-kanban-board-column-gap)] px-[var(--emr-kanban-board-padding-x)] items-baseline"
         (scroll)="onScroll($event)">
      <div #scrollContainerContent class="flex gap-[var(--emr-kanban-board-column-gap)] min-h-full flex-nowrap pb-[var(--emr-kanban-board-column-gap)]" cdkDropListGroup>
        @for (column of columns(); track column) {
          <div class="w-[var(--emr-kanban-board-col-width)] bg-surface-container-low flex-none rounded-2xl p-3 min-h-full flex flex-col gap-3"
               cdkDropList
               [cdkDropListData]="column.items"
               (cdkDropListDropped)="onDropped($event)">
            @for (item of column.items; track item) {
              <div #element
                   class="kanban-item bg-surface-container-lowest flex-none rounded-2xl p-3 shadow-sm cursor-pointer hover:bg-surface-container-lowest"
                   cdkDrag [cdkDragData]="item" matRipple
                   (mousedown)="itemMousedown($event)"
                   (click)="itemClick.emit(item)"
                   (cdkDragStarted)="onDragStarted($event, element)"
                   (cdkDragMoved)="onDragMoved($event)"
                   (cdkDragEnded)="onDragEnded($event)">
                <ng-container [ngTemplateOutlet]="_itemTplDef().templateRef"
                              [ngTemplateOutletContext]="{ $implicit: item, column }"/>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </emr-panel-body>
</emr-panel>
