<app-page>
  <div appPageContent>
    <h1>Segmented Control</h1>

    <main class="mb-10">
      <p>
        Tired of clunky toggles and outdated selection components? Meet <strong>Segmented Control</strong> for
        Angular Material – a sleek, modern, and highly
        customizable component that brings intuitive navigation to your Angular apps.
      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="ps-4 list-disc mt-3 flex flex-col gap-3">
          <li>
            ✅ Material 3 Inspired – Fully integrates with Angular Material for a seamless design experience.
          </li>
          <li>
            🎨 Customizable – Play with colors, sizes, and styles to match your brand.
          </li>
          <li>
            ⚡ Lightning Fast & Lightweight – Built for performance without unnecessary bloat.
          </li>
          <li>
            📱 Touch & Keyboard Friendly – Perfect for mobile and desktop interactions.
          </li>
          <li>
            🛠️ Easy to Use – Drop it in, configure it, and watch your UI shine!
          </li>
        </ul>
      </div>
      <p>
        Upgrade your Angular UI with Segmented Control and give your users the fluid,
        elegant selection experience they deserve! 🚀
      </p>
    </main>

    <h3 class="mat-title-large">Basic segmented control</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="basic-segmented-example">
      <app-basic-segmented-example/>
    </emr-playground>

    <h3 class="mat-title-large">Segmented control sizes</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-sizes-example">
      <app-segmented-sizes-example/>
    </emr-playground>

    <h3 class="mat-title-large">Segmented control disabled</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-disabled-example">
      <app-segmented-disabled-example/>
    </emr-playground>

    <h3 class="mat-title-large">Segmented control with icons</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-with-icons-example">
      <app-segmented-with-icons-example/>
    </emr-playground>

    <h3 class="mat-title-large">Segmented control with icons only</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-icons-only-example">
      <app-segmented-icons-only-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-segmented</code> component.
    </p>

    <mat-tab-group class="my-6">
      <mat-tab label="Properties">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Prop</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div>selectedValue</div>
                <div class="text-xs text-neutral-500 mt-0.5">Sets a value, manually</div>
              </td>
              <td>any</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>disabled</div>
                <div class="text-xs text-neutral-500 mt-0.5">Disable a control</div>
              </td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>
                <div>size</div>
                <div class="text-xs text-neutral-500 mt-0.5">Control size</div>
              </td>
              <td>SegmentedTriggerSize: <span class="text-primary">'sm' | 'default' | 'lg' | string</span></td>
              <td>default</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Events">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Event</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>selectedValueChanged</td>
              <td>Executed when a selected value changed</td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

    <p>
      Properties for the <code class="code">emr-segmented-button</code> component.
    </p>
    <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/3">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>value<sup>*</sup></div>
            <div class="text-xs text-neutral-500 mt-0.5">Value of a button</div>
          </td>
          <td>any</td>
          <td>&ndash;</td>
        </tr>
        <tr>
          <td>
            <div>disabled</div>
            <div class="text-xs text-neutral-500 mt-0.5">Disable a button</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        <tr>
          <td>
            <div>iconOnly</div>
            <div class="text-xs text-neutral-500 mt-0.5">Hide text and show icon only</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</app-page>
