:host {
  padding-inline-start: var(--p-5);
  padding-inline-end: var(--p-3);
  height: var(--h-11);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-sm);

  &:has(.icon) {
    padding-inline-start: var(--p-3_5);
  }

  .content {
    display: flex;
    align-items: center;
    gap: var(--gap-2_5);
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: var(--opacity-70);

    &:hover {
      opacity: var(--opacity-100);
    }
  }

  &:has(.close) {
    padding-inline-end: var(--p-1_5);
  }

  &[data-variant="neutral"] {
    background: var(--color-neutral-300);
    color: var(--color-neutral-900);

    .icon {
      color: var(--color-neutral-700);
    }
  }

  &[data-variant="informative"] {
    background: var(--color-primary-200);
    color: var(--color-primary-900);

    .icon {
      color: var(--color-primary-700);
    }
  }

  &[data-variant="negative"] {
    background: var(--color-error-200);
    color: var(--color-error-900);

    .icon {
      color: var(--color-error-700);
    }
  }

  &[data-variant="positive"] {
    background: var(--color-lime-200);
    color: var(--color-lime-900);

    .icon {
      color: var(--color-lime-700);
    }
  }

  &[data-variant="warning"] {
    background: var(--color-amber-200);
    color: var(--color-amber-900);

    .icon {
      color: var(--color-amber-700);
    }
  }
}
