<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Pin Input</h1>

      <h3>Basic Pin Input</h3>
      <emr-playground>
        <app-basic-pin-input-example></app-basic-pin-input-example>
      </emr-playground>

      <h3>Placeholder</h3>
      <emr-playground>
        <app-pin-input-with-placeholder-example></app-pin-input-with-placeholder-example>
      </emr-playground>

      <h3>Custom Length</h3>
      <emr-playground>
        <app-pin-input-length-example></app-pin-input-length-example>
      </emr-playground>

      <h3>Custom Symbols</h3>
      <emr-playground>
        <app-pin-input-accept-custom-symbols-example></app-pin-input-accept-custom-symbols-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
