:host {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  gap: var(--gap-0_5);
  color: var(--emr-rail-nav-bg-item-color);

  .icon {
    padding: var(--p-1_5) var(--p-4);
    border-radius: var(--rounded-full);
    color: var(--emr-rail-nav-bg-item-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &:empty {
      display: none;
    }
  }

  &:hover {
    .icon {
      background: var(--emr-rail-nav-bg-item-icon-hover-bg);

      ::ng-deep * {
        scale: 1.1;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
    }
  }

  &:active {
    .icon {
      background: var(--emr-rail-nav-bg-item-icon-active-bg);
    }
  }

  &.is-active {
    .icon {
      background: var(--emr-rail-nav-bg-item-icon-is-active-bg);
      color: var(--emr-rail-nav-bg-item-icon-is-active-color);
    }
  }

  &.is-active:active {
    .icon {
      background: var(--emr-rail-nav-bg-item-icon-is-active-active-bg);
    }
  }

  .label {
    font-size: var(--text-tiny);
  }
}
