:root {
  --emr-filter-builder-group-operations-gap: theme('gap.2');
  --emr-filter-builder-group-operation-font-size: theme('fontSize.tiny');
  --emr-filter-builder-group-operation-color: theme('colors.neutral.800');
  --emr-filter-builder-group-operation-bg: theme('colors.transparent');
  --emr-filter-builder-group-operation-font-weight: theme('fontWeight.normal');
  --emr-filter-builder-group-operation-border-radius: theme('borderRadius.DEFAULT');
  --emr-filter-builder-group-operation-bpadding: 0 theme('padding[2]');
  --emr-filter-builder-group-operation-height: theme('height.7');
  --emr-filter-builder-group-operation-hover-color: theme('colors.neutral.800');
  --emr-filter-builder-group-operation-hover-bg: theme('colors.neutral.200');
  --emr-filter-builder-group-operation-active-color: theme('colors.neutral.900');
  --emr-filter-builder-group-operation-active-bg: theme('colors.neutral.300');
  --emr-filter-builder-group-operation-border: 1px solid theme('colors.neutral.500');
  --emr-filter-builder-group-add-color: theme('colors.primary.DEFAULT');
  --emr-filter-builder-group-add-hover-color: theme('colors.primary.DEFAULT');
  --emr-filter-builder-group-margin: 0;
  --emr-filter-builder-group-padding: 0;
  --emr-filter-builder-group-gap: theme('gap.4');
  --emr-filter-builder-condition-gap: theme('gap.2');
  --emr-filter-builder-condition-field-height: theme('height.7');
  --emr-filter-builder-condition-field-font-size: theme('fontSize.tiny');
  --emr-filter-builder-condition-field-color: theme('colors.gray.800');
  --emr-filter-builder-condition-field-bg: theme('colors.primary.300');
  --emr-filter-builder-condition-field-font-weight: theme('fontWeight.normal');
  --emr-filter-builder-condition-field-border-radius: theme('borderRadius.DEFAULT');
  --emr-filter-builder-condition-field-bpadding: theme('padding[0.5]') theme('padding[2]');
  --emr-filter-builder-condition-field-hover-color: theme('colors.gray.800');
  --emr-filter-builder-condition-field-hover-bg: theme('colors.primary.400');
  --emr-filter-builder-condition-field-active-color: theme('colors.white');
  --emr-filter-builder-condition-field-active-bg: theme('colors.primary.500');
  --emr-filter-builder-condition-operation-height: theme('height.7');
  --emr-filter-builder-condition-operation-font-size: theme('fontSize.tiny');
  --emr-filter-builder-condition-operation-color: theme('colors.gray.800');
  --emr-filter-builder-condition-operation-bg: theme('colors.tertiary.300');
  --emr-filter-builder-condition-operation-font-weight: theme('fontWeight.normal');
  --emr-filter-builder-condition-operation-border-radius: theme('borderRadius.DEFAULT');
  --emr-filter-builder-condition-operation-bpadding: theme('padding[0.5]') theme('padding[2]');
  --emr-filter-builder-condition-operation-hover-color: theme('colors.gray.800');
  --emr-filter-builder-condition-operation-hover-bg: theme('colors.tertiary.400');
  --emr-filter-builder-condition-operation-active-color: theme('colors.white');
  --emr-filter-builder-condition-operation-active-bg: theme('colors.tertiary.500');
  --emr-filter-builder-condition-value-height: theme('height.7');
  --emr-filter-builder-condition-value-font-size: theme('fontSize.tiny');
  --emr-filter-builder-condition-value-color: theme('colors.gray.800');
  --emr-filter-builder-condition-value-bg: theme('colors.gray.200');
  --emr-filter-builder-condition-value-font-weight: theme('fontWeight.normal');
  --emr-filter-builder-condition-value-border-radius: theme('borderRadius.DEFAULT');
  --emr-filter-builder-condition-value-bpadding: theme('padding[0.5]') theme('padding[2]');
  --emr-filter-builder-condition-value-hover-color: theme('colors.gray.800');
  --emr-filter-builder-condition-value-hover-bg: theme('colors.gray.300');
  --emr-filter-builder-condition-remove-color: theme('colors.red.500');
  --emr-filter-builder-condition-remove-hover-color: theme('colors.red.600');
}

html.dark {
  --emr-filter-builder-group-operation-color: theme('colors.neutral.200');
  --emr-filter-builder-group-operation-hover-bg: theme('colors.neutral.600');
  --emr-filter-builder-group-operation-active-bg: theme('colors.neutral.650');
  --emr-filter-builder-group-operation-hover-color: theme('colors.neutral.100');
  --emr-filter-builder-group-operation-active-color: theme('colors.neutral.50');
}
