:root {
  // bar chart
  --emt-bar-chart-bar-bg: theme('colors.primary.DEFAULT');

  // line chart
  --emr-line-chart-line-bg: theme('colors.primary.DEFAULT');
  --emr-line-chart-area-bg: theme('colors.primary.200');
  --emr-line-chart-marker-line-bg: theme('colors.neutral.DEFAULT');
  --emr-line-chart-marker-dot-bg: theme('colors.primary.DEFAULT');
}

html.dark {
  --emr-line-chart-area-bg: theme('colors.neutral.700');
}
