:root {
  // bar chart
  --emt-bar-chart-bar-bg: theme('colors.primary.DEFAULT');
  --emt-bar-chart-bar-gradient-start-color: theme('colors.primary.500');
  --emt-bar-chart-bar-gradient-end-color: theme('colors.primary.DEFAULT');
  --emt-bar-chart-highlight-bg: theme('colors.neutral.200');

  // line chart
  --emr-line-chart-line-bg: theme('colors.primary.DEFAULT');
  --emr-line-chart-area-bg: theme('colors.primary.200');
  --emr-line-chart-marker-line-bg: theme('colors.neutral.DEFAULT');
  --emr-line-chart-marker-dot-bg: theme('colors.primary.DEFAULT');

  // pie chart
  --emr-mchart-pie-legend-item-color: theme('colors.neutral.900');
  --emr-mchart-pie-legend-item-hover-color: theme('colors.primary.DEFAULT');
  --emr-mchart-pie-value-color: theme('colors.neutral.950');
}

html.dark {
  --emt-bar-chart-highlight-bg: theme('colors.neutral.700');
  --emr-line-chart-area-bg: theme('colors.neutral.700');
  --emr-mchart-pie-legend-item-color: theme('colors.neutral.200');
}
