<div #loader class="fixed z-[9999] inset-0 bg-white dark:bg-neutral-700 flex items-center justify-center">
  <div class="flex items-center justify-center flex-col">
<!--    <img [src]="src" alt="" class="w-20 h-20 dark:hidden">-->
<!--    <img [src]="srcDark" alt="" class="w-20 h-20 hidden dark:block">-->
    <emr-logo>
      <div class="bg-primary rounded-xl size-16 flex items-center justify-center text-white font-bold text-3xl dark:hidden animate-bounce">
        El
      </div>
      <div class="bg-primary rounded-xl size-16 items-center justify-center text-white font-bold text-3xl hidden dark:flex animate-bounce">
        El
      </div>
    </emr-logo>
    @if (loadingText) {
      <div class="text-sm text-neutral-500 mt-3 dark:text-neutral-100">{{ loadingText }}</div>
    }
  </div>
</div>
