:host {
  --emr-pin-input-width: theme('width.14');
  --emr-pin-gap: theme('gap.4');

  @apply block w-max;

  .inputs {
    @apply flex items-center gap-[var(--emr-pin-gap)];
  }

  .input {
    @apply flex-none;
  }

  ::ng-deep {
    .mat-mdc-form-field {
      width: var(--emr-pin-input-width) !important;
    }

    .mdc-text-field {
      @apply p-0;
    }

    .mat-mdc-input-element {
      @apply text-center;
    }

    .mat-mdc-form-field-subscript-wrapper {
      @apply hidden;
    }
  }
}
