<emr-panel>
  <emr-panel-header class="px-10 h-16">
    <div class="border-b border-b-default h-full flex items-center justify-between">
      <div class="flex items-center gap-5">
        <div class="text-lg font-bold">Posts</div>
        <emr-v-divider/>
        @if (selectedRows.length === 0) {
          <emr-segmented [(ngModel)]="status" theme="simple">
            <button emr-segmented-button value="all">All</button>
            <button emr-segmented-button value="published">Published</button>
            <button emr-segmented-button value="scheduled">Scheduled</button>
            <button emr-segmented-button value="draft">Drafts</button>
          </emr-segmented>
          <emr-v-divider/>
          <input type="text" placeholder="Search..." [(ngModel)]="search"
                 class="border-b border-b-default h-10 w-96 text-sm bg-transparent outline-0 focus-within:border-neutral-950">
        } @else {
          <div class="text-sm">Checked <span class="font-bold">{{ selectedRows.length }}</span></div>
          <emr-v-divider/>
          <div class="flex items-center gap-4">
            <button mat-stroked-button>
              <mat-icon>download</mat-icon>Unpublish
            </button>
            <button mat-stroked-button color="warn">
              <mat-icon>delete</mat-icon>Delete
            </button>
          </div>
        }
      </div>
      <div>
        <button mat-flat-button>
          <mat-icon>add</mat-icon> New
        </button>
      </div>
    </div>
  </emr-panel-header>
  <emr-panel-body>
    <emr-data-view class="px-10"
                   [columnDefs]="columnDefs"
                   [data]="data"
                   [paginator]="paginator"
                   [cellRenderers]="cellRenderers"
                   [search]="search"
                   hoverRows
                   withSelection
                   stickyHeader
                   withSorting
                   highlightHeader
                   (rowSelectionChanged)="rowSelectionChanged($event)"
                   (selectionChanged)="selectionChanged($event)"
                   (allRowsSelectionChanged)="allRowsSelectionChanged($event)">
      <ng-template emrDataViewEmptyData>
        <emr-block-state>
          <emr-block-state-icon>
            <mat-icon>article</mat-icon>
          </emr-block-state-icon>
          <emr-block-state-content>There are no posts yet.</emr-block-state-content>
        </emr-block-state>
      </ng-template>
      <ng-template emrDataViewEmptyFilterResults>
        <emr-block-state>
          <emr-block-state-icon>
            <mat-icon>search_off</mat-icon>
          </emr-block-state-icon>
          <emr-block-state-content>No data matching the filter "{{ search }}"</emr-block-state-content>
        </emr-block-state>
      </ng-template>
      <emr-data-view-action-bar #dataViewActionBar="emrDataViewActionBar" *emrDataViewActionBar="let row">
        <button mat-stroked-button>Publish</button>
        <button mat-icon-button [matMenuTriggerFor]="menu"
                (menuOpened)="dataViewActionBar.api.setForceVisible(true)"
                (menuClosed)="dataViewActionBar.api.setForceVisible(false)">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </emr-data-view-action-bar>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>
          <mat-icon>share</mat-icon>
          <span>Publish</span>
        </a>
        <a mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </a>
      </mat-menu>
    </emr-data-view>
  </emr-panel-body>
  <emr-panel-footer class="px-10 h-20 flex items-center justify-center border-t border-t-default">
    <mat-paginator #paginator pageSize="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons/>
  </emr-panel-footer>
</emr-panel>
