<emr-panel>
  <emr-panel-header class="px-10 h-16">
    <div class="border-b dark:border-b-inverse h-full flex items-center justify-between">
      <div class="flex items-center gap-7">
        <div class="text-lg font-bold">Posts</div>
        <emr-v-divider></emr-v-divider>
        @if (selectedRows.length === 0) {
          <emr-segmented [(ngModel)]="status" theme="simple" class="-mx-2">
            <emr-segmented-button value="all">All</emr-segmented-button>
            <emr-segmented-button value="published">Published</emr-segmented-button>
            <emr-segmented-button value="scheduled">Scheduled</emr-segmented-button>
            <emr-segmented-button value="draft">Drafts</emr-segmented-button>
          </emr-segmented>
          <emr-v-divider></emr-v-divider>
          <input type="text" placeholder="Search..."
                 class="border-b h-10 w-96 text-sm bg-transparent dark:border-b-inverse outline-0 focus-within:border-neutral-950">
        } @else {
          <div class="text-sm">Checked <span class="font-bold">{{ selectedRows.length }}</span></div>
          <emr-v-divider></emr-v-divider>
          <div class="flex items-center gap-4">
            <button mat-stroked-button>
              <mat-icon>download</mat-icon>Unpublish
            </button>
            <button mat-stroked-button color="warn">
              <mat-icon>delete</mat-icon>Delete
            </button>
          </div>
        }
      </div>
      <div>
        <button mat-flat-button>
          <mat-icon>add</mat-icon> New
        </button>
      </div>
    </div>
  </emr-panel-header>
  <emr-panel-body>
    <div class="px-10 pb-5">
      <emr-data-view [columnDefs]="columnDefs"
                     [data]="data"
                     [paginator]="paginator"
                     [cellRenderers]="cellRenderers"
                     withSelection
                     stickyHeader
                     withSorting
                     highlightHeader
                     (rowSelectionChanged)="rowSelectionChanged($event)"
                     (selectionChanged)="selectionChanged($event)"
                     (allRowsSelectionChanged)="allRowsSelectionChanged($event)">
        <emr-data-view-action-bar #dataViewActionBar="emrDataViewActionBar" *emrDataViewActionBar="let row">
          <button mat-stroked-button>Publish</button>
          <button mat-icon-button [matMenuTriggerFor]="menu"
                  (menuOpened)="dataViewActionBar.api.setForceVisible(true)"
                  (menuClosed)="dataViewActionBar.api.setForceVisible(false)">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </emr-data-view-action-bar>
        <mat-menu #menu="matMenu">
          <a mat-menu-item>
            <mat-icon>share</mat-icon>
            <span>Publish</span>
          </a>
          <a mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </a>
        </mat-menu>
      </emr-data-view>
    </div>
  </emr-panel-body>
  <emr-panel-footer class="px-10 h-20 flex items-center justify-center border-t dark:border-t-inverse">
    <mat-paginator #paginator pageSize="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </emr-panel-footer>
</emr-panel>
