<app-page>
  <div appPageContent>
    <h1>Tree</h1>

    <h3>Basic tree</h3>
    <emr-playground exampleUrl="_docs/components/tree/_examples" exampleName="basic-tree-example">
      <app-basic-tree-example></app-basic-tree-example>
    </emr-playground>

    <h3>Tree with dynamic data</h3>
    <emr-playground exampleUrl="_docs/components/tree/_examples" exampleName="tree-with-dynamic-data-example">
      <app-tree-with-dynamic-data-example></app-tree-with-dynamic-data-example>
    </emr-playground>
  </div>
</app-page>
