<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Slide Toggle</h1>

      <h3 id="basic-inputs">Basic Slide Toggle</h3>
      <emr-playground exampleUrl="_docs/forms/slide-toggle/_examples" exampleName="basic-slide-toggle-example">
        <app-basic-slide-toggle-example></app-basic-slide-toggle-example>
      </emr-playground>

      <h3 id="with-forms">Slide Toggle with Forms</h3>
      <emr-playground exampleUrl="_docs/forms/slide-toggle/_examples" exampleName="slide-toggle-with-forms-example">
        <app-slide-toggle-with-forms-example></app-slide-toggle-with-forms-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
