<div class="space-y-8">
  <emr-segmented selectedValue="daily">
    <emr-segmented-button value="daily" disabled>Daily</emr-segmented-button>
    <emr-segmented-button value="weekly" disabled>Weekly</emr-segmented-button>
    <emr-segmented-button value="monthly" disabled>Monthly</emr-segmented-button>
  </emr-segmented>
  <emr-segmented selectedValue="daily">
    <emr-segmented-button value="daily" disabled>Daily</emr-segmented-button>
    <emr-segmented-button value="weekly">Weekly</emr-segmented-button>
    <emr-segmented-button value="monthly">Monthly</emr-segmented-button>
  </emr-segmented>
</div>
