<div class="flex flex-col gap-8">
  <emr-segmented selectedValue="daily">
    <button emr-segmented-button value="daily" disabled>Daily</button>
    <button emr-segmented-button value="weekly" disabled>Weekly</button>
    <button emr-segmented-button value="monthly" disabled>Monthly</button>
  </emr-segmented>
  <emr-segmented selectedValue="daily">
    <button emr-segmented-button value="daily" disabled>Daily</button>
    <button emr-segmented-button value="weekly">Weekly</button>
    <button emr-segmented-button value="monthly">Monthly</button>
  </emr-segmented>
</div>
