<app-page>
  <div appPageContent>
    <h1>List</h1>

    <h3 class="mat-title-large">Basic List</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="basic-list-example">
      <app-basic-list-example></app-basic-list-example>
    </emr-playground>

    <h3 class="mat-title-large">List With Sections</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-with-sections-example">
      <app-list-with-sections-example></app-list-with-sections-example>
    </emr-playground>

    <h3 class="mat-title-large">List With Selection</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-with-selection-example">
      <app-list-with-selection-example></app-list-with-selection-example>
    </emr-playground>

    <h3 class="mat-title-large">List With Single Selection</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-with-single-selection-example">
      <app-list-with-single-selection-example></app-list-with-single-selection-example>
    </emr-playground>

    <h3 class="mat-title-large">List Variants</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-variants-example">
      <app-list-variants-example></app-list-variants-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/list/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
