<app-page>
  <div appPageContent>
    <h1>List</h1>

    <h3>Basic List</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="basic-list-example">
      <app-basic-list-example></app-basic-list-example>
    </emr-playground>

    <h3>List With Sections</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-with-sections-example">
      <app-list-with-sections-example></app-list-with-sections-example>
    </emr-playground>

    <h3>List With Selection</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-with-selection-example">
      <app-list-with-selection-example></app-list-with-selection-example>
    </emr-playground>

    <h3>List With Single Selection</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-with-single-selection-example">
      <app-list-with-single-selection-example></app-list-with-single-selection-example>
    </emr-playground>

    <h3>List Variants</h3>
    <emr-playground exampleUrl="_docs/components/list/_examples" exampleName="list-variants-example">
      <app-list-variants-example></app-list-variants-example>
    </emr-playground>
  </div>
</app-page>
