<div class="space-y-10">
  <div class="flex items-center gap-6">
    <emr-avatar text="Pavel Salauyou" class="size-6"></emr-avatar>
    <emr-avatar text="PS"></emr-avatar>
    <emr-avatar text="N" class="size-16"></emr-avatar>
    <emr-avatar text="OP" class="size-32"></emr-avatar>
  </div>
  <emr-avatar-group>
    <emr-avatar text="am"></emr-avatar>
    <emr-avatar text="ps"></emr-avatar>
    <emr-avatar text="br"></emr-avatar>
    <emr-avatar text="brn"></emr-avatar>
    <emr-avatar text="brt"></emr-avatar>
    <emr-avatar text="ps1"></emr-avatar>
  </emr-avatar-group>
  <div class="flex items-center gap-6">
    <emr-avatar text="Pavel Salauyou" preset="initials" class="size-6"></emr-avatar>
    <emr-avatar text="Tate Stafford" preset="initials"></emr-avatar>
    <emr-avatar text="Oscar Bristol" preset="initials" class="size-16"></emr-avatar>
    <emr-avatar text="Andrew Notley" preset="initials" class="size-32"></emr-avatar>
  </div>
  <emr-avatar-group>
    <emr-avatar text="Pavel Salauyou" preset="initials"></emr-avatar>
    <emr-avatar text="Tate Stafford" preset="initials"></emr-avatar>
    <emr-avatar text="Oscar Bristol" preset="initials"></emr-avatar>
    <emr-avatar text="Andrew Notley" preset="initials"></emr-avatar>
  </emr-avatar-group>
</div>
