<emr-resizable-container minWidth="400" class="border border-default rounded-lg @container">
  <div class="p-6">
    <div class="grid grid-cols-1 @xl:grid-cols-2 @4xl:grid-cols-4 gap-4 text-white text-sm
              text-center font-bold leading-6 bg-stripes-fuchsia rounded-lg">
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">01</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">02</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">03</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">04</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">05</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">06</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">07</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">08</div>
      <div class="p-4 rounded-lg shadow-lg bg-fuchsia-500">09</div>
    </div>
  </div>
</emr-resizable-container>
