<div class="space-y-6">
  <emr-alert variant="default">This is a Elementar Admin alert — check it out!</emr-alert>
  <emr-alert variant="secondary">This is a Elementar Admin alert — check it out!</emr-alert>
  <emr-alert variant="positive">This is a Elementar Admin alert — check it out!</emr-alert>
  <emr-alert variant="informative">This is a Elementar Admin alert — check it out!</emr-alert>
  <emr-alert variant="negative">This is a Elementar Admin alert — check it out!</emr-alert>
  <emr-alert variant="notice">This is a Elementar Admin alert — check it out!</emr-alert>
</div>
