@if ((showToolbar || toolbarAlwaysVisible()) && (fullView || fullViewMode())) {
  <div class="toolbar">
    <ng-content select="emr-comment-editor-toolbar" />
  </div>
}
<div #content class="content prose dark:prose-invert max-w-full"></div>
<div class="footer">
  <div class="flex items-center gap-0.5">
    <ng-content select="emr-comment-editor-footer-bar"/>
  </div>
  <div class="flex items-center gap-2">
    @if ((fullView && !fullViewMode()) || cancelButtonAlwaysVisible()) {
      <button mat-button (click)="cancel($event)">{{ buttonCancelLabel() }}</button>
    }

    <button mat-flat-button [disabled]="!_value || null" (click)="send($event)">{{ buttonSendLabel() }}</button>
  </div>
</div>
<div #imageBubbleMenu class="emr-comment-editor-bubble-menu">
</div>
<div #bubbleMenu>
  <ng-content select="emr-comment-editor-bubble-menu"/>
</div>
<!--<div #floatingMenu class="floating-menu">-->
<!--  @if (editor) {-->
<!--    <div class="flex items-center gap-1.5">-->
<!--      <button class="button"-->
<!--              [disabled]="isCommandDisabled('toggleCodeBlock')"-->
<!--              [class.active]="editor && editor.isActive('codeBlock')"-->
<!--              (click)="onButtonClick('toggleCodeBlock')">-->
<!--        <mat-icon>code</mat-icon>-->
<!--      </button>-->
<!--      <button class="button">-->
<!--        <mat-icon>image</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  }-->
<!--</div>-->
