@if (showToolbar) {
  <div class="toolbar">
    <div class="flex items-center gap-0.5">
      <button mat-icon-button class="button"
              [disabled]="isCommandDisabled('toggleBold')"
              [class.active]="editor && editor.isActive('bold')"
              (click)="onButtonClick('toggleBold')">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-icon-button class="button"
              [disabled]="isCommandDisabled('toggleItalic')"
              [class.active]="editor && editor.isActive('italic')"
              (click)="onButtonClick('toggleItalic')">
        <mat-icon>format_italic</mat-icon>
      </button>
      <button mat-icon-button class="button"
              [disabled]="isCommandDisabled('toggleStrike')"
              [class.active]="editor && editor.isActive('strike')"
              (click)="onButtonClick('toggleStrike')">
        <mat-icon>strikethrough_s</mat-icon>
      </button>
      <button mat-icon-button class="button"
              [disabled]="isCommandDisabled('toggleBulletList')"
              [class.active]="editor && editor.isActive('bulletList')"
              (click)="onButtonClick('toggleBulletList')">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-icon-button class="button"
              [disabled]="isCommandDisabled('toggleCodeBlock')"
              [class.active]="editor && editor.isActive('codeBlock')"
              (click)="onButtonClick('toggleCodeBlock')">
        <mat-icon>code_blocks</mat-icon>
      </button>
      <button mat-icon-button class="button" (click)="addImage()">
        <mat-icon>image</mat-icon>
      </button>
    </div>
  </div>
}
<div #content class="content"></div>
<div class="footer">
  <div class="flex items-center gap-0.5">
    @if (fullView) {
      <button mat-icon-button class="button"
              [class.active]="showToolbar" (click)="toggleToolbar()">
        <mat-icon>title</mat-icon>
      </button>
    }
  </div>
  <div class="flex items-center gap-2">
    @if (fullView) {
      <button mat-button (click)="cancel($event)">Cancel</button>
    }

    <button mat-flat-button [disabled]="!_value || null" (click)="send($event)">Send</button>
  </div>
</div>
<div #bubbleMenu class="emr-comment-editor-bubble-menu">
  @if (editor) {
    @if (editor.isActive('link') && getLinkUrl()) {
      <div class="flex items-center gap-1 h-11 border-b">
        <div class="grow text-sm overflow-hidden text-ellipsis w-[116px]">
          <a [href]="getLinkUrl()" target="_blank" class="text-primary">{{ getLinkUrl() }}</a>
        </div>
        <div class="flex items-center flex-none">
          <button class="button" (click)="setLink()">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="button" (click)="unsetLink()">
            <mat-icon>link_off</mat-icon>
          </button>
        </div>
      </div>
    }
    <div class="h-12 flex items-center gap-1.5">
      <button class="button"
              [class.active]="setLinkActive || editor.isActive('link')"
              (click)="setLink()">
        <mat-icon>link</mat-icon>
      </button>
      <button class="button"
              [disabled]="isCommandDisabled('toggleBold')"
              [class.active]="editor && editor.isActive('bold')"
              (click)="onButtonClick('toggleBold')">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button class="button"
              [disabled]="isCommandDisabled('toggleItalic')"
              [class.active]="editor && editor.isActive('italic')"
              (click)="onButtonClick('toggleItalic')">
        <mat-icon>format_italic</mat-icon>
      </button>
      <button class="button"
              [disabled]="isCommandDisabled('toggleStrike')"
              [class.active]="editor && editor.isActive('strike')"
              (click)="onButtonClick('toggleStrike')">
        <mat-icon>strikethrough_s</mat-icon>
      </button>
      <button class="button"
              [disabled]="isCommandDisabled('toggleCode')"
              [class.active]="editor && editor.isActive('code')"
              (click)="onButtonClick('toggleCode')">
        <mat-icon>code</mat-icon>
      </button>
    </div>
  }
</div>
<!--<div #floatingMenu class="floating-menu">-->
<!--  @if (editor) {-->
<!--    <div class="flex items-center gap-1.5">-->
<!--      <button class="button"-->
<!--              [disabled]="isCommandDisabled('toggleCodeBlock')"-->
<!--              [class.active]="editor && editor.isActive('codeBlock')"-->
<!--              (click)="onButtonClick('toggleCodeBlock')">-->
<!--        <mat-icon>code</mat-icon>-->
<!--      </button>-->
<!--      <button class="button">-->
<!--        <mat-icon>image</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  }-->
<!--</div>-->
