.emr-comment-editor-bubble-menu {
  @apply shadow bg-white min-h-12 px-2 rounded-2xl border;

  .button {
    @apply leading-[0];

    &.active {
      @apply bg-neutral-200;
    }
  }

  .button {
    @apply hover:text-primary rounded-full p-1;

    mat-icon {
      @apply size-6 text-xl;
      line-height: 1.25;
    }
  }
}

:host {
  @apply relative block rounded-2xl overflow-hidden border;

  .floating-menu {
    @apply shadow bg-white py-1.5 px-2 border rounded-full;

    .button {
      @apply hover:text-primary rounded-full;

      mat-icon {
        @apply size-6 text-xl;
        line-height: 1.25;
      }
    }
  }

  .content {
    @apply absolute h-14 inset-0;

    ::ng-deep {
      .tiptap {
        @apply p-4 min-h-10 focus:outline-none;

        img {
          @apply block h-auto my-6 mx-0 max-w-full;

          &.ProseMirror-selectednode {
            outline: 3px solid theme('colors.purple.500');
          }
        }

        p.is-editor-empty:first-child::before {
          @apply text-neutral-500 float-left h-0 pointer-events-none text-[14px];
          content: attr(data-placeholder);
        }

        &.ProseMirror-focused {
          p.is-editor-empty:first-child::before {
            content: none;
          }
        }

        //p.is-empty::before {
        //  color: #adb5bd;
        //  content: attr(data-placeholder);
        //  float: left;
        //  height: 0;
        //  pointer-events: none;
        //}
      }

      p,
      pre {
        &:first-child {
          @apply mt-0;
        }

        &:last-child {
          @apply mb-0;
        }
      }
    }
  }

  &.full-view {
    .content {
      @apply static h-auto min-h-12;
    }
  }

  .footer {
    @apply h-14 px-2.5 flex items-center justify-between;
  }

  .toolbar {
    @apply border-b h-14 px-3 flex items-center justify-between;
  }

  .button {
    @apply leading-[0];

    &.active {
      @apply bg-neutral-200;
    }
  }
}

:host-context(html.dark) {
  @apply border-inverse;
}
