<app-page>
  <div appPageContent>
    <h1>Datepicker</h1>

    <h3>Basic Datepicker</h3>
    <emr-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="basic-datepicker-example">
      <app-basic-datepicker-example></app-basic-datepicker-example>
    </emr-playground>

    <h3>Datepicker With Custom Icon</h3>
    <emr-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="datepicker-custom-icon-example">
      <app-datepicker-custom-icon-example></app-datepicker-custom-icon-example>
    </emr-playground>

    <h3>Datepicker With Custom Header</h3>
    <emr-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="datepicker-with-custom-header-example">
      <app-datepicker-with-custom-header-example></app-datepicker-with-custom-header-example>
    </emr-playground>

    <h3>Datepicker Action Buttons</h3>
    <emr-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="datepicker-actions-button-example">
      <app-datepicker-actions-button-example></app-datepicker-actions-button-example>
    </emr-playground>

    <h3>Basic Date Range Picker</h3>
    <emr-playground exampleUrl="_docs/components/datepicker/_examples" exampleName="basic-date-range-picker-example">
      <app-basic-date-range-picker-example></app-basic-date-range-picker-example>
    </emr-playground>
  </div>
</app-page>
