<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Datepicker</h1>

      <h3>Basic Datepicker</h3>
      <emr-playground>
        <app-basic-datepicker-example></app-basic-datepicker-example>
      </emr-playground>

      <h3>Datepicker With Custom Icon</h3>
      <emr-playground>
        <app-datepicker-custom-icon-example></app-datepicker-custom-icon-example>
      </emr-playground>

      <h3>Datepicker With Custom Header</h3>
      <emr-playground>
        <app-datepicker-with-custom-header-example></app-datepicker-with-custom-header-example>
      </emr-playground>

      <h3>Datepicker Action Buttons</h3>
      <emr-playground>
        <app-datepicker-actions-button-example></app-datepicker-actions-button-example>
      </emr-playground>

      <h3>Basic Date Range Picker</h3>
      <emr-playground>
        <app-basic-date-range-picker-example></app-basic-date-range-picker-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
