<app-page>
  <div appPageContent>
    <main class="mat-typography mb-10">
      <h1>Action Required</h1>

      <p>
        Introducing the Action Required component, a customizable and visually engaging block designed to highlight
        urgent messages for users. Built with Angular Material, this component ensures seamless integration into modern
        web applications while maintaining a consistent Material Design aesthetic.
      </p>

      <p class="font-bold mt-7">
        Key Features:
      </p>

      <ul class="mb-7 list-disc ps-4 space-y-2">
        <li>Immediate Attention: Draws user focus to critical tasks or information.</li>
        <li>
          Customizable Styling: Adapt colors, typography, and icons to fit your app's theme.
        </li>
        <li>
          Responsive Design: Optimized for all devices, ensuring accessibility everywhere.
        </li>
        <li>
          Developer-Friendly: Easy to implement and configure with Angular's robust framework.
        </li>
      </ul>

      <p>
        Perfect for dashboards, task management tools, or any application that requires actionable prompts,
        the Action Required component enhances user engagement and productivity.
      </p>
    </main>

    <h3 class="mat-title-large">Basic action required</h3>
    <emr-playground exampleUrl="_docs/components/action-required/_examples" exampleName="basic-action-required-example">
      <app-basic-action-required-example/>
    </emr-playground>
  </div>
</app-page>
