<app-page>
  <div appPageContent>
    <h1>Sidebar Widgets</h1>

    <h3>Go to premium sidebar widget</h3>
    <emr-playground exampleUrl="_docs/components/sidebar-widgets/_examples" exampleName="sidebar-go-to-premium-example">
      <emr-sidebar-go-to-premium-example></emr-sidebar-go-to-premium-example>
    </emr-playground>

    <h3>Upgrade to pro sidebar widget</h3>
    <emr-playground exampleUrl="_docs/components/sidebar-widgets/_examples" exampleName="sidebar-upgrade-to-pro-example">
      <emr-sidebar-upgrade-to-pro-example></emr-sidebar-upgrade-to-pro-example>
    </emr-playground>

    <h3>Upgrade now sidebar widget</h3>
    <emr-playground exampleUrl="_docs/components/sidebar-widgets/_examples" exampleName="sidebar-upgrade-now-example">
      <app-sidebar-upgrade-now-example></app-sidebar-upgrade-now-example>
    </emr-playground>

    <h3>Used space sidebar widget</h3>
    <emr-playground exampleUrl="_docs/components/sidebar-widgets/_examples" exampleName="sidebar-used-space-example">
      <app-sidebar-used-space-example></app-sidebar-used-space-example>
    </emr-playground>
  </div>
</app-page>
