<app-page>
  <div appPageContent>
    <h1>Menu</h1>

    <h3 class="mat-title-large">Basic Menu</h3>
    <emr-playground exampleUrl="_docs/components/menu/_examples" exampleName="basic-menu-example">
      <app-basic-menu-example></app-basic-menu-example>
    </emr-playground>

    <h3 class="mat-title-large">Menu With Icons</h3>
    <emr-playground exampleUrl="_docs/components/menu/_examples" exampleName="menu-with-icons-example">
      <app-menu-with-icons-example></app-menu-with-icons-example>
    </emr-playground>

    <h3 class="mat-title-large">Nested Menu</h3>
    <emr-playground exampleUrl="_docs/components/menu/_examples" exampleName="nested-menu-example">
      <app-nested-menu-example></app-nested-menu-example>
    </emr-playground>

    <h3 class="mat-title-large">Menu Positioning</h3>
    <emr-playground exampleUrl="_docs/components/menu/_examples" exampleName="menu-positioning-example">
      <app-menu-positioning-example></app-menu-positioning-example>
    </emr-playground>
  </div>
</app-page>
