<emr-panel class="h-full">
  <emr-panel-header class="h-16">
    <div class="h-full flex items-center justify-between px-10">
      <div class="flex items-center gap-4">
        <div class="font-bold">Tasks</div>
      </div>
      <div class="flex items-center gap-4">
        <emr-segmented selectedValue="assignedToMe">
          <button emr-segmented-button value="all">All</button>
          <button emr-segmented-button value="assignedToMe">Assigned to me</button>
        </emr-segmented>
        <button mat-stroked-button>
          <mat-icon>add</mat-icon>Invite
        </button>
        <emr-avatar-group>
          <emr-avatar text="am"></emr-avatar>
          <emr-avatar text="ps" class="bg-cyan-500"></emr-avatar>
          <emr-avatar text="br" class="bg-red-500"></emr-avatar>
          <emr-avatar-total>+20</emr-avatar-total>
        </emr-avatar-group>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </emr-panel-header>
  <emr-panel-body class="relative">
    <emr-kanban-board [columns]="columns" class="absolute inset-0">
      <ng-template emrKanbanItemDef let-item let-column>
        <div class="font-medium text-sm">{{ item.name }}</div>
        <div class="flex items-center justify-between mt-3.5">
          <emr-dicebear [key]="item.assignee.id" class="size-7"/>
          <mat-icon [style.color]="item.priority.color" class="filled">flag</mat-icon>
        </div>
      </ng-template>
    </emr-kanban-board>
  </emr-panel-body>
</emr-panel>
