<div class="space-y-8">
  <div matBadge="4" [matBadgeOverlap]="false" class="w-max">Text with a badge</div>
  <div matBadge="1" matBadgeSize="large" class="w-max">Text with large badge</div>

  <div class="flex items-center gap-4">
    Button with a badge on the left
    <button mat-raised-button color="primary"
            matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
  </div>

  <div class="flex items-center gap-4">
    Button toggles badge visibility
    <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
    </button>
  </div>

  <div class="flex items-center gap-2">
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn" class="font-icon">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>
</div>
