@import 'material-symbols/outlined';

.mat-icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  &.filled {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

// internal angular material icon font
.material-icons {
  word-wrap: normal;
  font-family: 'Material Symbols Outlined', serif;
  font-size: 24px;
  line-height: 1;
}
