@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// internal material icon font
.material-icons {
  font-family: 'Material Symbols Outlined';
  // by default the font is filled, change "FILL" 0 if you want to use outline version
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-icons,
.font-icon,
.font-icon-filled {
  font-size: 24px;
  line-height: 1;
}
