<div class="p-10">
  <div class="w-8/12 grid grid-cols-6 gap-5">
    <div class="col-span-1">
      <button matRipple class="w-full h-20 cursor-pointer text-primary border dark:border-inverse
                               rounded-md p-3 flex flex-col justify-center hover:bg-neutral-100 dark:hover:bg-neutral-700">
        <mat-icon>add</mat-icon>
        <div class="text-sm mt-2.5">Create</div>
      </button>
    </div>
    <div class="col-span-1">
      <button matRipple class="w-full h-20 cursor-pointer border dark:border-inverse hover:bg-neutral-100 dark:hover:bg-neutral-700
                               rounded-md p-3 flex flex-col justify-center">
        <mat-icon>upload</mat-icon>
        <div class="text-sm mt-2.5">Upload</div>
      </button>
    </div>
    <div class="col-span-1">
      <button matRipple class="w-full h-20 cursor-pointer border dark:border-inverse hover:bg-neutral-100 dark:hover:bg-neutral-700
                               rounded-md p-3 flex flex-col justify-center">
        <mat-icon>folder</mat-icon>
        <div class="text-sm mt-2.5">Create Folder</div>
      </button>
    </div>
    <div class="col-span-1">
      <button matRipple class="w-full h-20 cursor-pointer border dark:border-inverse hover:bg-neutral-100 dark:hover:bg-neutral-700
                               rounded-md p-3 flex flex-col justify-center">
        <mat-icon>album</mat-icon>
        <div class="text-sm mt-2.5">Record</div>
      </button>
    </div>
  </div>
  <div class="mt-10">
    <div class="flex items-center justify-between gap-3">
      <div class="flex items-center gap-1">
        <h3 class="text-2xl font-bold">All files</h3>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div class="flex items-center gap-2.5">
        <emr-avatar text="PS" class="size-8 cursor-pointer"
                    matTooltip="Pavel Salauyou (owner, you)"
                    matTooltipPosition="below"></emr-avatar>
        <div class="text-xs text-neutral-500">Only you</div>
      </div>
    </div>
    <div class="mt-3 flex items-center justify-between gap-3">
      <div>
        @if (selectedFiles.length === 0) {
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>Recent</mat-chip-option>
            <mat-chip-option>Starred</mat-chip-option>
          </mat-chip-listbox>
        } @else {
          <div class="flex gap-3">
            <button mat-flat-button color="tertiary">
              <mat-icon>share</mat-icon>Share
            </button>
            <button mat-stroked-button>
              <mat-icon>download</mat-icon>Download
            </button>
            <button mat-stroked-button color="warn">
              <mat-icon>delete</mat-icon>Delete
            </button>
            <button mat-icon-button [matMenuTriggerFor]="fileOptionsMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #fileOptionsMenu="matMenu">
            @if (selectedFiles.length === 1) {
              @if (selectedFiles[0].type === 'folder') {
                <button mat-menu-item>
                  <mat-icon>info</mat-icon>Folder Info
                </button>
              } @else {
                <button mat-menu-item>
                  <mat-icon>info</mat-icon>File Info
                </button>
              }

              <button mat-menu-item>
                <mat-icon>share</mat-icon>Share
              </button>
              <button mat-menu-item>
                <mat-icon>link</mat-icon>Copy Link
              </button>
              <button mat-menu-item>
                <mat-icon>group</mat-icon>Manage Permissions
              </button>
              <button mat-menu-item>
                <mat-icon>download</mat-icon>Download
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>Delete
              </button>
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>Rename
              </button>
              <button mat-menu-item>
                <mat-icon>open_with</mat-icon>Move
              </button>
              <button mat-menu-item>
                @if (selectedFiles[0].type === 'folder') {
                  <mat-icon>folder_copy</mat-icon>
                } @else {
                  <mat-icon>file_copy</mat-icon>
                }
                Copy
              </button>
            } @else if (selectedFiles.length > 1) {
              <button mat-menu-item>
                <mat-icon>download</mat-icon>Download
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>Delete
              </button>
              <button mat-menu-item>
                <mat-icon>open_with</mat-icon>Move
              </button>
              <button mat-menu-item>
                <mat-icon>content_copy</mat-icon>Copy
              </button>
            }
          </mat-menu>
        }
      </div>
      <div class="flex items-center">
        <div class="flex items-center">
          @if (selectedFiles.length > 0) {
            <span class="text-xs font-medium">{{ selectedFiles.length }} selected</span>
          }
          <mat-checkbox [indeterminate]="indeterminate" [checked]="checked"></mat-checkbox>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="filesView">
          <mat-icon>apps</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="mt-3">
    @switch (settingsForm.get('layout')?.value) {
      @case ('grid') {
        @defer {
          <app-file-grid-layout [files]="files" [starredIds]="starredIds"
                                (fileSelected)="fileSelected($event)"></app-file-grid-layout>
        } @placeholder (minimum 500ms) {
          Loading...
        }
      }

      @case ('largeGrid') {
        @defer {
          <app-file-large-grid-layout></app-file-large-grid-layout>
        } @placeholder (minimum 500ms) {
          Loading...
        }
      }

      @case ('list') {
        @defer {
          <app-file-list-layout></app-file-list-layout>
        } @placeholder (minimum 500ms) {
          Loading...
        }
      }

      @case ('largeList') {
        @defer {
          <app-file-large-list-layout></app-file-large-list-layout>
        } @placeholder (minimum 500ms) {
          Loading...
        }
      }
    }
  </div>
</div>

<mat-menu #filesView="matMenu" [formGroup]="settingsForm">
  <div class="text-xs my-2 px-3.5 text-neutral-600 dark:text-neutral-400">Layout</div>
  <div emrMenuOptionGroup formControlName="layout">
    <mat-option value="grid">
      <mat-icon>grid_on</mat-icon>
      <span>Grid</span>
    </mat-option>
    <mat-option value="largeGrid">
      <mat-icon>grid_view</mat-icon>
      <span>Large Grid</span>
    </mat-option>
    <mat-option value="list">
      <mat-icon>reorder</mat-icon>
      <span>List</span>
    </mat-option>
    <mat-option value="largeList">
      <mat-icon>menu</mat-icon>
      <span>Large List</span>
    </mat-option>
  </div>
  <div class="my-4">
    <mat-divider></mat-divider>
  </div>
  <div class="text-xs mb-2 px-3.5 text-neutral-600 dark:text-neutral-400">Open files in</div>
  <div emrMenuOptionGroup formControlName="filePreview">
    <mat-option value="fullscreen">
      <mat-icon>fullscreen</mat-icon>
      <div>
        <div>Full screen</div>
        <div class="text-xs text-neutral-500 whitespace-nowrap">One click on a file opens it in full screen</div>
      </div>
    </mat-option>
    <mat-option value="quick">
      <mat-icon>dock_to_left</mat-icon>
      <div>
        <div>Quick view</div>
        <div class="text-xs text-neutral-500 whitespace-nowrap">One click on a file opens it in the sidebar</div>
      </div>
    </mat-option>
  </div>
</mat-menu>
