<div class="space-y-10">
  <emr-line-micro-chart [data]="[2, 1, 3]"
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[2, 1, 3]"
                        yCompact
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[2, 1, 3]"
                        showArea
                        curve="catmullRom"
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[2, 1, 3]"
                        yCompact
                        showArea
                        curve="catmullRom"
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>
</div>
