<div class="space-y-10">
  <emr-line-micro-chart [data]="[1000, 2000, 3000, 4000, 3000, 500, 5000, 1000, 2500]"
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[1000, 2000, 3000, 4000, 3000, 500, 5000, 1000, 2500]"
                        showAnglePoints
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[1000, 2000, 3000, 4022, 3000, 500, 5000, 1000, 2500]"
                        showArea
                        strokeWidth="1"
                        showAnglePoints
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[1000, 2000, 3000, 4022, 3000, 500, 5000, 1000, 2500]"
                        curve="natural"
                        showArea
                        strokeWidth="3"
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>

  <emr-line-micro-chart [data]="[1000, 2000, 3000, 4022, 3000, 500, 5000, 1000, 2500]"
                        curve="natural"
                        showArea
                        strokeWidth="3"
                        showAnglePoints
                        class="w-[200px] h-[120px]"></emr-line-micro-chart>
</div>
