:host {
  --emr-skeleton-block-width: 100%;
  --emr-skeleton-block-height: var(--h-20);

  animation: emr-skeleton-loading 1s linear infinite alternate;

  display: block;
  flex: none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-skeleton-block-width);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-skeleton-block-height);
  }

  &:not([class*="rounded"]) {
    border-radius: var(--emr-skeleton-item-border-radius);
  }

  @keyframes emr-skeleton-loading {
    0% {
      background: var(--emr-skeleton-from-bg);
    }

    100% {
      background: var(--emr-skeleton-from-to);
    }
  }
}
