:host {
  --emr-skeleton-block-width: theme('width.full');
  --emr-skeleton-block-height: theme('height.20');

  animation: var(--emr-skeleton-item-animation);
  @apply block flex-none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-skeleton-block-width);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-skeleton-block-height);
  }

  &:not([class*="rounded"]) {
    @apply rounded-[var(--emr-skeleton-item-border-radius)];
  }
}
