:host {
  --emr-skeleton-block-width: theme('width.full');
  --emr-skeleton-block-height: theme('height.20');

  animation: emr-skeleton-loading 1s linear infinite alternate;
  @apply block flex-none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-skeleton-block-width);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-skeleton-block-height);
  }

  &:not([class*="rounded"]) {
    @apply rounded-[var(--emr-skeleton-item-border-radius)];
  }

  @keyframes emr-skeleton-loading {
    0% {
      background: var(--emr-skeleton-from-bg);
    }

    100% {
      background: var(--emr-skeleton-from-to);
    }
  }
}
