<div class="flex">
  <div class="flex-shrink-0">
    <div class="relative mt-1">
      <emr-avatar text="PS" [src]="actorAvatarUrl()" class="size-10"/>
      @if (actionIconName()) {
        <div class="flex absolute justify-center z-10 text-white items-center -right-0
                  -bottom-0 w-5 h-5 bg-blue-400 rounded-full border border-white dark:border-inverse">
          <mat-icon class="filled text-xs !h-[16px] !w-[11px]">{{ actionIconName() }}</mat-icon>
        </div>
      }
    </div>
  </div>
  <div class="pl-4 w-full space-y-3">
    <div class="text-neutral-500 font-normal text-sm mb-1.5 dark:text-neutral-400">
      <span class="font-semibold text-neutral-900 dark:text-white">{{ actorName() }}</span>
      invited you to edit files in the folder
      <span class="font-medium text-primary hover:text-primary-600 cursor-pointer
                   dark:text-tertiary-300 dark:hover:text-tertiary-400">
<!--        {{ notification.entity.content['folderName'] }}-->
        Folde rname
      </span>
    </div>
    <div>
      <div class="border rounded-lg px-3 py-2 flex items-center gap-2 w-max dark:border-neutral-500">
        <mat-icon class="filled text-tertiary-500 dark:text-tertiary-300">folder</mat-icon>
        <span class="text-xs">
<!--          {{ notification.entity.content['folderName'] }}-->
          Folder name
        </span>
      </div>
    </div>
    <div class="text-xs font-medium text-secondary-700 dark:text-primary-400">{{ createdAt() }}</div>
  </div>
</div>
