<div class="flex flex-col gap-10">
  <div class="flex items-center gap-6">
    <emr-dicebear key="Pavel Salauyou" class="size-6"/>
    <emr-dicebear key="PS"/>
    <emr-dicebear key="N" class="size-16"/>
    <emr-dicebear key="OP" class="size-32"/>
  </div>
  <emr-avatar-group>
    <emr-dicebear key="am"/>
    <emr-dicebear key="ps"/>
    <emr-dicebear key="br"/>
    <emr-dicebear key="brn"/>
    <emr-dicebear key="brt"/>
    <emr-dicebear key="ps1"/>
  </emr-avatar-group>
  <div class="flex items-center gap-6">
    <emr-dicebear key="Pavel Salauyou" preset="initials" class="size-6"/>
    <emr-dicebear key="Tate Stafford" preset="initials"/>
    <emr-dicebear key="Oscar Bristol" preset="initials" class="size-16"/>
    <emr-dicebear key="Andrew Notley" preset="initials" class="size-32"/>
  </div>
  <emr-avatar-group>
    <emr-dicebear key="Pavel Salauyou" preset="initials"/>
    <emr-dicebear key="Tate Stafford" preset="initials"/>
    <emr-dicebear key="Oscar Bristol" preset="initials"/>
    <emr-dicebear key="Andrew Notley" preset="initials"/>
  </emr-avatar-group>
</div>
