<app-page>
  <div appPageContent>
    <h1>Bar micro chart</h1>

    <h3 class="mat-title-large">Basic bar micro chart</h3>
    <emr-playground exampleUrl="_docs/micro-charts/bar-chart/_examples" exampleName="mchart-bar-basic-example">
      <app-mchart-bar-basic-example></app-mchart-bar-basic-example>
    </emr-playground>

    <h3 class="mat-title-large">Bar micro chart with custom bar radius</h3>
    <emr-playground exampleUrl="_docs/micro-charts/bar-chart/_examples" exampleName="mchart-bar-custom-radius-example">
      <app-mchart-bar-custom-radius-example></app-mchart-bar-custom-radius-example>
    </emr-playground>

    <h3 class="mat-title-large">Bar micro chart with bar highlight</h3>
    <emr-playground exampleUrl="_docs/micro-charts/bar-chart/_examples" exampleName="mchart-bar-with-bar-highlight-example">
      <app-mchart-bar-with-bar-highlight-example></app-mchart-bar-with-bar-highlight-example>
    </emr-playground>

    <h3 class="mat-title-large">Bar micro chart fill bar with gradient</h3>
    <emr-playground exampleUrl="_docs/micro-charts/bar-chart/_examples" exampleName="mchart-bar-fill-gradient-example">
      <app-mchart-bar-fill-gradient-example></app-mchart-bar-fill-gradient-example>
    </emr-playground>

    <h3 class="mat-title-large">Bar micro chart with tooltip</h3>
    <emr-playground exampleUrl="_docs/micro-charts/bar-chart/_examples" exampleName="mchart-bar-with-tooltip-example">
      <app-mchart-bar-with-tooltip-example></app-mchart-bar-with-tooltip-example>
    </emr-playground>

    <h3 class="mat-title-large">Bar micro chart responsive</h3>
    <emr-playground exampleUrl="_docs/micro-charts/bar-chart/_examples" exampleName="mchart-bar-responsive-example">
      <app-mchart-bar-responsive-example></app-mchart-bar-responsive-example>
    </emr-playground>
  </div>
</app-page>
