<app-page>
  <div appPageContent>
    <h1>Alert</h1>

    <h3 class="mat-title-large">Basic Alert</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="basic-alert-example">
      <app-basic-alert-example></app-basic-alert-example>
    </emr-playground>

    <h3 class="mat-title-large">Alert Variants</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-variants-example">
      <app-alert-variants-example></app-alert-variants-example>
    </emr-playground>

    <h3 class="mat-title-large">Alert with border</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-border-example">
      <app-alert-with-border-example></app-alert-with-border-example>
    </emr-playground>

    <h3 class="mat-title-large">Alert with icon</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-icon-example">
      <app-alert-with-icon-example></app-alert-with-icon-example>
    </emr-playground>

    <h3 class="mat-title-large">Alert with title</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-title-example">
      <app-alert-with-title-example></app-alert-with-title-example>
    </emr-playground>

    <h3 class="mat-title-large">Alert actions</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-actions-example">
      <app-alert-actions-example></app-alert-actions-example>
    </emr-playground>
  </div>
</app-page>
