<app-page>
  <div appPageContent>
    <h1>Alert</h1>

    <main class="mb-10">
      <p>
        Our Angular Material Alert Component is designed to make your app notifications stand out. It’s fully customizable and supports:
      </p>
      <div class="mt-6">Key Features:</div>
      <ul class="list-disc ps-4 mt-3 my-6 space-y-3">
        <li>
          ✅ <strong>Icons</strong>: Add visual cues with ease.
        </li>
        <li>
          ✅ <strong>Controls</strong>: Include buttons or actions to engage your users.
        </li>
        <li>
          ✅ <strong>Closable Alerts</strong>: Let users dismiss messages when they’re done.
        </li>
      </ul>
      <p>
        It’s lightweight, easy to integrate, and works perfectly with Angular Material.
        Enhance your app’s user experience with modern, clean, and functional alerts.
      </p>
      <p>
        Perfect for developers who want simplicity without sacrificing quality. Give it a try!
      </p>
    </main>

    <h3 class="mat-title-large">Basic Alert</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="basic-alert-example">
      <app-basic-alert-example/>
    </emr-playground>

    <h3 class="mat-title-large">Alert Variants</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-variants-example">
      <app-alert-variants-example/>
    </emr-playground>

    <h3 class="mat-title-large">Alert with border</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-border-example">
      <app-alert-with-border-example/>
    </emr-playground>

    <h3 class="mat-title-large">Alert with icon</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-icon-example">
      <app-alert-with-icon-example/>
    </emr-playground>

    <h3 class="mat-title-large">Alert with title</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-title-example">
      <app-alert-with-title-example/>
    </emr-playground>

    <h3 class="mat-title-large">Alert actions</h3>
    <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-actions-example">
      <app-alert-actions-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties of the <code class="code">emr-alert</code> component.
    </p>

    <mat-tab-group class="my-6">
      <mat-tab label="Properties">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/2">Prop</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div>autoClose</div>
                <div class="text-xs text-neutral-500 mt-0.5">Number of milliseconds to auto-close</div>
              </td>
              <td>number</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>bordered</div>
                <div class="text-xs text-neutral-500 mt-0.5">Bordered variant of an alert</div>
              </td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>
                <div>variant</div>
                <div class="text-xs text-neutral-500 mt-0.5">Colored variant of an alert</div>
              </td>
              <td>AlertVariant | string</td>
              <td>default</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Events">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Event</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>closed</td>
              <td>Executed when the alert closes</td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-divider/>

    <div class="space-y-7 mt-10">
      <p>
        <code class="code">emrAlertIcon</code> directive - adds an icon to an alert.
      </p>
      <p>
        <code class="code">emr-alert-title</code> component - adds an title/heading to an alert.
      </p>
      <p>
        <code class="code">emrAlertAction</code> directive - adds a some control to an alert.
      </p>
      <p>
        <code class="code">emrAlertClose</code> directive - adds an event that closes the alert.
      </p>
    </div>
  </div>
</app-page>
