:host {
  @apply block h-full bg-neutral-100;

  .sidebar {
    --emr-sidebar-width: 300px;
  }

  .logo {
    @apply text-lg px-7 h-20 flex items-center text-primary font-bold hover:text-tertiary;
  }

  .body {
    --emr-sidebar-body-padding: 0 theme('padding.3');
  }

  .footer {
    --emr-sidebar-footer-padding: theme('padding.6') theme('padding.7');
  }
}

:host-context(html.dark) {
  @apply bg-neutral-900;
}
