<div class="space-y-10">
  <mat-card class="w-1/2 h-80" emrCardOverlayContainer>
    <mat-card-content>Hover on card to see overlay</mat-card-content>
    <emr-card-overlay>
      <button mat-flat-button>View Product</button>
    </emr-card-overlay>
  </mat-card>
  <mat-card class="w-1/2">
    <mat-card-header class="h-20">
      <emr-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" mat-card-avatar></emr-avatar>
      <mat-card-title>Dog Breed</mat-card-title>
      <mat-card-subtitle>Shiba Inu</mat-card-subtitle>
    </mat-card-header>
    <div emrCardOverlayContainer>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="my-0">
      <emr-card-overlay>
        <button mat-flat-button>View Image</button>
      </emr-card-overlay>
    </div>
    <mat-card-content>
      <p class="text-sm mt-5">
        Hover on image to see overlay
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
