<emr-navigation theme="secondary" activeKey="dashboard" class="border dark:border-inverse p-6 w-[320px]">
  <emr-navigation-item key="dashboard">
    Dashboard
  </emr-navigation-item>
  <emr-navigation-item>
    Projects
  </emr-navigation-item>
  <emr-navigation-item>Tasks</emr-navigation-item>
  <emr-navigation-item>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </emr-navigation-item>
  <emr-navigation-item>Support</emr-navigation-item>
</emr-navigation>
