<app-page>
  <div appPageContent>
    <h1>Button Toggle</h1>

    <h3 class="mat-title-large">Basic Button Toggle</h3>
    <emr-playground exampleUrl="_docs/forms/button-toggle/_examples" exampleName="basic-button-toggle-example">
      <app-basic-button-toggle-example></app-basic-button-toggle-example>
    </emr-playground>

    <h3 class="mat-title-large">Selection Mode</h3>
    <emr-playground exampleUrl="_docs/forms/button-toggle/_examples" exampleName="button-toggle-selection-mode-example">
      <app-button-toggle-selection-mode-example></app-button-toggle-selection-mode-example>
    </emr-playground>

    <h3 class="mat-title-large">Appearance</h3>
    <emr-playground exampleUrl="_docs/forms/button-toggle/_examples" exampleName="button-toggle-appearance-example">
      <app-button-toggle-appearance-example></app-button-toggle-appearance-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/button-toggle/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
