<app-page>
  <div appPageContent>
    <h1>Rail Navigation</h1>

    <h3 class="mat-title-large">Basic rail navigation</h3>
    <emr-playground exampleUrl="_docs/navigation/rail-nav/_examples" exampleName="basic-rail-nav-example">
      <app-basic-rail-nav-example/>
    </emr-playground>

    <h3 class="mat-title-large">Rail navigation customization</h3>
    <emr-playground exampleUrl="_docs/navigation/rail-nav/_examples" exampleName="rail-nav-customization-example">
      <app-rail-nav-customization-example/>
    </emr-playground>
  </div>
</app-page>
