<app-page>
  <div appPageContent>
    <h1>Avatar</h1>

    <h3>Basic Avatar</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="basic-avatar-example">
      <app-basic-avatar-example></app-basic-avatar-example>
    </emr-playground>

    <h3>Presence Indicator</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="avatar-presence-indicator-example">
      <app-avatar-presence-indicator-example></app-avatar-presence-indicator-example>
    </emr-playground>

    <h3>Avatar Sizes</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="avatar-sizes-example">
      <app-avatar-sizes-example></app-avatar-sizes-example>
    </emr-playground>

    <h3>Avatar With Images</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="avatar-with-images-example">
      <app-avatar-with-images-example></app-avatar-with-images-example>
    </emr-playground>

    <h3>Avatar With Icons</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="avatar-with-icons-example">
      <app-avatar-with-icons-example></app-avatar-with-icons-example>
    </emr-playground>

    <h3>Grouped Avatars</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="grouped-avatars-example">
      <app-grouped-avatars-example></app-grouped-avatars-example>
    </emr-playground>

    <h3>Grouped and Total Avatars</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="grouped-and-total-avatars-example">
      <app-grouped-and-total-avatars-example></app-grouped-and-total-avatars-example>
    </emr-playground>

    <h3>Avatar automatic color</h3>
    <p>
      A very common situation is when you need to set the avatar color automatically, for this purpose
      the <code>automaticColor</code> parameter was invented, which indicates the background color,
      and the text color and border are calculated automatically.</p>
    <p>
      This will be useful if you set avatar
      colors for example from the admin and want to randomly set avatar colors.
      Now you just need to set the background color using the <code>automaticColor="#hexColor"</code>
      parameter with valid <strong>hex</strong> color.
    </p>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="avatar-automatic-color-example">
      <app-avatar-automatic-color-example></app-avatar-automatic-color-example>
    </emr-playground>

    <h3>Avatar with custom background placeholder</h3>
    <emr-playground exampleUrl="_docs/components/avatar/_examples" exampleName="avatar-dicebear-example">
      <app-avatar-dicebear-example></app-avatar-dicebear-example>
    </emr-playground>
  </div>
</app-page>
