<div class="h-[600px]">
  <emr-sidebar class="border">
    <emr-sidebar-header class="border-b">
      <div class="h-20 font-bold px-7 flex items-center text-primary">
        Elementar
      </div>
    </emr-sidebar-header>
    <emr-sidebar-body>
      <emr-sidebar-nav activeKey="home" [navItems]="navItems"/>
    </emr-sidebar-body>
    <emr-sidebar-footer class="border-t">
      <div class="h-20 px-7 flex items-center text-sm">
        Copyright &copy; 2024
      </div>
    </emr-sidebar-footer>
  </emr-sidebar>
</div>
