:host {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  .content {
    flex-grow: 1;
    height: 100%;
    margin-inline-end: var(--m-4);
  }

  .handler {
    position: absolute;
    user-select: none;
    border-inline-start: 1px solid var(--color-border);
    top: 0;
    bottom: 0;
    inset-inline-end: 0;
    cursor: ew-resize;
    align-items: center;
    display: flex;
    justify-content: center;
    width: calc(var(--spacing) * 5);

    .handler-indicator {
      background: var(--color-surface-container-high);
      display: flex;
      height: calc(var(--spacing) * 8);
      width: calc(var(--spacing) * 1.5);
      border-radius: calc(infinity * 1px);
    }

    &:hover,
    &:active {
      .handler-indicator {
        background: var(--color-secondary);
      }
    }
  }
}
