<app-page>
  <div appPageContent>
    <h1>Text Editor</h1>

    <h3 class="mat-title-large">Basic Text Editor</h3>
    <emr-playground exampleUrl="_docs/components/text-editor/_examples" exampleName="basic-text-editor-example">
      <app-basic-text-editor-example/>
    </emr-playground>

    <h3 class="mat-title-large">Text Editor with floating menu</h3>
    <emr-playground exampleUrl="_docs/components/text-editor/_examples" exampleName="text-editor-floating-menu-example">
      <app-text-editor-floating-menu-example/>
    </emr-playground>
  </div>
</app-page>
