<app-page>
  <div appPageContent>
    <h1>Notifications</h1>

    <h3>Invite to edit files in folder notification</h3>
    <emr-playground exampleUrl="_docs/shared/notifications/_examples"
                    exampleName="invite-to-editor-files-in-folder-notification-example">
      <app-invite-to-editor-files-in-folder-notification-example/>
    </emr-playground>

    <h3>Mentioned in comment notification</h3>
    <emr-playground exampleUrl="_docs/shared/notifications/_examples"
                    exampleName="mentioned-in-comment-notification-example">
      <app-mentioned-in-comment-notification-example/>
    </emr-playground>
  </div>
</app-page>
