<emr-text-editor #editor [imageUploadFn]="uploadFn" class="rounded-2xl border">
  <emr-text-editor-toolbar>
    <button mat-icon-button matTooltip="Bold"
            emrTextEditorCommand emrTextEditorCommandBold>
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Italic"
            emrTextEditorCommand emrTextEditorCommandItalic>
      <mat-icon>format_italic</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Strike"
            emrTextEditorCommand emrTextEditorCommandStrike>
      <mat-icon>strikethrough_s</mat-icon>
    </button>
    <emr-text-editor-divider/>
    <button mat-icon-button matTooltip="Bullet List"
            emrTextEditorCommand emrTextEditorCommandBulletList>
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Ordered List"
            emrTextEditorCommand emrTextEditorCommandOrderedList>
      <mat-icon>format_list_numbered</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Blockquote"
            emrTextEditorCommand emrTextEditorCommandBlockquote>
      <mat-icon>format_quote</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Code Block"
            emrTextEditorCommand emrTextEditorCommandCodeBlock>
      <mat-icon>code_blocks</mat-icon>
    </button>
    <emr-text-editor-divider/>
    <button mat-icon-button matTooltip="Upload Image"
            emrTextEditorCommand emrTextEditorCommandImage>
      <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add Youtube"
            emrTextEditorCommand emrTextEditorCommandYoutube>
      <mat-icon>videocam</mat-icon>
    </button>
  </emr-text-editor-toolbar>
  <emr-text-editor-bubble-menu>
    <button emrTextEditorCommandEditLink>
      <mat-icon>edit</mat-icon>
    </button>
    <button emrTextEditorCommandUnsetLink>
      <mat-icon>link_off</mat-icon>
    </button>
    <button emrTextEditorCommand emrTextEditorCommandLink>
      <mat-icon>link</mat-icon>
    </button>
    <button emrTextEditorCommand emrTextEditorCommandBold>
      <mat-icon>format_bold</mat-icon>
    </button>
    <button emrTextEditorCommand emrTextEditorCommandItalic>
      <mat-icon>format_italic</mat-icon>
    </button>
    <button emrTextEditorCommand emrTextEditorCommandStrike>
      <mat-icon>strikethrough_s</mat-icon>
    </button>
    <button emrTextEditorCommand emrTextEditorCommandCode>
      <mat-icon>code</mat-icon>
    </button>
  </emr-text-editor-bubble-menu>
</emr-text-editor>
