<div emrImageViewer class="flex items-start gap-7 flex-wrap not-mat-typography">
  <div emrImageViewerPicture
       sourceUrl="https://lipsum.app/id/61/1600x900"
       class="size-32 flex items-center justify-center border dark:border-inverse rounded p-2">
    <img src="https://lipsum.app/id/61/400x300" alt="" class="rounded bg-cover cursor-pointer">
  </div>
  <div emrImageViewerPicture sourceUrl="https://lipsum.app/id/3/1600x900"
       class="size-32 flex items-center justify-center border dark:border-inverse rounded p-2">
    <img src="https://lipsum.app/id/3/400x300" alt="" class="rounded bg-cover cursor-pointer">
  </div>
  <div emrImageViewerPicture sourceUrl="https://lipsum.app/id/10/900x1600"
       class="size-32 rounded overflow-hidden flex items-center justify-center border dark:border-inverse p-2">
    <img src="https://lipsum.app/id/10/300x400" alt="" class="rounded bg-cover max-h-full cursor-pointer">
  </div>
</div>
