<div class="flex gap-5">
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon class="material-symbols-outlined">home</mat-icon>
  </button>
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>
  <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon class="material-symbols-outlined">favorite</mat-icon>
  </button>
  <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
    <mat-icon class="material-symbols-outlined">open_in_new</mat-icon>
  </button>
</div>
