<emr-layout layoutId="root" windowMode>
  <emr-layout-sidebar class="bg-neutral-50 dark:bg-neutral-900">
    <emr-tab-panel activeItemId="dashboard" compact class="h-full">
      <emr-tab-panel-header>
        <emr-tab-panel-nav>
          <div class="pb-4">
            <emr-tab-panel-custom-item class="size-full">
              <a routerLink="/" class="bg-primary rounded-lg size-full flex items-center justify-center text-white font-bold text-xl">
                El
              </a>
            </emr-tab-panel-custom-item>
          </div>
          <emr-tab-panel-item for="dashboard" matTooltip="Dashboard" matTooltipPosition="after">
            <emr-icon name="ph:house-duotone" emrTabPanelItemIcon></emr-icon>
          </emr-tab-panel-item>
          <emr-tab-panel-item for="projects" matTooltip="Projects" matTooltipPosition="after">
            <emr-icon name="ph:kanban-duotone" emrTabPanelItemIcon></emr-icon>
          </emr-tab-panel-item>
          <emr-tab-panel-item for="my-assets" matTooltip="My Assets" matTooltipPosition="after">
            <emr-icon name="ph:folder-duotone" emrTabPanelItemIcon></emr-icon>
          </emr-tab-panel-item>
        </emr-tab-panel-nav>
      </emr-tab-panel-header>
      <emr-tab-panel-body class="py-2.5">
        <emr-h-divider class="mx-2.5"></emr-h-divider>
        <div class="h-full flex flex-col justify-center items-center">
          <emr-tab-panel-nav>
            <emr-tab-panel-custom-item for="workspace1" matTooltip="Workspace 1" matTooltipPosition="after">
              <emr-avatar text="am" class="size-full rounded-lg" automaticColor="#bfdbfe"></emr-avatar>
            </emr-tab-panel-custom-item>
            <emr-tab-panel-custom-item for="workspace2" matTooltip="Workspace 2" matTooltipPosition="after">
              <emr-avatar text="rv" class="size-full rounded-lg" automaticColor="#a7f3d0"></emr-avatar>
            </emr-tab-panel-custom-item>
            <emr-tab-panel-custom-item matTooltip="Add Workspace" matTooltipPosition="after"
                                       class="size-full rounded-lg border dark:border-inverse border-dashed
                                          hover:border-primary dark:hover:border-primary group">
              <emr-icon name="ph:plus" class="group-hover:text-primary"></emr-icon>
            </emr-tab-panel-custom-item>
          </emr-tab-panel-nav>
        </div>
        <emr-h-divider class="mx-2.5"></emr-h-divider>
      </emr-tab-panel-body>
      <emr-tab-panel-footer class="space-y-0.5 pb-2.5">
        <emr-tab-panel-nav>
          <emr-tab-panel-item for="account" matTooltip="Account" matTooltipPosition="after">
            <emr-icon name="ph:user-duotone" emrTabPanelItemIcon></emr-icon>
          </emr-tab-panel-item>
          <emr-tab-panel-item for="settings" matTooltip="Settings" matTooltipPosition="after">
            <emr-icon name="ph:gear-six-duotone" emrTabPanelItemIcon></emr-icon>
          </emr-tab-panel-item>
        </emr-tab-panel-nav>
        <div class="flex items-center justify-center">
          <emr-avatar text="PS" class="size-10"></emr-avatar>
        </div>
      </emr-tab-panel-footer>
      <emr-tab-panel-aside>
        <ng-template emrTabPanelAsideContent="dashboard">
          Dashboard content
        </ng-template>
        <ng-template emrTabPanelAsideContent="projects">
          Projects content
        </ng-template>
        <ng-template emrTabPanelAsideContent="my-assets">
          My assets content
        </ng-template>
        <ng-template emrTabPanelAsideContent="account">
          Account
        </ng-template>
        <ng-template emrTabPanelAsideContent="settings">
          Settings
        </ng-template>
        <ng-template emrTabPanelAsideContent="workspace1">
          Workspace 1
        </ng-template>
        <ng-template emrTabPanelAsideContent="workspace2">
          Workspace 2
        </ng-template>
      </emr-tab-panel-aside>
    </emr-tab-panel>
  </emr-layout-sidebar>
  <emr-layout>
    <emr-layout-header>
      <app-header></app-header>
    </emr-layout-header>
    <emr-layout-body class="p-10">
      App content will be here
    </emr-layout-body>
  </emr-layout>
</emr-layout>
