<emr-timeline>
  <emr-timeline-header>1 AUG, 2023</emr-timeline-header>
  <emr-timeline-item>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
    <emr-timeline-attributes>
      <div class="flex items-center gap-2">
        <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="JS"></emr-avatar>
        <div class="text-sm hover:text-primary-600 cursor-pointer">James Collins</div>
      </div>
    </emr-timeline-attributes>
  </emr-timeline-item>
  <emr-timeline-item>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
    <emr-timeline-attributes>
      <div class="flex items-center gap-2">
        <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="JS"></emr-avatar>
        <div class="text-sm hover:text-primary-600 cursor-pointer">James Collins</div>
      </div>
    </emr-timeline-attributes>
  </emr-timeline-item>
  <emr-timeline-item>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
    <emr-timeline-attributes>
      <div class="flex items-center gap-2">
        <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="JS"></emr-avatar>
        <div class="text-sm hover:text-primary-600 cursor-pointer">James Collins</div>
      </div>
    </emr-timeline-attributes>
  </emr-timeline-item>
  <emr-timeline-item>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
    <emr-timeline-attributes>
      <div class="flex items-center gap-2">
        <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="JS"></emr-avatar>
        <div class="text-sm hover:text-primary-600 cursor-pointer">James Collins</div>
      </div>
    </emr-timeline-attributes>
  </emr-timeline-item>
</emr-timeline>
