:host {
  box-shadow: var(--shadow-default);
  margin-left: calc(var(--spacing) * 3);
  margin-right: calc(var(--spacing) * 3);
  background-color: var(--sys-surface-container-lowest);
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 0.5);
  border: 1px solid var(--color-border);
  border-radius: theme(--radius-2xl);
}
