<app-page>
  <div appPageContent>
    <h1>Sidebar</h1>

    <h3 class="mat-title-large">Basic sidebar</h3>
    <emr-playground exampleUrl="_docs/components/sidebar/_examples" exampleName="basic-sidebar-example">
      <app-basic-sidebar-example/>
    </emr-playground>

    <h3 class="mat-title-large">Sidebar compact</h3>
    <emr-playground exampleUrl="_docs/components/sidebar/_examples" exampleName="sidebar-compact-example">
      <app-sidebar-compact-example/>
    </emr-playground>
  </div>
</app-page>
