<app-page>
  <div appPageContent>
    <h1>Announcement</h1>

    <main class="mb-10">
      <p>
        Introducing the <strong>Announcement Component</strong>, a simple and effective way to display
        important messages at the top of your Angular Material app. Whether it’s a critical update,
        a promotion, or just a friendly reminder, this component ensures your users won’t miss it.
      </p>
      <section class="my-7">
        <div>Key Features:</div>
        <ul class="list-disc ps-4 flex flex-col gap-3 mt-3">
          <li>
            ✅ <strong>Highly Visible</strong>: Always grabs attention without disrupting the user experience.
          </li>
          <li>
            ✅ <strong>User-Friendly</strong>: Intuitive behavior with dismissible options
          </li>
          <li>
            ✅ <strong>Customizable</strong>: Easily adapt the design to match your app's style.
          </li>
          <li>
            ✅ <strong>Seamless Integration</strong>: Built with Angular Material, it fits perfectly into your app.
          </li>
        </ul>
      </section>
      <p>
        Keep your users informed with the <strong>Announcement Component</strong> — the perfect solution for delivering essential updates!
      </p>
    </main>

    <h3 class="mat-title-large">Show/Hide announcement dynamically</h3>
    <emr-playground exampleUrl="_docs/components/announcement/_examples" exampleName="show-hide-announcement-dynamically">
      <app-show-hide-announcement-dynamically/>
    </emr-playground>

    <h3 class="mat-title-large">Basic announcement</h3>
    <emr-playground exampleUrl="_docs/components/announcement/_examples" exampleName="basic-announcement-example">
      <app-basic-announcement-example/>
    </emr-playground>

    <h3 class="mat-title-large">Announcement with icons</h3>
    <emr-playground exampleUrl="_docs/components/announcement/_examples" exampleName="announcement-with-icons-example">
      <app-announcement-with-icons-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties of the <code class="code">emr-announcement</code> component.
    </p>

    <mat-tab-group class="my-6">
      <mat-tab label="Properties">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/2">Prop</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div>iconName</div>
                <div class="text-xs text-neutral-600 mt-0.5">Name of an icon</div>
              </td>
              <td>string</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>AnnouncementVariant</div>
                <div class="text-xs text-neutral-600 mt-0.5">Colored variant of an announcement</div>
              </td>
              <td>string</td>
              <td>&ndash;</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Events">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Event</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>closed</td>
              <td>Executed when the close button is clicked</td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
