:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--p-8);
  width: var(--w-40);
  height: var(--h-40);

  ::ng-deep {
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
