<app-page>
  <div appPageContent>
    <h1>Carousel</h1>

    <main class="mb-10">
      <p>
        Looking for a smooth, modern carousel for your Angular projects? Meet <strong>Angular Material Carousel</strong>,
        a lightweight and flexible component designed to fit perfectly into Angular Material apps.

      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="list-disc ps-4 mt-3">
          <li>
            <strong>Seamless Integration</strong>: Built with Angular Material and Tailwind, it blends right in with your app's design.
          </li>
<!--          <li>-->
<!--            <strong>Fully Responsive</strong>: Works beautifully on desktops, tablets, and mobile devices.-->
<!--          </li>-->
          <li>
            <strong>Easy to Use</strong>: Simple API for developers of any skill level.
          </li>
          <li>
            <strong>Customizable</strong>: Tailor it to match your style with ease.
          </li>
        </ul>
      </div>
      <p>
        Whether you need to showcase images, cards, or any content, Angular Material Carousel delivers a fast, polished experience.
      </p>
      <p>
        Try it now and elevate your app’s UI! 🚀
      </p>
    </main>

    <h3 class="mat-title-large">Basic Carousel</h3>
    <emr-playground exampleUrl="_docs/components/carousel/_examples" exampleName="basic-carousel-example">
      <app-basic-carousel-example></app-basic-carousel-example>
    </emr-playground>

    <h3 class="mat-title-large">Carousel controls with custom position</h3>
    <emr-playground exampleUrl="_docs/components/carousel/_examples" exampleName="carousel-controls-custom-position-example">
      <app-carousel-controls-custom-position-example></app-carousel-controls-custom-position-example>
    </emr-playground>

    <h3 class="mat-title-large">Carousel with fade effect</h3>
    <emr-playground exampleUrl="_docs/components/carousel/_examples" exampleName="carousel-fade-effect-example">
      <app-carousel-fade-effect-example></app-carousel-fade-effect-example>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-carousel</code> component.
    </p>

    <div class="border rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>fade</div>
            <div class="text-xs text-neutral-500 mt-0.5">Adds smooth opacity to left and right</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        </tbody>
      </table>
    </div>

    <p>
      Properties for the <code class="code">emrCarouselNext</code> component.
    </p>

    <div class="border rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>carousel</div>
            <div class="text-xs text-neutral-500 mt-0.5">Сarousel instance if the control is external</div>
          </td>
          <td>CarouselComponent</td>
          <td>&ndash;</td>
        </tr>
        </tbody>
      </table>
    </div>

    <p>
      Properties for the <code class="code">emrCarouselPrevious</code> component.
    </p>

    <div class="border rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>carousel</div>
            <div class="text-xs text-neutral-500 mt-0.5">Сarousel instance if the control is external</div>
          </td>
          <td>CarouselComponent</td>
          <td>&ndash;</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="space-y-7 mt-10">
      <p>
        <code class="code">emr-carousel-card</code> component - adds an carousel item.
      </p>
      <p>
        <code class="code">emrCarouselControls</code> directive - adds a controls container.
      </p>
      <p>
        <code class="code">emrCarouselNext</code> directive - control that moves to the next item in the carousel.
      </p>
      <p>
        <code class="code">emrCarouselPrevious</code> directive - control that moves to the previous item in the carousel.
      </p>
    </div>
  </div>
</app-page>
