<app-page>
  <div appPageContent>
    <h1>Carousel</h1>

    <h3 class="mat-title-large">Basic Carousel</h3>
    <emr-playground exampleUrl="_docs/components/carousel/_examples" exampleName="basic-carousel-example">
      <app-basic-carousel-example></app-basic-carousel-example>
    </emr-playground>

    <h3 class="mat-title-large">Carousel controls with custom position</h3>
    <emr-playground exampleUrl="_docs/components/carousel/_examples" exampleName="carousel-controls-custom-position-example">
      <app-carousel-controls-custom-position-example></app-carousel-controls-custom-position-example>
    </emr-playground>

    <h3 class="mat-title-large">Carousel with fade effect</h3>
    <emr-playground exampleUrl="_docs/components/carousel/_examples" exampleName="carousel-fade-effect-example">
      <app-carousel-fade-effect-example></app-carousel-fade-effect-example>
    </emr-playground>
  </div>
</app-page>
