:host {
  --emr-rail-nav-bg-item-icon-is-active-bg: var(--color-primary-300);
  --emr-rail-nav-bg-item-icon-is-active-active-bg: var(--color-primary-200);
  --emr-rail-nav-bg-item-icon-hover-bg: var(--color-neutral-200);
  --emr-rail-nav-bg-item-icon-active-bg: var(--color-neutral-300);
  --emr-rail-nav-bg-item-icon-color: var(--color-neutral-950);
  --emr-rail-nav-bg-item-icon-is-active-color: var(--color-neutral-950);
  --emr-rail-nav-bg-item-color: var(--color-neutral-950);
  --emr-rail-nav-width: var(--w-24);
  --emr-rail-nav-gap: var(--gap-3);

  display: flex;
  flex-direction: column;
  gap: var(--emr-rail-nav-gap);
  width: var(--emr-rail-nav-width);
}

:host-context(html.dark) {
  --emr-rail-nav-bg-item-icon-is-active-bg: var(--color-primary-300);
  --emr-rail-nav-bg-item-icon-is-active-active-bg: var(--color-primary-400);
  --emr-rail-nav-bg-item-icon-hover-bg: var(--color-neutral-700);
  --emr-rail-nav-bg-item-icon-active-bg: var(--color-neutral-800);
  --emr-rail-nav-bg-item-icon-color: var(--color-neutral-200);
  --emr-rail-nav-bg-item-color: var(--color-neutral-200);
}
