:host {
  --emr-rail-nav-bg-item-icon-is-active-bg: theme('colors.primary.300');
  --emr-rail-nav-bg-item-icon-is-active-active-bg: theme('colors.primary.200');
  --emr-rail-nav-bg-item-icon-hover-bg: theme('colors.neutral.200');
  --emr-rail-nav-bg-item-icon-active-bg: theme('colors.neutral.300');
  --emr-rail-nav-bg-item-icon-color: theme('colors.neutral.950');
  --emr-rail-nav-bg-item-icon-is-active-color: theme('colors.neutral.950');
  --emr-rail-nav-bg-item-color: theme('colors.neutral.950');
  --emr-rail-nav-width: theme('width.24');
  --emr-rail-nav-gap: theme('gap.3');

  @apply flex flex-col gap-[var(--emr-rail-nav-gap)] w-[var(--emr-rail-nav-width)];
}

:host-context(html.dark) {
  --emr-rail-nav-bg-item-icon-is-active-bg: theme('colors.primary.300');
  --emr-rail-nav-bg-item-icon-is-active-active-bg: theme('colors.primary.400');
  --emr-rail-nav-bg-item-icon-hover-bg: theme('colors.neutral.700');
  --emr-rail-nav-bg-item-icon-active-bg: theme('colors.neutral.800');
  --emr-rail-nav-bg-item-icon-color: theme('colors.neutral.200');
  --emr-rail-nav-bg-item-color: theme('colors.neutral.200');
}
