@if (this.textEditor.api.isActive('link') && getLinkUrl()) {
  <div class="flex items-center gap-1 h-11 border-b border-b-neutral-700">
    <div class="grow text-sm overflow-hidden text-ellipsis whitespace-nowrap w-[116px]">
      <a [href]="getLinkUrl()" target="_blank" class="link">{{ getLinkUrl() }}</a>
    </div>
    <div class="flex items-center flex-none">
      <ng-content select="[emrTextEditorCommandEditLink],[emrCommentEditorCommandUnsetLink]"/>
    </div>
  </div>
}
<div class="h-12 flex items-center justify-center gap-0.5">
  <ng-content select="[emrTextEditorCommand],emr-text-editor-divider"/>
</div>
