@reference 'tailwindcss';

:host {
  --emr-action-required-bg: var(--color-error-container);
  --emr-action-action-text-bg: var(--color-error-200);
  --emr-action-text-color: var(--color-on-error-container);

  @apply flex;

  width: 100%;
  border-radius: var(--radius-3xl);
  padding: --spacing(7);
  gap: --spacing(8);
  align-items: center;
  background-color: var(--emr-action-required-bg);
  color: var(--emr-action-text-color);

  .action-text {
    @apply flex rounded-2xl;
    background: var(--emr-action-action-text-bg);
    padding: --spacing(3.5);
    // border-radius: var(--radius-2xl);
    align-items: center;
    flex: none;
    font-size: var(--text-md);
    gap: --spacing(1.5);
  }

  .description {
    flex-grow: 1;
  }

  .button {
    flex: none;
  }
}

:host-context(html.dark) {
  --emr-action-action-text-bg: var(--color-error-600);
}
