<div class="flex items-center gap-4">
  <mat-form-field>
    <mat-label>Popover position</mat-label>
    <mat-select [formControl]="position">
      @for (positionOption of positionOptions; track positionOption) {
        <mat-option [value]="positionOption">{{ positionOption }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button [emrPopoverTriggerFor]="customPositionPopover"
          [position]="position.value!" trigger="hover">Hover Me!</button>
</div>

<ng-template #customPositionPopover>
  <emr-popover>
    <div class="text-sm p-4">Some text content</div>
  </emr-popover>
</ng-template>
