@reference 'tailwindcss';

:host {
  @apply flex overflow-hidden select-none items-center;
  @apply relative w-max max-w-full;

  &.align-start {
    @apply justify-start;
  }

  &.align-center {
    @apply justify-center;
  }

  &.align-end {
    @apply justify-end;
  }

  img {
    max-width: 100%;
  }

  .handler {
    @apply w-3 border-2 border-white rounded-full h-12 shadow-sm cursor-ew-resize;
    @apply absolute top-1/2 -translate-y-1/2 bg-[var(--color-white)];
    border: 4px solid var(--color-on-secondary-fixed);

    &-start {
      @apply start-3;
    }

    &-end {
      @apply end-3;
    }

    &:active {
      @apply scale-95;
    }
  }
}
