<div class="grid grid-cols-2 gap-8">
  <div class="col-span-1">
    <div class="space-y-10">
      <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                      fillGradient
                      class="w-[50px] h-[25px]" ></emr-mchart-bar>
      <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                      fillGradient
                      class="w-[100px] h-[50px]"></emr-mchart-bar>
      <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                      fillGradient
                      class="w-[200px] h-[100px]"></emr-mchart-bar>
    </div>
  </div>
  <div class="col-span-1">
    <div class="space-y-10">
      <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                      fillGradient highlight radius="2"
                      class="w-[50px] h-[25px]"></emr-mchart-bar>
      <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                      fillGradient highlight radius="4"
                      class="w-[100px] h-[50px]"></emr-mchart-bar>
      <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                      fillGradient highlight radius="8"
                      class="w-[200px] h-[100px]"></emr-mchart-bar>
    </div>
  </div>
</div>
