:host {
  @apply no-underline relative;

  .inner {
    display: flex;
    align-items: center;
    min-width: 0;
    white-space: nowrap;
    flex: none;
    cursor: pointer;
    user-select: none;
    margin: 0;
    width: var(--emr-navigation-item-width);
    background-color: var(--emr-navigation-item-bg);
    min-height: var(--emr-navigation-item-height);
    padding: var(--emr-navigation-item-padding);
    font-size: var(--emr-navigation-item-font-size);
    border-radius: var(--emr-navigation-item-border-radius);
    font-weight: var(--emr-navigation-item-font-weight);
    color: var(--emr-navigation-item-color);
    gap: var(--emr-navigation-item-gap);
    border: var(--emr-navigation-item-border-width) solid var(--emr-navigation-item-border-color);
    transition: all .2s;
  }

  .text {
    @apply overflow-hidden overflow-ellipsis;
  }
}

:host-context(.emr-navigation-group-menu) {
  .inner {
    margin: var(--emr-navigation-nested-item-margin);
    width: clac(var(--emr-navigation-item-width) - var(--emr-navigation-nested-item-margin));
    background-color: var(--emr-navigation-nested-item-bg);
    min-height: var(--emr-navigation-nested-item-height);
    padding: var(--emr-navigation-nested-item-padding);
    color: var(--emr-navigation-nested-item-color);
  }

  &:hover .inner {
    background-color: var(--emr-navigation-nested-item-hover-bg);
    color: var(--emr-navigation-nested-item-hover-color);
  }

  &.is-active .inner,
  &.is-active:hover .inner {
    background-color: var(--emr-navigation-nested-item-active-bg);
    color: var(--emr-navigation-nested-item-active-color);
  }

  &:not(:last-child){
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      bottom: -10px;
      width: 1px;
      background: var(--emr-navigation-group-tree-lines-color);
      z-index: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(var(--emr-navigation-nested-item-height) / 1.5);
    height: calc(var(--emr-navigation-nested-item-height) / 2);
    border-bottom-left-radius: calc(var(--emr-navigation-nested-item-height) / 4);
    border-left: 1px solid var(--emr-navigation-group-tree-lines-color);
    border-bottom: 1px solid var(--emr-navigation-group-tree-lines-color);
  }
}

:host(:hover) {
  .inner {
    background-color: var(--emr-navigation-item-hover-bg);
    color: var(--emr-navigation-item-hover-color);
  }
}

:host(.is-active),
:host(.is-active:hover) {
  .inner {
    background-color: var(--emr-navigation-item-active-bg);
    color: var(--emr-navigation-item-active-color);
  }
}

:host {
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: var(--emr-navigation-item-icon-width);
    color: var(--emr-navigation-item-icon-color);
    margin-inline-start: -6px;
  }
}

:host:not(.is-active):hover {
  .icon {
    color: var(--emr-navigation-item-hover-icon-color);
  }
}

:host(.is-active) {
  .icon {
    color: var(--emr-navigation-item-active-icon-color);
  }
}

:host {
  .icon:empty {
    display: none;
  }
}

//:host:has(.icon:not(:empty)) {
//  padding-inline-start: var(--emr-navigation-item-has-icon-padding-start);
//}
