:host {
  margin-top: var(--m-1);
  display: block;

  --mdc-linear-progress-track-height: theme('height.2');
  --mdc-linear-progress-active-indicator-height: theme('height.2');

  ::ng-deep .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: transparent;
  }

  &.low {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: theme('colors.red.400');
    }
  }

  &.weak {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: theme('colors.amber.400');
    }
  }

  &.medium {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: theme('colors.green.500');
    }
  }

  &.strong {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: theme('colors.green.500');
    }
  }

  &.very-strong {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: theme('colors.green.500');
    }
  }
}
