:host {
  margin-top: calc(var(--spacing) * 1);
  display: block;

  --mdc-linear-progress-track-height: calc(var(--spacing) * 2);
  --mdc-linear-progress-active-indicator-height: calc(var(--spacing) * 2);

  ::ng-deep .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: transparent;
  }

  &.low {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: var(--color-red-400);
    }
  }

  &.weak {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: var(--color-amber-400);
    }
  }

  &.medium {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: var(--color-green-500);
    }
  }

  &.strong {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: var(--color-green-500);
    }
  }

  &.very-strong {
    ::ng-deep .mdc-linear-progress__bar-inner {
      --mdc-linear-progress-active-indicator-color: var(--color-green-500);
    }
  }
}
