<app-page>
  <div appPageContent>
    <h1>Snackbar</h1>

    <h3 class="mat-title-large">Basic Snackbar</h3>
    <emr-playground exampleUrl="_docs/components/snackbar/_examples" exampleName="basic-snackbar-example">
      <app-basic-snackbar-example></app-basic-snackbar-example>
    </emr-playground>

    <h3 class="mat-title-large">Snackbar With Custom Component</h3>
    <emr-playground exampleUrl="_docs/components/snackbar/_examples" exampleName="snackbar-with-custom-component-example">
      <app-snackbar-with-custom-component-example></app-snackbar-with-custom-component-example>
    </emr-playground>

    <h3 class="mat-title-large">Configurable Snackbar</h3>
    <emr-playground exampleUrl="_docs/components/snackbar/_examples" exampleName="configurable-snackbar-example">
      <app-configurable-snackbar-example></app-configurable-snackbar-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/snack-bar/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
