<div class="h-[600px] border border-default">
  <emr-layout>
    <emr-layout-topbar>
      <emr-announcement iconName="help" variant="informative" closable>
        You still have not uploaded your Mart invoice due on 22 April 2024
      </emr-announcement>
    </emr-layout-topbar>
    <emr-layout-header>
      <div class="border-b border-b-default px-6 h-14 flex items-center">
        Header
      </div>
    </emr-layout-header>
    <emr-layout-sidebar>
      <div class="p-6 border-r h-full w-[240px]">Sidebar</div>
    </emr-layout-sidebar>
    <emr-layout>
      <emr-layout-header>
        <div class="border-b border-b-default px-6 h-12 flex items-center">
          Subheader
        </div>
      </emr-layout-header>
      <emr-layout-body>
        <div class="h-[1000px] p-6">Body with scroll</div>
      </emr-layout-body>
      <emr-layout-footer>
        <div class="border-t border-t-default px-6 h-10 flex items-center text-xs">
          This is footer example &copy; 2024
        </div>
      </emr-layout-footer>
    </emr-layout>
  </emr-layout>
</div>
