:host {
  --emr-mchart-bar-bar-bg: theme('colors.primary.DEFAULT');
  --emr-mchart-bar-bar-gradient-start-color: theme('colors.primary.500');
  --emr-mchart-bar-bar-gradient-end-color: theme('colors.primary.DEFAULT');
  --emr-mchart-bar-highlight-bg: theme('colors.neutral.200');

  display: block;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;
  }

  ::ng-deep {
    .highlight {
      fill: var(--emr-mchart-bar-highlight-bg);
    }
  }

  &:not(.fill-gradient) {
    ::ng-deep {
      .bar {
        fill: var(--emr-mchart-bar-bar-bg);
      }
    }
  }

  &.fill-gradient {
    .lg-start-color {
      stop-color: var(--emr-mchart-bar-bar-gradient-start-color);
    }

    .lg-end-color {
      stop-color: var(--emr-mchart-bar-bar-gradient-end-color);
    }
  }

  &.with-tooltip {
    ::ng-deep {
      .bar {
        &:hover {
          opacity: .85;
        }
      }
    }
  }
}

:host-context(html.dark) {
  --emr-mchart-bar-highlight-bg: theme('colors.neutral.700');
}
