<app-page>
  <div appPageContent>
    <h1>Color Picker</h1>

    <main class="mb-10">
      <p>
        Take your Angular applications to the next level with our sleek, intuitive,
        and fully customizable <strong>Color Picker</strong>!
        Designed with Angular Material and Tailwind in mind,
        this component blends seamlessly into your UI, offering a smooth, modern, and user-friendly experience.
      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="ps-4 mt-3 flex flex-col gap-3 list-disc">
          <li>
            ✅ <strong>Material Design Perfection</strong> – Built with Angular Material for a native and cohesive look.
          </li>
          <li>
            🎨 <strong>Effortless Customization</strong> – Tailor colors, palettes, and themes to match your app’s style.
          </li>
          <li>
            ⚡ <strong>Lightning-Fast Performance</strong> – Optimized for responsiveness and smooth user interactions.
          </li>
          <li>
            📌 <strong>Flexible Input Methods</strong> – Choose colors via a palette, slider, or direct HEX/RGB input.
          </li>
          <li>
            🔌 <strong>Seamless Integration</strong> – Drop it into your Angular project with minimal setup.
          </li>
        </ul>
      </div>
      <p>
        Whether you’re building dashboards, creative tools, or next-gen web apps, our Color Picker makes color selection effortless and elegant.
      </p>
    </main>

    <h3 class="mat-title-large">Basic color picker</h3>
    <emr-playground exampleUrl="_docs/components/color-picker/_examples" exampleName="basic-color-picker-example">
      <app-basic-color-picker-example/>
    </emr-playground>

    <h3 class="mat-title-large">Color picker with popover</h3>
    <emr-playground exampleUrl="_docs/components/color-picker/_examples" exampleName="color-picker-with-popover-example">
      <app-color-picker-with-popover-example/>
    </emr-playground>

    <h3 class="mat-title-large">Input with color picker</h3>
    <emr-playground exampleUrl="_docs/components/color-picker/_examples" exampleName="input-with-color-picker-example">
      <app-input-with-color-picker-example/>
    </emr-playground>
  </div>
</app-page>
