<app-page>
  <div appPageContent>
    <h1>Card Overlay</h1>

    <h3>Basic card overlay</h3>
    <emr-playground exampleUrl="_docs/components/card-overlay/_examples" exampleName="basic-card-overlay-example">
      <app-basic-card-overlay-example/>
    </emr-playground>

    <h3>Card overlay with translate</h3>
    <emr-playground exampleUrl="_docs/components/card-overlay/_examples" exampleName="card-overlay-with-translate-example">
      <app-card-overlay-with-translate-example/>
    </emr-playground>

    <h3>Card overlay with blur</h3>
    <emr-playground exampleUrl="_docs/components/card-overlay/_examples" exampleName="card-overlay-with-blur-example">
      <app-card-overlay-with-blur-example/>
    </emr-playground>
  </div>
</app-page>
