<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Upload</h1>

      <h3>Basic Upload</h3>
      <emr-playground>
        <app-basic-upload-example></app-basic-upload-example>
      </emr-playground>

      <h3>Upload area</h3>
      <emr-playground>
        <app-upload-area-example></app-upload-area-example>
      </emr-playground>

      <h3>File list</h3>
      <emr-playground>
        <app-file-list-example></app-file-list-example>
      </emr-playground>

      <h3>File grid</h3>
      <emr-playground>
        <app-file-grid-example></app-file-grid-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
