<app-page>
  <div appPageContent>
    <h1>Upload</h1>

    <h3>Basic Upload</h3>
    <emr-playground exampleUrl="_docs/components/upload/_examples" exampleName="basic-upload-example">
      <app-basic-upload-example></app-basic-upload-example>
    </emr-playground>

    <h3>Upload area</h3>
    <emr-playground exampleUrl="_docs/components/upload/_examples" exampleName="upload-area-example">
      <app-upload-area-example></app-upload-area-example>
    </emr-playground>

    <h3>File list</h3>
    <emr-playground exampleUrl="_docs/components/upload/_examples" exampleName="file-list-example">
      <app-file-list-example></app-file-list-example>
    </emr-playground>

    <h3>File grid</h3>
    <emr-playground exampleUrl="_docs/components/upload/_examples" exampleName="file-grid-example">
      <app-file-grid-example></app-file-grid-example>
    </emr-playground>
  </div>
</app-page>
