<div emrImageViewer class="flex items-start gap-7 flex-wrap not-mat-typography">
  <div emrImageViewerPicture
       sourceUrl="https://lipsum.app/id/50/1600x900"
       class="size-32 flex items-center justify-center border border-default  p-2 rounded">
    <img src="https://lipsum.app/id/50/400x300" alt="" class="rounded bg-cover cursor-pointer">
    <ng-template emrImageViewerPictureCaption>Just Caption</ng-template>
    <ng-template emrImageViewerPictureDescription>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </ng-template>
  </div>
  <div emrImageViewerPicture sourceUrl="https://lipsum.app/id/51/1600x900"
       class="size-32 flex items-center justify-center border border-default  p-2 rounded">
    <img src="https://lipsum.app/id/51/400x300" alt="" class="rounded bg-cover cursor-pointer">
    <ng-template emrImageViewerPictureCaption>Awesome Picture</ng-template>
    <ng-template emrImageViewerPictureDescription>
      Advancing to the 1960s, Lorem Ipsum was made popular by typeface manufacturer Letraset,
      who used it in their advertising campaigns. Letraset offered pages of Lorem Ipsum as rub down
      transfer sheets, which were widely used in the pre-computer era for layouts.
      These transfer pages, known as Letraset Body Type, were featured in the company's advertising and their popular catalogue.
    </ng-template>
  </div>
  <div emrImageViewerPicture sourceUrl="https://lipsum.app/id/53/900x1600"
       class="size-32 flex items-center justify-center border border-default  p-2 rounded overflow-hidden">
    <img src="https://lipsum.app/id/53/300x400" alt="" class="rounded bg-cover max-h-full cursor-pointer">
    <ng-template emrImageViewerPictureCaption>Cool Image</ng-template>
    <ng-template emrImageViewerPictureDescription>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </ng-template>
  </div>
</div>
