<div class="flex flex-col gap-6">
  <emr-announcement iconName="help" variant="neutral">
    You still have not uploaded your Mart invoice due on 22 April 2025
  </emr-announcement>
  <emr-announcement iconName="info" variant="informative">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </emr-announcement>
  <emr-announcement iconName="error" variant="negative">
    You still have not uploaded your Mart invoice due on 22 April 2025
  </emr-announcement>
  <emr-announcement iconName="done" variant="positive">
    You still have not uploaded your Mart invoice due on 22 April 2024
  </emr-announcement>
  <emr-announcement iconName="warning" variant="warning">
    You still have not uploaded your Mart invoice due on 22 April 2025
  </emr-announcement>
</div>
