<emr-segmented selectedValue="monthly">
  <emr-segmented-button value="daily">
    <mat-icon emrSegmentedIcon class="material-symbols-outlined text-xl">calendar_today</mat-icon>
    Daily
  </emr-segmented-button>
  <emr-segmented-button value="weekly">
    <mat-icon emrSegmentedIcon class="material-symbols-outlined text-xl">event</mat-icon>
    Weekly
  </emr-segmented-button>
  <emr-segmented-button value="monthly">
    <mat-icon emrSegmentedIcon class="material-symbols-outlined text-xl">calendar_month</mat-icon>
    Monthly
  </emr-segmented-button>
</emr-segmented>
