<div class="p-5 flex items-center justify-between">
  <h3 class="tracking-tight text-sm font-semibold">Total Orders</h3>
</div>
<div>
  <div class="px-5 pb-4 pt-1 relative flex items-center justify-between">
    <div class="text-3xl font-semibold -ms-0.5">$104.<span class="text-neutral-500">00</span></div>
    <div class="text-green-600 rounded-lg font-semibold text-md flex items-center gap-2">
      <mat-icon>trending_up</mat-icon> 8,50%
    </div>
  </div>
  <div class="text-xs bg-surface-container hover:bg-surface-container-high cursor-pointer mt-3 h-11 flex items-center px-5">
    From Jan 1, 2025 &ndash; March 10, 2025
  </div>
</div>
