:host {
  height: 100%;
  padding-inline-start: calc(var(--spacing) * 4);
  padding-inline-end: calc(var(--spacing) * 4);
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
  position: relative;
}
