<app-page>
  <div appPageContent>
    <h1>Confirm</h1>

    <h3 class="mat-title-large">Basic confirm</h3>
    <emr-playground exampleUrl="_docs/components/confirm/_examples" exampleName="basic-confirm-example">
      <app-basic-confirm-example></app-basic-confirm-example>
    </emr-playground>

    <h3 class="mat-title-large">Show confirm from a modal dialog</h3>
    <emr-playground exampleUrl="_docs/components/confirm/_examples" exampleName="confirm-form-modal-example">
      <app-confirm-form-modal-example></app-confirm-form-modal-example>
    </emr-playground>
  </div>
</app-page>
