<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Icon</h1>

      <p><strong>Elementar icon component</strong> supports more than 150,000 different icons.
        Below are examples of some icon sets that can be used together without problems.</p>

      <h3 class="font-bold">Material Symbols Icons</h3>
      <p>
        <a href="https://icon-sets.iconify.design/material-symbols/" target="_blank">Material Symbols</a>
        are modern icons consolidating over 3,275 glyphs with a wide range of design variants.
      </p>
      <emr-playground>
        <app-material-symbols-icons-example></app-material-symbols-icons-example>
      </emr-playground>

      <h3 class="font-bold">Phosphor Icons</h3>
      <p>
        <a href="https://icon-sets.iconify.design/ph/" target="_blank">Phosphor icons</a> &ndash; is a great
        icon pack that has 6 different styles per icon (thin,light,regular,bold,duotone,fill) and there are over 1300 icons in total.
      </p>
      <emr-playground>
        <app-phosphor-icons-example></app-phosphor-icons-example>
      </emr-playground>

      <h3 class="font-bold">Circle Flags Icons</h3>
      <p>
        <a href="https://icon-sets.iconify.design/circle-flags/" target="_blank">Circle Flags</a> is a collection of
        400+ minimal circular SVG country, state and language flags.
      </p>
      <emr-playground>
        <app-circle-flags-example></app-circle-flags-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
