<app-page>
  <div appPageContent>
    <h1>Icon</h1>

    <main class="mb-10">
      <p><strong>Elementar icon component</strong> supports more than 150,000 different icons.
        Below are examples of some icon sets that can be used together without problems.</p>
    </main>

    <h3 class="mat-title-large">Material Symbols Icons (Default)</h3>
    <p>
      <a href="https://fonts.google.com/icons" target="_blank">Material Symbols</a>
      is the modern icon font consolidating over 3,275 glyphs with a wide range of design variants.
      It is a default font in the Elementar Admin.
    </p>
    <emr-playground exampleUrl="_docs/components/icon/_examples" exampleName="material-symbols-icons-example">
      <app-material-symbols-icons-example/>
    </emr-playground>

    <h3 class="mat-title-large">Phosphor Icons</h3>
    <p>
      <a href="https://icon-sets.iconify.design/ph/" target="_blank" class="link">Phosphor icons</a> &ndash; is a great
      icon pack that has 6 different styles per icon (thin,light,regular,bold,duotone,fill) and there are over 1300 icons in total.
    </p>
    <emr-playground exampleUrl="_docs/components/icon/_examples" exampleName="phosphor-icons-example">
      <app-phosphor-icons-example/>
    </emr-playground>

    <h3 class="mat-title-large">Circle Flags Icons</h3>
    <p>
      <a href="https://icon-sets.iconify.design/circle-flags/" target="_blank" class="link">Circle Flags</a> is a collection of
      400+ minimal circular SVG country, state and language flags.
    </p>
    <emr-playground exampleUrl="_docs/components/icon/_examples" exampleName="circle-flags-example">
      <app-circle-flags-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-icon</code> component.
    </p>
    <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/3">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>name<sup>*</sup></div>
            <div class="text-xs text-neutral-500 mt-0.5">Name of an icon.</div>
          </td>
          <td>string</td>
          <td>&ndash;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p>
      Icon name is formed as follows: first comes the name of the set, then <code class="code">:</code>
      and then the name of the icon in the set.
    </p>
    <p>
      All sets can be viewed here <a href="https://icon-sets.iconify.design/" target="_blank" class="link">https://icon-sets.iconify.design/</a>
      clicking on the icon in the set will show the full name, copy and paste into the <code class="code">name</code> property in <code class="code">emr-icon</code>.
    </p>
    <p>
      Before using an icon from a set install it with a command such as: <code class="code">npm i &#64;iconify-json/tabler</code>.
    </p>
    <p>
      You can find all the sets via npm: <a href="https://www.npmjs.com/search?q=%40iconify-json" target="_blank" class="link">
        https://www.npmjs.com/search?q=&#64;iconify-json
      </a>
    </p>
  </div>
</app-page>
