<app-page>
  <div appPageContent>
    <h1>Tab Panel</h1>

    <h3 class="mat-title-large">Basic tab panel</h3>
    <emr-playground exampleUrl="_docs/navigation/tab-panel/_examples" exampleName="basic-tab-panel-example">
      <app-basic-tab-panel-example/>
    </emr-playground>

    <h3 class="mat-title-large">Tab panel with panel inside</h3>
    <emr-playground exampleUrl="_docs/navigation/tab-panel/_examples" exampleName="tab-panel-with-panels-inside-example">
      <app-tab-panel-with-panels-inside-example/>
    </emr-playground>

    <h3 class="mat-title-large">Tab panel compact state</h3>
    <emr-playground exampleUrl="_docs/navigation/tab-panel/_examples" exampleName="tab-panel-compact-example">
      <app-tab-panel-compact-example/>
    </emr-playground>
  </div>
</app-page>
