<div class="space-y-8">
  <div class="flex gap-6 items-center">
    <emr-avatar>
      <mat-icon>folder</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-pink-500">
      <mat-icon>cloud_download</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-blue-500">
      <mat-icon>person</mat-icon>
    </emr-avatar>
  </div>
  <div class="flex gap-6 items-center">
    <emr-avatar class="w-7 h-7">
      <mat-icon class="text-lg">folder</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-pink-500 w-7 h-7">
      <mat-icon class="text-lg">cloud_download</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-blue-500 w-7 h-7">
      <mat-icon class="text-lg">person</mat-icon>
    </emr-avatar>
  </div>
</div>
