<emr-comment-editor fullViewMode [imageUploadFn]="uploadFn" (sent)="onSent($event)"
                    class="rounded-2xl border dark:border-inverse">
  <button mat-icon-button matTooltip="Bold"
          emrCommentEditorCommand emrCommentEditorCommandBold>
    <emr-icon name="ph:text-b"></emr-icon>
  </button>
  <button mat-icon-button matTooltip="Italic"
          emrCommentEditorCommand emrCommentEditorCommandItalic>
    <emr-icon name="ph:text-italic"></emr-icon>
  </button>
  <button mat-icon-button matTooltip="Strike"
          emrCommentEditorCommand emrCommentEditorCommandStrike>
    <emr-icon name="ph:text-strikethrough"></emr-icon>
  </button>
  <emr-comment-commands-divider></emr-comment-commands-divider>
  <button mat-icon-button matTooltip="Bullet List"
          emrCommentEditorCommand emrCommentEditorCommandBulletList>
    <emr-icon name="ph:list-bullets"></emr-icon>
  </button>
  <button mat-icon-button matTooltip="Ordered List"
          emrCommentEditorCommand emrCommentEditorCommandOrderedList>
    <emr-icon name="ph:list-numbers"></emr-icon>
  </button>
  <button mat-icon-button matTooltip="Blockquote"
          emrCommentEditorCommand emrCommentEditorCommandBlockquote>
    <emr-icon name="ph:quotes"></emr-icon>
  </button>
  <button mat-icon-button matTooltip="Code Block"
          emrCommentEditorCommand emrCommentEditorCommandCodeBlock>
    <emr-icon name="ph:code-block"></emr-icon>
  </button>
  <emr-comment-commands-divider></emr-comment-commands-divider>
  <button mat-icon-button matTooltip="Upload Image"
          emrCommentEditorCommand emrCommentEditorCommandImage>
    <emr-icon name="ph:image"></emr-icon>
  </button>
  <button mat-icon-button matTooltip="Add Youtube"
          emrCommentEditorCommand emrCommentEditorCommandYoutube>
    <emr-icon name="ph:youtube-logo"></emr-icon>
  </button>
</emr-comment-editor>

@if (comments.length > 0) {
  <div class="mt-10 space-y-7">
    @for (comment of comments; track comment) {
      <div class="border dark:border-inverse rounded-xl p-5" [innerHTML]="comment | safeHtml"></div>
    }
  </div>
}
