<app-page>
  <div appPageContent>
    <h1>Autocomplete</h1>

    <h3 class="mat-title-large" id="basic-button">Simple autocomplete</h3>
    <emr-playground exampleUrl="_docs/forms/autocomplete/_examples" exampleName="simple-autocomplete-example">
      <app-simple-autocomplete-example></app-simple-autocomplete-example>
    </emr-playground>

    <h3 class="mat-title-large" id="custom-filter">Custom Filter</h3>
    <emr-playground exampleUrl="_docs/forms/autocomplete/_examples" exampleName="autocomplete-filter-example">
      <app-autocomplete-filter-example></app-autocomplete-filter-example>
    </emr-playground>

    <h3 class="mat-title-large" id="separate-controls-and-display-values">Separate control and display values</h3>
    <emr-playground exampleUrl="_docs/forms/autocomplete/_examples" exampleName="separate-controls-and-display-values-example">
      <app-separate-controls-and-display-values-example></app-separate-controls-and-display-values-example>
    </emr-playground>

    <h3 class="mat-title-large" id="auto-highlight-first-person">Automatically highlighting the first option</h3>
    <emr-playground exampleUrl="_docs/forms/autocomplete/_examples" exampleName="auto-highlight-first-person-example">
      <app-auto-highlight-first-person-example></app-auto-highlight-first-person-example>
    </emr-playground>

    <h3 class="mat-title-large" id="option-groups">Autocomplete with option groups</h3>
    <emr-playground exampleUrl="_docs/forms/autocomplete/_examples" exampleName="option-groups-example">
      <app-option-groups-example></app-option-groups-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/autocomplete/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
