:host {
  --emr-skeleton-circle-size: theme('spacing.14');

  animation: var(--emr-skeleton-item-animation);
  @apply inline-flex rounded-full flex-none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-skeleton-circle-size);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-skeleton-circle-size);
  }
}
