<ng-content select="emr-timeline-timestamp"></ng-content>

@if (indicatorRef) {
  <div class="relative flex justify-center after:absolute after:start-1/2 after:w-px after:-translate-x-[0.5px] line">
    <div class="relative custom-indicator">
      <div class="w-max relative z-[1]">
        <ng-container [ngTemplateOutlet]="indicatorRef.templateRef"></ng-container>
      </div>
    </div>
  </div>
} @else {
  <div class="relative after:absolute after:start-1/2 after:w-px after:-translate-x-[0.5px] line">
    <div class="relative flex justify-center items-center indicator">
      <div class="rounded-full indicator-shape"></div>
    </div>
  </div>
}

<div class="content">
  <div class="content-inner">
    <ng-content select="emr-timeline-title"></ng-content>
    <ng-content select="emr-timeline-description"></ng-content>
    <ng-content select="emr-timeline-attributes"></ng-content>
  </div>
</div>
