:host {
  display: contents;

  &:has(.emr-timeline-timestamp) {
    margin-left: 0;
  }

  .indicator {
    z-index: 1;
    top: 0.3125rem;
  }

  .line {
    padding: 0;

    &:after {
      background: var(--emr-timeline-item-line-bg);
      top: 0.3125rem;
      bottom: -0.3125rem;
    }
  }

  .indicator-shape {
    flex: none;
    width: var(--emr-timeline-indicator-shape-size);
    height: var(--emr-timeline-indicator-shape-size);
    background: var(--emr-timeline-indicator-bg);
    border: var(--emr-timeline-indicator-border);
  }

  &:last-child {
    .line:after {
      display: none;
    }
  }

  .line:has(.custom-indicator):after {
    top: 0;
    bottom: 0;
  }

  .content {
    padding: var(--emr-timeline-item-content-padding);
  }

  .content-inner {
    display: flex;
    flex-direction: column;
    gap: var(--emr-timeline-item-content-gap);
  }
}
