:host {
  display: block;
  width: max-content;
  border-radius: var(--rounded-full);
  padding: var(--p-2) var(--p-4);
  color: var(--color-neutral-800);
  font-size: var(--text-sm);
  margin-top: var(--m-1_5);
  border: 1px solid transparent;


  &:hover {
    background: var(var(--color-neutral-200));
    color: var(--color-neutral-900);
  }

  &.is-active {
    border-color: var(--sys-outline);
  }
}

:host-context(html.dark) {
  color: var(--color-neutral-300);

  &:hover {
    background: var(var(--color-neutral-600));
  }
}
