<emr-breadcrumbs>
  <emr-breadcrumb-item>
    <mat-icon emrBreadcrumbItemIcon class="filled">home</mat-icon>
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <emr-breadcrumb-title>author</emr-breadcrumb-title>
    John D. Barrow
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <emr-breadcrumb-title>book</emr-breadcrumb-title>
    The Artful Universe
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <emr-breadcrumb-title>chapter</emr-breadcrumb-title>
    Size, life, and landscape
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <emr-breadcrumb-title>title</emr-breadcrumb-title>
    Network news: branching out
  </emr-breadcrumb-item>
</emr-breadcrumbs>

