<section class="flex flex-col gap-4">
  <div class="flex justify-between">
    <h2 class="text-3xl">Messages</h2>
    <div class="border border-default rounded-full w-max">
      <button mat-icon-button [matMenuTriggerFor]="messengerMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #messengerMenu="matMenu">
        <button mat-menu-item>
          <span>Start a new conversation</span>
        </button>
        <button mat-menu-item>
          <span>Messenger settings</span>
        </button>
        <button mat-menu-item>
          <span>Out of office</span>
        </button>
        <button mat-menu-item>
          <span>Shortcut keys</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="grow bg-surface-container-low flex flex-col rounded-3xl p-4">
    <div class="flex flex-none items-center border-b border-b-default pb-3.5 gap-2">
      <div class="relative grow">
        <mat-icon class="absolute start-2.5 top-1/2 -translate-y-1/2">search</mat-icon>
        <input type="text" matInput placeholder="Search"
               class="bg-surface-container-low w-full border border-default outline-none ps-10 h-10 pe-3 focus-visible:border-primary rounded-full">
      </div>
      <button mat-icon-button>
        <mat-icon>tune</mat-icon>
      </button>
    </div>
    <div class="grow relative">
      <div class="py-4 absolute inset-0 flex flex-col gap-3">
        @for (thread of threads; track thread) {
          <div class="border border-default relative rounded-2xl p-2 cursor-pointer hover:bg-surface-bright [&.selected]:bg-surface-bright group"
               [class.selected]="isThreadSelected(thread)" (click)="selectThread(thread)">
            @if (thread.unreadMessagesCount > 0) {
              <div class="size-5 text-xs bg-red-500 text-white font-medium inline-flex items-center
                        justify-center absolute end-2 top-2 rounded-full flex-none">{{ thread.unreadMessagesCount }}</div>
            }
            <div class="flex items-center gap-3">
              <emr-dicebear class="size-11"
                            [key]="thread.sender.id"
                            [presenceIndicator]="thread.sender.presenceIndicator"
                            [image]="thread.sender.avatarUrl"/>
              <div class="min-w-0 leading-4">
                <div class="font-bold whitespace-nowrap text-ellipsis overflow-hidden">{{ thread.sender.name }}</div>
                <time class="block text-xs text-neutral-600 mt-1">{{ thread.createdAt | date }}</time>
              </div>
            </div>
            <div class="flex mt-2">
              <div class="min-w-0">
                <div class="text-tiny whitespace-nowrap text-ellipsis overflow-hidden">
                  {{ thread.title }}
                </div>
                <div class="text-tiny whitespace-nowrap text-ellipsis mt-0.5 overflow-hidden text-neutral-500">
                  You: {{ thread.lastMessage }}
                </div>
              </div>
              <div class="hidden group-hover:block">
                <button mat-icon-button>
                  <mat-icon>star</mat-icon>
                </button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
<main class="flex flex-col">
  <div class="max-w-full min-w-0 px-10">
    <div class="border-b border-b-default pb-4 flex justify-between gap-4">
      <div class="overflow-hidden min-w-0 w-[400px]">
        <div class="font-bold min-w-0 text-2xl whitespace-nowrap text-ellipsis overflow-hidden">{{ selectedThread.sender.name }}</div>
        <div class="text-neutral-600 min-w-0 text-sm mt-1 whitespace-nowrap text-ellipsis overflow-hidden max-w-full">
          {{ selectedThread.title }}
        </div>
      </div>
      <div class="flex gap-3 flex-start">
        <div class="border border-default rounded-full w-max h-max">
          <button mat-icon-button matTooltip="Create a call">
            <mat-icon>videocam</mat-icon>
          </button>
        </div>
        <div class="border border-default rounded-full w-max h-max">
          <button mat-icon-button matTooltip="Schedule a meeting">
            <mat-icon>calendar_clock</mat-icon>
          </button>
        </div>
        <div class="border border-default rounded-full w-max h-max [&.sidebar-active]:border-on-surface"
             [class.sidebar-active]="sidebarActive" (click)="toggleSidebar()"
             [matTooltip]="sidebarActive ? 'Hide conversation info' : 'Show conversation info'">
          <button mat-icon-button>
            <mat-icon>dock_to_left</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grow relative" emrImageViewer>
    <div class="py-10 min-h-full px-7 absolute inset-0 overflow-y-auto">
      @for (message of selectedThread.messages; track message; let index = $index) {
        @let isInner = isInnerMessage(selectedThread.messages, index);
        @let showTimeSeparator = isNeedToShowTimeSeparator(selectedThread.messages, index);

        @if (showTimeSeparator) {
          <div class="px-3 py-6">
            <emr-h-divider>{{ message.createdAt | date }}</emr-h-divider>
          </div>
        }

        <div class="flex items-start gap-3 p-3 rounded-3xl hover:bg-surface-container-low relative group">
          @if (!isInner) {
            <emr-dicebear class="size-11"
                          [key]="message.sender.id"
                          [presenceIndicator]="message.sender.presenceIndicator"
                          [image]="message.sender.avatarUrl"/>
          }

          <div class="flex flex-col w-full leading-1.5">
            @if (!isInner) {
              <div class="flex items-center justify-between mb-1">
                <div class="flex items-center gap-2 rtl:space-x-reverse">
                  <span class="text-sm font-semibold">{{ message.sender.name }}</span>
                  <span class="text-sm text-neutral">{{ message.createdAt | date }}</span>
                </div>
                @if (message.isDelivered) {
                  <span class="text-xs text-neutral">Delivered</span>
                }
              </div>
            }

            <div class="text-sm font-normal [&.is-inner]:ps-14" [class.is-inner]="isInner">
              @switch (message.type) {
                @case ('attachment') {
                  <div class="flex items-start w-max rounded-2xl p-3 gap-3 bg-surface-container group-hover:bg-surface-container-highest">
                    <div>
                      <div class="flex items-center gap-2 text-xs font-medium text-on-surface pb-2">
                        @if (message.content.iconUrl) {
                          <img [src]="message.content.iconUrl" alt="" class="size-5">
                        }
                        {{ message.content.fileName }}
                     </div>
                      <div class="flex text-xs font-normal text-neutral-600 dark:text-neutral-500 gap-2">
                      {{ message.content.pagesCount }} Pages
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="self-center" width="3" height="4" viewBox="0 0 3 4" fill="none">
                       <circle cx="1.5" cy="2" r="1.5" fill="#6B7280"></circle>
                      </svg>
                      {{ message.content.fileSize }}
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="self-center" width="3" height="4" viewBox="0 0 3 4" fill="none">
                       <circle cx="1.5" cy="2" r="1.5" fill="#6B7280"></circle>
                      </svg>
                      <div class="uppercase">{{ message.content.fileType }}</div>
                    </div>
                    </div>
                    <div class="inline-flex self-center items-center">
                      <button mat-icon-button>
                        <mat-icon>download</mat-icon>
                      </button>
                    </div>
                  </div>
                }
                @case ('image') {
                  <img [src]="message.content.src" alt=""
                       emrImageViewerPicture [sourceUrl]="message.content.src" class="max-w-96 rounded-2xl cursor-pointer">
                }
                @default {
                  <div [innerHTML]="message.content | safeHtml"></div>
                }
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="px-10">
    <emr-comment-editor fullViewMode #editor class="border border-default shadow-sm rounded-2xl">
      <emr-comment-editor-toolbar>
        <button mat-icon-button matTooltip="Bold"
                emrCommentEditorCommand emrCommentEditorCommandBold>
          <mat-icon>format_bold</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Italic"
                emrCommentEditorCommand emrCommentEditorCommandItalic>
          <mat-icon>format_italic</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Strike"
                emrCommentEditorCommand emrCommentEditorCommandStrike>
          <mat-icon>strikethrough_s</mat-icon>
        </button>
        <emr-comment-editor-divider/>
        <button mat-icon-button matTooltip="Bullet List"
                emrCommentEditorCommand emrCommentEditorCommandBulletList>
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Ordered List"
                emrCommentEditorCommand emrCommentEditorCommandOrderedList>
          <mat-icon>format_list_numbered</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Blockquote"
                emrCommentEditorCommand emrCommentEditorCommandBlockquote>
          <mat-icon>format_quote</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Code Block"
                emrCommentEditorCommand emrCommentEditorCommandCodeBlock>
          <mat-icon>code_blocks</mat-icon>
        </button>
        <emr-comment-editor-divider></emr-comment-editor-divider>
        <button mat-icon-button matTooltip="Upload Image"
                emrCommentEditorCommand emrCommentEditorCommandImage>
          <mat-icon>image</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add Youtube"
                emrCommentEditorCommand emrCommentEditorCommandYoutube>
          <mat-icon>videocam</mat-icon>
        </button>
      </emr-comment-editor-toolbar>
      <emr-comment-editor-bubble-menu>
        <button emrCommentEditorCommandEditLink>
          <mat-icon>edit</mat-icon>
        </button>
        <button emrCommentEditorCommandUnsetLink>
          <mat-icon>link_off</mat-icon>
        </button>
        <button emrCommentEditorCommand emrCommentEditorCommandLink>
          <mat-icon>link</mat-icon>
        </button>
        <button emrCommentEditorCommand emrCommentEditorCommandBold>
          <mat-icon>format_bold</mat-icon>
        </button>
        <button emrCommentEditorCommand emrCommentEditorCommandItalic>
          <mat-icon>format_italic</mat-icon>
        </button>
        <button emrCommentEditorCommand emrCommentEditorCommandStrike>
          <mat-icon>strikethrough_s</mat-icon>
        </button>
        <button emrCommentEditorCommand emrCommentEditorCommandCode>
          <mat-icon>code</mat-icon>
        </button>
      </emr-comment-editor-bubble-menu>
      <emr-comment-editor-footer-bar>
        <button mat-icon-button emrCommentEditorCommand emrCommentEditorCommandToggleToolbar>
          <mat-icon>title</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Attach File"
                emrCommentEditorCommand>
          <mat-icon>attach_file</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Emoji"
                emrCommentEditorCommand>
          <mat-icon>sentiment_satisfied</mat-icon>
        </button>
      </emr-comment-editor-footer-bar>
    </emr-comment-editor>
  </div>
</main>
@if (sidebarActive && selectedThread) {
  <aside class="sidebar">
    <div class="h-full rounded-3xl bg-surface-container-low p-5 relative">
      <div class="rounded-full w-max absolute end-2 top-2">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="flex items-center flex-col justify-center gap-4 py-5">
        <emr-dicebear class="size-32"
                      [presenceIndicator]="selectedThread.sender.presenceIndicator"
                      [key]="selectedThread.sender.id"
                      [image]="selectedThread.sender.avatarUrl"/>
        <div class="text-center">
          <div class="font-bold whitespace-nowrap text-ellipsis overflow-hidden">{{ selectedThread.sender.name }}</div>
          <time class="text-xs text-neutral-600">{{ selectedThread.createdAt | date }}</time>
        </div>
      </div>
      <div class="mt-2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="gap-3">
                <mat-icon>group</mat-icon> Members ({{ selectedThread.membersCount }})
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="flex flex-col gap-3">
              @for (member of selectedThread.members; track member) {
                <div class="flex items-center gap-3">
                  <emr-dicebear class="size-9"
                                [key]="member.id"
                                [presenceIndicator]="member.presenceIndicator"
                                [image]="member.avatarUrl"/>
                  <div class="min-w-0 leading-4">
                    <div class="font-bold whitespace-nowrap text-tiny text-ellipsis overflow-hidden">{{ member.name }}</div>
                    <time class="block text-xs text-neutral-600 mt-0.5">{{ member.status }}</time>
                  </div>
                </div>
              }
            </div>
            <div class="mt-5">
              <button mat-stroked-button class="w-full">Add member</button>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="gap-3">
                <mat-icon>attach_file</mat-icon> Files &amp; Links
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="text-sm">
              There are no files or links.
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </aside>
}
