<div class="py-9 px-10">
  <div class="max-w-[960px] mx-auto">
    <h1 class="text-lg font-bold mb-7">Notifications</h1>
    <div class="space-y-11">
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Enable Desktop Notifications</div>
            <div class="mt-2 text-neutral-500">
              Receive notifications all of messages.
            </div>
          </div>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <emr-h-divider></emr-h-divider>
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Enable Unread Notification Badge</div>
            <div class="mt-2 text-neutral-500">
              Show a red badge on the notifications icon when you have unread messages.
            </div>
          </div>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
    </div>

    <h3 class="text-lg font-bold mt-12 mb-7">Email Notifications</h3>
    <div class="space-y-11">
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Communication Emails</div>
            <div class="mt-2 text-neutral-500">
              Receive emails for messages or actions.
            </div>
          </div>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <emr-h-divider/>
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Announcements &amp; Updates</div>
            <div class="mt-2 text-neutral-500">
              Receive emails about product updates, improvements, etc.
            </div>
          </div>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
    </div>

    <h3 class="text-lg font-bold mt-12 mb-7">Sounds</h3>
    <div class="space-y-11">
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Disable All Notifications Sounds</div>
            <div class="mt-2 text-neutral-500">
              Mute all notification of messages or actions.
            </div>
          </div>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
