<emr-comment-editor #editor buttonCancelLabel="Close" buttonSendLabel="Reply"
                    cancelButtonAlwaysVisible
                    [imageUploadFn]="uploadFn" (sent)="onSent($event)"
                    class="rounded-2xl border dark:border-inverse">
  <emr-comment-editor-toolbar>
    <button mat-icon-button matTooltip="Bold"
            emrCommentEditorCommand emrCommentEditorCommandBold>
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Italic"
            emrCommentEditorCommand emrCommentEditorCommandItalic>
      <mat-icon>format_italic</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Strike"
            emrCommentEditorCommand emrCommentEditorCommandStrike>
      <mat-icon>strikethrough_s</mat-icon>
    </button>
    <emr-comment-editor-divider></emr-comment-editor-divider>
    <button mat-icon-button matTooltip="Bullet List"
            emrCommentEditorCommand emrCommentEditorCommandBulletList>
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Ordered List"
            emrCommentEditorCommand emrCommentEditorCommandOrderedList>
      <mat-icon>format_list_numbered</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Blockquote"
            emrCommentEditorCommand emrCommentEditorCommandBlockquote>
      <mat-icon>format_quote</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Code Block"
            emrCommentEditorCommand emrCommentEditorCommandCodeBlock>
      <mat-icon>code_blocks</mat-icon>
    </button>
    <emr-comment-editor-divider></emr-comment-editor-divider>
    <button mat-icon-button matTooltip="Upload Image"
            emrCommentEditorCommand emrCommentEditorCommandImage>
      <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add Youtube"
            emrCommentEditorCommand emrCommentEditorCommandYoutube>
      <mat-icon>videocam</mat-icon>
    </button>
  </emr-comment-editor-toolbar>
  <emr-comment-editor-bubble-menu>
    <button emrCommentEditorCommandEditLink>
      <mat-icon>edit</mat-icon>
    </button>
    <button emrCommentEditorCommandUnsetLink>
      <mat-icon>link_off</mat-icon>
    </button>
    <button emrCommentEditorCommand emrCommentEditorCommandLink>
      <mat-icon>link</mat-icon>
    </button>
    <button emrCommentEditorCommand emrCommentEditorCommandBold>
      <mat-icon>format_bold</mat-icon>
    </button>
    <button emrCommentEditorCommand emrCommentEditorCommandItalic>
      <mat-icon>format_italic</mat-icon>
    </button>
    <button emrCommentEditorCommand emrCommentEditorCommandStrike>
      <mat-icon>strikethrough_s</mat-icon>
    </button>
    <button emrCommentEditorCommand emrCommentEditorCommandCode>
      <mat-icon>code</mat-icon>
    </button>
  </emr-comment-editor-bubble-menu>
  <emr-comment-editor-footer-bar>
    @if (editor.api.isEditorActivated()) {
      <button mat-icon-button matTooltip="Toggle Toolbar"
              emrCommentEditorCommand emrCommentEditorCommandToggleToolbar>
        <mat-icon>title</mat-icon>
      </button>
    }
  </emr-comment-editor-footer-bar>
</emr-comment-editor>

@if (comments.length > 0) {
  <div class="mt-10 space-y-7">
    @for (comment of comments; track comment) {
      <div class="border dark:border-inverse rounded-xl p-5" [innerHTML]="comment | safeHtml"></div>
    }
  </div>
}
