<emr-navigation activeKey="dashboard" class="border border-default  px-2 pt-4 pb-2 w-[320px]">
  <emr-navigation-heading>Main</emr-navigation-heading>
  <emr-navigation-item key="dashboard">
    Dashboard
  </emr-navigation-item>
  <emr-navigation-item>
    Projects
  </emr-navigation-item>
  <emr-navigation-heading>Customization</emr-navigation-heading>
  <emr-navigation-item>Tasks</emr-navigation-item>
  <emr-navigation-item>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </emr-navigation-item>
  <emr-navigation-item>Support</emr-navigation-item>
</emr-navigation>
