<emr-segmented selectedValue="monthly">
  <button emr-segmented-button iconOnly value="daily">
    <mat-icon emrSegmentedIcon class="font-icon text-xl">calendar_today</mat-icon>
  </button>
  <button emr-segmented-button iconOnly value="weekly">
    <mat-icon emrSegmentedIcon class="font-icon text-xl">event</mat-icon>
  </button>
  <button emr-segmented-button iconOnly value="monthly">
    <mat-icon emrSegmentedIcon class="font-icon text-xl">calendar_month</mat-icon>
  </button>
</emr-segmented>
