<mat-form-field class="w-full">
  <input matInput type="text" [(ngModel)]="search" placeholder="Search">
</mat-form-field>
<emr-data-view [columnDefs]="columnDefs" [data]="data" [search]="search">
  <ng-template emrDataViewEmptyFilterResults>
    <emr-block-state>
      <emr-block-state-icon>
        <mat-icon>search_off</mat-icon>
      </emr-block-state-icon>
      <emr-block-state-content>No data matching the filter "{{ search }}"</emr-block-state-content>
    </emr-block-state>
  </ng-template>
</emr-data-view>
