<div class="space-y-10">
  <emr-mchart-pie [data]="data"
                  [labels]="labels"
                  legendContainerWidth="100"
                  showDataAnimation
                  showHoverAnimation
                  class="w-[350px] h-[200px]"></emr-mchart-pie>
  <emr-mchart-pie [data]="data"
                  [labels]="labels"
                  legendContainerWidth="70"
                  showDataAnimation
                  showHoverAnimation
                  legendItemSymbolSize="7"
                  legendItemFontSize="9"
                  legendOffset="6"
                  legendItemHeight="18"
                  class="w-[200px] h-[100px]"></emr-mchart-pie>
</div>
