:host {
  --emr-skeleton-gap: theme('gap.4');
  --emr-skeleton-item-border-radius: theme('borderRadius.2xl');
  --emr-skeleton-item-animation: emr-skeleton-loading 1s linear infinite alternate;
  --emr-skeleton-from-bg: theme('colors.neutral.200/80');
  --emr-skeleton-from-to: theme('colors.neutral.300/70');

  @apply flex flex-wrap w-full gap-[var(--emr-skeleton-gap)];

  &.is-direction-col {
    @apply flex-col;
  }

  &.is-direction-row {
    @apply flex-row;
  }
}

:host-context(html.dark) {
  --emr-skeleton-from-bg: theme('colors.neutral.500/80');
  --emr-skeleton-from-to: theme('colors.neutral.600/70');
}
