:host {
  --emr-skeleton-gap: theme('gap.4');
  --emr-skeleton-item-border-radius: theme('borderRadius.2xl');
  --emr-skeleton-from-bg: theme('colors.neutral.200/80');
  --emr-skeleton-from-to: theme('colors.neutral.300/70');

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--emr-skeleton-gap);

  &.is-direction-col {
    flex-direction: column;
  }

  &.is-direction-row {
    flex-direction: row;
  }
}

:host-context(html.dark) {
  --emr-skeleton-from-bg: theme('colors.neutral.500/80');
  --emr-skeleton-from-to: theme('colors.neutral.600/70');
}
