<app-page>
  <div appPageContent>
    <h1>Thumbnail Maker</h1>
    <h3>Basic thumbnail maker</h3>
    <emr-playground exampleUrl="_docs/components/thumbnail-maker/_examples" exampleName="basic-thumbnail-maker">
      <app-basic-thumbnail-maker></app-basic-thumbnail-maker>
    </emr-playground>

    <h3>Thumbnail maker with helper text</h3>
    <emr-playground exampleUrl="_docs/components/thumbnail-maker/_examples" exampleName="thumbnail-maker-with-helper-text-example">
      <app-thumbnail-maker-with-helper-text-example></app-thumbnail-maker-with-helper-text-example>
    </emr-playground>
  </div>
</app-page>
