:host {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex: none;
  user-select: none;
  width: var(--emr-tab-panel-item-width);
  height: var(--emr-tab-panel-item-height);
  padding: var(--emr-tab-panel-item-padding);
  border-radius: var(--emr-tab-panel-item-border-radius);
  color: var(--emr-tab-panel-item-color);
  gap: var(--emr-tab-panel-item-gap);
}

:host(:not(.is-active):hover) {
  background: var(--emr-tab-panel-item-hover-bg);
  color: var(--emr-tab-panel-item-hover-color);
}

:host(.is-active) {
  background: var(--emr-tab-panel-item-active-bg);
  color: var(--emr-tab-panel-item-active-color);
}

:host .icon {
  line-height: 0;
  display: inline-block;
}

:host .icon:empty {
  display: none;
}
