:host {
  display: inline-flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 3.5);
  min-height: calc(var(--spacing) * 8);

  .color {
    --emr-brand-colors-item-color: transparent;
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    border-radius: calc(infinity * 1px);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    position: relative;
    background: var(--emr-brand-colors-item-color);
    line-height: 1;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    &:hover {
      scale: 1.05;
    }

    &.is-selected {
      outline-offset: 2px;
      outline-color: var(--emr-brand-colors-item-color);
      outline-style: solid;
    }
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 60%;
  }
}
