<div class="grid grid-cols-2 gap-6 w-2/3">
  <div class="col-span-1">
    <mat-form-field class="w-full">
      <mat-label>Meeting date</mat-label>
      <input matInput [matDatepicker]="datepicker" [(ngModel)]="value">
      <mat-datepicker #datepicker/>
      <mat-datepicker-toggle [for]="datepicker" matSuffix/>
    </mat-form-field>
  </div>
  <div class="col-span-1">
    <mat-form-field class="w-full">
      <mat-label>Meeting time</mat-label>
      <input matInput
             [matTimepicker]="timepicker"
             [(ngModel)]="value"
             [ngModelOptions]="{updateOn: 'blur'}">
      <mat-timepicker #timepicker/>
      <mat-timepicker-toggle [for]="timepicker" matSuffix/>
    </mat-form-field>
  </div>
</div>

<p>Value: {{value}}</p>
