<app-page>
  <div appPageContent>
    <h1>Radio</h1>

    <h3 class="mat-title-large" id="basic-radio">Basic Radios</h3>
    <emr-playground exampleUrl="_docs/forms/radio/_examples" exampleName="basic-radio-example">
      <app-basic-radio-example/>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/radio/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
