<emr-segmented selectedValue="monthly">
  <button emr-segmented-button value="daily">
    <mat-icon emrSegmentedIcon class="font-icon text-xl">calendar_today</mat-icon>
    Daily
  </button>
  <button emr-segmented-button value="weekly">
    <mat-icon emrSegmentedIcon class="font-icon text-xl">event</mat-icon>
    Weekly
  </button>
  <button emr-segmented-button value="monthly">
    <mat-icon emrSegmentedIcon class="font-icon text-xl">calendar_month</mat-icon>
    Monthly
  </button>
</emr-segmented>
