<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Color Picker</h1>

      <h2>Basic color picker</h2>
      <emr-playground>
        <app-basic-color-picker-example></app-basic-color-picker-example>
      </emr-playground>

      <h2>Color picker with popover</h2>
      <emr-playground>
        <app-color-picker-with-popover-example></app-color-picker-with-popover-example>
      </emr-playground>

      <h2>Input with color picker</h2>
      <emr-playground>
        <app-input-with-color-picker-example></app-input-with-color-picker-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
