<app-page>
  <div appPageContent>
    <h1>Block state</h1>

    <p>
      <strong>Block state</strong> - Angular component for status screens, result screens and zero screens.
    </p>

    <h3 class="mat-title-large">Basic block state</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="basic-block-state-example">
      <app-basic-block-state-example></app-basic-block-state-example>
    </emr-playground>

    <h3 class="mat-title-large">Block state with image</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-image-example">
      <app-block-state-with-image-example></app-block-state-with-image-example>
    </emr-playground>

    <h3 class="mat-title-large">Block state with icon</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-icon-example">
      <app-block-state-with-icon-example></app-block-state-with-icon-example>
    </emr-playground>

    <h3 class="mat-title-large">Block state with actions</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-actions-example">
      <app-block-state-with-actions-example></app-block-state-with-actions-example>
    </emr-playground>
  </div>
</app-page>
