<app-page>
  <div appPageContent>
    <div class="mat-typography mb-10">
      <h1>Block state</h1>

      <p>
        Got an empty page with no content to show? <strong>Block state</strong> has you covered!
        This handy Angular Material component lets you add custom messages, visuals, or placeholders to make those
        empty states look polished and purposeful.
      </p>

      <p>
        No more boring "nothing here" vibes—give your users a better experience with just a few lines of code.
      </p>

      <ul class="list-disc ms-4">
        <li>Super easy to set up and customize.</li>
        <li>Works great with Angular Material and Tailwind.</li>
        <li>Responsive and user-friendly right out of the box.</li>
        <li>Perfect for dashboards, lists and empty screens.</li>
      </ul>
    </div>

    <h3 class="mat-title-large">Basic block state</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="basic-block-state-example">
      <app-basic-block-state-example/>
    </emr-playground>

    <h3 class="mat-title-large">Block state with image</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-image-example">
      <app-block-state-with-image-example/>
    </emr-playground>

    <h3 class="mat-title-large">Block state with icon</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-icon-example">
      <app-block-state-with-icon-example/>
    </emr-playground>

    <h3 class="mat-title-large">Block state with custom icon</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-custom-icon-example">
      <app-block-state-with-custom-icon-example/>
    </emr-playground>

    <h3 class="mat-title-large">Block state with actions</h3>
    <emr-playground exampleUrl="_docs/components/block-state/_examples" exampleName="block-state-with-actions-example">
      <app-block-state-with-actions-example/>
    </emr-playground>
  </div>
</app-page>
