<div class="flex items-center justify-center">
  <button mat-icon-button (click)="previousClicked('year')">
    <mat-icon class="font-icon">keyboard_double_arrow_left</mat-icon>
  </button>
  <button mat-icon-button (click)="previousClicked('month')">
    <mat-icon class="font-icon">keyboard_arrow_left</mat-icon>
  </button>
  <span class="py-5 px-3">{{ periodLabel }}</span>
  <button mat-icon-button (click)="nextClicked('month')">
    <mat-icon class="font-icon">keyboard_arrow_right</mat-icon>
  </button>
  <button mat-icon-button (click)="nextClicked('year')">
    <mat-icon class="font-icon">keyboard_double_arrow_right</mat-icon>
  </button>
</div>
