<app-page>
  <div appPageContent>
    <h1>Comment Editor</h1>

    <h3 class="mat-title-large">Basic comment editor</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="basic-comment-editor-example">
      <app-basic-comment-editor-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with toolbar that always visible</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-with-toolbar-example">
      <app-comment-editor-with-toolbar-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with cancel button always visible</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-cancel-button-always-visible-example">
      <app-comment-editor-cancel-button-always-visible-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with custom button labels</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-custom-button-labels-example">
      <app-comment-editor-custom-button-labels-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with full view mode</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-with-full-view-mode-example">
      <app-comment-editor-with-full-view-mode-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with upload error</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-with-upload-error-example">
      <app-comment-editor-with-upload-error-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with max content height</h3>
    <p>
      By default, <code>emr-comment-editor</code> component has no fixed height and grows in accordance with the content, you can
      limit the maximum height using the css property <code>--emr-comment-editor-content-max-height</code>.
    </p>
    <p>
      Just specify the value in pixels and a scroll will appear when the specified size is reached.
    </p>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-with-max-content-height-example">
      <app-comment-editor-with-max-content-height-example/>
    </emr-playground>

    <h3 class="mat-title-large">Comment editor with custom icons</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples"
                    exampleName="comment-editor-with-custom-icons-example">
      <app-comment-editor-with-custom-icons-example/>
    </emr-playground>
  </div>
</app-page>
