<app-page>
  <div appPageContent>
    <h1>Chips</h1>

    <h3>Basic Chips</h3>
    <emr-playground exampleUrl="_docs/components/chips/_examples" exampleName="basic-chips-example">
      <app-basic-chips-example></app-basic-chips-example>
    </emr-playground>

    <h3>Chips With Input</h3>
    <emr-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-with-input-example">
      <app-chips-with-input-example></app-chips-with-input-example>
    </emr-playground>

    <h3>Chips Autocomplete</h3>
    <emr-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-autocomplete-example">
      <app-chips-autocomplete-example></app-chips-autocomplete-example>
    </emr-playground>

    <h3>Chips With Icons</h3>
    <emr-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-with-icons-example">
      <app-chips-with-icons-example></app-chips-with-icons-example>
    </emr-playground>

    <h3>Chips Drag and Drop</h3>
    <emr-playground exampleUrl="_docs/components/chips/_examples" exampleName="chips-drag-and-drop-example">
      <app-chips-drag-and-drop-example></app-chips-drag-and-drop-example>
    </emr-playground>
  </div>
</app-page>
