<emr-layout layoutId="root" windowMode>
  <emr-layout-topbar>
    @if (announcement()) {
      <emr-announcement [iconName]="announcement()?.iconName || ''"
                        [variant]="announcement()?.variant || ''"
                        closable
                        (closed)="onClose()">
        {{ announcement()?.message }}
      </emr-announcement>
    }
    <emr-incidents-container/>
  </emr-layout-topbar>
  <emr-layout-sidebar>
    <app-sidebar/>
  </emr-layout-sidebar>
  <emr-layout>
    <emr-layout-header>
      <app-header/>
    </emr-layout-header>
    <emr-layout-body>
      <router-outlet/>
    </emr-layout-body>
  </emr-layout>
</emr-layout>
