<div class="flex items-center justify-center h-full py-20">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <div class="relative">
          <h1 class="relative text-[200px] leading-[200px] tracking-tighter-less text-shadow font-bold">
            <span>4</span><span>0</span><span>1</span>
          </h1>
          <span class="absolute top-0 -ml-14 font-semibold">Oops!</span>
        </div>
        <h5 class="font-semibold -mr-6 mt-2">Unauthorized</h5>
        <p class="mt-5 mb-10 text-sm text-neutral-500">
          This page is not publicly available. To access it, please login first.
        </p>
        <div class="flex gap-5 justify-center">
          <a routerLink="/" mat-flat-button color="tertiary">Go to dashboard</a>
          <a routerLink="/auth/sign-in" mat-stroked-button>Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
