<div class="text-sm font-semibold">Secondary</div>
<div class="mt-3 grid grid-cols-4 gap-8">
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">secondary</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-secondary"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-secondary</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-on-secondary"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">secondary-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-secondary-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-secondary-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-secondary-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">secondary-fixed</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-secondary-fixed"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">secondary-fixed-dim</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-secondary-fixed-dim"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-secondary-fixed</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-on-secondary-fixed"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-secondary-fixed-variant</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-secondary-fixed-variant"></div>
    </div>
  </div>
</div>

<div>

</div>
