<div class="flex flex-wrap h-screen mat-typography">
  <div class="flex w-full flex-col md:w-1/2 h-screen">
    <div>
      <a emr-logo routerLink="/" class="mt-7 ms-8">ELEMENTAR</a>
    </div>
    <div class="grow px-10 md:px-20 mt-36 overflow-y-auto">
      <emr-stepper #stepper="emrStepper" linear>
        <emr-step [stepControl]="steps()[0]">
          <h1 class="mat-headline-2 -ms-0.5">How are you planning to use Elementar?</h1>
          <p class="text-sm mt-3 text-neutral-500">
            Your choice will help us customize your experience.
          </p>
          <form class="-ms-2 mt-14" [formGroup]="steps()[0]">
            <mat-radio-group formControlName="usageType" class="flex flex-col gap-3">
              @for (usageType of usageTypes(); track usageType.type) {
                <mat-radio-button [value]="usageType.type">{{ usageType.name }}</mat-radio-button>
                @if (steps()[0].value.usageType === 'work' && usageType.type === 'work') {
                  <div class="bg-surface-container ms-11 p-5 rounded-2xl">
                    <div class="font-bold text-xs">What type of work do you do?</div>
                    <div class="mt-3 flex gap-3">
                      @for (workType of workTypes(); track workType.type) {
                        <button class="border border-default hover:outline-2 hover:outline-primary cursor-pointer
                                  bg-surface-container-lowest py-2 px-3.5 rounded-full text-sm
                                  [&.is-active]:outline-2 [&.is-active]:outline-primary"
                                [class.is-active]="steps()[0].value.workType === workType.type"
                                (click)="selectWorkType(steps()[0], workType.type)">
                          {{ workType.name }}
                        </button>
                      }
                    </div>
                  </div>
                }
              }
            </mat-radio-group>
          </form>
        </emr-step>
        <emr-step [stepControl]="steps()[1]">
          <h1 class="mat-headline-2 -ms-0.5">What would you like to name your Workspace?</h1>
          <p class="text-sm mt-3 text-neutral-500">
            Your Workspace is where you can find all your videos and discover looms from your team.
          </p>
          <form class="mt-14 w-full" [formGroup]="steps()[1]">
            <mat-form-field class="w-full">
              <mat-label>Workspace name</mat-label>
              <input type="text" matInput formControlName="workspaceName">
              <mat-hint>Change the name of your workspace</mat-hint>
            </mat-form-field>
          </form>
        </emr-step>
      </emr-stepper>
    </div>
    <div class="h-24 flex-none flex items-start pt-4 justify-between px-10 md:px-20">
      <div class="w-50">
        <div class=" mb-1.5">Step {{ stepper.selectedIndex() + 1 }} of {{ stepper.stepsCount() }}</div>
        <mat-progress-bar mode="determinate" [value]="stepper.progressPercent()"></mat-progress-bar>
      </div>
      @if (stepper.isLastStep()) {
        <button mat-flat-button [disabled]="!stepper.selected()?.isValid()">Finish</button>
      } @else {
        <button mat-flat-button
                [disabled]="!stepper.selected()?.isValid()"
                (click)="stepper.next()">Continue</button>
      }

    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen flex items-center
              justify-center select-none bg-surface-container md:flex md:w-1/2">
    <img class="z-1 max-w-[80%] w-full" src="assets/onboarding/step1.svg" alt="Onboarding">
  </div>
</div>
