<app-page>
  <div appPageContent>
    <h1>Popover</h1>

    <h3>Basic Popover</h3>
    <emr-playground exampleUrl="_docs/components/popover/_examples" exampleName="basic-popover-example">
      <app-basic-popover-example></app-basic-popover-example>
    </emr-playground>

    <h3>Show popover by hover</h3>
    <emr-playground exampleUrl="_docs/components/popover/_examples" exampleName="popover-hover-example">
      <app-popover-hover-example></app-popover-hover-example>
    </emr-playground>

    <h3>Popover custom position</h3>
    <emr-playground exampleUrl="_docs/components/popover/_examples" exampleName="popover-with-custom-position-example">
      <app-popover-with-custom-position-example></app-popover-with-custom-position-example>
    </emr-playground>
  </div>
</app-page>
