<div class="py-9 px-10">
  <div class="max-w-[960px] mx-auto">
    <h1 class="text-lg font-bold mb-7">Cookie Preferences</h1>
    <div class="text-sm leading-relaxed">
      When you visit any website, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not usually directly identify you, but it can give you a more personalized web experience. Because we respect your right to privacy, you can choose not to allow some types of cookies. Click on the different category headings to find out more and change our default settings. However, blocking some types of cookies may impact your experience of the site and the services we are able to offer.
    </div>
    <h3 class="text-lg font-bold mt-10 mb-7">Manage Consent Preferences</h3>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-sm font-semibold">
              Strictly Necessary Cookies
            </mat-panel-title>
            <mat-panel-description>
              <div class="font-semibold text-sm text-primary-500 ms-auto">Always Active</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-xs leading-relaxed">
            These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-sm font-semibold">
              Functional Cookies
            </mat-panel-title>
            <mat-panel-description>
              <div class="ms-auto">
                <mat-slide-toggle></mat-slide-toggle>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-xs leading-relaxed">
            These cookies enable the website to provide enhanced functionality and personalisation. They may be set by us or by third party providers whose services we have added to our pages. If you do not allow these cookies then some or all of these services may not function properly.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-sm font-semibold">
              Targeting Cookies
            </mat-panel-title>
            <mat-panel-description>
              <div class="ms-auto">
                <mat-slide-toggle></mat-slide-toggle>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-xs leading-relaxed">
            These cookies may be set through our site by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-sm font-semibold">
              Performance Cookies
            </mat-panel-title>
            <mat-panel-description>
              <div class="ms-auto">
                <mat-slide-toggle></mat-slide-toggle>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-xs leading-relaxed">
            These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site, and will not be able to monitor its performance.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
