<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Segmented</h1>

      <h2 id="basic-radio">Basic Segmented</h2>
      <emr-playground>
        <app-basic-segmented-example></app-basic-segmented-example>
      </emr-playground>

      <h2 id="basic-radio">Segmented Sizes</h2>
      <emr-playground>
        <app-segmented-sizes-example></app-segmented-sizes-example>
      </emr-playground>

      <h2 id="basic-radio">Segmented Disabled</h2>
      <emr-playground>
        <app-segmented-disabled-example></app-segmented-disabled-example>
      </emr-playground>

      <h2 id="basic-radio">Segmented with Icons</h2>
      <emr-playground>
        <app-segmented-with-icons-example></app-segmented-with-icons-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
