<app-page>
  <div appPageContent>
    <h1>Segmented</h1>

    <h3>Basic Segmented</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="basic-segmented-example">
      <app-basic-segmented-example></app-basic-segmented-example>
    </emr-playground>

    <h3>Segmented Sizes</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-sizes-example">
      <app-segmented-sizes-example></app-segmented-sizes-example>
    </emr-playground>

    <h3>Segmented Disabled</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-disabled-example">
      <app-segmented-disabled-example></app-segmented-disabled-example>
    </emr-playground>

    <h3>Segmented with Icons</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-with-icons-example">
      <app-segmented-with-icons-example></app-segmented-with-icons-example>
    </emr-playground>

    <h3>Segmented with simple theme</h3>
    <emr-playground exampleUrl="_docs/forms/segmented/_examples" exampleName="segmented-simple-theme-example">
      <app-segmented-simple-theme-example></app-segmented-simple-theme-example>
    </emr-playground>
  </div>
</app-page>
