<div class="border bg-white dark:bg-dark dark:border-inverse rounded-lg relative">
  <div class="p-7">
    @defer {
      <ng-content></ng-content>
    } @loading {
      Loading...
    }
  </div>
  @if (showSource) {
    @if (exampleLoading) {
      <div class="border-t dark:border-t-neutral-600 text-sm p-4">Loading...</div>
    } @else {
      <div class="border-t dark:border-t-neutral-600">
        <markdown #markdownRef [data]="src" class="playground-markdown"
                  [clipboardButtonTemplate]="clipboardButtonTemplate"></markdown>
      </div>
    }
  }

  <div class="border-t h-12 dark:border-t-neutral-600 relative flex items-center justify-center gap-1 px-2 text-center bg-neutral-50 rounded-b-lg dark:bg-neutral-700">
    @if (showSource) {
      <div class="flex items-center gap-2 absolute start-3 top-1/2 -translate-y-1/2">
        @if (htmlSrc) {
          <div class="rounded-full hover:bg-neutral-200 border px-2.5 py-1 text-sm cursor-pointer
                      [&.active]:text-white [&.active]:bg-primary [&.active]:border-primary
                      dark:hover:bg-neutral-400 dark:hover:border-neutral-400
                      dark:border-neutral-400 dark:text-white"
               [class.active]="isCurrentTab('html')" (click)="selectTab('html')">HTML</div>
        }

        @if (tsSrc) {
          <div class="rounded-full hover:bg-neutral-200 border px-2.5 py-1 text-sm cursor-pointer
                      [&.active]:text-white [&.active]:bg-primary [&.active]:border-primary
                      dark:hover:bg-neutral-400 dark:hover:border-neutral-400
                      dark:border-neutral-400 dark:text-white"
               [class.active]="isCurrentTab('ts')" (click)="selectTab('ts')">TS</div>
        }

        @if (cssSrc) {
          <div class="rounded-full hover:bg-neutral-200 border px-2.5 py-1 text-sm cursor-pointer
                      [&.active]:text-white [&.active]:bg-primary [&.active]:border-primary
                      dark:hover:bg-neutral-400 dark:hover:border-neutral-400
                      dark:border-neutral-400 dark:text-white"
               [class.active]="isCurrentTab('css')" (click)="selectTab('css')">CSS</div>
        }
      </div>
    }

    <button mat-icon-button (click)="toggleSource()">
      <mat-icon class="font-icon">code</mat-icon>
    </button>

    @if (hasScr && showSource) {
      <button mat-icon-button (click)="contentCopy()">
        <mat-icon class="font-icon">content_copy</mat-icon>
      </button>
    }
  </div>
</div>

<ng-template #clipboardButtonTemplate>
  <button mat-icon-button color="accent" (click)="contentCopy()">
    <mat-icon class="font-icon">content_copy</mat-icon>
  </button>
</ng-template>
