<emr-panel class="h-full">
  <emr-panel-header class="h-16">
    <div class="h-full flex items-center justify-between px-10">
      <div class="flex items-center gap-4">
        <div class="font-bold">Tasks</div>
      </div>
      <div class="flex items-center gap-4">
        <emr-segmented selectedValue="assignedToMe">
          <button emr-segmented-button value="all">All</button>
          <button emr-segmented-button value="assignedToMe">Assigned to me</button>
        </emr-segmented>
        <button mat-stroked-button>
          <mat-icon>add</mat-icon>Invite
        </button>
        <emr-avatar-group>
          <emr-avatar text="am"></emr-avatar>
          <emr-avatar text="ps" class="bg-cyan-500"></emr-avatar>
          <emr-avatar text="br" class="bg-red-500"></emr-avatar>
          <emr-avatar-total>+20</emr-avatar-total>
        </emr-avatar-group>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </emr-panel-header>
  <emr-panel-body class="relative">
    <div class="h-full absolute inset-0 overflow-auto flex gap-5 px-10" cdkDropListGroup>
      <div class="grid grid-flow-col auto-cols-max gap-5">
        @for (column of columns; track column) {
          <div class="h-full pb-5">
            <div class="flex flex-col gap-3 h-full">
              <div class="h-10 flex gap-2 items-center justify-between flex-none sticky top-0 z-[1] bg-background">
                <div class="flex gap-2 items-center uppercase text-sm">
                  @if (column.color) {
                    <div class="size-3 rounded-full" [style.background-color]="column.color"></div>
                  }
                  {{ column.name }} ({{ column.items.length }})
                </div>
                <button mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="bg-surface-container-low grow w-72 flex-none rounded-2xl p-3 flex flex-col gap-3"
                   cdkDropList [cdkDropListData]="column.items" (cdkDropListDropped)="drop($event)">
                @for (item of column.items; track item) {
                  <div class="bg-surface-container-lowest rounded-2xl p-3 shadow-sm cursor-pointer hover:bg-surface-container-lowest"
                       cdkDrag [cdkDragData]="item" matRipple>
                    <div class="font-medium text-sm">{{ item.name }}</div>
                    <div class="flex items-center justify-between mt-3.5">
                      <emr-dicebear [key]="item.assignee.id" class="size-7"/>
                      <mat-icon [style.color]="item.priority.color" class="filled">flag</mat-icon>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </emr-panel-body>
</emr-panel>
