:host {
  --emr-kanban-board-col-width: theme('width.72');
  --header-translate-x: translate(0, 0);

  //.header-container {
  //  transform: var(--header-translate-x);
  //}

  .cdk-drag-placeholder {
    @apply opacity-60;
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
