<emr-panel class="h-full">
  <emr-panel-header class="h-16">
    <div class="h-full flex items-center justify-between px-10">
      <div class="flex items-center gap-4">
        <div class="font-bold">Tasks</div>
      </div>
      <div class="flex items-center gap-4">
        <emr-segmented selectedValue="assignedToMe">
          <button emr-segmented-button value="all">All</button>
          <button emr-segmented-button value="assignedToMe">Assigned to me</button>
        </emr-segmented>
        <button mat-stroked-button>
          <mat-icon>add</mat-icon>Invite
        </button>
        <emr-avatar-group>
          <emr-avatar text="am"></emr-avatar>
          <emr-avatar text="ps" class="bg-cyan-500"></emr-avatar>
          <emr-avatar text="br" class="bg-red-500"></emr-avatar>
          <emr-avatar-total>+20</emr-avatar-total>
        </emr-avatar-group>
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </emr-panel-header>
  <emr-panel-body>
    <emr-panel class="h-full">
      <emr-panel-header class="overflow-hidden px-10">
        <div class="flex flex-nowrap gap-5 h-full items-center header-container" #headerContainer>
          @for (column of columns; track column) {
            <div class="h-full w-[var(--emr-kanban-board-col-width)] flex gap-2 items-center
                        justify-between flex-none [&.has-vertical-scroll]:border-b"
                 [class.has-vertical-scroll]="_hasVerticalScroll">
              <div class="flex gap-2 items-center uppercase text-sm">
                @if (column.color) {
                  <div class="size-3 rounded-full" [style.background-color]="column.color"></div>
                }
                {{ column.name }} ({{ column.items.length }})
              </div>
              <button mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          }
        </div>
      </emr-panel-header>
      <emr-panel-body class="relative overflow-hidden">
        <div #scrollContainer class="h-full absolute overflow-auto inset-0 flex gap-5 px-10 items-baseline"
             (scroll)="onScroll($event)">
          <div class="flex gap-5 flex-nowrap pb-5" cdkDropListGroup>
            @for (column of columns; track column) {
              <div class="w-[var(--emr-kanban-board-col-width)] bg-surface-container-low flex-none rounded-2xl p-3 flex flex-col gap-3"
                   cdkDropList [cdkDropListData]="column.items" (cdkDropListDropped)="drop($event)">
                @for (item of column.items; track item) {
                  <div class="bg-surface-container-lowest flex-none rounded-2xl p-3 shadow-sm cursor-pointer hover:bg-surface-container-lowest"
                       cdkDrag [cdkDragData]="item" matRipple>
                    <div class="font-medium text-sm">{{ item.name }}</div>
                    <div class="flex items-center justify-between mt-3.5">
                      <emr-dicebear [key]="item.assignee.id" class="size-7"/>
                      <mat-icon [style.color]="item.priority.color" class="filled">flag</mat-icon>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </emr-panel-body>
    </emr-panel>
  </emr-panel-body>
</emr-panel>
