<div class="space-y-8">
  <div>
    <emr-segmented selectedValue="monthly" size="sm">
      <emr-segmented-button value="daily">Daily</emr-segmented-button>
      <emr-segmented-button value="weekly">Weekly</emr-segmented-button>
      <emr-segmented-button value="monthly">Monthly</emr-segmented-button>
    </emr-segmented>
  </div>
  <div>
    <emr-segmented selectedValue="monthly">
      <emr-segmented-button value="daily">Daily</emr-segmented-button>
      <emr-segmented-button value="weekly">Weekly</emr-segmented-button>
      <emr-segmented-button value="monthly">Monthly</emr-segmented-button>
    </emr-segmented>
  </div>
  <div>
    <emr-segmented selectedValue="monthly" size="lg">
      <emr-segmented-button value="daily">Daily</emr-segmented-button>
      <emr-segmented-button value="weekly">Weekly</emr-segmented-button>
      <emr-segmented-button value="monthly">Monthly</emr-segmented-button>
    </emr-segmented>
  </div>
</div>
