<div class="space-y-8">
  <div>
    <emr-segmented selectedValue="monthly" size="sm">
      <button emr-segmented-button value="daily">Daily</button>
      <button emr-segmented-button value="weekly">Weekly</button>
      <button emr-segmented-button value="monthly">Monthly</button>
    </emr-segmented>
  </div>
  <div>
    <emr-segmented selectedValue="monthly">
      <button emr-segmented-button value="daily">Daily</button>
      <button emr-segmented-button value="weekly">Weekly</button>
      <button emr-segmented-button value="monthly">Monthly</button>
    </emr-segmented>
  </div>
  <div>
    <emr-segmented selectedValue="monthly" size="lg">
      <button emr-segmented-button value="daily">Daily</button>
      <button emr-segmented-button value="weekly">Weekly</button>
      <button emr-segmented-button value="monthly">Monthly</button>
    </emr-segmented>
  </div>
</div>
