<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Menu</h1>

      <h3>Basic Menu</h3>
      <emr-playground>
        <app-basic-menu-example></app-basic-menu-example>
      </emr-playground>

      <h3>Menu With Icons</h3>
      <emr-playground>
        <app-menu-with-icons-example></app-menu-with-icons-example>
      </emr-playground>

      <h3>Nested Menu</h3>
      <emr-playground>
        <app-nested-menu-example></app-nested-menu-example>
      </emr-playground>

      <h3>Menu Positioning</h3>
      <emr-playground>
        <app-menu-positioning-example></app-menu-positioning-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
