<emr-tab-panel activeItemId="home" class="h-[500px] border-t dark:border-t-neutral-600
  border-b dark:border-b-neutral-600 border-s dark:border-s-neutral-600">
  <emr-tab-panel-nav>
    <emr-tab-panel-item for="home">
      <mat-icon emrTabPanelItemIcon class="material-symbols-outlined">home</mat-icon>
      <emr-tab-panel-item-text>Home</emr-tab-panel-item-text>
    </emr-tab-panel-item>
    <emr-tab-panel-item for="code">
      <mat-icon emrTabPanelItemIcon class="material-symbols-outlined">code</mat-icon>
      <emr-tab-panel-item-text>Code</emr-tab-panel-item-text>
    </emr-tab-panel-item>
  </emr-tab-panel-nav>
  <emr-tab-panel-aside>
    <ng-template emrTabPanelAsideContent="home">
      <emr-panel>
        <emr-panel-header class="border-b dark:border-b-neutral-600 flex items-center px-4">Home Header</emr-panel-header>
        <emr-panel-body class="p-4">
          <div class="h-[1000px]">Home Content</div>
        </emr-panel-body>
        <emr-panel-footer class="border-t dark:border-t-neutral-600 flex items-center px-4">Footer</emr-panel-footer>
      </emr-panel>
    </ng-template>
    <ng-template emrTabPanelAsideContent="code">
      <emr-panel>
        <emr-panel-header class="border-b dark:border-b-neutral-600 flex items-center px-4">Code Header</emr-panel-header>
        <emr-panel-body class="p-4">
          <div class="h-[1000px]">Code Content</div>
        </emr-panel-body>
        <emr-panel-footer class="border-t dark:border-t-neutral-600 flex items-center px-4">Footer</emr-panel-footer>
      </emr-panel>
    </ng-template>
  </emr-tab-panel-aside>
</emr-tab-panel>
