:host {
  display: block;
  width: max-content;
  background-color: var(--color-primary-100);
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);

  emr-rail-nav {
    --emr-rail-nav-bg-item-icon-hover-bg: var(--color-neutral-300);
    --emr-rail-nav-bg-item-icon-active-bg: var(--color-neutral-300);
    --emr-rail-nav-bg-item-icon-is-active-bg: var(--color-tertiary-300);
    --emr-rail-nav-bg-item-icon-is-active-active-bg: var(--color-tertiary-400);
  }
}

:host-context(html.dark) {
  background-color: var(--color-neutral-700);

  emr-rail-nav {
    --emr-rail-nav-bg-item-icon-is-active-bg: var(--color-tertiary-300);
    --emr-rail-nav-bg-item-icon-is-active-active-bg: var(--color-tertiary-400);
    --emr-rail-nav-bg-item-icon-hover-bg: var(--color-neutral-600);
    --emr-rail-nav-bg-item-icon-active-bg: var(--color-neutral-500);
  }
}
