:host {
  --emr-mchart-line-line-bg: theme('colors.primary.DEFAULT');
  --emr-mchart-line-area-bg: theme('colors.primary.200');
  --emr-mchart-line-marker-line-bg: theme('colors.neutral.DEFAULT');
  --emr-mchart-line-marker-dot-bg: theme('colors.primary.DEFAULT');
  --emr-mchart-line-area-gradient-start-color: theme('colors.primary.400/80');
  --emr-mchart-line-area-gradient-end-color: theme('colors.background');

  @apply block overflow-hidden;

  svg {
    @apply size-full;
  }

  ::ng-deep {
    .line {
      stroke: var(--emr-mchart-line-line-bg);
      fill: none;
      stroke-linejoin: round;
      stroke-linecap: round;
    }

    .area {
      stroke-width: 0;
    }

    .marker-line {
      stroke: var(--emr-mchart-line-marker-line-bg);
      stroke-width: 1;
      stroke-dasharray: 3;
    }

    .marker-dot {
      fill: var(--emr-mchart-line-marker-dot-bg);
    }
  }

  &:not(.fill-area-gradient) {
    ::ng-deep {
      .area {
        fill: var(--emr-mchart-line-area-bg);
      }
    }
  }

  &.fill-area-gradient {
    .lg-start-color {
      stop-color: var(--emr-mchart-line-area-gradient-start-color);
    }

    .lg-end-color {
      stop-color: var(--emr-mchart-line-area-gradient-end-color);
    }
  }
}

:host-context(html.dark) {
  --emr-mchart-line-area-bg: theme('colors.neutral.700');
  --emr-mchart-line-area-gradient-start-color: theme('colors.neutral.700');
}
