<app-page>
  <div appPageContent>
    <h1>Slider</h1>

    <h3>Basic Slider</h3>
    <emr-playground exampleUrl="_docs/components/slider/_examples" exampleName="basic-slider-example">
      <app-basic-slider-example></app-basic-slider-example>
    </emr-playground>

    <h3>Custom Thumb Label Formatting</h3>
    <emr-playground exampleUrl="_docs/components/slider/_examples" exampleName="custom-thumb-label-formatting-example">
      <app-custom-thumb-label-formatting-example></app-custom-thumb-label-formatting-example>
    </emr-playground>

    <h3>Range Slider</h3>
    <emr-playground exampleUrl="_docs/components/slider/_examples" exampleName="range-slider-example">
      <app-range-slider-example></app-range-slider-example>
    </emr-playground>

    <h3>Configurable Slider</h3>
    <emr-playground exampleUrl="_docs/components/slider/_examples" exampleName="configurable-slider-example">
      <app-configurable-slider-example></app-configurable-slider-example>
    </emr-playground>
  </div>
</app-page>
