<div emrImageViewer class="flex items-start gap-7 flex-wrap not-mat-typography">
  <div emrImageViewerPicture
       sourceUrl="https://lipsum.app/id/40/1600x900"
       class="size-32 flex items-center justify-center border dark:border-inverse p-2 rounded">
    <img src="https://lipsum.app/id/40/400x300" alt="" class="rounded bg-cover cursor-pointer">
    <ng-template emrImageViewerPictureTitle>Just Title</ng-template>
  </div>
  <div emrImageViewerPicture sourceUrl="https://lipsum.app/id/41/1600x900"
       class="size-32 flex items-center justify-center border dark:border-inverse p-2 rounded">
    <img src="https://lipsum.app/id/41/400x300" alt="" class="rounded bg-cover cursor-pointer">
    <ng-template emrImageViewerPictureTitle>Author: Pavel Salauyou</ng-template>
    <ng-template emrImageViewerPictureCaption>Awesome Picture</ng-template>
    <ng-template emrImageViewerPictureDescription>
      Advancing to the 1960s, Lorem Ipsum was made popular by typeface manufacturer Letraset,
      who used it in their advertising campaigns. Letraset offered pages of Lorem Ipsum as rub down
      transfer sheets, which were widely used in the pre-computer era for layouts.
      These transfer pages, known as Letraset Body Type, were featured in the company's advertising and their popular catalogue.
    </ng-template>
  </div>
  <div emrImageViewerPicture sourceUrl="https://lipsum.app/id/42/900x1600"
       class="size-32 flex items-center justify-center overflow-hidden border dark:border-inverse p-2 rounded">
    <img src="https://lipsum.app/id/42/300x400" alt="" class="rounded bg-cover max-h-full cursor-pointer">
    <ng-template emrImageViewerPictureTitle>Cool Image</ng-template>
  </div>
</div>
