<app-page>
  <div appPageContent>
    <h1>Tree</h1>

    <h3 class="mat-title-large">Basic tree</h3>
    <emr-playground exampleUrl="_docs/components/tree/_examples" exampleName="basic-tree-example">
      <app-basic-tree-example></app-basic-tree-example>
    </emr-playground>

    <h3 class="mat-title-large">Tree with dynamic data</h3>
    <emr-playground exampleUrl="_docs/components/tree/_examples" exampleName="tree-with-dynamic-data-example">
      <app-tree-with-dynamic-data-example></app-tree-with-dynamic-data-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/tree/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
