<app-page>
  <div appPageContent>
    <h1>Data View</h1>

    <p>
      The Angular <strong>Data View</strong> component simplifies the presentation of tabular data in Angular applications, offering
      essential features for enhanced user experience. It seamlessly integrates with Angular's data binding to display
      real-time data updates and allows users to easily sort columns, apply flexible filters,
      and navigate through large datasets with pagination. Developers can customize the appearance and
      layout of data using customizable templates, ensuring optimal viewing across devices with responsive design principles.
    </p>

    <p>
      Interactive features like row selection and hover effects enhance user interaction, while adherence to web accessibility
      standards ensures inclusivity for all users. Overall, the Elementar Data View component streamlines data presentation,
      empowering developers to create intuitive and visually appealing data tables in Angular applications.
    </p>

    <h3>Basic data view</h3>
    <emr-playground exampleUrl="_docs/components/dataview/_examples" exampleName="basic-dataview-example">
      <app-basic-dataview-example></app-basic-dataview-example>
    </emr-playground>

    <h3>Data view with selection</h3>
    <emr-playground exampleUrl="_docs/components/dataview/_examples" exampleName="dataview-with-selection-example">
      <app-dataview-with-selection-example></app-dataview-with-selection-example>
    </emr-playground>

    <h3>Data view with pagination</h3>
    <emr-playground exampleUrl="_docs/components/dataview/_examples" exampleName="data-view-with-pagination-example">
      <app-data-view-with-pagination-example></app-data-view-with-pagination-example>
    </emr-playground>

    <h3>Data view with sorting</h3>
    <emr-playground exampleUrl="_docs/components/dataview/_examples" exampleName="data-view-with-sorting-example">
      <app-data-view-with-sorting-example></app-data-view-with-sorting-example>
    </emr-playground>

    <h3>Data view with highlight header</h3>
    <emr-playground exampleUrl="_docs/components/dataview/_examples" exampleName="data-view-hl-header-example">
      <app-data-view-hl-header-example></app-data-view-hl-header-example>
    </emr-playground>

    <h3>Data view with custom cell renderers</h3>
    <emr-playground exampleUrl="_docs/components/dataview/_examples" exampleName="data-view-custom-cell-renderers-example">
      <app-data-view-custom-cell-renderers-example></app-data-view-custom-cell-renderers-example>
    </emr-playground>
  </div>
</app-page>
