<app-page>
  <div appPageContent>
    <h1>Color Picker</h1>

    <h3 class="mat-title-large">Basic color picker</h3>
    <emr-playground exampleUrl="_docs/components/color-picker/_examples" exampleName="basic-color-picker-example">
      <app-basic-color-picker-example></app-basic-color-picker-example>
    </emr-playground>

    <h3 class="mat-title-large">Color picker with popover</h3>
    <emr-playground exampleUrl="_docs/components/color-picker/_examples" exampleName="color-picker-with-popover-example">
      <app-color-picker-with-popover-example></app-color-picker-with-popover-example>
    </emr-playground>

    <h3 class="mat-title-large">Input with color picker</h3>
    <emr-playground exampleUrl="_docs/components/color-picker/_examples" exampleName="input-with-color-picker-example">
      <app-input-with-color-picker-example></app-input-with-color-picker-example>
    </emr-playground>
  </div>
</app-page>
