<app-page>
  <div appPageContent>
    <h1>Expand</h1>

    <h3 class="mat-title-large">Basic Expand</h3>
    <emr-playground exampleUrl="_docs/components/expand/_examples" exampleName="basic-expand-example">
      <app-basic-expand-example/>
    </emr-playground>

    <h3 class="mat-title-large">Show button if expanded</h3>
    <emr-playground exampleUrl="_docs/components/expand/_examples" exampleName="expand-show-button-if-expanded-example">
      <app-expand-show-button-if-expanded-example/>
    </emr-playground>

    <h3 class="mat-title-large">Custom button labels</h3>
    <emr-playground exampleUrl="_docs/components/expand/_examples" exampleName="expand-custom-button-labels-example">
      <app-expand-custom-button-labels-example/>
    </emr-playground>
  </div>
</app-page>
