<app-page>
  <div appPageContent>
    <h1>Expand</h1>

    <main class="mb-10">
      <p>
        Meet <strong>Expand</strong>, your new favorite Angular Material component! 🚀
      </p>
      <p>
        Tired of long content cluttering your pages? The <strong>Expand</strong> component solves this by automatically
        showing or hiding content when it’s too lengthy. With a sleek,
        Material Design-inspired toggle, users can expand to read more or collapse to keep things tidy.
      </p>
      <div class="my-6">
        <div>Key features:</div>
        <ul class="list-disc ps-4 space-y-3 mt-3">
          <li>
            ✅ <strong>Clean & User-Friendly</strong>: Keeps your design clean while letting users control what they want to see.
          </li>
          <li>
            ✅ <strong>Responsive by Design</strong>: Works perfectly on any screen size.
          </li>
          <li>
            ✅ <strong>Simple Integration</strong>: Plug and play—just add it to your project, no hassle!
          </li>
          <li>
            ✅ <strong>Customizable</strong>: Easily tweak styles and behaviors to fit your app's needs.
          </li>
        </ul>
      </div>
      <p>
        Make your apps smarter and more user-focused with <strong>Expand</strong>! 👌
      </p>
    </main>

    <h3 class="mat-title-large">Basic Expand</h3>
    <emr-playground exampleUrl="_docs/components/expand/_examples" exampleName="basic-expand-example">
      <app-basic-expand-example/>
    </emr-playground>

    <h3 class="mat-title-large">Show button if expanded</h3>
    <emr-playground exampleUrl="_docs/components/expand/_examples" exampleName="expand-show-button-if-expanded-example">
      <app-expand-show-button-if-expanded-example/>
    </emr-playground>

    <h3 class="mat-title-large">Custom button labels</h3>
    <emr-playground exampleUrl="_docs/components/expand/_examples" exampleName="expand-custom-button-labels-example">
      <app-expand-custom-button-labels-example/>
    </emr-playground>

    <h2>API Reference</h2>

    <p>
      <code class="code">emr-expand</code> component - shows and hides blocks with large contents.
    </p>

    <div class="mt-10">
      <p>
        Properties for the <code class="code">emr-expand</code> component.
      </p>

      <mat-tab-group class="my-6">
        <mat-tab label="Properties">
          <div class="border rounded-xl shadow-sm overflow-hidden my-6">
            <table class="emr-table not-mat-typography">
              <thead>
              <tr class="bg-neutral-200 dark:bg-neutral-700">
                <th class="w-1/2">Prop</th>
                <th>Type</th>
                <th>Default</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div>expanded</div>
                  <div class="text-xs text-neutral-500 mt-0.5">Show/Hide block content</div>
                </td>
                <td>boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>
                  <div>color</div>
                  <div class="text-xs text-neutral-500 mt-0.5">Color of a fade</div>
                </td>
                <td>boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>
                  <div>expandLabel</div>
                  <div class="text-xs text-neutral-500 mt-0.5">Label of the expand button if block collapsed</div>
                </td>
                <td>string</td>
                <td>Show more</td>
              </tr>
              <tr>
                <td>
                  <div>collapseLabel</div>
                  <div class="text-xs text-neutral-500 mt-0.5">Label of the expand button if block expanded</div>
                </td>
                <td>string</td>
                <td>Show less</td>
              </tr>
              <tr>
                <td>
                  <div>showButtonIfExpanded</div>
                  <div class="text-xs text-neutral-500 mt-0.5">Show button by hover if block is expanded</div>
                </td>
                <td>boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>
                  <div>height</div>
                  <div class="text-xs text-neutral-500 mt-0.5">Height of a block</div>
                </td>
                <td>string(px)</td>
                <td>&ndash;</td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Events">
          <div class="border rounded-xl shadow-sm overflow-hidden my-6">
            <table class="emr-table not-mat-typography">
              <thead>
              <tr class="bg-neutral-200 dark:bg-neutral-700">
                <th class="w-1/3">Event</th>
                <th>Output type</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>expandedChange</td>
                <td>boolean</td>
                <td>Executed when an expand button clicked</td>
              </tr>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-page>
