:host {
  --emr-content-fade-color: var(--emr-background);
  --emr-content-fade-width: 20%;

  @apply block relative;

  &.position-both,
  &.position-start {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--emr-content-fade-width);
      background: linear-gradient(to left, transparent, var(--emr-content-fade-color));
    }
  }

  &.position-both,
  &.position-end {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: var(--emr-content-fade-width);
      background: linear-gradient(to right, transparent, var(--emr-content-fade-color));
    }
  }
}
