<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Input</h1>

      <h3 id="basic-inputs">Basic Inputs</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="basic-inputs-example">
        <app-basic-inputs-example></app-basic-inputs-example>
      </emr-playground>

      <h3 id="disabled-inputs">Disabled Inputs</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="disabled-example">
        <app-disabled-example></app-disabled-example>
      </emr-playground>

      <h3 id="textarea-autosize">Textarea Autosize</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="textarea-autosize-example">
        <app-textarea-autosize-example></app-textarea-autosize-example>
      </emr-playground>

      <h3 id="clear-button">Clear Button</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="clear-button-example">
        <app-clear-button-example></app-clear-button-example>
      </emr-playground>

      <h3 id="error-messages">Error Messages</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="error-messages-example">
        <app-error-messages-example></app-error-messages-example>
      </emr-playground>

      <h3 id="hints">Input with Hints</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="input-with-hints-example">
        <app-input-with-hints-example></app-input-with-hints-example>
      </emr-playground>

      <h3 id="prefixes-and-suffixes">Input with Prefixes and Suffixes</h3>
      <emr-playground exampleUrl="_docs/forms/input/_examples" exampleName="prefixes-and-suffixes-example">
        <app-prefixes-and-suffixes-example></app-prefixes-and-suffixes-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
