:host {
  @apply h-[var(--emr-segmented-button-height)] p-[var(--emr-segmented-button-padding)] flex-none;
  @apply rounded-[var(--emr-segmented-button-border-radius)] gap-[var(--emr-segmented-button-gap)];
  @apply flex items-center cursor-pointer justify-center text-[var(--emr-segmented-button-color)];
  @apply min-w-[var(--emr-segmented-button-min-width)];
  font-size: var(--emr-segmented-button-font-size);

  &.icon-only {
    --emr-segmented-button-min-width: 0;
    --emr-segmented-button-icon-offset-margin: 0;
    @apply w-[var(--emr-segmented-button-height)] gap-0 p-0;

    .content {
      @apply hidden;
    }
  }

  .icon {
    line-height: 0;
    @apply flex items-center justify-center;
    @apply ms-[var(--emr-segmented-button-icon-offset-margin)];

    ::ng-deep {
      .mat-icon {
        display: inline-flex !important;
        @apply items-center justify-center;
      }
    }
  }

  .icon:empty {
    @apply hidden;
  }

  &:hover {
    @apply bg-[var(--emr-segmented-button-hover-bg)] text-[var(--emr-segmented-button-hover-color)] no-underline;
  }

  &.is-selected {
    @apply pointer-events-none;
    @apply bg-[var(--emr-segmented-button-selected-bg)];
    @apply text-[var(--emr-segmented-button-selected-color)];
    box-shadow: var(--emr-segmented-button-selected-shadow);
  }

  &:disabled,
  &.is-disabled {
    @apply pointer-events-none opacity-65;
  }
}
