<app-page>
  <div appPageContent>
    <h1>Breadcrumbs</h1>

    <h3 class="mat-title-large">Basic breadcrumbs</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="basic-breadcrumbs-example">
      <app-basic-breadcrumbs-example/>
    </emr-playground>

    <h3 class="mat-title-large">Breadcrumbs with icons</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-icons-example">
      <app-breadcrumbs-with-icons-example/>
    </emr-playground>

    <h3 class="mat-title-large">Breadcrumbs with titles</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-titles-example">
      <app-breadcrumbs-with-titles-example/>
    </emr-playground>

    <h3 class="mat-title-large">Breadcrumbs with datasource</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-datasource-example">
      <app-breadcrumbs-with-datasource-example/>
    </emr-playground>

    <h3 class="mat-title-large">Breadcrumbs with last item as link</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-last-item-as-link-example">
      <app-breadcrumbs-with-last-item-as-link-example/>
    </emr-playground>

    <h3 class="mat-title-large">Breadcrumbs global (set breadcrumbs dynamically)</h3>
    <p>
      The <code class="code">emr-breadcrumbs-global</code> component is inserted anywhere in the layout and with
      <code class="code">BreadcrumbsStore</code> you can install and update breadcrumbs dynamically.
    </p>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-global-example">
      <app-breadcrumbs-global-example/>
    </emr-playground>
  </div>
</app-page>
