<app-page>
  <div appPageContent>
    <h1>Widgets</h1>

    <h3>Average click rate widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="avg-click-rate-example">
      <app-avg-click-rate-example/>
    </emr-playground>

    <h3>Average open rate widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="avg-open-rate-example">
      <app-avg-open-rate-example/>
    </emr-playground>

    <h3>Bank account card widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="bank-account-card-example">
      <app-bank-account-card-example/>
    </emr-playground>

    <h3>Bank credit card widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="bank-credit-card-example">
      <app-bank-credit-card-example/>
    </emr-playground>

    <h3>Current plan widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="current-plan-example">
      <app-current-plan-example/>
    </emr-playground>

    <h3>Customer satisfaction widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="customer-satisfaction-example">
      <app-customer-satisfaction-example/>
    </emr-playground>

    <h3>Events widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="events-example">
      <app-events-example/>
    </emr-playground>

    <h3>Exchange widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="exchange-example">
      <app-exchange-example/>
    </emr-playground>

    <h3>My investment widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="my-investments-example">
      <app-my-investments-example/>
    </emr-playground>

    <h3>Payment information widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="payment-information-example">
      <app-payment-information-example/>
    </emr-playground>

    <h3>Purchases by channels widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="purchases-by-channels-example">
      <app-purchases-by-channels-example/>
    </emr-playground>

<!--    <h3>Recent activity widget</h3>-->
<!--    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="recent-activity-example">-->
<!--      <app-recent-activity-example/>-->
<!--    </emr-playground>-->

    <h3>Site visitors widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="site-visitors-example">
      <app-site-visitors-example/>
    </emr-playground>

    <h3>Tasks in progress widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="tasks-in-progress-example">
      <app-tasks-in-progress-example/>
    </emr-playground>

    <h3>Team widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="app-team-example">
      <app-team-example/>
    </emr-playground>

    <h3>Today sales widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="today-sales-example">
      <app-today-sales-example/>
    </emr-playground>

    <h3>Todos widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="todos-example">
      <app-todos-example/>
    </emr-playground>

    <h3>Total projects widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="total-projects-example">
      <app-total-projects-example/>
    </emr-playground>

    <h3>Total revenue widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="total-revenue-example">
      <app-total-revenue-example/>
    </emr-playground>

    <h3>Total subscribers widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="total-subscribers-example">
      <app-total-subscribers-example/>
    </emr-playground>

    <h3>Total tasks widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="total-tasks-example">
      <app-total-tasks-example/>
    </emr-playground>

    <h3>Transactions widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="transactions-example">
      <app-transactions-example/>
    </emr-playground>

    <h3>Unique visitors widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="unique-visitors-example">
      <app-unique-visitors-example/>
    </emr-playground>

    <h3>Visit duration widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="visit-duration-example">
      <app-visit-duration-example/>
    </emr-playground>

    <h3>Visit insights widget</h3>
    <emr-playground exampleUrl="_docs/store/widgets/_examples" exampleName="visit-insights-example">
      <app-visit-insights-example/>
    </emr-playground>
  </div>
</app-page>
