:host {
  display: block;
  position: relative;
  scroll-snap-type: x mandatory;

  .content {
    display: flex;
    overflow: hidden;
    gap: calc(var(--spacing) * 8);
  }

  .controls {
    margin-top: var(--m-4);
    gap: calc(var(--spacing) * 3);

    &:empty {
      display: none;
    }
  }
}
