<emr-file-list class="w-full divide-y border border-default px-6 py-3 rounded-lg">
  @for (uploadFile of fileList; track uploadFile) {
    <emr-file [size]="uploadFile.size"
              [state]="uploadFile.state"
              [errorMessage]="uploadFile.errorMessage"
              [remainingTime]="uploadFile.remainingTime"
              [name]="uploadFile.name"
              [progress]="uploadFile.progress">
      @if (uploadFile.state === 'error') {
        <emr-file-control>
          <mat-icon class="font-icon text-xl">refresh</mat-icon>
        </emr-file-control>
      }
      <emr-file-control>
        <mat-icon class="font-icon text-xl">close</mat-icon>
      </emr-file-control>
    </emr-file>
  }
</emr-file-list>
