<div class="flex flex-wrap">
  <div class="flex w-full flex-col md:w-1/2 relative">
    <div class="flex justify-center pt-12 md:-mb-24 md:justify-start md:pl-12">
      <a routerLink="/" class="uppercase text-xl font-extrabold text-primary">Elementar</a>
    </div>
    <div class="lg:w-[29rem] mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0">
      <h1 class="text-left text-3xl font-bold">Password reset</h1>
      <p class="mt-2 text-left text-neutral-500 text-sm">We sent a code to <span class="text-neutral-800 font-medium">pavel.salauyou&#64;gmail.com</span>.</p>
      <form class="flex flex-col pt-3 md:pt-8">
        <emr-pin-input placeholder="⚬" length="6" [formControl]="pin"></emr-pin-input>
        <button mat-flat-button color="primary" type="button"
                class="!h-12 mt-8" [disabled]="pin.invalid" (click)="continue()">Continue</button>
      </form>
      <div class="py-12 text-center">
        <p class="whitespace-nowrap text-xs">
          <span class="inline-block me-1 text-neutral-600 dark:text-neutral-400">Didn't receive the email?</span>
          <button class="underline-offset-4 font-semibold text-neutral-800 dark:text-neutral-300
                                              underline hover:text-accent dark:hover:text-accent" (click)="resendCode()">Click to resend</button>
        </p>
      </div>
      <div class="flex items-center justify-between absolute bottom-7 lg:w-[29rem]">
        <div class="flex items-center justify-center gap-3">
          <div class="w-8 h-8 border border-default rounded-full text-sm text-neutral-400 flex items-center justify-center">1</div>
          <div class="w-8 h-8 border border-default rounded-full text-sm border-neutral-800 flex items-center justify-center">2</div>
          <div class="w-8 h-8 border border-default rounded-full text-sm text-neutral-400 flex items-center justify-center">3</div>
          <div class="w-8 h-8 border border-default rounded-full text-sm text-neutral-400 flex items-center justify-center">4</div>
        </div>
        <a routerLink="/auth/sign-in" class="whitespace-nowrap text-xs font-medium text-neutral-400 dark:text-neutral-300
                                             hover:text-primary dark:hover:text-accent inline-flex items-center">
          <mat-icon class="font-icon text-base">arrow_back</mat-icon> Back to login page
        </a>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen select-none bg-black md:block md:w-1/2">
    <div class="absolute bottom-0 z-10 px-16 py-12 text-white opacity-100">
      <p class="mb-8 text-3xl font-bold leading-10">
        Coding the Future: Transforming Ideas into Reality. Precision in every line,
        Innovation in every function. Your Vision, Our Code - Building Tomorrow, Today!
      </p>
      <p class="">Founder, Pavel Salauyou</p>
      <p class="mb-7 text-sm opacity-70">Software Development Company</p>
    </div>
    <img class="-z-1 absolute top-0 h-full w-full object-cover opacity-90"
         src="https://images.unsplash.com/photo-1565301660306-29e08751cc53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" />
  </div>
</div>
