<div class="flex flex-wrap h-screen mat-typography">
  <div class="flex w-full flex-col md:w-1/2 h-screen">
    <div>
      <a emr-logo routerLink="/" class="mt-7 ms-8">ELEMENTAR</a>
    </div>
    <div class="grow px-10 md:px-20 flex items-center justify-center overflow-y-auto">
      <div class="w-max">
        <h2>Password reset</h2>
        <p class="mt-2 text-left text-neutral-500 text-sm">We sent a code to <span class="text-neutral-800 font-medium">pavel.salauyou&#64;gmail.com</span>.</p>
        <form class="flex flex-col pt-3 md:pt-8">
          <emr-pin-input placeholder="⚬" length="6" [formControl]="pin"></emr-pin-input>
          <button mat-flat-button color="primary" type="button"
                  class="!h-12 mt-8" [disabled]="pin.invalid" (click)="continue()">Continue</button>
        </form>
        <div class="py-12 text-center">
          <p class="whitespace-nowrap text-xs">
            <span class="inline-block me-1 text-neutral-600 dark:text-neutral-400">Didn't receive the email?</span>
            <button class="underline-offset-4 font-semibold text-neutral-800 dark:text-neutral-300
                                              underline hover:text-accent dark:hover:text-accent" (click)="resendCode()">Click to resend</button>
          </p>
        </div>
        <div class="flex items-center justify-between absolute bottom-7 lg:w-[29rem]">
          <div class="flex items-center justify-center gap-3">
            <div class="w-8 h-8 border border-default rounded-full text-sm text-neutral-400 flex items-center justify-center">1</div>
            <div class="w-8 h-8 border border-default rounded-full text-sm border-neutral-800 flex items-center justify-center">2</div>
            <div class="w-8 h-8 border border-default rounded-full text-sm text-neutral-400 flex items-center justify-center">3</div>
            <div class="w-8 h-8 border border-default rounded-full text-sm text-neutral-400 flex items-center justify-center">4</div>
          </div>
          <a routerLink="/auth/sign-in" class="whitespace-nowrap text-xs font-medium text-neutral-400 dark:text-neutral-300
                                             hover:text-primary dark:hover:text-accent inline-flex items-center">
            <mat-icon class="font-icon text-base">arrow_back</mat-icon> Back to login page
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen flex items-center
              justify-center select-none bg-surface-container md:flex md:w-1/2">
    <img class="z-1 max-w-[80%] w-full mx-auto" ngSrc="assets/onboarding/step1.svg" alt="Onboarding" fill>
  </div>
</div>
