<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Colors</h1>

      <h3>Primary Colors</h3>
      <emr-playground>
        <app-primary-colors-example></app-primary-colors-example>
      </emr-playground>

      <h3>Secondary Colors</h3>
      <emr-playground>
        <app-secondary-colors-example></app-secondary-colors-example>
      </emr-playground>

      <h3>Tertiary Colors</h3>
      <emr-playground>
        <app-tertiary-colors-example></app-tertiary-colors-example>
      </emr-playground>

      <h3>Error Colors</h3>
      <emr-playground>
        <app-error-colors-example></app-error-colors-example>
      </emr-playground>

      <h3>Surface Colors</h3>
      <emr-playground>
        <app-surface-colors-example></app-surface-colors-example>
      </emr-playground>

      <h3>Other Colors</h3>
      <emr-playground>
        <app-other-colors-example></app-other-colors-example>
      </emr-playground>

      <h3>Outline Colors</h3>
      <emr-playground>
        <app-outline-colors-example></app-outline-colors-example>
      </emr-playground>

      <h3>Inverse Colors</h3>
      <emr-playground>
        <app-inverse-colors-example></app-inverse-colors-example>
      </emr-playground>

      <h3>Neutral Colors</h3>
      <emr-playground>
        <app-neutral-colors-example></app-neutral-colors-example>
      </emr-playground>

      <h3>Neutral Variant Colors</h3>
      <emr-playground>
        <app-neutral-variant-colors-example></app-neutral-variant-colors-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
