<app-page>
  <div appPageContent>
    <h1>Colors</h1>

    <h3 class="mat-title-large">Primary Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="primary-colors-example">
      <app-primary-colors-example></app-primary-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Secondary Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="secondary-colors-example">
      <app-secondary-colors-example></app-secondary-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Tertiary Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="tertiary-colors-example">
      <app-tertiary-colors-example></app-tertiary-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Error Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="error-colors-example">
      <app-error-colors-example></app-error-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Surface Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="surface-colors-example">
      <app-surface-colors-example></app-surface-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Other Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="other-colors-example">
      <app-other-colors-example></app-other-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Outline Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="outline-colors-example">
      <app-outline-colors-example></app-outline-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Inverse Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="inverse-colors-example">
      <app-inverse-colors-example></app-inverse-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Neutral Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="neutral-colors-example">
      <app-neutral-colors-example></app-neutral-colors-example>
    </emr-playground>

    <h3 class="mat-title-large">Neutral Variant Colors</h3>
    <emr-playground exampleUrl="_docs/customization/colors/_examples" exampleName="neutral-variant-colors-example">
      <app-neutral-variant-colors-example></app-neutral-variant-colors-example>
    </emr-playground>
  </div>
</app-page>
