<div class="px-10 py-14">
  <div class="max-w-[1000px] mx-auto">
    <section class="bg-surface-container-low rounded-2xl">
      <div class="h-32 rounded-t-2xl relative">
        <div class="absolute start-10 size-44 border-4 border-background overflow-hidden
                -bottom-2 translate-y-1/2 bg-tertiary-200 dark:bg-tertiary-400 rounded-full">
          <img src="assets/avatars/8.svg" alt="" class="bg-cover">
        </div>
      </div>
      <div class="pb-12 ps-12 pe-12 pt-7">
        <div class="flex h-full justify-between gap-10">
          <div>
            <div class="ms-48 flex gap-4">
              <div class="bg-neutral-300 dark:bg-neutral-700 rounded-full size-max">
                <button mat-icon-button matTooltip="Send a message">
                  <mat-icon class="filled">mail</mat-icon>
                </button>
              </div>
              @if (!followed) {
                <button mat-flat-button (click)="follow()">Follow</button>
              } @else {
                <button mat-stroked-button (click)="unfollow()">Unfollow</button>
              }
            </div>
            <div class="mt-14">
              <div class="flex items-center gap-4">
                <div class="text-2xl font-bold">Pavel Salauyou</div>
                <div class="flex items-center">
                  <mat-icon class="font-icon text-neutral-600 dark:text-neutral-500
                               !text-lg !w-6 !h-7 flex items-center justify-center">location_on</mat-icon>
                  <div class="text-xs text-neutral-650 dark:text-neutral-500">London, United Kingdom</div>
                </div>
              </div>
              <div class="text-sm text-neutral-500 mt-1.5">Senior Angular developer, expert in Typescript</div>
            </div>
          </div>
          <div class="max-w-96">
            <div>
              <div class="text-sm text-neutral-500 dark:text-neutral-400">Languages</div>
              <div class="flex gap-2 mt-1.5 flex-wrap">
                @for (language of languages; track language) {
                  <div class="w-max rounded-lg text-xs bg-surface-container-high px-2 h-6 flex items-center gap-1">
                    <span class="text-neutral-variant-600 dark:text-neutral-500">{{ language.name }}:</span>
                    <span class="text-on-surface">{{ language.level }}</span>
                  </div>
                }
              </div>
            </div>
            <div class="mt-7">
              <div class="text-sm text-neutral-500 dark:text-neutral-400">Skills (13)</div>
              <div class="flex gap-2 mt-1.5 flex-wrap">
                @for (skill of skills; track skill) {
                  <div class="w-max rounded-lg text-xs bg-surface-container-high px-2 h-6 flex items-center gap-1">
                    <span class="text-neutral-variant-600 dark:text-neutral-500">{{ skill.name }}:</span>
                    <span class="text-on-surface">{{ skill.level }}</span>
                  </div>
                }
                <div class="w-max text-xs px-2 h-6 flex items-center text-primary hover:text-tertiary cursor-pointer">+8 more</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="mt-12 grid grid-cols-12 gap-20">
      <section class="col-span-8">
        <div class="border border-default rounded-2xl p-8">
          <div class="font-bold">About me</div>
          <div class="text-md mt-5 leading-relaxed">
            <ul>
              <li>• 12+ years of software development experience</li>
              <li>• Web-applications development (PHP 8+, Symfony 5, Angular 16+, Nest.js)</li>
              <li>• Experience with databases (Mysql, MongoDB, Redis)</li>
              <li>• Rich front-end development (Tailwindcss, HTML5, Angular, CSS 3, esbuild, Webpack, Rollup)</li>
              <li>• Experience with many tools and methodologies (Git, JIRA)</li>
              <li>• Amazon Web Services, Digitalocean Services</li>
            </ul>
          </div>
        </div>
        <div class="mt-14">
          <div class="font-bold">Experience</div>
          <div class="text-md mt-5">
            <table class="w-full">
              <tbody>
              <tr>
                <td class="w-1 whitespace-nowrap text-tiny align-top">
                  <div class="text-neutral-650 dark:text-neutral-600">2020 &ndash; Present</div>
                  <div class="text-neutral-500 mt-2">Elementar Labs</div>
                </td>
                <td class="ps-10 align-top">
                  <div class="font-semibold text-sm">Senior Angular Developer</div>
                  <div class="text-sm text-neutral-500 mt-2 pb-7">
                    I develop efficient Angular web applications,
                    focusing on user interface design and API integration to
                    enhance performance and meet business goals.
                  </div>
                </td>
              </tr>
              <tr>
                <td class="w-1 whitespace-nowrap text-tiny align-top">
                  <div class="text-neutral-650 dark:text-neutral-600">2017 &ndash; 2020</div>
                  <div class="text-neutral-500 mt-2">Elementar Labs</div>
                </td>
                <td class="ps-10 align-top">
                  <div class="font-semibold text-sm">Senior Angular Developer</div>
                  <div class="text-sm text-neutral-500 mt-2 pb-7">
                    I develop efficient Angular web applications,
                    focusing on user interface design and API integration to
                    enhance performance and meet business goals.
                  </div>
                </td>
              </tr>
              <tr>
                <td class="w-1 whitespace-nowrap text-tiny align-top">
                  <div class="text-neutral-650 dark:text-neutral-600">2015 &ndash; 2017</div>
                  <div class="text-neutral-500 mt-2">Elementar Labs</div>
                </td>
                <td class="ps-10 align-top">
                  <div class="font-semibold text-sm">Senior Angular Developer</div>
                  <div class="text-sm text-neutral-500 mt-2 pb-7">
                    I develop efficient Angular web applications,
                    focusing on user interface design and API integration to
                    enhance performance and meet business goals.
                  </div>
                </td>
              </tr>
              <tr>
                <td class="w-1 whitespace-nowrap text-tiny align-top">
                  <div class="text-neutral-650 dark:text-neutral-600">2010 &ndash; 2015</div>
                  <div class="text-neutral-500 mt-2">Elementar Labs</div>
                </td>
                <td class="ps-10 align-top">
                  <div class="font-semibold text-sm">Senior Angular Developer</div>
                  <div class="text-sm text-neutral-500 mt-2">
                    I develop efficient Angular web applications,
                    focusing on user interface design and API integration to
                    enhance performance and meet business goals.
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="col-span-4">
        <div>
          <div class="font-bold">Contact Details</div>
          <div class="space-y-5 mt-5">
            <div>
              <div class="text-tiny text-neutral-500">Email address</div>
              <div class="text-md mt-0.5">pavel.salauyou&#64;example.com</div>
            </div>
            <div>
              <div class="text-tiny text-neutral-500">Mobile Phone</div>
              <div class="text-md mt-0.5">+1 (234) 456-789</div>
            </div>
            <div>
              <div class="text-tiny text-neutral-500">Social media</div>
              <div class="flex items-center gap-3 mt-1">
                <a href="https://x.com" target="_blank" class="hover:text-primary">
                  <emr-icon name="ph:x-logo"></emr-icon>
                </a>
                <a href="https://facebook.com" target="_blank" class="hover:text-primary">
                  <emr-icon name="ph:facebook-logo"></emr-icon>
                </a>
                <a href="https://instagram.com" target="_blank" class="hover:text-primary">
                  <emr-icon name="ph:instagram-logo"></emr-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12">
          <div class="font-bold">People also viewed</div>
          <div class="mt-5 space-y-5">
            @for (person of peopleAlsoViewed; track person) {
              <div class="flex items-center gap-3">
                <emr-avatar [src]="person.avatarUrl" class="size-10"></emr-avatar>
                <div>
                  <div class="text-tiny font-semibold">{{ person.name }}</div>
                  <div class="text-xs text-neutral-500 dark:text-neutral-400">{{ person.occupation }}</div>
                </div>
              </div>
            }
          </div>
          <div class="mt-5">
            <a href="" mat-stroked-button class="w-full block">View More</a>
          </div>
        </div>
        <div class="mt-12">
          <div class="font-bold">People you may know</div>
          <div class="mt-5 space-y-5">
            @for (person of peopleAlsoViewed; track person) {
              <div class="flex items-center gap-3">
                <emr-avatar [src]="person.avatarUrl" class="size-10"></emr-avatar>
                <div>
                  <div class="text-tiny font-semibold">{{ person.name }}</div>
                  <div class="text-xs text-neutral-500 dark:text-neutral-400">{{ person.occupation }}</div>
                </div>
              </div>
            }
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
