:host {
  --emr-alert-bg-color: transparent;
  --emr-alert-color: transparent;
  --emr-alert-icon-color: white;
  --emr-alert-border-color: transparent;
  --emr-alert-border-radius: var(--rounded-2xl);
  --emr-alert-padding: var(--p-4);
  --emr-alert-gap: var(--gap-3_5);
  --emr-alert-border-width: 1px;
  --emr-alert-font-size: var(--text-sm);
  --emr-alert-thumbnail-bg: white;
  --emr-alert-thumbnail-border-radius: var(--rounded-lg);
  --emr-alert-thumbnail-size: var(--w-10);
  --emr-alert-title-font-weight: var(--font-semibold);
  --emr-alert-title-font-size: var(--text-xs);
  --emr-alert-actions-gap: var(--gap-1);
  --emr-alert-action-height: var(--h-10);
  --emr-alert-action-padding: 0 var(--p-3_5);
  --emr-alert-action-with-icon-padding: 0 var(--p-2);
  --emr-alert-action-hover-bg: white;
  --emr-alert-action-border-radius: var(--rounded-full);
  --emr-alert-action-font-weight: var(--font-medium);
  --emr-alert-action-hover-color: inherit;

  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: var(--emr-alert-border-radius);
  gap: var(--emr-alert-gap);
  background: var(--emr-alert-bg-color);
  padding: var(--emr-alert-padding);
  color: var(--emr-alert-color);
  font-size: var(--emr-alert-font-size);
  border: var(--emr-alert-border-width) solid transparent;

  &:has(.emr-alert-title) {
    align-items: stretch;
  }

  &.is-bordered {
    border-color: var(--emr-alert-border-color);
  }

  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background-color: var(--emr-alert-thumbnail-bg);
    color: var(--emr-alert-icon-color);
    width: var(--emr-alert-thumbnail-size);
    height: var(--emr-alert-thumbnail-size);
    border-radius: var(--emr-alert-thumbnail-border-radius);

    &:empty {
      display: none;
    }
  }

  .title {
    font-size: var(--emr-alert-title-font-size);
    font-weight: var(--emr-alert-title-font-weight);
    margin-bottom: var(--m-1);
    text-transform: uppercase;
    display: block;

    &:empty {
      display: none;
    }
  }

  .actions {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: var(--emr-alert-actions-gap);
    line-height: 0;
  }

  ::ng-deep {
    .emr-alert-action {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      height: var(--emr-alert-action-height);
      padding: var(--emr-alert-action-padding);
      border-radius: var(--emr-alert-action-border-radius);
      text-transform: uppercase;
      font-weight: var(--emr-alert-action-font-weight);

      &:hover {
        background-color: var(--emr-alert-action-hover-bg);
        color: var(--emr-alert-action-hover-color);
      }

      &:has(.mat-icon) {
        padding: var(--emr-alert-action-with-icon-padding);
      }
    }
  }

  &[emr-alert-variant="default"] {
    --emr-alert-bg-color: var(--color-neutral-200);
    --emr-alert-color: var(--color-neutral-800);
    --emr-alert-thumbnail-bg: var(--color-neutral-400);
    --emr-alert-border-color: var(--color-neutral-400);
  }

  &[emr-alert-variant="secondary"] {
    --emr-alert-bg-color: var(--color-secondary-200);
    --emr-alert-color: var(--color-secondary-800);
    --emr-alert-thumbnail-bg: var(--color-secondary-400);
    --emr-alert-border-color: var(--color-secondary-400);
  }

  &[emr-alert-variant="informative"] {
    --emr-alert-bg-color: var(--color-sky-100);
    --emr-alert-color: var(--color-sky-800);
    --emr-alert-thumbnail-bg: var(--color-sky-400);
    --emr-alert-border-color: var(--color-sky-400);
  }

  &[emr-alert-variant="positive"] {
    --emr-alert-bg-color: var(--color-emerald-100);
    --emr-alert-color: var(--color-emerald-800);
    --emr-alert-thumbnail-bg: var(--color-emerald-400);
    --emr-alert-border-color: var(--color-emerald-400);
  }

  &[emr-alert-variant="negative"] {
    --emr-alert-bg-color: var(--color-red-100);
    --emr-alert-color: var(--color-red-800);
    --emr-alert-thumbnail-bg: var(--color-red-400);
    --emr-alert-border-color: var(--color-red-400);
  }

  &[emr-alert-variant="notice"] {
    --emr-alert-bg-color: var(--color-amber-100);
    --emr-alert-color: var(--color-amber-800);
    --emr-alert-thumbnail-bg: var(--color-amber-400);
    --emr-alert-border-color: var(--color-amber-400);
  }
}

:host-context(html.dark) {
  &[emr-alert-variant="default"] {
    --emr-alert-bg-color: var(--color-neutral-700);
    --emr-alert-color: var(--color-neutral-200);
    --emr-alert-thumbnail-bg: var(--color-neutral-600);
    --emr-alert-border-color: var(--color-neutral-600);
    --emr-alert-action-hover-bg: var(--color-neutral-700);
  }

  &[emr-alert-variant="secondary"] {
    --emr-alert-bg-color: var(--color-secondary-700);
    --emr-alert-color: var(--color-secondary-200);
    --emr-alert-thumbnail-bg: var(--color-secondary-600);
    --emr-alert-border-color: var(--color-secondary-600);
    --emr-alert-action-hover-bg: var(--color-secondary-700);
  }

  &[emr-alert-variant="informative"] {
    --emr-alert-bg-color: var(--color-sky-700);
    --emr-alert-color: white;
    --emr-alert-thumbnail-bg: var(--color-sky-600);
    --emr-alert-border-color: var(--color-sky-600);
    --emr-alert-action-hover-bg: var(--color-sky-700);
  }

  &[emr-alert-variant="positive"] {
    --emr-alert-bg-color: var(--color-emerald-500);
    --emr-alert-color: white;
    --emr-alert-thumbnail-bg: var(--color-emerald-600);
    --emr-alert-border-color: var(--color-emerald-600);
    --emr-alert-action-hover-bg: var(--color-emerald-700);
  }

  &[emr-alert-variant="negative"] {
    --emr-alert-bg-color: var(--color-red-500);
    --emr-alert-color: white;
    --emr-alert-thumbnail-bg: var(--color-red-600);
    --emr-alert-border-color: var(--color-red-600);
    --emr-alert-action-hover-bg: var(--color-red-700);
  }

  &[emr-alert-variant="notice"] {
    --emr-alert-bg-color: var(--color-amber-500);
    --emr-alert-color: white;
    --emr-alert-thumbnail-bg: var(--color-amber-600);
    --emr-alert-border-color: var(--color-amber-600);
    --emr-alert-action-hover-bg: var(--color-amber-700);
  }
}
