<div class="relative overflow-hidden rounded-lg border group dark:border-inverse">
  <div class="flex gap-5 p-6">
    <div class="rounded-lg bg-blue-500 w-12 h-12 flex items-center justify-center text-white">
      <mat-icon>ads_click</mat-icon>
    </div>
    <div>
      <div class="truncate text-sm font-medium text-neutral-500">Avg. Click Rate</div>
      <div class="flex items-center gap-2">
        <div class="text-2xl font-semibold text-neutral-800 dark:text-neutral-100">24,01%</div>
        <div class="flex items-baseline text-sm gap-1 font-semibold text-red-600 dark:text-red-400">
          <mat-icon class="font-icon text-lg !w-4 !h-5">arrow_downward</mat-icon>4.5%
        </div>
      </div>
    </div>
  </div>
  <button matRipple matTooltip="View all click rates"
          class="cursor-pointer absolute right-0 hover:bg-neutral-200 dark:bg-neutral-700
                 dark:hover:bg-neutral-600 top-0 bottom-0 w-10 bg-neutral-100 flex
                 items-center justify-center invisible group-hover:visible">
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
