<app-page>
  <div appPageContent>
    <h1>Line micro chart</h1>

    <h3>Basic line micro chart</h3>
    <emr-playground exampleUrl="_docs/micro-charts/line-chart/_examples" exampleName="mchart-line-basic-example">
      <app-mchart-line-basic-example></app-mchart-line-basic-example>
    </emr-playground>

    <h3>Line chart with custom curve</h3>
    <emr-playground exampleUrl="_docs/micro-charts/line-chart/_examples" exampleName="mchart-line-custom-curve-example">
      <app-mchart-line-custom-curve-example></app-mchart-line-custom-curve-example>
    </emr-playground>

    <h3>Line chart with area</h3>
    <emr-playground exampleUrl="_docs/micro-charts/line-chart/_examples" exampleName="mchart-line-with-area-example">
      <app-mchart-line-with-area-example></app-mchart-line-with-area-example>
    </emr-playground>

    <h3>Line chart compact</h3>
    <emr-playground exampleUrl="_docs/micro-charts/line-chart/_examples" exampleName="mchart-line-compact-example">
      <app-mchart-line-compact-example></app-mchart-line-compact-example>
    </emr-playground>

    <h3>Line chart with line and markers</h3>
    <emr-playground exampleUrl="_docs/micro-charts/line-chart/_examples" exampleName="mchart-line-with-markers-example">
      <app-mchart-line-with-markers-example></app-mchart-line-with-markers-example>
    </emr-playground>

    <h3>Line micro chart with tooltip</h3>
    <emr-playground exampleUrl="_docs/micro-charts/line-chart/_examples" exampleName="mchart-line-with-tooltip-example">
      <app-mchart-line-with-tooltip-example></app-mchart-line-with-tooltip-example>
    </emr-playground>
  </div>
</app-page>
