<div class="space-y-10">
  <div class="flex items-center gap-6">
    <emr-dicebear text="Pavel Salauyou" class="size-6"/>
    <emr-dicebear text="PS"/>
    <emr-dicebear text="N" class="size-16"/>
    <emr-dicebear text="OP" class="size-32"/>
  </div>
  <emr-avatar-group>
    <emr-dicebear text="am"/>
    <emr-dicebear text="ps"/>
    <emr-dicebear text="br"/>
    <emr-dicebear text="brn"/>
    <emr-dicebear text="brt"/>
    <emr-dicebear text="ps1"/>
  </emr-avatar-group>
  <div class="flex items-center gap-6">
    <emr-dicebear text="Pavel Salauyou" preset="initials" class="size-6"/>
    <emr-dicebear text="Tate Stafford" preset="initials"/>
    <emr-dicebear text="Oscar Bristol" preset="initials" class="size-16"/>
    <emr-dicebear text="Andrew Notley" preset="initials" class="size-32"/>
  </div>
  <emr-avatar-group>
    <emr-dicebear text="Pavel Salauyou" preset="initials"/>
    <emr-dicebear text="Tate Stafford" preset="initials"/>
    <emr-dicebear text="Oscar Bristol" preset="initials"/>
    <emr-dicebear text="Andrew Notley" preset="initials"/>
  </emr-avatar-group>
</div>
