:host {
  --emr-layout-sidebar-width: 300px;
  --emr-layout-sidebar-compact-width: 84px;

  display: block;
  z-index: 101;

  &:has(.emr-sidebar.compact) {
    z-index: 102;
  }

  &.is-hidden {
    display: none;
  }
}
