<div class="h-20 w-full px-10 bg-background">
  <div class="h-full flex items-center border-b border-b-default gap-7">
    <div class="flex items-center gap-3 -ms-3">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <emr-assistant-search/>
    </div>
    <div class="ms-auto flex items-center gap-3">
      <button mat-icon-button matTooltip="Notifications"
              [emrPopoverTriggerFor]="notificationsPopover" position="below-end">
        <mat-icon matBadge="3">notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="_themeManager.toggleColorScheme()" matTooltip="Color Theme"
              emrSoundEffect soundSrc="/assets/sound-effects/mouse-click.ogg">
        @if (_themeManager.getColorScheme() === 'light') {
          <mat-icon>light_mode</mat-icon>
        } @else if (_themeManager.getColorScheme() === 'dark') {
          <mat-icon>dark_mode</mat-icon>
        }
      </button>
      <emr-dicebear key="PS" [clickable]="true"
                    [matMenuTriggerFor]="accountMenu" matTooltip="Account" class="size-10"/>
    </div>
  </div>
</div>

<ng-template #notificationsPopover>
  @defer {
    <emr-notifications-popover/>
  }
</ng-template>

<mat-menu xPosition="before" #accountMenu="matMenu">
  <div class="flex items-center px-4 pb-4 pt-2 gap-3">
    <emr-dicebear key="PS" class="size-14"/>
    <div class="-mt-0.5">
      <div class="flex items-center gap-2">
        Pavel Salauyou
        <div class="border border-default flex items-center border-neutral-900 dark:border-neutral-200 h-5 leading-3 px-2
                    rounded-full font-bold text-4xs uppercase text-neutral-500 dark:text-neutral-200">Free</div>
      </div>
      <div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">pavel.salauyou&#64;mail.com</div>
    </div>
  </div>
  <div class="px-4 pb-4">
    <button mat-stroked-button class="w-full">
      <mat-icon>workspace_premium</mat-icon>
      Upgrade
    </button>
  </div>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>tune</mat-icon>
    <span>Settings</span>
  </a>
  <a mat-menu-item>
    <mat-icon>contrast</mat-icon>
    <span>Appearance</span>
  </a>
  <a mat-menu-item>
    <mat-icon>question_mark</mat-icon>
    <span>Help Center</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>translate</mat-icon>
    <span>Language</span>
  </a>
  <a mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add Account</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </a>
</mat-menu>
