:host {
  --emr-layout-sidebar-width: 300px;
  --emr-layout-sidebar-compact-width: 84px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.is-window-mode {
    width: 100dvw;
    height: 100dvh;
  }
}
