<div class="text-sm font-semibold">Surface</div>
<div class="mt-3 grid grid-cols-4 gap-8">
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-dim</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-surface-dim"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-bright</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface-bright"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-container-lowest</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface-container-lowest"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-container-low</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface-container-low"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-container-high</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface-container-high"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">surface-container-highest</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-surface-container-highest"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-surface</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-on-surface"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:space-y-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-surface-variant</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border bg-on-surface-variant"></div>
    </div>
  </div>
</div>
