:host {
  display: block;
  position: relative;
  border: var(--emr-popover-border);
  box-shadow: var(--emr-popover-shadow);
  border-radius: var(--emr-popover-border-radius);
  background: var(--emr-popover-bg);
  animation: .15s emr-popover-animation;
}

:host-context(.emr-popover-above) {
  margin-bottom: var(--emr-popover-margin-offset);
  transform-origin: bottom;
}

:host-context(.emr-popover-below) {
  margin-top: var(--emr-popover-margin-offset);
  transform-origin: top;
}

:host-context(.emr-popover-before) {
  margin-inline-end: var(--emr-popover-margin-offset);
  transform-origin: right;
}

:host-context(.emr-popover-after) {
  margin-inline-start: var(--emr-popover-margin-offset);
  transform-origin: left;
}

@keyframes emr-popover-animation {
  0% {
    transform: scale(.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
