<app-page>
  <div appPageContent>
    <h1>Notifications</h1>
    <div class="w-9/12">
      <emr-notification-list [notifications]="notifications" class="-mx-5">
        <ng-template emrNotificationDef="mentionedInComment" let-notification>
          <app-mentioned-in-comment [notification]="notification"
                                    emrNotificationProps [isNew]="notification.isNew"/>
        </ng-template>
        <ng-template emrNotificationDef="inviteToEditFilesInFolder" let-notification>
          <app-invite-to-edit-files-in-folder [notification]="notification"
                                              emrNotificationProps [isNew]="notification.isNew"/>
        </ng-template>
        <ng-template emrNotificationControlsDef let-notification>
         <button mat-icon-button [matMenuTriggerFor]="settings">
           <mat-icon>more_vert</mat-icon>
         </button>
          <mat-menu #settings xPosition="before">
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable this type of notification</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete notification</span>
            </button>
          </mat-menu>
        </ng-template>
      </emr-notification-list>
    </div>
  </div>
</app-page>
