<app-page>
  <div appPageContent>
    <h1>Bottom Sheet</h1>

    <h3 class="mat-title-large">Basic Bottom Sheet</h3>
    <emr-playground exampleUrl="_docs/components/bottom-sheet/_examples" exampleName="basic-bottom-sheet-example">
      <app-basic-bottom-sheet-example></app-basic-bottom-sheet-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/bottom-sheet/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
