:host {
  @apply size-40 flex items-center justify-center p-8 bg-surface-container rounded-full mb-6;

  ::ng-deep {
    emr-icon {
      --emr-icon-size: theme('size.28');
    }

    mat-icon {
      @apply text-8xl size-auto;
    }
  }
}
