:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing) * 8);
  width: calc(var(--spacing) * 40);
  height: calc(var(--spacing) * 40);
  background-color: var(--color-surface-container);
  border-radius: calc(infinity * 1px);
  margin-bottom: var(--m-6);

  ::ng-deep {
    emr-icon {
      --emr-icon-size: calc(var(--spacing) * 28);
    }

    mat-icon {
      font-size: var(--text-8xl);
      width: auto;
      height: auto;
    }
  }
}
