:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--p-8);
  width: var(--w-40);
  height: var(--h-40);
  background-color: var(--color-surface-container);
  border-radius: var(--rounded-full);
  margin-bottom: var(--m-6);

  ::ng-deep {
    emr-icon {
      --emr-icon-size: var(--w-28);
    }

    mat-icon {
      font-size: var(--text-8xl);
      width: auto;
      height: auto;
    }
  }
}
