@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$m3-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette
  )
));

$m3-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  )
));

@import "_common";
@import "_components";

@tailwind base;
@tailwind components;
@tailwind utilities;
