@use '@angular/material' as mat;

@include mat.core();

$m3-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    use-system-variables: true
  ),
  typography: (
    brand-family: 'Poppins',
    plain-family: 'Open Sans',
    use-system-variables: true,
  ),
  density: (
    scale: 0,
  ),
));

$m3-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    use-system-variables: true
  ),
  typography: (
    brand-family: 'Poppins',
    plain-family: 'Open Sans',
    use-system-variables: true,
  ),
  density: (
    scale: 0,
  ),
));

@import "_common";
@import "_components";

@tailwind base;
@tailwind components;
@tailwind utilities;
