@use '@angular/material' as mat;
@use "_common" with (
  $m3-light-theme: mat.define-theme((
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
    typography: (
      brand-family: '"Open Sans", sans-serif',
      plain-family: '"Open Sans", sans-serif',
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
    density: (
      scale: 0,
    ),
  )),
  $m3-dark-theme: mat.define-theme((
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
    typography: (
      brand-family: '"Open Sans", sans-serif',
      plain-family: '"Open Sans", sans-serif',
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
    density: (
      scale: 0,
    ),
  ))
);
@use "_components";

@include mat.elevation-classes();
@include mat.app-background();

@tailwind base;
@tailwind components;
@tailwind utilities;
