@use 'sass:map';
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@include mat.core();

$m3-light-theme: matx.define-theme((
  color: (
    theme-type: light,
    primary: matx.$m3-azure-palette,
    tertiary: matx.$m3-blue-palette
  )
));

$m3-dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-magenta-palette,
    tertiary: matx.$m3-blue-palette,
  )
));

@import "_common";
@import "_components";

@tailwind base;
@tailwind components;
@tailwind utilities;
