<app-page>
  <div appPageContent>
    <h1>Selects</h1>
    <h3 class="mat-title-large">Workspace select</h3>

    <div>
      <p>
        🚀 Introducing <strong>Workspace Select</strong> – Seamless Workspace Selection for Your Angular Apps!
      </p>

      <p>
        Building a SaaS or enterprise application with multiple workspaces? Workspace Select is a ready-to-use Angular
        Material component that provides an intuitive and user-friendly way to select workspaces.
      </p>

      <ul class="list-disc ps-4 my-7 flex flex-col gap-3">
        <li>✅ Fully integrated with Angular Material – modern design aligned with Material 3 and Tailwind</li>
        <li>✅ Highly customizable – easily adapts to any workspace selection logic</li>
        <li>✅ Supports async data – load workspaces dynamically</li>
        <li>
          ✅ Perfect for SaaS applications – simplifies workspace switching for users
        </li>
      </ul>

      <p>
        📌 Enhance your app’s UX with Workspace Select! 🚀
      </p>
    </div>

    <emr-playground exampleUrl="_docs/store/selects/_examples" exampleName="workspace-select-example">
      <app-workspace-select-example/>
    </emr-playground>
  </div>
</app-page>
