<div class="relative overflow-hidden rounded-lg border group dark:border-inverse">
  <div class="flex gap-5 p-6">
    <div class="rounded-lg bg-red-500 w-12 h-12 flex items-center justify-center text-white">
      <mat-icon>group</mat-icon>
    </div>
    <div>
      <div class="truncate text-sm font-medium text-neutral-500">Total Subscribers</div>
      <div class="flex items-center gap-2">
        <div class="text-2xl font-semibold text-neutral-800 dark:text-neutral-100">72,128</div>
        <div class="flex items-baseline text-sm gap-1 font-semibold text-green-600 dark:text-green-400">
          <mat-icon class="text-lg !w-4 !h-5">arrow_upward</mat-icon>
          <span class="sr-only">Increased by</span>122
        </div>
      </div>
    </div>
  </div>
  <button matRipple matTooltip="View all subscribers"
          class="cursor-pointer absolute right-0 hover:bg-neutral-200 dark:bg-neutral-700
                 dark:hover:bg-neutral-600 top-0 bottom-0 w-10 bg-neutral-100 flex
                 items-center justify-center invisible group-hover:visible">
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</div>
