<div class="space-y-6">
  <emr-alert variant="default">
    <mat-icon emrAlertIcon class="material-icons-outlined">info</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="positive">
    <mat-icon emrAlertIcon class="material-icons-outlined">done</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="informative">
    <mat-icon emrAlertIcon class="material-icons-outlined">help</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="negative">
    <mat-icon emrAlertIcon class="material-icons-outlined">error</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="notice">
    <mat-icon emrAlertIcon class="material-icons-outlined">info</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
</div>
