<div class="space-y-6">
  <emr-alert variant="default">
    <mat-icon emrAlertIcon>info</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="positive">
    <mat-icon emrAlertIcon>done</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="informative">
    <mat-icon emrAlertIcon>help</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="negative">
    <mat-icon emrAlertIcon>error</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
  <emr-alert variant="notice">
    <mat-icon emrAlertIcon>info</mat-icon>
    This is a Ultima UI Alert — check it out!
  </emr-alert>
</div>
