<div class="w-1/2">
  <mat-form-field class="w-full">
    <mat-label>Length</mat-label>
    <input matInput placeholder="Length" type="number" [(ngModel)]="length">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Page Size</mat-label>
    <input matInput placeholder="Page Size" type="number" [(ngModel)]="pageSize">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Page Index</mat-label>
    <input matInput placeholder="Page Index" type="number" [(ngModel)]="pageIndex">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Page Size Options</mat-label>
    <input matInput [ngModel]="pageSizeOptions" (ngModelChange)="setPageSizeOptions($event)"
           [ngModelOptions]="{updateOn: 'blur'}" placeholder="Ex. 10,25,50">
  </mat-form-field>

  <div class="flex flex-col gap-4">
    <mat-slide-toggle [(ngModel)]="hidePageSize" class="w-full">Hide page size</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showPageSizeOptions" class="w-full">Show multiple page size options</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showFirstLastButtons" class="w-full">Show first/last buttons</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="disabled" class="w-full">Disabled</mat-slide-toggle>
  </div>
</div>

<div class="my-8">
  <mat-paginator #paginator
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [disabled]="disabled"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>
</div>

<div class="text-sm">
  <div> Output event: {{ (pageEvent | json) || 'No events dispatched yet' }} </div>
  <div> Number Of Pages: {{ paginator.getNumberOfPages() }} </div>
</div>
