<app-page>
  <div appPageContent>
    <h1>Timeline</h1>

    <h3 class="mat-title-large">Basic Timeline</h3>
    <emr-playground exampleUrl="_docs/components/timeline/_examples" exampleName="basic-timeline-example">
      <app-basic-timeline-example></app-basic-timeline-example>
    </emr-playground>

    <h3 class="mat-title-large">Timeline With Timestamp</h3>
    <emr-playground exampleUrl="_docs/components/timeline/_examples" exampleName="timeline-timestamp-example">
      <app-timeline-timestamp-example></app-timeline-timestamp-example>
    </emr-playground>

    <h3 class="mat-title-large">Timeline With Custom Indicator</h3>
    <emr-playground exampleUrl="_docs/components/timeline/_examples" exampleName="timeline-with-cutsom-indicator-example">
      <app-timeline-with-cutsom-indicator-example></app-timeline-with-cutsom-indicator-example>
    </emr-playground>
  </div>
</app-page>
