<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Number Input</h1>

      <h3>Basic Number Input</h3>
      <emr-playground exampleUrl="_docs/forms/number-input/_examples" exampleName="basic-number-input-example">
        <app-basic-number-input-example></app-basic-number-input-example>
      </emr-playground>

      <h3>Custom Controls</h3>
      <emr-playground exampleUrl="_docs/forms/number-input/_examples" exampleName="number-input-custom-controls-example">
        <app-number-input-custom-controls-example></app-number-input-custom-controls-example>
      </emr-playground>

      <h3>Min, Max Value</h3>
      <emr-playground exampleUrl="_docs/forms/number-input/_examples" exampleName="number-input-min-max-example">
        <app-number-input-min-max-example></app-number-input-min-max-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
