<mat-checkbox [(ngModel)]="open">Show command bar</mat-checkbox>
<div>
  <mat-form-field class="w-1/2 mt-4">
    <mat-label>Tooltip position</mat-label>
    <mat-select [formControl]="position">
      @for (positionOption of positionOptions; track positionOption) {
        <mat-option [value]="positionOption">{{ positionOption }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<emr-command-bar [open]="open" [position]="position.value!">
  2 selected
  <emr-command-bar-divider/>
  <emr-command-bar-command shortcut="e">Edit</emr-command-bar-command>
  <emr-command-bar-divider/>
  <emr-command-bar-command shortcut="d">Delete</emr-command-bar-command>
</emr-command-bar>
