<app-page>
  <div appPageContent>
    <h1>Pin Input</h1>

    <h3>Basic Pin Input</h3>
    <emr-playground exampleUrl="_docs/forms/pin-input/_examples" exampleName="basic-pin-input-example">
      <app-basic-pin-input-example></app-basic-pin-input-example>
    </emr-playground>

    <h3>Placeholder</h3>
    <emr-playground exampleUrl="_docs/forms/pin-input/_examples" exampleName="pin-input-with-placeholder-example">
      <app-pin-input-with-placeholder-example></app-pin-input-with-placeholder-example>
    </emr-playground>

    <h3>Custom Length</h3>
    <emr-playground exampleUrl="_docs/forms/pin-input/_examples" exampleName="pin-input-length-example">
      <app-pin-input-length-example></app-pin-input-length-example>
    </emr-playground>

    <h3>Custom Symbols</h3>
    <emr-playground exampleUrl="_docs/forms/pin-input/_examples" exampleName="pin-input-accept-custom-symbols-example">
      <app-pin-input-accept-custom-symbols-example></app-pin-input-accept-custom-symbols-example>
    </emr-playground>
  </div>
</app-page>
