:host {
  padding-inline-start: var(--emr-sidebar-nav-group-menu-padding-start);
  margin-top: var(--emr-sidebar-nav-item-space-y);
  display: none;
  //display: block;
  //height: 0;
  //opacity: 0;
  //overflow: hidden;
  //transition: height 0.3s, opacity 0.5s, content-visibility 0.3s step-end;
}

:host(.is-active) {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--emr-sidebar-nav-items-gap);
  padding: calc(var(--emr-sidebar-nav-items-gap) * 2) 0;
  //opacity: 1;
  //height: calc-size(auto);
  //transition: height 0.3s, opacity 0.5s, content-visibility 0.3s step-start;
}
