<app-page>
  <div appPageContent>
    <h1>Tabs</h1>

    <h3>Basic Tabs</h3>
    <emr-playground exampleUrl="_docs/components/tabs/_examples" exampleName="basic-tabs-example">
      <app-basic-tabs-example/>
    </emr-playground>

    <h3>Tabs with aligned labels</h3>
    <emr-playground exampleUrl="_docs/components/tabs/_examples" exampleName="tabs-with-aligned-labels-example">
      <app-tabs-with-aligned-labels-example/>
    </emr-playground>

    <h3>Tabs with custom label template</h3>
    <emr-playground exampleUrl="_docs/components/tabs/_examples" exampleName="tabs-with-custom-label-template-example">
      <app-tabs-with-custom-label-template-example/>
    </emr-playground>

    <h3>Tabs with the headers on the bottom</h3>
    <emr-playground exampleUrl="_docs/components/tabs/_examples" exampleName="tabs-with-headers-on-the-bottom-example">
      <app-tabs-with-headers-on-the-bottom-example/>
    </emr-playground>

    <h3>Paginated Tabs</h3>
    <emr-playground exampleUrl="_docs/components/tabs/_examples" exampleName="paginated-tabs-example">
      <app-paginated-tabs-example/>
    </emr-playground>

    <h3>Sortable Tabs</h3>
    <emr-playground exampleUrl="_docs/components/tabs/_examples" exampleName="sortable-tabs-example">
      <app-sortable-tabs-example/>
    </emr-playground>
  </div>
</app-page>
