<div class="space-y-8">
  <div>
    <mat-form-field class="w-1/2">
      <mat-label>Type Number</mat-label>
      <emr-number-input>
        <ng-template emrDecreaseControl>
          <mat-icon>add</mat-icon>
        </ng-template>
        <ng-template emrIncreaseControl>
          <mat-icon>remove</mat-icon>
        </ng-template>
      </emr-number-input>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-1/2">
      <mat-label>Type Number</mat-label>
      <emr-number-input>
        <ng-template emrDecreaseControl>
          <mat-icon>expand_more</mat-icon>
        </ng-template>
        <ng-template emrIncreaseControl>
          <mat-icon>expand_less</mat-icon>
        </ng-template>
      </emr-number-input>
    </mat-form-field>
  </div>
</div>
