<app-page>
  <div appPageContent>
    <h1>Content Fade</h1>
    <p>
      This Angular component is designed to hide large text by using a smooth transition from the text to the background color of the parent block as a gradient.
    </p>
    <p>
      I usually use text reduction to shorten ... 3 points, which doesn't look very nice, content fade component allows to make a smooth transition from text to background, which looks much more professional than just trimming the dough.
    </p>
    <p>
      The most useful use case for this component would be in table cells, but in general it can be used anywhere there is a lot of text.
    </p>
    <p>
      Below are some examples of how to use it.
    </p>

    <h3 class="mat-title-large" class="font-bold">Basic content fade</h3>
    <p>
      By default, content hiding comes from both sides.
    </p>
    <emr-playground exampleUrl="_docs/components/content-fade/_examples" exampleName="basic-content-fade-example">
      <app-basic-content-fade-example/>
    </emr-playground>

    <h3 class="mat-title-large">Content fade with custom width</h3>
    <p>
      With the <code class="code">width</code> parameter you can increase the gradient,
      the value can be specified as a number of pixels (100px) or as a percentage (40%).
    </p>
    <emr-playground exampleUrl="_docs/components/content-fade/_examples" exampleName="content-fade-custom-width-example">
      <app-content-fade-custom-width-example/>
    </emr-playground>

    <h3 class="mat-title-large">Content fade with custom position</h3>
    <p>
      With the <code class="code">position</code> parameter you can define on which side to hide the text,
      you can use 3 options as a value:
      <code class="code">both</code>, <code class="code">start</code>, <code class="code">end</code>.
    </p>
    <emr-playground exampleUrl="_docs/components/content-fade/_examples" exampleName="content-fade-custom-position-example">
      <app-content-fade-custom-position-example/>
    </emr-playground>
  </div>
</app-page>
