<app-page>
  <div appPageContent>
    <h1>Content Fade</h1>

    <h3>Basic Content Fade</h3>
    <emr-playground exampleUrl="_docs/components/content-fade/_examples" exampleName="basic-content-fade-example">
      <app-basic-content-fade-example></app-basic-content-fade-example>
    </emr-playground>

    <h3>Content Fade With Custom Width</h3>
    <emr-playground exampleUrl="_docs/components/content-fade/_examples" exampleName="content-fade-custom-width-example">
      <app-content-fade-custom-width-example></app-content-fade-custom-width-example>
    </emr-playground>
  </div>
</app-page>
