<app-page>
  <div appPageContent>
    <h1>Progress Spinner</h1>

    <h3 class="mat-title-large">Basic Progress Spinner</h3>
    <emr-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="basic-progress-spinner-example">
      <app-basic-progress-spinner-example></app-basic-progress-spinner-example>
    </emr-playground>

    <h3 class="mat-title-large">Configurable Progress Spinner</h3>
    <emr-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="configurable-spinner-example">
      <app-configurable-spinner-example></app-configurable-spinner-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/progress-spinner/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
