<app-page>
  <div appPageContent>
    <h1>Password Strength</h1>

    <h3 class="mat-title-large">Basic password strength</h3>
    <emr-playground exampleUrl="_docs/components/password-strength/_examples" exampleName="basic-password-strength-example">
      <app-basic-password-strength-example></app-basic-password-strength-example>
    </emr-playground>

    <h3 class="mat-title-large">Password strength info</h3>
    <emr-playground exampleUrl="_docs/components/password-strength/_examples" exampleName="password-strength-info-example">
      <app-password-strength-info-example></app-password-strength-info-example>
    </emr-playground>

    <h3 class="mat-title-large">Password toggle visibility</h3>
    <emr-playground exampleUrl="_docs/components/password-strength/_examples" exampleName="password-toggle-visibility-example">
      <app-password-toggle-visibility-example></app-password-toggle-visibility-example>
    </emr-playground>
  </div>
</app-page>
