:host {
  --emr-skeleton-line-height: var(--h-5);
  --emr-skeleton-line-width: 100%;
  --emr-skeleton-line-border-radius: var(--rounded-full);

  animation: emr-skeleton-loading 1s linear infinite alternate;

  display: block;
  flex: none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-skeleton-line-width);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-skeleton-line-height);
  }

  &:not([class*="rounded-"]) {
    border-radius: var(--emr-skeleton-line-border-radius);
  }

  @keyframes emr-skeleton-loading {
    0% {
      background: var(--emr-skeleton-from-bg);
    }

    100% {
      background: var(--emr-skeleton-from-to);
    }
  }
}
