:host {
  --emr-skeleton-line-height: theme('height.5');
  --emr-skeleton-line-width: theme('width.full');
  --emr-skeleton-line-border-radius: theme('borderRadius.full');

  animation: var(--emr-skeleton-item-animation);
  @apply block flex-none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-skeleton-line-width);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-skeleton-line-height);
  }

  &:not([class*="rounded-"]) {
    @apply rounded-[var(--emr-skeleton-line-border-radius)];
  }
}
