<app-page>
  <div appPageContent>
    <h1>Select</h1>

    <h3 class="mat-title-large">Basic Select</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="basic-select-example">
      <app-basic-select-example></app-basic-select-example>
    </emr-playground>

    <h3 class="mat-title-large">Getting and setting the select value</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="get-set-value-example">
      <app-get-set-value-example></app-get-set-value-example>
    </emr-playground>

    <h3 class="mat-title-large">Form Field Features</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="form-field-features-example">
      <app-form-field-features-example></app-form-field-features-example>
    </emr-playground>

    <h3 class="mat-title-large">Disabled</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="disabled-example">
      <app-disabled-example></app-disabled-example>
    </emr-playground>

    <h3 class="mat-title-large">Resetting the select value</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="resetting-value-example">
      <app-resetting-value-example></app-resetting-value-example>
    </emr-playground>

    <h3 class="mat-title-large">Groups of Options</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="groups-of-options-example">
      <app-groups-of-options-example></app-groups-of-options-example>
    </emr-playground>

    <h3 class="mat-title-large">Multiple Selection</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="multiple-selection-example">
      <app-multiple-selection-example></app-multiple-selection-example>
    </emr-playground>

    <h3 class="mat-title-large">Customizing the trigger label</h3>
    <emr-playground exampleUrl="_docs/forms/select/_examples" exampleName="custom-trigger-example">
      <app-custom-trigger-example></app-custom-trigger-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/select/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
