<emr-panel>
  <emr-panel-header class="px-10 h-16">
    <div class="border-b dark:border-b-inverse h-full flex items-center justify-between">
      <div class="flex items-center gap-7">
        <div class="text-lg font-bold">Posts</div>
        <emr-v-divider></emr-v-divider>
        <emr-segmented [(ngModel)]="status" theme="simple" class="-mx-2">
          <emr-segmented-button value="all">All</emr-segmented-button>
          <emr-segmented-button value="published">Published</emr-segmented-button>
          <emr-segmented-button value="scheduled">Scheduled</emr-segmented-button>
          <emr-segmented-button value="draft">Drafts</emr-segmented-button>
        </emr-segmented>
        <emr-v-divider></emr-v-divider>
        <input type="text" placeholder="Search..."
               class="border-b h-10 w-96 text-sm bg-transparent dark:border-b-inverse outline-0 focus-within:border-neutral-950">
      </div>
      <div>
        <button mat-flat-button>
          <mat-icon class="font-icon">add</mat-icon> New
        </button>
      </div>
    </div>
  </emr-panel-header>
  <emr-panel-body>
    <div class="px-10 pb-6">
      <emr-data-view [columnDefs]="columnDefs"
                     [data]="data"
                     [paginator]="paginator"
                     withSelection
                     stickyHeader
                     withSorting
                     highlightHeader
                     (rowSelectionChanged)="rowSelectionChanged($event)"
                     (selectionChanged)="selectionChanged($event)"
                     (allRowsSelectionChanged)="allRowsSelectionChanged($event)"></emr-data-view>
    </div>
  </emr-panel-body>
  <emr-panel-footer class="px-10 h-20 flex items-center justify-center border-t dark:border-t-inverse">
    <mat-paginator #paginator pageSize="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </emr-panel-footer>
</emr-panel>
