<section>
  <mat-checkbox class="me-3">Check me!</mat-checkbox>
  <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
</section>

<section class="mt-8">
  <div>
    <mat-checkbox
                  [checked]="allComplete"
                  [color]="task.color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{ task.name }}
    </mat-checkbox>
  </div>
  <ul class="m-0">
    @for (subtask of task.subtasks; track subtask) {
      <li>
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    }
  </ul>
</section>
