<div class="h-[600px] border">
  <emr-layout>
    <emr-layout-topbar>
      <emr-announcement iconName="warning" variant="warning">
        You still have not uploaded your Mart invoice due on 22 April 2024
      </emr-announcement>
    </emr-layout-topbar>
    <emr-layout-header>
      <div class="border-b border-b-default px-6 h-14 flex items-center">
        Header
      </div>
    </emr-layout-header>
    <emr-layout-body>
      <div class="h-[1000px] p-6">
        Body with scroll
      </div>
    </emr-layout-body>
  </emr-layout>
</div>
