<div class="relative h-full rounded-lg border group dark:border-inverse p-5">
  <div class="text-sm text-neutral-500 dark:text-neutral-300">Total balance</div>
  <div class="flex items-center justify-between mt-2">
    <div class="text-3xl font-semibold">$72.880.00</div>
    <div class="text-sm text-green-600 dark:text-green-400 flex items-center">
      <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon> $566.23
    </div>
  </div>
  <div class="my-6">
    <mat-divider></mat-divider>
  </div>
  <div class="flex items-center justify-between">
    <div class="text-xs">Exchange</div>
    <div class="text-sm">1 {{ currencyFrom }}={{ currentConversionRate }} {{ currencyTo }}</div>
  </div>
  <div class="rounded-xl bg-neutral-100 dark:bg-neutral-900 p-3 mt-2" [formGroup]="form">
    <div class="relative h-10">
      <input type="number" min="0" placeholder="You sell" formControlName="from"
             class="h-full w-full text-sm placeholder:text-sm bg-transparent
                    emr-number-input-no-spinners focus-within:outline-none pe-10">
      <span class="absolute end-0 text-sm top-1/2 -translate-y-1/2">{{ currencyFrom }}</span>
    </div>
    <div class="relative z-[1]">
      <div class="absolute start-1/2 top-0 -translate-x-1/2 -translate-y-1/2 w-max">
        <button class="size-9 bg-secondary-200 dark:bg-secondary-600 dark:hover:bg-secondary-700
                       hover:bg-secondary-300 rounded-full flex items-center justify-center cursor-pointer"
                matRipple (click)="toggleCurrencies()">
          <mat-icon class="material-symbols-outlined">swap_vert</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="relative h-10">
      <input type="number" min="0" placeholder="You get" formControlName="to"
             class="h-full w-full text-sm placeholder:text-sm bg-transparent
                    emr-number-input-no-spinners focus-within:outline-none pe-10">
      <span class="absolute end-0 text-sm top-1/2 -translate-y-1/2">{{ currencyTo }}</span>
    </div>
  </div>
  <div class="mt-3">
    <button mat-flat-button class="w-full">Exchange</button>
  </div>
</div>
