<div>
  <p class="mt-0">Progress spinner configuration</p>

  <section>
    <label>Color:</label>
    <mat-radio-group [(ngModel)]="color">
      <mat-radio-button class="example-margin" value="primary">
        Primary
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="accent">
        Accent
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="warn">
        Warn
      </mat-radio-button>
    </mat-radio-group>
  </section>

  <section class="example-section">
    <label class="example-margin">Mode:</label>
    <mat-radio-group [(ngModel)]="mode">
      <mat-radio-button class="example-margin" value="determinate">
        Determinate
      </mat-radio-button>
      <mat-radio-button class="example-margin" value="indeterminate">
        Indeterminate
      </mat-radio-button>
    </mat-radio-group>
  </section>

  @if (mode === 'determinate') {
    <section>
      <label>Progress:</label>
      <mat-slider>
        <input type="range" [(ngModel)]="value" matSliderThumb>
      </mat-slider>
    </section>
  }
</div>

<mat-divider class="my-6"></mat-divider>

<p>Result:</p>

<mat-progress-spinner
  [color]="color"
  [mode]="mode"
  [value]="value">
</mat-progress-spinner>
