<div class="space-y-8">
  <div>
    <mat-form-field class="w-1/2">
      <mat-label>Type Number</mat-label>
      <emr-number-input placeholder="Type Number">
        <ng-template emrDecreaseControl>
          <mat-icon class="material-symbols-outlined">add</mat-icon>
        </ng-template>
        <ng-template emrIncreaseControl>
          <mat-icon class="material-symbols-outlined">remove</mat-icon>
        </ng-template>
      </emr-number-input>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-1/2">
      <emr-number-input placeholder="Type Number">
        <ng-template emrDecreaseControl>
          <mat-icon class="material-symbols-outlined">expand_more</mat-icon>
        </ng-template>
        <ng-template emrIncreaseControl>
          <mat-icon class="material-symbols-outlined">expand_less</mat-icon>
        </ng-template>
      </emr-number-input>
    </mat-form-field>
  </div>
</div>
