<div class="p-6 bg-primary-200 dark:bg-primary-700 h-full dark:text-primary-200 rounded-lg">
  <div class="text-lg font-semibold">Current Plan</div>
  <div class="text-2xl font-semibold mt-4">$199.99 / year</div>
  <div class="text-tiny mt-2">All features available!</div>
  <div class="flex items-center justify-center gap-3 mt-6">
    <button mat-stroked-button>Change Plan</button>
    <div class="text-tiny">
      or <a routerLink="/pages/pricing" class="text-primary dark:text-primary-200">View Other Plans</a>
    </div>
  </div>
</div>
