<app-page>
  <div appPageContent>
    <div>
      <emr-breadcrumbs class="mb-1">
        <a emr-breadcrumb-item routerLink="/pages/forms">Forms</a>
        <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
        <emr-breadcrumb-item>Button</emr-breadcrumb-item>
      </emr-breadcrumbs>
      <h1>Button</h1>
    </div>
    <p>
      Buttons allow users to take actions, and make choices, with a single tap.
    </p>

    <h3 id="basic-button">Basic Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="basic-buttons-example">
      <app-basic-buttons-example></app-basic-buttons-example>
    </emr-playground>

    <h3 id="raised-button">Raised Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="raised-buttons-example">
      <app-raised-buttons-example></app-raised-buttons-example>
    </emr-playground>

    <h3 id="stroked-button">Stroked Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="stroked-buttons-example">
      <app-stroked-buttons-example></app-stroked-buttons-example>
    </emr-playground>

    <h3 id="flat-button">Flat Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="flat-buttons-example">
      <app-flat-buttons-example></app-flat-buttons-example>
    </emr-playground>

    <h3 id="icon-button">Icon Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="icon-buttons-example">
      <app-icon-buttons-example></app-icon-buttons-example>
    </emr-playground>

    <h3 id="fab-button">Fab Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="fab-buttons-example">
      <app-fab-buttons-example></app-fab-buttons-example>
    </emr-playground>

    <h3 id="mini-fab-button">Mini Fab Button</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="mini-fab-buttons-example">
      <app-mini-fab-buttons-example></app-mini-fab-buttons-example>
    </emr-playground>

    <h3 id="button-loading">Button Loading</h3>
    <emr-playground exampleUrl="_docs/forms/buttons/_examples" exampleName="button-loading-example">
      <app-button-loading-example></app-button-loading-example>
    </emr-playground>
  </div>
  <div appPageAside class="sticky top-20">
    <nav emr-scroll-spy-nav>
      <emr-scroll-spy-title>On this page</emr-scroll-spy-title>
      <a emr-scroll-spy-on targetId="basic-button">Basic Button</a>
      <a emr-scroll-spy-on targetId="raised-button">Raised Button</a>
      <a emr-scroll-spy-on targetId="stroked-button">Stroked Button</a>
      <a emr-scroll-spy-on targetId="flat-button">Flat Button</a>
      <a emr-scroll-spy-on targetId="icon-button">Icon Button</a>
      <a emr-scroll-spy-on targetId="fab-button">Fab Button</a>
      <a emr-scroll-spy-on targetId="mini-fab-button">Mini Fab Button</a>
      <a emr-scroll-spy-on targetId="button-loading">Button Loading</a>
    </nav>
  </div>
</app-page>
