<app-page>
  <div appPageContent>
    <h1>Navigation</h1>

    <h3 class="mat-title-large">Basic Navigation</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="basic-navigation-example">
      <app-basic-navigation-example/>
    </emr-playground>

    <h3 class="mat-title-large">Navigation with heading</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-heading-example">
      <app-navigation-with-heading-example/>
    </emr-playground>

    <h3 class="mat-title-large">Navigation with divider</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-divider-example">
      <app-navigation-with-divider-example/>
    </emr-playground>

    <h3 class="mat-title-large">Navigation with icons</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-icons-example">
      <app-navigation-with-icons-example/>
    </emr-playground>

    <h3 class="mat-title-large">Navigation with nested menu</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-nested-menu-example">
      <app-navigation-with-nested-menu-example/>
    </emr-playground>

    <h3 class="mat-title-large">Navigation with badges</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-badges-example">
      <app-navigation-with-badges-example/>
    </emr-playground>

    <h3 class="mat-title-large">Navigation <code class="code">secondary</code> theme</h3>
    <emr-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-secondary-theme-example">
      <app-navigation-secondary-theme-example/>
    </emr-playground>
  </div>
</app-page>
