<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-3">thumb_up</mat-icon>
      First
    </ng-template>
    <div class="py-5">Content 1</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-3">thumb_up</mat-icon>
      Second
    </ng-template>
    <div class="py-5">Content 2</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="me-3">thumb_up</mat-icon>
      Third
    </ng-template>
    <div class="py-5">Content 3</div>
  </mat-tab>
</mat-tab-group>
