<app-page>
  <div appPageContent>
    <h1>Image viewer</h1>

    <main class="mb-10">
      <p>
        Say hello to a sleek and user-friendly <strong>Image Viewer</strong> built with <strong>Angular Material</strong>! 🎉
      </p>
      <p>
        With this component, you can easily add **interactive image viewing** to your web app.
        It’s designed to look great and work smoothly across all devices.
      </p>
      <div class="my-6">
        <div>Key Features:</div>
        <ul class="list-disc ps-4 flex flex-col gap-3 mt-3">
          <li>
            ✅ <strong>Zoom</strong>: Let users explore images in detail.
          </li>
          <li>
            ✅ <strong>Angular Material Integration</strong>: Fits seamlessly into your Material-based projects.
          </li>
          <li>
            ✅ <strong>Responsive Design</strong>: Perfect for any screen size.
          </li>
          <li>
            ✅ <strong>Lightweight and Fast</strong>: No unnecessary bloat—just what you need!
          </li>
        </ul>
      </div>
      <p>Whether you’re building a gallery, product showcase, or a creative portfolio, this Image
        Viewer will take your UI to the next level.</p>
      <p>
        👉 <span class="font-bold">Boost your app’s visuals with ease—try it today!</span>
      </p>
    </main>

    <h3 class="mat-title-large">Basic image viewer</h3>
    <emr-playground exampleUrl="_docs/components/image-viewer/_examples" exampleName="basic-image-viewer-example">
      <app-basic-image-viewer-example/>
    </emr-playground>

    <h3 class="mat-title-large">Image viewer with caption and description</h3>
    <emr-playground exampleUrl="_docs/components/image-viewer/_examples" exampleName="image-viewer-with-caption-and-description-example">
      <app-image-viewer-with-caption-and-description-example/>
    </emr-playground>

    <h3 class="mat-title-large">Image viewer with title</h3>
    <emr-playground exampleUrl="_docs/components/image-viewer/_examples" exampleName="image-viewer-with-title-example">
      <app-image-viewer-with-title-example/>
    </emr-playground>

    <h2>API Reference</h2>

    <p>
      <code class="code">emrImageViewer</code> directive - tracks clicks on images inside and opens a modal window for viewing.
    </p>
    <p>
      <code class="code">emrImageViewerPicture</code> directive - adds an image and customizes the source
      image that will be displayed in the modal window.
    </p>
    <p>
      <code class="code">emrImageViewerPictureTitle</code> directive - adds a title to an image modal.
    </p>
    <p>
      <code class="code">emrImageViewerPictureCaption</code> directive - adds a caption to an image modal.
    </p>
    <p>
      <code class="code">emrImageViewerPictureDescription</code> directive - adds a description to an image modal.
    </p>

    <div class="mt-10">
      <mat-divider/>
    </div>

    <div class="mt-10">
      <p>
        Properties for the <code class="code">emrImageViewerPicture</code> directive.
      </p>

      <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
        <table class="emr-table not-mat-typography">
          <thead>
          <tr class="bg-neutral-200 dark:bg-neutral-700">
            <th class="w-1/2">Prop</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div>sourceUrl<sup>*</sup></div>
              <div class="text-xs text-neutral-500 mt-0.5">Url to source image</div>
            </td>
            <td>string</td>
            <td>&ndash;</td>
          </tr>
          <tr>
            <td>
              <div>title</div>
              <div class="text-xs text-neutral-500 mt-0.5">Title for an image, it shows on top of an image</div>
            </td>
            <td>string</td>
            <td>&ndash;</td>
          </tr>
          <tr>
            <td>
              <div>caption</div>
              <div class="text-xs text-neutral-500 mt-0.5">Caption for an image, it shows in a modal sidebar in a header</div>
            </td>
            <td>string</td>
            <td>&ndash;</td>
          </tr>
          <tr>
            <td>
              <div>description</div>
              <div class="text-xs text-neutral-500 mt-0.5">Description for an image, it shows in a modal sidebar below caption</div>
            </td>
            <td>string</td>
            <td>&ndash;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-page>
