<app-page>
  <div appPageContent>
    <h1>Image viewer</h1>

    <h3>Basic image viewer</h3>
    <emr-playground exampleUrl="_docs/components/image-viewer/_examples" exampleName="basic-image-viewer-example">
      <app-basic-image-viewer-example></app-basic-image-viewer-example>
    </emr-playground>

    <h3>Image viewer with caption and description</h3>
    <emr-playground exampleUrl="_docs/components/image-viewer/_examples" exampleName="image-viewer-with-caption-and-description-example">
      <app-image-viewer-with-caption-and-description-example></app-image-viewer-with-caption-and-description-example>
    </emr-playground>

    <h3>Image viewer with title</h3>
    <emr-playground exampleUrl="_docs/components/image-viewer/_examples" exampleName="image-viewer-with-title-example">
      <app-image-viewer-with-title-example></app-image-viewer-with-title-example>
    </emr-playground>
  </div>
</app-page>
