:host {
  --emr-avatar-group-item-offset: theme('spacing[2.5]');
  --emr-avatar-group-item-border: 0.125rem solid theme('colors.white');

  // @apply flex-none flex relative items-center;

  display: flex;
  flex: none;
  position: relative;
  align-items: center;

  ::ng-deep {
    * + * {
      margin-left: calc(var(--emr-avatar-group-item-offset) * -1);
    }

    .emr-avatar,
    .emr-avatar-total {
      border: var(--emr-avatar-group-item-border);
      z-index: 0;
    }
  }
}
