<div class="h-[600px] relative">
  <emr-sidebar class="border border-default rounded-2xl">
    <emr-sidebar-header class="h-20 font-bold border-b border-b-default text-primary">
      Elementar
    </emr-sidebar-header>
    <emr-sidebar-body>
      <emr-sidebar-nav activeKey="home">
        @for (navItem of navItems; track navItem) {
          @switch (navItem.type) {
            @case ('group') {
              <emr-sidebar-nav-group>
                <emr-sidebar-nav-group-toggle>
                  <ng-container emrSidebarNavItemIcon>
                    @if (navItem.icon) {
                      <emr-icon [name]="navItem.icon"/>
                    }
                  </ng-container>
                  {{ navItem.label }}
                  <emr-icon emrSidebarNavGroupToggleIcon name="ph:plus"/>
                </emr-sidebar-nav-group-toggle>
                <emr-sidebar-nav-group-menu>
                  @for (childNavItem of navItem.children; track childNavItem) {
                    <emr-sidebar-nav-item [key]="childNavItem.key">
                      <ng-container emrSidebarNavItemIcon>
                        @if (childNavItem.icon) {
                          <emr-icon [name]="navItem.icon"/>
                        }
                      </ng-container>
                      {{ navItem.label }}
                    </emr-sidebar-nav-item>
                  }
                </emr-sidebar-nav-group-menu>
              </emr-sidebar-nav-group>
            }
            @case ('heading') {
              <emr-sidebar-nav-heading>{{ navItem.label }}</emr-sidebar-nav-heading>
            }
            @case ('divider') {
              <emr-sidebar-nav-divider/>
            }
            @default {
              <emr-sidebar-nav-item [key]="navItem.key">
                <ng-container emrSidebarNavItemIcon>
                  @if (navItem.icon) {
                    <emr-icon [name]="navItem.icon"/>
                  }
                </ng-container>
                {{ navItem.label }}
              </emr-sidebar-nav-item>
            }
          }
        }
      </emr-sidebar-nav>
    </emr-sidebar-body>
    <emr-sidebar-footer class="h-20 border-t border-t-default text-sm">
      Copyright &copy; 2024
    </emr-sidebar-footer>
  </emr-sidebar>
</div>
