<div class="flex items-center justify-center h-full py-20">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <div class="relative">
          <h1 class="relative text-[200px] leading-[200px] tracking-tighter-less text-shadow font-bold">
            <span>4</span><span>0</span><span>4</span></h1>
          <span class="absolute top-0 -ml-14 font-semibold">Oops!</span>
        </div>
        <h5 class="font-semibold -mr-6 mt-2">Page not found</h5>
        <p class="mt-5 mb-10 text-sm text-neutral-500">We are sorry, but the page you requested was not found.</p>
        <a routerLink="/" mat-flat-button color="tertiary">Go to Dashboard</a>
      </div>
    </div>
  </div>
</div>
