<div class="grid grid-cols-3 gap-8">
  <div class="col-span-1">
    <div class="space-y-10">
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       strokeWidth="1"
                       markerDotSize="3"
                       class="w-[50px] h-[25px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       markerDotSize="3"
                       strokeWidth="1"
                       class="w-[70px] h-[30px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       class="w-[100px] h-[50px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       class="w-[200px] h-[120px]"></emr-mchart-line>
    </div>
  </div>
  <div class="col-span-1">
    <div class="space-y-10">
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showArea
                       showMarkers
                       strokeWidth="1"
                       markerDotSize="3"
                       curve="curveBumpX"
                       class="w-[50px] h-[25px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       showArea
                       markerDotSize="3"
                       strokeWidth="1"
                       curve="curveBumpX"
                       class="w-[70px] h-[30px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       showArea
                       curve="curveBumpX"
                       class="w-[100px] h-[50px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       showArea
                       curve="curveBumpX"
                       class="w-[200px] h-[120px]"></emr-mchart-line>
    </div>
  </div>
  <div class="col-span-1">
    <div class="space-y-10">
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showArea
                       showMarkers
                       strokeWidth="1"
                       markerDotSize="3"
                       compact
                       class="w-[50px] h-[25px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       showArea
                       strokeWidth="1"
                       markerDotSize="3"
                       curve="curveBumpX"
                       compact
                       class="w-[70px] h-[30px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1]"
                       showMarkers
                       showArea
                       compact
                       class="w-[100px] h-[50px]"></emr-mchart-line>
      <emr-mchart-line [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                       showMarkers
                       showArea
                       curve="curveBumpX"
                       compact
                       class="w-[200px] h-[120px]"></emr-mchart-line>
    </div>
  </div>
</div>
