<div class="pb-10 px-14">
  <div class="grid grid-cols-4 gap-6">
    <div class="col-span-1">
      <emr-total-subscribers-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-avg-open-rate-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-avg-click-rate-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-unique-visitors-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-total-tasks-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-total-projects-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-events-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-1">
      <emr-team-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-2">
      <emr-tasks-in-progress-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
    <div class="col-span-2">
      <emr-todos-widget class="bg-white dark:bg-surface-container-high rounded-xl overflow-hidden shadow"/>
    </div>
  </div>
</div>
