<app-page>
  <div appPageContent>
    <h1>Marquee</h1>

    <p>
      The <code>&#64;elementar/components/marquee</code> library is an Angular package that delivers a versatile
      marquee component, allowing for customizable scrolling content either horizontally or vertically.
      It offers various configuration options, including
      animation speed, direction (horizontal or vertical), reverse scrolling, gap size, and the ability to pause on hover.
    </p>

    <h2>Features</h2>
    <ul>
      <li>
        A scrolling marquee with customizable options for both horizontal and vertical movement.
      </li>
      <li>
        Includes options to control animation speed, direction, and reverse scrolling.
      </li>
      <li>
        Allows the marquee to pause when hovered.
      </li>
      <li>
        Lightweight and simple to integrate as a standalone component.
      </li>
    </ul>

    <h3>Basic marquee</h3>
    <emr-playground exampleUrl="_docs/components/marquee/_examples" exampleName="basic-marquee-example">
      <app-basic-marquee-example/>
    </emr-playground>
  </div>
</app-page>
