<app-page>
  <div appPageContent>
    <h1>Themes</h1>
    <div class="mt-10 flex gap-8">
      <div>
        <div class="text-xs mb-2 font-medium">Magenta & Violet</div>
        <div class="w-40 rounded-xl overflow-hidden cursor-pointer border-2 p-1 hover:border-primary"
             (click)="loadTheme('magenta-violet')"
             [class.border-primary]="isSelected('magenta-violet')">
          <div class="h-16 bg-[#a974ff] rounded-lg"></div>
          <div class="h-16 bg-[#fe00fe] rounded-lg mt-1"></div>
        </div>
      </div>
      <div>
        <div class="text-xs mb-2 font-medium">Rose & Red</div>
        <div class="w-40 rounded-xl overflow-hidden cursor-pointer border-2 p-1 hover:border-primary"
             (click)="loadTheme('rose-red')"
             [class.border-primary]="isSelected('rose-red')">
          <div class="h-16 bg-[#ff4a8e] rounded-lg"></div>
          <div class="h-16 bg-[#ff5540] rounded-lg mt-1"></div>
        </div>
      </div>
      <div>
        <div class="text-xs mb-2 font-medium">Cyan & Orange</div>
        <div class="w-40 rounded-xl overflow-hidden cursor-pointer border-2 p-1 hover:border-primary"
             (click)="loadTheme('cyan-orange')"
             [class.border-primary]="isSelected('cyan-orange')">
          <div class="h-16 bg-[#00bebe] rounded-lg"></div>
          <div class="h-16 bg-[#ff8e36] rounded-lg mt-1"></div>
        </div>
      </div>
    </div>
  </div>
</app-page>
