<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Autocomplete</h1>

      <h2 id="basic-button">Simple autocomplete</h2>
      <emr-playground>
        <app-simple-autocomplete-example></app-simple-autocomplete-example>
      </emr-playground>

      <h2 id="custom-filter">Custom Filter</h2>
      <emr-playground>
        <app-autocomplete-filter-example></app-autocomplete-filter-example>
      </emr-playground>

      <h2 id="separate-controls-and-display-values">Separate control and display values</h2>
      <emr-playground>
        <app-separate-controls-and-display-values-example></app-separate-controls-and-display-values-example>
      </emr-playground>

      <h2 id="auto-highlight-first-person">Automatically highlighting the first option</h2>
      <emr-playground>
        <app-auto-highlight-first-person-example></app-auto-highlight-first-person-example>
      </emr-playground>

      <h2 id="option-groups">Autocomplete with option groups</h2>
      <emr-playground>
        <app-option-groups-example></app-option-groups-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
