:host {
  --emr-incidents-bar-height: var(--h-24);
  --emr-incidents-bar-bg: var(--color-orange-400);
  --emr-incidents-bar-padding: 0 var(--p-8);
  --emr-incidents-bar-color: var(--color-neutral-800);
  --emr-incidents-bar-box-shadow: var(--shadow-lg);
  --emr-incidents-bar-hover-box-shadow: var(--shadow-xl);
  --emr-incidents-list-bg: rgba(0, 0, 0, .32);
  --emr-incidents-list-gap: var(--gap-5);
  --emr-incidents-list-padding: var(--p-7) 0;
  --emr-incident-bg: white;
  --emr-incident-color: var(--color-neutral-700);
  --emr-incident-border-radius: var(--rounded-md);
  --emr-incident-padding: var(--p-4) var(--p-6);
  --emr-incident-gap: var(--gap-6);
  --emr-incident-border-start: var(--w-1) solid var(--color-neutral-900);
  --emr-incident-close-color: var(--color-neutral-500);
  --emr-incident-close-hover-color: var(--color-neutral-900);
  --emr-incident-title-font-size: var(--text-sm);
  --emr-incident-title-font-weight: var(--font-medium);
  --emr-incident-details-font-size: var(--text-sm);
  --emr-incident-details-color: var(--color-neutral-500);
  --emr-incidents-title-font-size: var(--text-base);
  --emr-incidents-title-font-weight: var(--font-medium);
  --emr-incidents-description-font-size: var(--text-sm);
  --emr-incidents-description-opacity: var(--opacity-80);

  display: contents;

  .list-container {
    display: none;
    height: calc(100vh - var(--emr-layout-top-header-top) + var(--emr-layout-top-header-height));
  }
}

:host-context(html.dark) {
  --emr-incidents-list-bg: rgba(255, 255, 255, .32);
}
