<emr-page-loading-bar fixed/>
<emr-layout layoutId="root" windowMode>
  <emr-layout-topbar class="border-b border-b-secondary-container">
    <emr-announcement-global/>
    <emr-incidents-global/>
    <header class="px-7">
      <div class="min-h-18 w-full py-10 md:py-0 space-y-10 md:space-y-0 md:flex items-center gap-10
            relative">
        <a routerLink="/" emr-logo>ELEMENTAR</a>
        <div>
          <nav class="flex items-center gap-8 md:absolute md:start-1/2 md:-translate-x-1/2 md:-translate-y-1/2 text-md">
            <a routerLink="https://elementarui.com"
               class="hover:underline underline-offset-2">Home</a>
            <a routerLink="https://demo.elementarui.com" target="_blank"
               class="hover:underline underline-offset-2">Live Preview</a>
            <a routerLink="https://demo.elementarui.com/documentation" class="underline underline-offset-2 text-primary">Documentation</a>
          </nav>
        </div>
        <div class="ms-auto flex items-center gap-3">
          <button mat-icon-button (click)="_themeManager.toggleColorScheme()" matTooltip="Color Theme"
                  emrSoundEffect soundSrc="/assets/sound-effects/mouse-click.ogg">
            @if (_themeManager.getColorScheme() === 'light') {
              <mat-icon>light_mode</mat-icon>
            } @else if (_themeManager.getColorScheme() === 'dark') {
              <mat-icon>dark_mode</mat-icon>
            }
          </button>
          <a mat-stroked-button href="https://github.com/elementarlabs/elementar-ui" target="_blank">Github</a>
        </div>
      </div>
    </header>
  </emr-layout-topbar>
  <emr-layout-sidebar>
    <app-sidebar class="border-r border-r-secondary-container"/>
  </emr-layout-sidebar>
  <emr-layout>
    <emr-layout-body>
      <router-outlet/>
    </emr-layout-body>
  </emr-layout>
</emr-layout>
