<emr-navigation activeKey="profile" class="border  p-2 h-[500px] w-[320px]">
  <emr-navigation-item>Dashboard</emr-navigation-item>
  <emr-navigation-item>Projects</emr-navigation-item>
  <div emr-navigation-item>Tasks</div>
  <emr-navigation-group>
    <emr-navigation-group-toggle for="settings">
      Settings
      <mat-icon emrNavigationGroupToggleIcon>expand_more</mat-icon>
    </emr-navigation-group-toggle>
    <emr-navigation-group-menu key="settings">
      <emr-navigation-item key="profile">Profile</emr-navigation-item>
      <div emr-navigation-item>Security</div>
    </emr-navigation-group-menu>
  </emr-navigation-group>
  <emr-navigation-item>Support</emr-navigation-item>
</emr-navigation>
