<app-page>
  <div appPageContent>
    <h1>Command Bar</h1>

    <p>
      The Angular Command Bar component is a user interface element that contains commands
      for interacting with the content of the window, panel, or parent region it overlays.
    </p>

    <h3 class="mat-title-large">Basic command bar</h3>
    <p>
      Display a command bar with a list of commands:
    </p>
    <emr-playground exampleUrl="_docs/components/command-bar/_examples" exampleName="basic-command-bar-example">
      <app-basic-command-bar-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      <code class="code">emr-command-bar</code> -
      the root component of the command bar. This component manages the state of the command bar.
    </p>
    <div class="border rounded-xl shadow-sm overflow-hidden mt-6 mb-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th>Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>open</div>
            <div class="text-xs text-neutral-500 mt-0.5">Whether to open (show) command bar.</div>
          </td>
          <td>boolean</td>
          <td>&ndash;</td>
        </tr>
        <tr>
          <td>
            <div>position</div>
            <div class="text-xs text-neutral-500 mt-0.5"></div>
          </td>
          <td>CommandBarPosition: <span class="text-primary">top | bottom</span></td>
          <td>bottom</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p>
      <code class="code">emr-command-bar-divider</code> -
      the divider component of the command bar. This component is used to display a separator between commands.
    </p>
    <p>
      <code class="code">emr-command-bar-command</code> -
      the command component of the command bar. This component is used to display
      a command, as well as registering the keyboard shortcut.
    </p>
    <div class="border rounded-xl shadow-sm overflow-hidden mt-6">
      <table class="emr-table not-mat-typography">
        <thead>
          <tr class="bg-neutral-200 dark:bg-neutral-700">
            <th>Prop</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>shortcut</div>
            <div class="text-xs text-neutral-500 mt-0.5">The command's shortcut.</div>
          </td>
          <td>string</td>
          <td>&ndash;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
