@reference 'tailwindcss';

:host {
  display: block;
  border-radius: var(--emr-sidebar-nav-group-border-radius);

  &:has(.emr-sidebar-nav-group-toggle.is-active) {
    background: var(--emr-sidebar-nav-group-active-bg);

    ::ng-deep {
      emr-sidebar-nav-group-menu {
        display: flex !important;
      }
    }
  }
}
