<app-page>
  <div appPageContent>
    <h1>Sidebar</h1>

    <h3>Go to premium widget</h3>
    <emr-playground exampleUrl="_docs/shared/sidebar/_examples" exampleName="go-to-premium-widget-example">
      <app-go-to-premium-widget-example/>
    </emr-playground>

    <h3>Toolbar widget</h3>
    <emr-playground exampleUrl="_docs/shared/sidebar/_examples" exampleName="toolbar-widget-example">
      <app-toolbar-widget-example/>
    </emr-playground>

    <h3>Toolbar 1 widget</h3>
    <emr-playground exampleUrl="_docs/shared/sidebar/_examples" exampleName="toolbar-a-widget-example">
      <app-toolbar-a-widget-example/>
    </emr-playground>

    <h3>Upgrade now widget</h3>
    <emr-playground exampleUrl="_docs/shared/sidebar/_examples" exampleName="upgrade-now-widget-example">
      <app-upgrade-now-widget-example/>
    </emr-playground>

    <h3>Upgrade to pro widget</h3>
    <emr-playground exampleUrl="_docs/shared/sidebar/_examples" exampleName="upgrade-to-pro-widget-example">
      <app-upgrade-to-pro-widget-example/>
    </emr-playground>

    <h3>Used space widget</h3>
    <emr-playground exampleUrl="_docs/shared/sidebar/_examples" exampleName="used-space-widget-example">
      <app-used-space-widget-example/>
    </emr-playground>
  </div>
</app-page>
