:host {
  background: var(--emr-incidents-list-bg);
  transition: transform .15s, opacity .15s;
  display: grid;
  height: 0;
  opacity: 0;
  grid-gap: 25px;
  grid-template-columns: auto minmax(1px, 1440px) auto;
  grid-template-areas: ". content .";
  transform-origin: top;
  overflow: hidden;
  transform: scaleY(0);

  &:not(:empty) {
    padding: var(--emr-incidents-list-padding);
  }

  .container {
    display: grid;
    height: min-content;
    grid-area: content;
    grid-row-gap: var(--emr-incidents-list-gap);
    grid-auto-flow: row;
  }
}

:host(.is-fixed) {
  position: fixed;
  z-index: 102;
  left: 0;
  right: 0;
  top: calc(var(--emr-incidents-bar-height));
  bottom: 0;
}

:host-context(.emr-incidents.is-visible) {
  height: 100%;
  transform: scaleY(1);
  opacity: 1;
  overflow-y: auto;
}
