<div class="p-6 border dark:border-inverse h-full rounded-lg">
  <div class="text-lg font-semibold">Payment Information</div>
  <div class="flex items-center gap-5 mt-6">
    <img src="assets/banking/visa-logo.svg" alt="" class="h-12">
    <div class="text-sm">
      <div class="text-neutral-500 font-medium">
        Card ending in <span class="text-neutral-800 dark:text-neutral-200 font-semibold">1234</span>
      </div>
      <div class="text-neutral-500 font-medium mt-1.5">
        Exp. date <span class="text-neutral-800 dark:text-neutral-200 font-semibold">06/26</span>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-3 mt-7">
    <button mat-stroked-button>Change Method</button>
    <div class="text-tiny">
      or <a routerLink="/pages/pricing" class="text-primary dark:text-primary-200">View Other Methods</a>
    </div>
  </div>
</div>
