<div class="py-9 px-10">
  <div class="max-w-[960px] mx-auto">
    <h1 class="text-lg font-bold mb-7">Security</h1>
    <div class="space-y-11">
      <div class="relative group">
        <div class="flex items-center justify-between gap-14">
          <div class="flex items-center justify-between grow gap-4 text-sm">
            <div>
              <div>Email Address</div>
              <div class="mt-2 text-neutral-500">The email address associated with your account.</div>
            </div>
            <div class="flex flex-col items-end">
              <div>{{ securityProfile.email }}</div>
              @if (securityProfile.isEmailVerified) {
                <div class="mt-2 border border-default border-lime-500 text-2xs text-lime-600 h-5 inline-flex items-center px-1.5 rounded-lg justify-center">Verified</div>
              } @else {
                <div class="mt-2 border border-default w-max border-error-500 text-2xs text-error-500 h-5 inline-flex items-center justify-center px-1.5 rounded-lg">Unverified</div>
              }
            </div>
          </div>
          <button mat-stroked-button>
            <mat-icon>edit</mat-icon>Edit
          </button>
        </div>
      </div>
      <emr-h-divider/>
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Password</div>
            <div class="mt-2 text-neutral-500">Set a unique password to protect your account.</div>
          </div>
          <button mat-stroked-button>Change Password</button>
        </div>
      </div>
      <emr-h-divider/>
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>2-step verification</div>
            <div class="mt-2 text-neutral-500">Make your account extra secure. Along with your password, you'll need enter a code.</div>
          </div>
          @if (securityProfile.mfaConfigured) {
            <mat-slide-toggle [(ngModel)]="securityProfile.mfaEnabled"></mat-slide-toggle>
          } @else {
            <button mat-stroked-button (click)="setup2stepVerification()">Setup</button>
          }
        </div>
      </div>
      <emr-h-divider/>
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Deactivate my account</div>
            <div class="mt-2 text-neutral-500">
              This will shut down your account. Your account will be enabled when you sign in again.
            </div>
          </div>
          <button mat-button>Deactivate</button>
        </div>
      </div>
      <emr-h-divider/>
      <div class="relative group">
        <div class="flex items-center justify-between gap-14 text-sm">
          <div>
            <div>Delete account</div>
            <div class="mt-2 text-neutral-500">
              This will delete your account. Your account will be permanently deleted from this application.
            </div>
          </div>
          <button mat-button>
            <span class="text-error-500">Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
