<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Tab Panel</h1>

      <h3>Basic tab panel</h3>
      <emr-playground exampleUrl="_docs/navigation/tab-panel/_examples" exampleName="basic-tab-panel-example">
        <app-basic-tab-panel-example></app-basic-tab-panel-example>
      </emr-playground>

      <h3>Tab panel with panel inside</h3>
      <emr-playground exampleUrl="_docs/navigation/tab-panel/_examples" exampleName="tab-panel-with-panels-inside-example">
        <app-tab-panel-with-panels-inside-example></app-tab-panel-with-panels-inside-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
