<app-page>
  <div appPageContent>
    <h1>Expansion Panel</h1>

    <h3>Basic Expansion Panel</h3>
    <emr-playground exampleUrl="_docs/components/expansion-panel/_examples" exampleName="basic-expansion-panel-example">
      <app-basic-expansion-panel-example></app-basic-expansion-panel-example>
    </emr-playground>

    <h3>Expansion Panel with expand/collapse all toggles</h3>
    <emr-playground exampleUrl="_docs/components/expansion-panel/_examples" exampleName="expansion-panel-expand-collapse-toggles-example">
      <app-expansion-panel-expand-collapse-toggles-example></app-expansion-panel-expand-collapse-toggles-example>
    </emr-playground>

    <h3>Expansion Panel as Accordion</h3>
    <emr-playground exampleUrl="_docs/components/expansion-panel/_examples" exampleName="expansion-panel-as-accordion-example">
      <app-expansion-panel-as-accordion-example></app-expansion-panel-as-accordion-example>
    </emr-playground>
  </div>
</app-page>
