<app-page>
  <div appPageContent>
    <h1>Layout</h1>

    <h3 class="mat-title-large">Layout header</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-header-example">
      <app-layout-header-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout sidebar</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-sidebar-example">
      <app-layout-sidebar-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout header with sidebar</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-header-with-sidebar-example">
      <app-layout-header-with-sidebar-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout header with topbar</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-header-with-topbar-example">
      <app-layout-header-with-topbar-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout footer</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-footer-example">
      <app-layout-footer-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout header with footer</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-header-with-footer-example">
      <app-layout-header-with-footer-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout aside</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-aside-example">
      <app-layout-aside-example/>
    </emr-playground>

    <h3 class="mat-title-large">Layout with nested layouts example</h3>
    <emr-playground exampleUrl="_docs/components/layout/_examples" exampleName="layout-with-nested-layouts-example">
      <app-layout-with-nested-layouts-example/>
    </emr-playground>
  </div>
</app-page>
