<app-page>
  <div appPageContent>
    <h1>Paginator</h1>

    <h3>Basic Paginator</h3>
    <emr-playground exampleUrl="_docs/components/paginator/_examples" exampleName="basic-paginator-example">
      <app-basic-paginator-example></app-basic-paginator-example>
    </emr-playground>

    <h3>Configurable Paginator</h3>
    <emr-playground exampleUrl="_docs/components/paginator/_examples" exampleName="configurable-paginator-example">
      <app-configurable-paginator-example></app-configurable-paginator-example>
    </emr-playground>
  </div>
</app-page>
