<app-page>
  <div appPageContent>
    <h1>Gauge</h1>

    <main class="mb-10">
      <p>
        We’ve built a <strong>Gauge</strong> component for Angular Material, designed to help you visualize
        progress, metrics, and performance in a simple and beautiful way.
      </p>
      <div class="my-6">
        <div>Key Features:</div>
        <ul class="list-disc ps-4 flex flex-col gap-3 mt-3">
          <li>
            ✅ <strong>Seamless Material Design</strong> – Fully compatible with Angular Material for a smooth UI experience.
          </li>
          <li>
            ✅ <strong>Customizable</strong> – Adjust colors, sizes, and thresholds to fit your needs.
          </li>
          <li>
            ✅ <strong>Lightweight & Fast</strong> – Optimized for performance and responsiveness.
          </li>
          <li>
            ✅ <strong>Easy to Use</strong> – Simple API for quick integration into any Angular project.
          </li>
        </ul>
      </div>
      <p>
        Perfect for dashboards, reports, and real-time data visualization.
      </p>
      <p>
        Try it now and enhance your Angular apps with a modern Gauge component! 🚀
      </p>
    </main>

    <h3 class="mat-title-large">Basic Gauge</h3>
    <emr-playground exampleUrl="_docs/components/gauge/_examples" exampleName="basic-gauge-example">
      <app-basic-gauge-example/>
    </emr-playground>

    <h3 class="mat-title-large">Gauge With Value</h3>
    <emr-playground exampleUrl="_docs/components/gauge/_examples" exampleName="gauge-with-value-example">
      <app-gauge-with-value-example/>
    </emr-playground>

    <h3 class="mat-title-large">Gauge Custom Size</h3>
    <emr-playground exampleUrl="_docs/components/gauge/_examples" exampleName="gauge-custom-size-example">
      <app-gauge-custom-size-example/>
    </emr-playground>

    <h3 class="mat-title-large">Gauge Custom Stroke Width</h3>
    <emr-playground exampleUrl="_docs/components/gauge/_examples" exampleName="gauge-custom-stroke-width-example">
      <app-gauge-custom-stroke-width-example/>
    </emr-playground>

    <h2>API Reference</h2>

    <div class="mt-10">
      <p>
        Properties for the <code class="code">emr-gauge</code> component.
      </p>

      <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
        <table class="emr-table not-mat-typography">
          <thead>
          <tr class="bg-neutral-200 dark:bg-neutral-700">
            <th class="w-1/2">Prop</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div>value</div>
              <div class="text-xs text-neutral-500 mt-0.5">Shows the percentage progress</div>
            </td>
            <td>number</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              <div>strokeWidth</div>
              <div class="text-xs text-neutral-500 mt-0.5">Stroke width</div>
            </td>
            <td>number</td>
            <td>10</td>
          </tr>
          <tr>
            <td>
              <div>radius</div>
              <div class="text-xs text-neutral-500 mt-0.5">Radius</div>
            </td>
            <td>number</td>
            <td>50</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-page>
