<div class="p-6">
  <div class="bg-neutral-50 dark:bg-neutral-700 rounded-2xl px-12 py-5 flex items-center gap-24">
    <div>
      <div class="text-xs text-neutral-500 dark:text-neutral-400">My Money</div>
      <div class="text-4xl font-bold mt-1">3,674.45$</div>
    </div>
    <div class="bg-neutral-200 dark:bg-neutral-500 rounded-xl p-3 flex gap-3">
      <app-bank-credit-card></app-bank-credit-card>
      <app-bank-account-card></app-bank-account-card>
    </div>
  </div>
  <div class="grid grid-cols-12 mt-7">
    <div class="col-span-3">
      <app-my-investments></app-my-investments>
    </div>
  </div>
</div>
