<emr-expand showButtonIfExpanded
            expandLabel="Expand"
            collapseLabel="Collapse"
            class="border border-default rounded-2xl p-5 text-sm leading-relaxed">
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
  If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.If you were hoping I had a magical, complete solution to this problem, <br>
  I’m sorry to disappoint you. There’s no one solution that achieves the desired effect without downsides.
</emr-expand>
