<app-page>
  <div appPageContent>
    <h1>Breadcrumbs</h1>

    <h3>Basic breadcrumbs</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="basic-breadcrumbs-example">
      <app-basic-breadcrumbs-example></app-basic-breadcrumbs-example>
    </emr-playground>

    <h3>Breadcrumbs with icons</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-icons-example">
      <app-breadcrumbs-with-icons-example></app-breadcrumbs-with-icons-example>
    </emr-playground>

    <h3>Breadcrumbs with titles</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-titles-example">
      <app-breadcrumbs-with-titles-example></app-breadcrumbs-with-titles-example>
    </emr-playground>

    <h3>Breadcrumbs with datasource</h3>
    <emr-playground exampleUrl="_docs/navigation/breadcrumbs/_examples" exampleName="breadcrumbs-with-datasource-example">
      <app-breadcrumbs-with-datasource-example></app-breadcrumbs-with-datasource-example>
    </emr-playground>
  </div>
</app-page>
