<div class="p-10 space-y-8">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Dashboard</h1>
  </div>
  <div class="grid grid-cols-4 gap-6">
    <div class="col-span-1">
      <app-total-subscribers-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-avg-open-rate-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-avg-click-rate-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-unique-visitors-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-total-tasks-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-total-projects-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-events-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-1">
      <app-team-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-2">
      <app-tasks-in-progress-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
    <div class="col-span-2">
      <app-todos-widget class="border dark:border-inverse rounded-xl overflow-hidden"/>
    </div>
  </div>
</div>
