<div class="p-10 flex flex-col gap-8">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-bold">Dashboard</h1>
  </div>
  <emr-dashboard [configs]="configs" [widgets]="widgets"></emr-dashboard>

<!--  <div class="grid grid-cols-4 gap-6">-->
<!--    <div class="col-span-1">-->
<!--      <emr-total-subscribers-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-avg-open-rate-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-avg-click-rate-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-unique-visitors-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-total-tasks-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-total-projects-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-events-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-1">-->
<!--      <emr-team-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-2">-->
<!--      <emr-tasks-in-progress-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--    <div class="col-span-2">-->
<!--      <emr-todos-widget class="border border-default rounded-xl overflow-hidden"/>-->
<!--    </div>-->
<!--  </div>-->
</div>
