<div class="flex flex-col gap-8">
  <div class="flex gap-6 items-center">
    <emr-avatar>
      <mat-icon class="filled">folder</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-pink-500">
      <mat-icon class="filled">cloud_download</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-blue-500">
      <mat-icon class="filled">person</mat-icon>
    </emr-avatar>
  </div>
  <div class="flex gap-6 items-center">
    <emr-avatar class="size-7">
      <mat-icon class="!text-lg font-icon">folder</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-pink-500 size-7">
      <mat-icon class="!text-lg font-icon filled">cloud_download</mat-icon>
    </emr-avatar>
    <emr-avatar class="bg-blue-500 size-7">
      <mat-icon class="!text-lg font-icon">person</mat-icon>
    </emr-avatar>
  </div>
</div>
