<div class="space-y-1.5 mt-4">
  @if (passwordComponent().enableLowerCaseLetterRule()) {
    <div class="row">
      @if (passwordComponent().containAtLeastOneLowerCaseLetter) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span class="text-tiny">{{ lowerCaseCriteriaMessage() }}</span>
    </div>
  }

  @if (passwordComponent().enableUpperCaseLetterRule()) {
    <div class="row">
      @if (passwordComponent().containAtLeastOneUpperCaseLetter) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span class="text-tiny">{{ upperCaseCriteriaMessage() }}</span>
    </div>
  }

  @if (passwordComponent().enableDigitRule()) {
    <div class="row">
      @if (passwordComponent().containAtLeastOneDigit) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span class="text-tiny">{{ digitsCriteriaMessage() }}</span>
    </div>
  }

  @if (passwordComponent().enableSpecialCharRule()) {
    <div class="row">
      @if (passwordComponent().containAtLeastOneSpecialChar) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span class="text-tiny">{{ specialCharsCriteriaMessage() }}</span>
    </div>
  }

  @if (passwordComponent().enableLengthRule()) {
    <div class="row">
      @if (passwordComponent().containAtLeastMinChars) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span class="text-tiny">{{ minCharsCriteriaMessage() }}</span>
    </div>
  }

  @if (passwordComponent().customValidator()) {
    <div class="row">
      @if (passwordComponent().containAtCustomChars) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span class="text-tiny">{{ customCharsCriteriaMessage() }}</span>
    </div>
  }

  @if (enableScoreInfo()) {
    <div class="row">
      @if (passwordComponent().strength === 100) {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="primary">{{ matIconDone() }}</mat-icon>
      } @else {
        <mat-icon class="font-icon !text-xl !h-7 !w-5" color="warn">{{ matIconError() }}</mat-icon>
      }

      <span>Password's strength = {{ passwordComponent().strength }} %100</span>
    </div>
  }
</div>
