<div class="bg-tertiary-200 dark:bg-tertiary-600 rounded-xl flex items-center justify-between gap-6 p-4">
  <div>
    <div class="text-lg font-bold">72%</div>
    <div class="text-xs text-neutral-500 dark:text-neutral-300">Used space</div>
    <div class="mt-4">
      <button class="flex items-center gap-2 dark:text-tertiary-200 text-tertiary-500 text-xs -ms-1
                     font-bold w-full whitespace-nowrap hover:text-tertiary-600 dark:hover:text-tertiary-50">
        <mat-icon class="font-icon">bolt</mat-icon>
        Upgrade Now
      </button>
    </div>
  </div>
  <emr-gauge strokeWidth="18" value="72" class="size-16"></emr-gauge>
</div>
