<app-page>
  <div appPageContent>
    <h1>Panel</h1>

    <main class="mb-10">
      <p>
        Introducing <strong>Panel</strong>, the ultimate Angular Material component designed to bring structure, style, and
        flexibility to your applications. With a <strong>dedicated header, body, and footer</strong>,
        it provides a seamless way to organize content while maintaining a sleek and modern aesthetic.
      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="list-disc ps-4 mt-3 flex flex-col gap-3">
          <li>
            ✅ <strong>Modular & Intuitive</strong> – Easily configure and customize each section to fit your design.
          </li>
          <li>
            🎨 <strong>Material 3 + Tailwind Ready</strong> – A perfect blend of Material Design
            principles with Tailwind’s flexibility.
          </li>
          <li>
            ⚡ <strong>Seamless Integration</strong> – Works effortlessly with Angular Material
            components for a consistent UI experience.
          </li>
          <li>
            🛠 <strong>Highly Customizable</strong> – Add actions, icons, and interactive elements with ease.
          </li>
        </ul>
      </div>
      <p>
        Whether you're building dashboards, admin panels, or interactive UIs, <strong>Panel</strong> is your go-to
        solution for structured and elegant content presentation.
      </p>
      <p>
        👉 Try it now and give your Angular apps the <strong>polished, professional</strong> look they deserve! 🚀
      </p>
    </main>

    <h3 class="mat-title-large">Basic panel</h3>
    <emr-playground exampleUrl="_docs/components/panel/_examples" exampleName="basic-panel-example">
      <app-basic-panel-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      <code class="code">emr-panel</code> - main component.
    </p>
    <p>
      <code class="code">emr-panel-header</code> - header panel component.
    </p>
    <p>
      <code class="code">emr-panel-body</code> - contains content of a panel.
    </p>
    <p>
      <code class="code">emr-panel-footer</code> - footer panel component.
    </p>

    <div class="my-11">
      <mat-divider/>
    </div>

    <p>
      Properties for the <code class="code">emr-panel-header</code> component.
    </p>
    <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>height</div>
            <div class="text-xs text-neutral-500 mt-0.5">Adds custom height</div>
          </td>
          <td>number</td>
          <td>&ndash;</td>
        </tr>
        </tbody>
      </table>
    </div>

    <p>
      Properties for the <code class="code">emr-panel-footer</code> component.
    </p>
    <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>height</div>
            <div class="text-xs text-neutral-500 mt-0.5">Adds custom height</div>
          </td>
          <td>number</td>
          <td>&ndash;</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
