:host {
  --emr-avatar-font-weight: theme('fontWeight.medium');
  --emr-avatar-size: theme('width.10');
  --emr-avatar-border-radius: theme('borderRadius.full');
  --emr-avatar-bg: theme('colors.emerald.500');
  --emr-avatar-color: theme('colors.white');
  --emr-avatar-presence-indicator-size: 20%;
  --emr-avatar-presence-indicator-position-top: 5%;
  --emr-avatar-presence-indicator-position-end: 5%;
  --emr-avatar-presence-indicator-online-bg: theme('colors.green.500');
  --emr-avatar-presence-indicator-offline-bg: theme('colors.neutral.300');
  --emr-avatar-presence-indicator-away-bg: theme('colors.yellow.400');
  --emr-avatar-presence-indicator-outline: theme('colors.white') solid 2px;
  --emr-avatar-inner-border: inset 0 0 2px theme('borderColor.DEFAULT');

  // @apply inline-flex items-center justify-center select-none flex-none uppercase relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex: none;
  text-transform: uppercase;
  position: relative;
  font-weight: var(--emr-avatar-font-weight);
  box-shadow: var(--emr-avatar-inner-border);

  .svg {
    overflow: hidden;
    border-radius: inherit;
  }

  &:not([class*="rounded"]),
  &:not([class*="rounded"]) .svg {
    border-radius: var(--emr-avatar-border-radius);
  }

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--emr-avatar-size);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--emr-avatar-size);
  }

  &.is-clickable {
    cursor: pointer;
  }

  &.is-hidden {
    display: none;
  }

  &.is-clickable:active {
    scale: .97;
  }

  .image {
    display: inline;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
  }

  .presence-indicator {
    position: absolute;
    z-index: 1;
    outline: var(--emr-avatar-presence-indicator-outline);
    border-radius: 6.1875rem;
    width: var(--emr-avatar-presence-indicator-size);
    height: var(--emr-avatar-presence-indicator-size);
    top: var(--emr-avatar-presence-indicator-position-top);
    inset-inline-end: var(--emr-avatar-presence-indicator-position-end);

    &.is-online {
      background: var(--emr-avatar-presence-indicator-online-bg);
    }

    &.is-offline {
      background: var(--emr-avatar-presence-indicator-offline-bg);
    }

    &.is-away {
      background: var(--emr-avatar-presence-indicator-away-bg);
    }
  }
}

:host-context(html.dark) {
  --emr-avatar-group-item-border: 0.125rem solid theme('colors.neutral.950');
  --emr-avatar-presence-indicator-outline: theme('colors.neutral.950') solid 2px;
}
