:host {
  display: block;
  position: relative;

  .content {
    &:empty {
      display: none;
    }
  }

  &:not([class*="h-"]) {
    height: 1px;
  }

  &:not([class*="bg-"]) {
    background: var(--color-border);
  }
}
