<div class="bg-primary-200 rounded-lg text-primary-900 py-7 px-6 w-52 flex flex-col text-center justify-center items-center">
  <div class="size-14 rounded-full bg-white shadow flex items-center justify-center -mt-14 mb-4">
    <img src="/assets/rocket.svg" class="size-8">
  </div>
  <div class="font-semibold text-sm">Upgrade Now</div>
  <div class="text-xs mt-2">Upgrade now to unlock more features</div>
  <div class="mt-5">
    <button mat-flat-button class="shadow">Upgrade</button>
  </div>
</div>
