<div class="text-sm font-semibold">Outline</div>
<div class="mt-3 grid grid-cols-4 gap-8">
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">outline</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-outline"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">outline-variant</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-outline-variant"></div>
    </div>
  </div>
</div>
