<app-page>
  <div appPageContent>
    <h1>Card</h1>

    <h3 class="mat-title-large">Basic Card</h3>
    <emr-playground exampleUrl="_docs/components/card/_examples" exampleName="basic-card-example">
      <app-basic-card-example></app-basic-card-example>
    </emr-playground>

    <h3 class="mat-title-large">Card Actions</h3>
    <emr-playground exampleUrl="_docs/components/card/_examples" exampleName="card-actions-example">
      <app-card-actions-example></app-card-actions-example>
    </emr-playground>

    <h3 class="mat-title-large">Card Multiple Sections</h3>
    <emr-playground exampleUrl="_docs/components/card/_examples" exampleName="card-multiple-sections-example">
      <app-card-multiple-sections-example></app-card-multiple-sections-example>
    </emr-playground>

    <h3 class="mat-title-large">Card Footer Loading</h3>
    <emr-playground exampleUrl="_docs/components/card/_examples" exampleName="card-footer-loading-example">
      <app-card-footer-loading-example></app-card-footer-loading-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/card/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
