<div class="py-9 px-10">
  <div class="max-w-[960px] mx-auto">
    <h1 class="text-lg font-bold mb-7">My Profile</h1>
    <div class="space-y-12">
      <div class="border dark:border-inverse rounded-2xl p-8 group">
        <div class="relative">
          <div class="absolute end-0 top-0 opacity-0 group-hover:opacity-100">
            <button mat-stroked-button class="stroked-alt">
              <mat-icon class="material-symbols-outlined">edit</mat-icon>Edit
            </button>
          </div>
          <div class="flex items-center gap-6">
            <emr-avatar class="size-28" text="ps"></emr-avatar>
            <div>
              <div class="flex items-center gap-3">
                <div class="text-base">{{ myProfile.firstName }} {{ myProfile.lastName }}</div>
              </div>
              <div class="text-neutral-500 text-sm mt-1">
                <div>{{ myProfile.username }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border dark:border-inverse rounded-2xl p-8 group">
        <div class="relative">
          <div class="font-bold mb-5 text-sm">Personal Information</div>
          <div class="absolute end-0 top-0 opacity-0 group-hover:opacity-100">
            <button mat-stroked-button class="stroked-alt">
              <mat-icon class="material-symbols-outlined">edit</mat-icon>Edit
            </button>
          </div>
          <div class="grid grid-cols-2 text-sm w-max gap-y-7 gap-x-14">
            <div class="col-span-1">
              <div class="text-neutral-500">First Name</div>
              <div class="mt-1">{{ myProfile.firstName }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Last Name</div>
              <div class="mt-1">{{ myProfile.lastName }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Email Address</div>
              <div class="mt-1">{{ myProfile.email }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Phone Number</div>
              <div class="mt-1">{{ myProfile.phoneNumber }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Job Title</div>
              <div class="mt-1">{{ myProfile.jobTitle }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Bio</div>
              <div class="mt-1">{{ myProfile.bio }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="border dark:border-inverse rounded-2xl p-8 group">
        <div class="relative">
          <div class="font-bold mb-5 text-sm">Address</div>
          <div class="absolute end-0 top-0 opacity-0 group-hover:opacity-100">
            <button mat-stroked-button class="stroked-alt">
              <mat-icon class="material-symbols-outlined">edit</mat-icon>Edit
            </button>
          </div>
          <div class="grid grid-cols-2 text-sm w-max gap-y-7 gap-x-14">
            <div class="col-span-1">
              <div class="text-neutral-500">Country</div>
              <div class="mt-1">{{ myProfile.address.country }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">City</div>
              <div class="mt-1">{{ myProfile.address.city }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Street</div>
              <div class="mt-1">{{ myProfile.address.street }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Building</div>
              <div class="mt-1">{{ myProfile.address.building }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Apartment</div>
              <div class="mt-1">{{ myProfile.address.apartment }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Postal Code</div>
              <div class="mt-1">{{ myProfile.address.postalCode }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="border dark:border-inverse rounded-2xl p-8 group">
        <div class="relative">
          <div class="font-bold mb-5 text-sm">Preferences</div>
          <div class="absolute end-0 top-0 opacity-0 group-hover:opacity-100">
            <button mat-stroked-button class="stroked-alt">
              <mat-icon class="material-symbols-outlined">edit</mat-icon>Edit
            </button>
          </div>
          <div class="grid grid-cols-2 text-sm w-max gap-y-7 gap-x-14">
            <div class="col-span-1">
              <div class="text-neutral-500">Language</div>
              <div class="mt-1">{{ myProfile.preferences.language.name }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Date Format</div>
              <div class="mt-1">{{ myProfile.preferences.dateFormat }}</div>
            </div>
            <div class="col-span-1">
              <div class="text-neutral-500">Automatic time zone</div>
              <div class="mt-1">
                {{ myProfile.preferences.automaticTimeZone.name }}

                @if (myProfile.preferences.automaticTimeZone.isEnabled) {
                  (On)
                } @else {
                  (Off)
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
