:host {
  box-shadow: var(--shadow-default);
  margin-left: var(--m-3);
  margin-right: var(--m-3);
  background-color: var(--sys-surface-container-lowest);
  padding: var(--p-1_5) var(--p-2);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-0_5);
  border: 1px solid var(--emr-border);
  border-radius: var(--rounded-2xl);
}
