<emr-filter-builder [fieldDefs]="fieldDefs">
  <ng-container emrFilterBuilderOperationDef="equals">
    <ng-template emrFilterBuilderOperationName>Equals</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:equals"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="notEquals">
    <ng-template emrFilterBuilderOperationName>Not equals</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:not-equals"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="isLessThen">
    <ng-template emrFilterBuilderOperationName>Is less then</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:less-than"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="isLessThenOrEqual">
    <ng-template emrFilterBuilderOperationName>Is less then or equal</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:less-than-or-equal"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="isGreaterThen">
    <ng-template emrFilterBuilderOperationName>Is greater then</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:greater-than"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="isGreaterThenOrEqual">
    <ng-template emrFilterBuilderOperationName>Is greater then or equal</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:greater-than-or-equal"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="isBlank">
    <ng-template emrFilterBuilderOperationName>Is blank</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:circle"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="isNotBlank">
    <ng-template emrFilterBuilderOperationName>Is not blank</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:circle-fill"></emr-icon>
    </ng-template>
  </ng-container>
  <ng-container emrFilterBuilderOperationDef="between">
    <ng-template emrFilterBuilderOperationName>Is between</ng-template>
    <ng-template emrFilterBuilderOperationIcon>
      <emr-icon name="ph:minus"></emr-icon>
    </ng-template>
  </ng-container>
</emr-filter-builder>
