<app-page>
  <div appPageContent>
    <h1>Divider</h1>

    <h3>Basic Divider</h3>
    <emr-playground exampleUrl="_docs/components/divider/_examples" exampleName="basic-divider-example">
      <app-basic-divider-example></app-basic-divider-example>
    </emr-playground>

    <h3>Horizontal and vertical dividers</h3>
    <emr-playground exampleUrl="_docs/components/divider/_examples" exampleName="divider-horizontal-and-vertical-example">
      <app-divider-horizontal-and-vertical-example></app-divider-horizontal-and-vertical-example>
    </emr-playground>
  </div>
</app-page>
