:host {
  display: block;
  padding: 0 var(--p-2);

  .divider {
    height: var(--h-6);
    background: var(--color-neutral-300);
    width: 1px;
  }
}

:host-context(html.dark) {
  .divider {
    background: var(--color-neutral-500);
  }
}
