<app-page>
  <div appPageContent>
    <h1>Progress Bar</h1>

    <h3 class="mat-title-large">Basic Progress Bar</h3>
    <emr-playground exampleUrl="_docs/components/progress-bar/_examples" exampleName="basic-progress-bar-example">
      <app-basic-progress-bar-example></app-basic-progress-bar-example>
    </emr-playground>

    <h3 class="mat-title-large">Intermediate Progress Bar</h3>
    <emr-playground exampleUrl="_docs/components/progress-bar/_examples" exampleName="intermediate-progress-bar-example">
      <app-intermediate-progress-bar-example></app-intermediate-progress-bar-example>
    </emr-playground>

    <h3 class="mat-title-large">Buffer Progress Bar</h3>
    <emr-playground exampleUrl="_docs/components/progress-bar/_examples" exampleName="buffer-progress-bar-example">
      <app-buffer-progress-bar-example></app-buffer-progress-bar-example>
    </emr-playground>

    <h3 class="mat-title-large">Query Progress Bar</h3>
    <emr-playground exampleUrl="_docs/components/progress-bar/_examples" exampleName="query-progress-bar-example">
      <app-query-progress-bar-example></app-query-progress-bar-example>
    </emr-playground>
  </div>
</app-page>
