<emr-breadcrumbs>
  <emr-breadcrumb-item>
    <mat-icon emrBreadcrumbItemIcon class="material-symbols-outlined filled">home</mat-icon>
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <mat-icon emrBreadcrumbItemIcon class="material-symbols-outlined filled">person</mat-icon>
    Account
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <mat-icon emrBreadcrumbItemIcon class="material-symbols-outlined filled">settings</mat-icon>
    Settings
  </emr-breadcrumb-item>
  <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
  <emr-breadcrumb-item>
    <mat-icon emrBreadcrumbItemIcon class="material-symbols-outlined filled">notifications</mat-icon>
    Notifications
  </emr-breadcrumb-item>
</emr-breadcrumbs>
