<div class="relative h-full rounded-lg border group dark:border-inverse p-6">
  <div class="flex items-center justify-between">
    <div class="font-bold text-md">Today's sales</div>
    <button mat-stroked-button class="export">Export</button>
  </div>
  <div class="grid grid-cols-4 gap-6 mt-5">
    <div class="col-span-1 rounded-lg bg-rose-50 dark:bg-rose-500 p-5">
      <div class="size-9 rounded-full flex bg-rose-500 dark:bg-rose-100 dark:text-rose-500 items-center justify-center text-white">
        <mat-icon class="font-icon">bar_chart</mat-icon>
      </div>
      <div class="mt-4">
        <div class="text-lg font-bold">$1K</div>
        <div class="text-sm mt-0.5">Total Sales</div>
        <div class="text-primary dark:text-primary-200 text-xs mt-3">+10% from last week</div>
      </div>
    </div>
    <div class="col-span-1 rounded-lg bg-amber-50 dark:bg-amber-500 p-5">
      <div class="size-9 rounded-full flex bg-amber-500 dark:bg-amber-100 dark:text-amber-500 items-center justify-center text-white">
        <mat-icon class="font-icon">ssid_chart</mat-icon>
      </div>
      <div class="mt-4">
        <div class="text-lg font-bold">200</div>
        <div class="text-sm mt-0.5">Total Orders</div>
        <div class="text-primary dark:text-primary-200 text-xs mt-3">+3% from last week</div>
      </div>
    </div>
    <div class="col-span-1 rounded-lg bg-green-50 dark:bg-green-500 p-5">
      <div class="size-9 rounded-full flex bg-green-500 dark:bg-green-100 dark:text-green-500 items-center justify-center text-white">
        <mat-icon class="font-icon">scatter_plot</mat-icon>
      </div>
      <div class="mt-4">
        <div class="text-lg font-bold">7</div>
        <div class="text-sm mt-0.5">Product Sold</div>
        <div class="text-primary dark:text-primary-200 text-xs mt-3">+1% from last week</div>
      </div>
    </div>
    <div class="col-span-1 rounded-lg bg-purple-50 dark:bg-purple-500 p-5">
      <div class="size-9 rounded-full flex bg-purple-500 dark:bg-purple-100 dark:text-purple-500 items-center justify-center text-white">
        <mat-icon class="font-icon">person_add</mat-icon>
      </div>
      <div class="mt-4">
        <div class="text-lg font-bold">94</div>
        <div class="text-sm mt-0.5">New Customers</div>
        <div class="text-primary dark:text-primary-200 text-xs mt-3">+34% from last week</div>
      </div>
    </div>
  </div>
</div>
