<div class="flex flex-col gap-10">
  <emr-mchart-pie [data]="data"
                  [labels]="labels"
                  legendContainerWidth="100"
                  showDataAnimation
                  showLegend
                  class="w-[350px] h-[200px]"></emr-mchart-pie>
  <emr-mchart-pie [data]="data"
                  [labels]="labels"
                  showLegend
                  legendContainerWidth="70"
                  showDataAnimation
                  legendItemSymbolSize="7"
                  legendItemFontSize="9"
                  legendOffset="15"
                  legendItemHeight="18"
                  valueFontSize="10"
                  class="w-[200px] h-[200px]"></emr-mchart-pie>
</div>
