:host {
  font-size: var(--emr-file-control-font-size);
  cursor: pointer;
  display: inline-flex;
  color: var(--emr-file-control-color);

  &:hover {
    color: var(--emr-file-control-hover-color);
  }
}
