<emr-navigation activeKey="dashboard" class="border dark:border-inverse p-2 w-1/2">
  <emr-navigation-item key="dashboard">
    <ng-template emrNavigationItemIcon>
      <mat-icon emrNavigationItemIcon>home</mat-icon>
    </ng-template>
    Dashboard
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon>view_kanban</mat-icon>
    Projects
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon>check</mat-icon>
    Tasks
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon>person</mat-icon>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon>support</mat-icon>
    Support
  </emr-navigation-item>
</emr-navigation>
