:host {
  display: block;
  background: var(--color-neutral-200);
  padding: var(--p-1_5) var(--p-2);
  font-weight: var(--font-medium);
}

:host-context(html.dark) {
  background: var(--color-neutral-300);
  color: var(--color-neutral-900);
}
