:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: var(--emr-command-bar-command-padding);
  font-size: var(--emr-command-bar-command-font-size);
  cursor: pointer;
  gap: var(--emr-command-bar-command-gap);
  color: var(--emr-command-bar-command-color);
}

:host:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

:host:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

:host:hover {
  color: var(--emr-command-bar-command-hover-color);
  background: var(--emr-command-bar-command-hover-bg);
}

:host .shortcut {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--emr-command-bar-command-shortcut-bg);
  border-radius: var(--emr-command-bar-command-shortcut-border-radius);
  font-size: var(--emr-command-bar-command-shortcut-font-size);
  color: var(--emr-command-bar-command-shortcut-color);
  padding: var(--emr-command-bar-command-shortcut-padding);
  border: var(--emr-command-bar-command-shortcut-border);
}
