:host {
  left: 50%;
  translate: -50% 0;
  height: var(--emr-command-bar-height);
  border: var(--emr-command-bar-border);
  box-shadow: var(--emr-command-bar-shadow);
  border-radius: var(--emr-command-bar-border-radius);
  z-index: -1;
  font-size: var(--emr-command-bar-font-size);
  color: var(--emr-command-bar-color);
  @apply p-[var(--emr-command-bar-padding)] overflow-hidden opacity-0 flex items-center w-min fixed;
  @apply bg-[var(--emr-command-bar-bg)] m-[var(--emr-command-bar-margin)] gap-1;

  .content {
    &:empty {
      @apply hidden;
    }

    @apply whitespace-nowrap p-[var(--emr-command-bar-content-padding)];
  }
}

:host.is-open {
  opacity: 1;
  z-index: var(--emr-command-bar-zindex);
}

:host[emr-command-bar-position="top"] {
  top: 0;
}

:host[emr-command-bar-position="top"].is-open {
  animation: 0.3s emr-command-bar-animation-from-top;
}

:host[emr-command-bar-position="bottom"] {
  bottom: 0;
}

:host[emr-command-bar-position="bottom"].is-open {
  animation: 0.3s emr-command-bar-animation-from-bottom;
}

@keyframes emr-command-bar-animation-from-top {
  0% {
    transform: translateY(-150%) scale(.9);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes emr-command-bar-animation-from-bottom {
  0% {
    transform: translateY(150%) scale(.9);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
