:host {
  --emr-dashboard-gap: calc(var(--spacing) * 7);

  display: block;

  .dashgrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--emr-dashboard-gap);
  }

  .widget:not(.plain) {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-2xl);
    height: 100%;
    overflow: hidden;
  }

  .skeleton {
    --emr-dashboard-widget-skeleton-min-height: 100px;
    padding: calc(var(--spacing) * 5);
    min-height: var(--emr-dashboard-widget-skeleton-min-height);
  }
}
