:host {
  --emr-dashboard-gap: var(--gap-7);

  display: block;

  .dashgrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--emr-dashboard-gap);
  }

  .widget:not(.plain) {
    border: var(--border-default) solid var(--emr-border);
    border-radius: var(--rounded-2xl);
    height: 100%;
    overflow: hidden;
  }

  .skeleton {
    --emr-dashboard-widget-skeleton-min-height: 100px;
    padding: var(--p-5);
    min-height: var(--emr-dashboard-widget-skeleton-min-height);
  }
}
