:host {
  @apply block;

  .dashgrid {
    @apply grid grid-cols-12 gap-6;
  }

  .widget:not(.plain) {
    @apply border rounded-2xl h-full overflow-hidden;
  }

  .skeleton {
    --emr-dashboard-widget-skeleton-min-height: 100px;
    @apply p-5 min-h-[var(--emr-dashboard-widget-skeleton-min-height)];
  }
}
