<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Dialog</h1>

      <h3>Basic Dialog</h3>
      <emr-playground exampleUrl="_docs/components/dialog/_examples" exampleName="basic-dialog-example">
        <app-basic-dialog-example></app-basic-dialog-example>
      </emr-playground>

      <h3>Dialog With Scrollable Content</h3>
      <emr-playground exampleUrl="_docs/components/dialog/_examples" exampleName="dialog-scrollable-content-example">
        <app-dialog-scrollable-content-example></app-dialog-scrollable-content-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
