<app-page>
  <div appPageContent>
    <h1>Dialog</h1>

    <h3 class="mat-title-large">Basic Dialog</h3>
    <emr-playground exampleUrl="_docs/components/dialog/_examples" exampleName="basic-dialog-example">
      <app-basic-dialog-example></app-basic-dialog-example>
    </emr-playground>

    <h3 class="mat-title-large">Dialog With Scrollable Content</h3>
    <emr-playground exampleUrl="_docs/components/dialog/_examples" exampleName="dialog-scrollable-content-example">
      <app-dialog-scrollable-content-example></app-dialog-scrollable-content-example>
    </emr-playground>
  </div>
</app-page>
