<app-page>
  <div appPageContent>
    <h1>Announcement</h1>

    <h3>Basic announcement</h3>
    <emr-playground exampleUrl="_docs/components/announcement/_examples" exampleName="basic-announcement-example">
      <app-basic-announcement-example></app-basic-announcement-example>
    </emr-playground>

    <h3>Announcement with icons</h3>
    <emr-playground exampleUrl="_docs/components/announcement/_examples" exampleName="announcement-with-icons-example">
      <app-announcement-with-icons-example></app-announcement-with-icons-example>
    </emr-playground>
  </div>
</app-page>
