<div class="flex gap-4">
  <mat-icon class="material-symbols-outlined filled">person</mat-icon>
  <mat-icon class="material-symbols-outlined">person</mat-icon>
  <mat-icon class="material-symbols-outlined filled">grid_view</mat-icon>
  <mat-icon class="material-symbols-outlined">grid_view</mat-icon>
  <mat-icon class="material-symbols-outlined filled">dark_mode</mat-icon>
  <mat-icon class="material-symbols-outlined">dark_mode</mat-icon>
  <mat-icon class="material-symbols-outlined filled">light_mode</mat-icon>
  <mat-icon class="material-symbols-outlined">light_mode</mat-icon>
</div>
