<div>
  <mat-slide-toggle [(ngModel)]="compact">Compact</mat-slide-toggle>
</div>
<div class="h-[600px] relative mt-10">
  <emr-sidebar [compact]="compact" class="border">
    <emr-sidebar-header class="border-b border-b-default font-bold">
      <div class="h-20 flex items-center px-7 text-primary">
        <div emrSidebarCompactViewMode>El</div>
        <div emrSidebarFullViewMode>Elementar</div>
      </div>
    </emr-sidebar-header>
    <emr-sidebar-body>
      <emr-sidebar-nav activeKey="home" [navItems]="navItems"/>
    </emr-sidebar-body>
    <emr-sidebar-footer class="border-t border-t-default">
      <div class="h-20 flex items-center whitespace-nowrap justify-center text-sm">
        <div emrSidebarFullViewMode>
          Copyright &copy; 2024
        </div>
        <div emrSidebarCompactViewMode>
          2024
        </div>
      </div>
    </emr-sidebar-footer>
  </emr-sidebar>
</div>
