:host {
  --emr-sidebar-width: 300px;
  --emr-sidebar-compact-width: 74px;
  --emr-sidebar-header-padding: 0;
  --emr-sidebar-header-compact-padding: 0;
  --emr-sidebar-body-padding: theme('padding.3');
  --emr-sidebar-body-compact-padding: theme('padding.3');
  --emr-sidebar-footer-padding: 0;
  --emr-sidebar-footer-compact-padding: 0;

  @apply flex flex-col overflow-x-hidden h-full w-[var(--emr-sidebar-width)] transition-all;

  &.compact {
    @apply absolute indent-0;
  }

  &.compact:not(:hover) {
    @apply w-[var(--emr-sidebar-compact-width)] overflow-hidden;

    ::ng-deep {
      emr-navigation {
        --emr-navigation-item-width: var(--emr-navigation-item-height);
        --emr-navigation-item-padding: 0;
      }

      .toggle,
      .badge {
        @apply hidden;
      }

      emr-navigation-heading {
        @apply p-0 flex items-center text-4xs justify-center;
      }

      emr-navigation-group-menu {
        &.is-active {
          @apply hidden;
        }
      }

      emr-navigation-group-toggle {
        @apply justify-center gap-0;
        --emr-navigation-group-toggle-has-icon-padding-end: 0;

        .icon {
          @apply transition-all;
        }

        &:has(.icon:not(:empty)) {
          .text {
            @apply opacity-0 w-0 max-w-0 transition-all;
          }
        }
      }

      emr-navigation-item {
        .inner {
          @apply justify-center gap-0;
        }

        .icon {
          @apply transition-all;
        }

        &:has(.icon:not(:empty)) {
          .text {
            @apply opacity-0 w-0 max-w-0 transition-all;
          }
        }
      }
    }
  }
}

body:has(emr-sidebar.compact) {
  --emr-layout-sidebar-width: var(--emr-sidebar-width);
}
