html {
  @apply antialiased leading-tight min-h-screen bg-[var(--emr-background)] text-[var(--emr-on-background)];
}

body {
  @apply min-h-screen font-sans;
}

.mdc-icon-button {
  line-height: 0;
}

.mat-mdc-menu-panel {
  max-width: none !important;
}

.emr-button-loading {
  .mat-button-wrapper {
    visibility: hidden;
  }

  .mat-mdc-progress-spinner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}

.mdc-notched-outline__notch {
  border-right: none;
}

input.emr-number-input-no-spinners::-webkit-outer-spin-button,
input.emr-number-input-no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].emr-number-input-no-spinners {
  -moz-appearance: textfield;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
