:root {
  --emr-data-view-row-bg: var(--emr-background);
  --emr-data-view-hl-header-row-bg: theme('colors.neutral.200');
  --emr-data-view-hl-header-margin: theme('margin.1') 0;
  --emr-data-view-sticky-header-top: 0;
  --emr-data-view-selected-border-color: theme('colors.primary.DEFAULT');
  --emr-data-view-row-hover-bg: theme('colors.neutral.50');
}

html.dark {
  --emr-data-view-hl-header-row-bg: theme('colors.neutral.900');
  --emr-data-view-row-bg: theme('colors.neutral.800');
  --emr-data-view-row-hover-bg: theme('colors.neutral.700');
}
