:root {
  --emr-gauge-value-color: theme('colors.neutral.700');
  --emr-gauge-bg: theme('colors.neutral.300');
  --emr-gauge-fill: theme('colors.primary.DEFAULT');
  --emr-gauge-size: theme('width.20');
}

@keyframes emr-gauge-fill {
  from {
    stroke-dashoffset: 332;
  }
}

html.dark {
  --emr-gauge-value-color: theme('colors.neutral.300');
  --emr-gauge-bg: theme('colors.neutral.600');
}
