:root {
  --emr-popover-border: none;
  --emr-popover-shadow: theme('boxShadow.lg');
  --emr-popover-border-radius: theme('borderRadius.xl');
  --emr-popover-bg: theme('colors.white');
  --emr-popover-margin: theme('spacing[2.5]');
}

html.dark {
  --emr-popover-border: none;
  --emr-popover-bg: theme('colors.neutral.500');
}
