:root {
  --emr-sidebar-width: 320px;
  --emr-sidebar-compact-width: 84px;
  --emr-sidebar-header-padding: 0 theme('padding.7');
  --emr-sidebar-body-padding: theme('padding.4');
  --emr-sidebar-footer-padding: 0 theme('padding.7');
}
