:root {
  --emr-sidebar-width: 300px;
  --emr-sidebar-compact-width: 74px;
  --emr-sidebar-header-padding: 0;
  --emr-sidebar-header-compact-padding: 0;
  --emr-sidebar-body-padding: theme('padding.3');
  --emr-sidebar-body-compact-padding: theme('padding.3');
  --emr-sidebar-footer-padding: 0;
  --emr-sidebar-footer-compact-padding: 0;
}
