:root {
  --emr-suggestions-bg: theme('colors.white');
  --emr-suggestion-block-heading-color: theme('colors.neutral.800');
  --emr-suggestion-block-font-size: theme('fontSize.xs');
  --emr-suggestion-block-font-weight: theme('fontWeight.semibold');
  --emr-suggestion-block-content-padding: theme('padding.2') 0;
  --emr-suggestion-height: theme('height.11');
  --emr-suggestion-padding: 0 theme('padding.2');
  --emr-suggestion-hover-bg: theme('colors.neutral.100');
  --emr-suggestion-border-radius: theme('borderRadius.full');
}

html.dark {
  --emr-suggestions-bg: theme('colors.neutral.600');
  --emr-suggestion-block-heading-color: theme('colors.neutral.200');
  --emr-suggestion-hover-bg: theme('colors.neutral.600');
}
