.emr-table {
  @apply my-0 text-sm w-full;

  th,
  td {
    @apply px-4 py-3 align-middle text-left;
  }

  th {
    height: var(--mat-table-row-item-container-height);
  }

  td {
    height: var(--mat-table-row-item-container-height);
    border-top: 1px solid theme('borderColor.DEFAULT');
  }

  tr {
    color: var(--mat-table-row-item-label-text-color);
  }
}

.mat-mdc-table {
  --mat-table-background-color: theme('colors.background');
  --mat-table-row-item-outline-color: theme('colors.neutral.300');
}

.mat-mdc-row {
  &.cdk-drag-preview {
    @apply bg-primary-50 w-full;

    td {
      vertical-align: middle;
      height: inherit;
    }
  }
}

.table-row-drag-placeholder {
  @apply bg-primary-200 h-[var(--mat-table-row-item-container-height)];
}

html.dark {
  .emr-table {
    td {
      height: var(--mat-table-row-item-container-height);
      border-top: 1px solid theme('borderColor.inverse');
    }
  }

  .mat-mdc-table {
    --mat-table-row-item-outline-color: theme('colors.neutral.600');
  }

  .mat-mdc-row {
    &.cdk-drag-preview {
      @apply bg-neutral-700;
    }
  }

  .table-row-drag-placeholder {
    @apply bg-neutral-600;
  }
}
