<div class="relative h-full rounded-lg border group dark:border-inverse p-4">
  <div class="font-semibold pb-2.5 border-b-2 border-b-green-500">Team</div>
  <div class="mt-4 flex items-center justify-between">
    <div class="flex items-center gap-1.5">
      <div class="text-sm">Design</div>
      <div class="text-2xs text-neutral-450">My Project</div>
    </div>
    <div class="font-bold text-sm">2 Members</div>
  </div>
  <div class="mt-3 max-h-[200px] space-y-3 overflow-y-auto">
    <div class="rounded-lg border hover:bg-neutral-50 dark:hover:bg-neutral-800 cursor-pointer dark:border-inverse p-3 flex justify-between gap-3 items-center">
      <div class="flex items-center gap-2.5">
        <emr-avatar text="PS" src="https://avatar.iran.liara.run/public" class="size-9"></emr-avatar>
        <div>
          <div class="text-sm">Pavel Salauyou</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">pavel.sv&#64;mail.com</div>
        </div>
      </div>
      <button mat-icon-button class="-me-0.5">
        <mat-icon class="material-icons-outlined cursor-pointer text-neutral-500">mail</mat-icon>
      </button>
    </div>
    <div class="rounded-lg hover:bg-neutral-50 border cursor-pointer dark:hover:bg-neutral-800 dark:border-inverse p-3 flex justify-between gap-3 items-center">
      <div class="flex items-center gap-2.5">
        <emr-avatar text="JJ" class="size-9"></emr-avatar>
        <div>
          <div class="text-sm">Jessica Jones</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">jj&#64;mail.com</div>
        </div>
      </div>
      <button mat-icon-button class="-me-0.5">
        <mat-icon class="material-icons-outlined cursor-pointer text-neutral-500">mail</mat-icon>
      </button>
    </div>
  </div>
</div>
