<emr-tab-panel activeItemId="home" class="h-[500px] border-t border-t-default border-b border-b-default border-s">
  <emr-tab-panel-body>
    <emr-tab-panel-nav>
      <emr-tab-panel-item for="home">
        <mat-icon emrTabPanelItemIcon>home</mat-icon>
        <emr-tab-panel-item-text>Home</emr-tab-panel-item-text>
      </emr-tab-panel-item>
      <emr-tab-panel-item for="code">
        <mat-icon emrTabPanelItemIcon>code</mat-icon>
        <emr-tab-panel-item-text>Code</emr-tab-panel-item-text>
      </emr-tab-panel-item>
    </emr-tab-panel-nav>
  </emr-tab-panel-body>
  <emr-tab-panel-aside>
    <ng-template emrTabPanelAsideContent="home">
      Home content
    </ng-template>
    <ng-template emrTabPanelAsideContent="code">
      Code content
    </ng-template>
  </emr-tab-panel-aside>
</emr-tab-panel>
