@reference 'tailwindcss';

:host {
  @apply flex items-center w-full justify-between;
  flex: none;
  width: 100%;
  padding: var(--emr-sidebar-header-padding);

  ::ng-deep {
    .emr-sidebar-compact-view-mode {
      display: none;
    }
  }
}

:host-context(.emr-sidebar.compact:not(:hover)) {
  padding: var(--emr-sidebar-header-compact-padding);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  ::ng-deep {
    .emr-sidebar-full-view-mode {
      display: none;
    }

    .emr-sidebar-compact-view-mode {
      display: block;
    }
  }
}

:host-context(.emr-sidebar.compact:hover) {
  ::ng-deep {
    .emr-sidebar-compact-view-mode {
      display: none;
    }

    .emr-sidebar-full-view-mode {
      display: block;
    }
  }
}
