<div class="p-5 flex flex-row items-center justify-between space-y-0 pb-2 relative">
  <h3 class="tracking-tight text-sm font-semibold">Total projects</h3>
  <div class="absolute end-2">
    <button mat-icon-button>
      <mat-icon>north_east</mat-icon>
    </button>
  </div>
</div>
<div class="p-5 pt-0 mt-2">
  <div class="text-4xl font-semibold -ms-0.5">18</div>
  <div class="text-xs text-green-700 mt-5 dark:text-green-500">
    <span class="font-semibold border text-3xs border-green-600 rounded-lg py-0.5 px-1">+11%</span>
    <span class="inline-block ms-1.5">increased from last month</span>
  </div>
</div>
