:host {
  --emr-text-editor-bg: transparent;
  --emr-text-editor-content-max-height: 9999px;
  --emr-text-editor-content-padding: theme('padding.6');

  @apply block;

  &:not([class*="bg-"]) {
    @apply bg-[var(--emr-text-editor-bg)];
  }

  .floating-menu {
    &:empty {
      @apply hidden;
    }
  }

  ::ng-deep {
    .tippy-box {
      max-width: 800px !important;
    }
  }

  .content {
    ::ng-deep {
      .tiptap {
        @apply p-[var(--emr-text-editor-content-padding)] min-h-full focus:outline-none;

        div[data-youtube-video] {
          @apply cursor-move bg-neutral-100 p-6 flex items-center justify-center;

          iframe {
            @apply w-full aspect-video border-none block min-h-[200px] min-w-[200px] outline-none;
          }

          &.ProseMirror-selectednode iframe {
            @apply outline outline-4 outline-tertiary transition-all;
          }
        }

        img {
          @apply block h-auto my-6 mx-0 max-w-full;

          &.ProseMirror-selectednode {
            @apply outline outline-4 outline-tertiary transition-all;
          }
        }

        p.is-editor-empty:first-child::before {
          @apply text-neutral-500 float-left h-0 pointer-events-none text-[14px];
          content: attr(data-placeholder);
        }

        &.ProseMirror-focused {
          p.is-editor-empty:first-child::before {
            content: none;
          }
        }

        p.is-empty::before {
          content: attr(data-placeholder);
          @apply text-neutral-500 float-left h-0 pointer-events-none text-[14px];
        }
      }

      p,
      pre {
        &:first-child {
          @apply mt-0;
        }

        &:last-child {
          @apply mb-0;
        }
      }
    }
  }

  .button,
  ::ng-deep .button {
    @apply leading-[0];

    &.active {
      @apply bg-neutral-200 dark:bg-neutral-650 dark:text-neutral-200;
    }
  }
}
