<app-page>
  <div appPageContent>
    <h1>Table</h1>

    <h3>Basic Table</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="basic-table-example">
      <app-basic-table-example/>
    </emr-playground>

    <h3>Table With Pagination</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-pagination-example">
      <app-table-with-pagination-example/>
    </emr-playground>

    <h3>Table With Sorting</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-sort-example">
      <app-table-with-sort-example/>
    </emr-playground>

    <h3>Table With Filtering</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-filtering-example">
      <app-table-with-filtering-example/>
    </emr-playground>

    <h3>Table With Selection</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-selection-example">
      <app-table-with-selection-example/>
    </emr-playground>

    <h3>Table With Fixed Columns</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-fixed-columns-example">
      <app-table-with-fixed-columns-example/>
    </emr-playground>

    <h3>Table With Fixed Header</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-sticky-header-example">
      <app-table-with-sticky-header-example/>
    </emr-playground>

    <h3>Table With Fixed Footer</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="table-with-sticky-footer-example">
      <app-table-with-sticky-footer-example/>
    </emr-playground>

    <h3>Sortable table</h3>
    <emr-playground exampleUrl="_docs/components/table/_examples" exampleName="sortable-table-example">
      <app-sortable-table-example/>
    </emr-playground>
  </div>
</app-page>
