:host {
  @apply block h-full relative min-w-[var(--emr-layout-sidebar-compact-width)];

  ::ng-deep {
    emr-navigation {
      --emr-navigation-item-hover-bg: var(--color-neutral-300);
      --emr-navigation-group-toggle-active-bg: var(--color-neutral-300);
      --emr-navigation-nested-item-hover-bg: var(--color-neutral-300);
      --emr-navigation-group-tree-lines-color: var(--color-neutral-300);
    }
  }

  .sidebar {
    @apply bg-surface-container-low border-e border-e-surface-container-highest;

    &.compact:hover {
      @apply shadow-lg;
    }
  }

  .sidebar-toggle {
    @apply -me-2;
  }

  &.compact {
    .sidebar-toggle {
      @apply opacity-0;
    }

    &:hover {
      .sidebar-toggle {
        @apply opacity-100;
      }
    }
  }

  .header {
    --emr-sidebar-header-padding: 0 var(--p-7);
    --emr-sidebar-header-compact-padding: 0 var(--p-7);
  }

  .logo {
    @apply text-lg text-primary font-extrabold hover:text-tertiary;
  }

  .body {
    --emr-sidebar-body-padding: var(--p-4) var(--p-3);
    --emr-sidebar-body-compact-padding: var(--p-4) var(--p-3);
  }

  .footer {
    @apply flex items-center justify-center;
    --emr-sidebar-footer-padding: var(--p-6) var(--p-7);
    --emr-sidebar-footer-compact-padding: var(--p-3) var(--p-7);
  }
}

:host-context(html.dark) {
  .sidebar {
    ::ng-deep {
      emr-navigation {
        --emr-navigation-item-hover-bg: var(--color-neutral-800);
        --emr-navigation-group-toggle-active-bg: var(--color-neutral-800);
        --emr-navigation-nested-item-hover-bg: var(--color-neutral-800);
        --emr-navigation-group-tree-lines-color: var(--color-neutral-700);
      }
    }
  }
}
