:host {
  display: block;
  height: 100%;
  position: relative;
  min-width: var(--emr-layout-sidebar-compact-width);

  ::ng-deep {
    emr-navigation {
      --emr-navigation-item-hover-bg: var(--color-neutral-300);
      --emr-navigation-group-toggle-active-bg: var(--color-neutral-300);
      --emr-navigation-nested-item-hover-bg: var(--color-neutral-300);
      --emr-navigation-group-tree-lines-color: var(--color-neutral-300);
    }
  }

  .sidebar {
    background-color: var(--sys-surface-container-low);
    border-inline-end: 1px solid var(--sys-surface-container-highest);

    &.compact:hover {
      box-shadow: var(--shadow-lg);
    }
  }

  .sidebar-toggle {
    margin-inline-end: calc(var(--m-2) * -1);
  }

  &.compact {
    .sidebar-toggle {
      opacity: 0;
    }

    &:hover {
      .sidebar-toggle {
        opacity: 1;
      }
    }
  }

  .header {
    --emr-sidebar-header-padding: 0 calc(var(--spacing) * 7);
    --emr-sidebar-header-compact-padding: 0 calc(var(--spacing) * 7);
  }

  .logo {
    font-size: var(--text-lg);
    color: var(--sys-primary);
    font-weight: 800;

    &:hover {
      color: var(--sys-tertiary);
    }
  }

  .body {
    --emr-sidebar-body-padding: calc(var(--spacing) * 4) calc(var(--spacing) * 3);
    --emr-sidebar-body-compact-padding: calc(var(--spacing) * 4) calc(var(--spacing) * 3);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    --emr-sidebar-footer-padding: calc(var(--spacing) * 6) calc(var(--spacing) * 7);
    --emr-sidebar-footer-compact-padding: calc(var(--spacing) * 3) calc(var(--spacing) * 7);
  }
}

:host-context(html.dark) {
  .sidebar {
    ::ng-deep {
      emr-navigation {
        --emr-navigation-item-hover-bg: var(--color-neutral-800);
        --emr-navigation-group-toggle-active-bg: var(--color-neutral-800);
        --emr-navigation-nested-item-hover-bg: var(--color-neutral-800);
        --emr-navigation-group-tree-lines-color: var(--color-neutral-700);
      }
    }
  }
}
