<app-page>
  <div appPageContent>
    <h1>Card Overlay</h1>

    <main class="mb-10">
      <p>
        Meet Card Overlay for Angular – a sleek, interactive component that transforms the way users engage with your UI.
        Whether you need smooth hover effects, dynamic action buttons,
        or immersive content reveals, this component delivers a modern touch with effortless customization.
      </p>
      <div class="my-6">
        <div>Key features:</div>
        <ul class="list-disc ps-4 flex flex-col gap-3 mt-3">
          <li>
            ✅ <strong>Elegant Animations</strong> – Hover, click, or focus to reveal stunning overlays.
          </li>
          <li>
            ✅ <strong>Fully Customizable</strong> – Adjust styles, content, and interactions to fit your brand.
          </li>
          <li>
            ✅ <strong>Seamless Integration</strong> – Works flawlessly with Angular Material and Tailwind.
          </li>
          <li>
            ✅ <strong>Performance Optimized</strong> – No lag, no clutter—just smooth transitions.
          </li>
        </ul>
      </div>
      <p>
        Upgrade your Angular app’s UX today with Card Overlay—because static UI is so last season. 🚀
      </p>
    </main>

    <h3 class="mat-title-large">Basic card overlay</h3>
    <emr-playground exampleUrl="_docs/components/card-overlay/_examples" exampleName="basic-card-overlay-example">
      <app-basic-card-overlay-example/>
    </emr-playground>

    <h3 class="mat-title-large">Card overlay with translate</h3>
    <emr-playground exampleUrl="_docs/components/card-overlay/_examples" exampleName="card-overlay-with-translate-example">
      <app-card-overlay-with-translate-example/>
    </emr-playground>

    <h3 class="mat-title-large">Card overlay with blur</h3>
    <emr-playground exampleUrl="_docs/components/card-overlay/_examples" exampleName="card-overlay-with-blur-example">
      <app-card-overlay-with-blur-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      <code class="code">emrCardOverlayContainer</code> directive - a container of an overlay.
    </p>
    <p>
      <code class="code">emr-card-overlay</code> component - overlay content.
    </p>

    <div class="my-11">
      <mat-divider/>
    </div>

    <p>
      Properties for the <code class="code">emr-card-overlay</code> component.
    </p>
    <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>withTranslate</div>
            <div class="text-xs text-neutral-500 mt-0.5">Adds hover animation for an overlay</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        <tr>
          <td>
            <div>withBlur</div>
            <div class="text-xs text-neutral-500 mt-0.5">Adds blur to the background for an overlay content</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
