<div>
  <p>Slide Toggle using a simple NgModel.</p>
  <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{ isChecked }}</mat-slide-toggle>
</div>

<div class="mt-10">
  <p>Slide Toggle inside of a Template-driven form</p>
  <form class="w-full">
    <div class="space-y-3">
      <div>
        <mat-slide-toggle ngModel name="enableWifi">Enable Wifi</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle ngModel name="acceptTerms" required>Accept Terms of Service</mat-slide-toggle>
      </div>
    </div>
    <div class="mt-5">
      <button mat-raised-button type="button">Save Settings</button>
    </div>
  </form>
</div>

<div class="mt-10">
  <p>Slide Toggle inside of a Reactive form</p>
  <form class="w-full space-y-3" [formGroup]="formGroup">
    <div class="space-y-3">
      <div>
        <mat-slide-toggle formControlName="enableWifi">Enable Wifi</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle formControlName="acceptTerms">Accept Terms of Service</mat-slide-toggle>
      </div>
    </div>
    <p>Form Group Status: {{ formGroup.status }}</p>
    <button mat-raised-button type="button" class="mt-5">Save Settings</button>
  </form>
</div>
