<app-page>
  <div appPageContent>
    <h1>Comment Editor</h1>

    <h3>Basic comment editor</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples" exampleName="basic-comment-editor-example">
      <app-basic-comment-editor-example></app-basic-comment-editor-example>
    </emr-playground>

    <h3>Comment editor with toolbar that always visible</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples" exampleName="comment-editor-with-toolbar-example">
      <app-comment-editor-with-toolbar-example></app-comment-editor-with-toolbar-example>
    </emr-playground>

    <h3>Comment editor with full view mode</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples" exampleName="comment-editor-with-full-view-mode-example">
      <app-comment-editor-with-full-view-mode-example></app-comment-editor-with-full-view-mode-example>
    </emr-playground>

    <h3>Comment editor with upload error</h3>
    <emr-playground exampleUrl="_docs/components/comment-editor/_examples" exampleName="comment-editor-with-upload-error-example">
      <app-comment-editor-with-upload-error-example></app-comment-editor-with-upload-error-example>
    </emr-playground>
  </div>
</app-page>
