<div class="text-sm font-semibold">Primary</div>
<div class="mt-3 grid grid-cols-4 gap-8">
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">primary</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-primary</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-on-primary"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">primary-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-primary-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-primary-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">primary-fixed</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-primary-fixed"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">primary-fixed-dim</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-fixed-dim"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-primary-fixed</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-primary-fixed"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-primary-fixed-variant</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-primary-fixed-variant"></div>
    </div>
  </div>
</div>
<div class="my-14">
  <mat-divider></mat-divider>
</div>
<div>
  <div class="text-sm font-semibold">Primary Tones</div>
  <div class="grid grid-cols-4 gap-8 mt-3">
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-50"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full">50</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-100"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">100</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-200"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">200</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-300"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">300</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-400"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">400</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-450"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">450</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-500"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">500</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-600"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">600</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-650"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">650</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-700"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">700</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-800"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">800</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-900"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">900</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-950"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">950</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-primary-1000"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">1000</div>
        </div>
      </div>
    </div>
  </div>
</div>
