<div class="border-b border-b-default  pb-px" [formGroup]="form">
  <div class="w-max group flex items-center">
    <div class="flex items-center gap-1 cursor-pointer" (click)="sort()">
      <span class="text-md font-medium">{{ groupByName }}</span>
      @if (sortBy === 'asc') {
        <mat-icon class="font-icon size-14 text-base">north</mat-icon>
      } @else if (sortBy === 'desc') {
        <mat-icon class="font-icon size-14 text-base">south</mat-icon>
      }
    </div>
    <button mat-icon-button class="ms-16 opacity-0 group-hover:opacity-100"
            [class.opacity-100]="menuTrigger.menuOpen"
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="groupByMenu">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>

<div class="flex flex-wrap gap-x-5 gap-y-8 mt-8">
  @for (file of files(); track file) {
    <div class="rounded group/file">
      <div class="bg-surface-container hover:bg-surface-container-high size-[260px] group/thumbnail
                  flex items-center justify-center rounded-xl cursor-pointer relative select-none" matRipple>
        @if (selectionModel.isSelected(file.id)) {
          <div class="absolute w-[3px] rounded-s-lg bg-primary start-0 top-0 bottom-0 z-[1]"></div>
        }
        <div class="absolute top-3 start-1 opacity-0 group-hover/thumbnail:opacity-100"
             [class.opacity-100]="selectionModel.isSelected(file.id)">
          <mat-checkbox [value]="file.id" [checked]="selectionModel.isSelected(file.id)"
                        (change)="toggleCheck($event, file.id)"></mat-checkbox>
        </div>
        <div class="absolute top-3 end-3 flex items-center justify-between z-[1] opacity-0 group-hover/thumbnail:opacity-100"
             [class.opacity-100]="optionsTrigger.menuOpen">
          <div class="flex">
            <button class="text-sm bg-secondary h-9 px-4 rounded-s text-on-secondary
                           hover:bg-secondary-700 dark:hover:bg-secondary-300" (click)="share($event, file)">
              Share
            </button>
            <button class="size-9 flex items-center justify-center bg-white dark:bg-neutral-700
                           hover:bg-neutral-100 dark:hover:bg-neutral-600  border-t border-t-default border-b border-b-default border-e"
                    (click)="copyLink($event, file)" matTooltip="Copy Link" matTooltipPosition="above">
              <mat-icon>link</mat-icon>
            </button>
            <button #optionsTrigger="matMenuTrigger" [matMenuTriggerFor]="fileOptionsMenu"
                    matTooltip="More Options" matTooltipPosition="above"
                    class="size-9 flex items-center justify-center bg-white dark:bg-neutral-700
                           hover:bg-neutral-100 dark:hover:bg-neutral-600  border-t border-t-default border-b border-b-default border-e rounded-e">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        @switch (file.type) {
          @case ('folder') {
            @if (file.isShared) {
              <mat-icon class="filled text-[120px]
                               !size-28 text-primary-500 dark:text-tertiary">folder_shared</mat-icon>
            } @else {
              <mat-icon class="filled text-[120px]
                               !size-28 text-primary-500 dark:text-tertiary">folder</mat-icon>
            }
          }

          @case ('image') {
            <img [src]="file.thumbnailUrl" alt="" class="max-w-[200px] max-h-[200px] shadow select-none">
          }

          @case ('archive') {
            <mat-icon class="filled text-[120px]
                             !size-28 text-secondary-500 dark:text-tertiary">folder_zip</mat-icon>
          }
        }
      </div>
      <div class="mt-3.5 flex items-center gap-3 relative">
        @if (file.type === 'folder') {
          <mat-icon class="filled text-primary-500 dark:text-tertiary">folder</mat-icon>
          <div>
            <div class="text-tiny hover:underline underline-offset-1 cursor-pointer">{{ file.name }}</div>
            <div class="text-xs text-neutral-500 flex items-center gap-1.5">
              @if (file.isShared) {
                Shared folder
              } @else {
                Folder
              }
              <span>•</span>
              <span>{{ file.itemsCount }} items</span>
            </div>
          </div>
        } @else {
          <div>
            <div class="text-tiny hover:underline underline-offset-1 cursor-pointer">{{ file.name }}</div>
            <div class="text-xs text-neutral-500 flex items-center gap-1.5 uppercase">
              <span>{{ file.extension }}</span>
              <span>•</span>
              <span>{{ file.size | formatFileSize }}</span>
            </div>
          </div>
        }

        <div class="absolute end-0 opacity-0 group-hover/file:opacity-100"
             [class.opacity-100]="starredModel.isSelected(file.id)">
          <button mat-icon-button (click)="toggleStar(file.id)">
            @if (starredModel.isSelected(file.id)) {
              <mat-icon class="filled">star</mat-icon>
            } @else {
              <mat-icon>star</mat-icon>
            }
          </button>
        </div>
      </div>
    </div>
    <mat-menu #fileOptionsMenu="matMenu">
      @if (file.type === 'folder') {
        <button mat-menu-item>
          <mat-icon>info</mat-icon>Folder Info
        </button>
      } @else {
        <button mat-menu-item>
          <mat-icon>info</mat-icon>File Info
        </button>
      }

      <button mat-menu-item>
        <mat-icon>share</mat-icon>Share
      </button>
      <button mat-menu-item>
        <mat-icon>link</mat-icon>Copy Link
      </button>
      <button mat-menu-item>
        <mat-icon>group</mat-icon>Manage Permissions
      </button>
      <button mat-menu-item>
        <mat-icon>download</mat-icon>Download
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>Delete
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>Rename
      </button>
      <button mat-menu-item>
        <mat-icon>open_with</mat-icon>Move
      </button>
      <button mat-menu-item>
        @if (file.type === 'folder') {
          <mat-icon>folder_copy</mat-icon>
        } @else {
          <mat-icon>file_copy</mat-icon>
        }
        Copy
      </button>
    </mat-menu>
  }
</div>

<mat-menu #groupByMenu="matMenu" [formGroup]="form" xPosition="before" class="w-[180px]">
  <div class="text-xs my-2 px-3.5 text-neutral-600 dark:text-neutral-400">Group by</div>
  <div emrMenuOptionGroup formControlName="groupBy">
    @for (groupItem of groupByList; track groupItem) {
      <mat-option [value]="groupItem.id">{{ groupItem.name }}</mat-option>
    }
  </div>
</mat-menu>
