<app-page>
  <div appPageContent>
    <h1>Screen Loader</h1>

    <h3 class="mat-title-large">Basic screen loader</h3>
    <emr-playground exampleUrl="_docs/components/screen-loader/_examples" exampleName="basic-screen-loader-example">
      <app-basic-screen-loader-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-screen-loader</code>.
    </p>

    <div class="border rounded-xl shadow-sm overflow-hidden mt-6 mb-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>opened</div>
            <div class="text-xs text-neutral-500 mt-0.5">Show/Hide screen loader</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
