<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Alert</h1>

      <h2>Basic Alert</h2>
      <emr-playground>
        <app-basic-alert-example></app-basic-alert-example>
      </emr-playground>

      <h2>Alert Variants</h2>
      <emr-playground>
        <app-alert-variants-example></app-alert-variants-example>
      </emr-playground>

      <h2>Alert with border</h2>
      <emr-playground>
        <app-alert-with-border-example></app-alert-with-border-example>
      </emr-playground>

      <h2>Alert with icon</h2>
      <emr-playground>
        <app-alert-with-icon-example></app-alert-with-icon-example>
      </emr-playground>

      <h2>Alert with title</h2>
      <emr-playground>
        <app-alert-with-title-example></app-alert-with-title-example>
      </emr-playground>

      <h2>Alert actions</h2>
      <emr-playground>
        <app-alert-actions-example></app-alert-actions-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
