<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Alert</h1>

      <h3>Basic Alert</h3>
      <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="basic-alert-example">
        <app-basic-alert-example></app-basic-alert-example>
      </emr-playground>

      <h3>Alert Variants</h3>
      <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-variants-example">
        <app-alert-variants-example></app-alert-variants-example>
      </emr-playground>

      <h3>Alert with border</h3>
      <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-border-example">
        <app-alert-with-border-example></app-alert-with-border-example>
      </emr-playground>

      <h3>Alert with icon</h3>
      <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-icon-example">
        <app-alert-with-icon-example></app-alert-with-icon-example>
      </emr-playground>

      <h3>Alert with title</h3>
      <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-with-title-example">
        <app-alert-with-title-example></app-alert-with-title-example>
      </emr-playground>

      <h3>Alert actions</h3>
      <emr-playground exampleUrl="_docs/components/alert/_examples" exampleName="alert-actions-example">
        <app-alert-actions-example></app-alert-actions-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
