<app-page>
  <div appPageContent>
    <h1>Tooltip</h1>

    <h3 class="mat-title-large">Basic Tooltip</h3>
    <emr-playground exampleUrl="_docs/components/tooltip/_examples" exampleName="basic-tooltip-example">
      <app-basic-tooltip-example></app-basic-tooltip-example>
    </emr-playground>

    <h3 class="mat-title-large">Tooltip With a Custom Position</h3>
    <emr-playground exampleUrl="_docs/components/tooltip/_examples" exampleName="tooltip-with-a-custom-position-example">
      <app-tooltip-with-a-custom-position-example></app-tooltip-with-a-custom-position-example>
    </emr-playground>
  </div>
</app-page>
