:host {
  --emr-phone-input-color: theme('colors.neutral.600');
  --emr-phone-input-opacity: 0;

  @media print {
    --emr-phone-input-flag-display: none;
  }

  .country-search {
    width: 100%;
    height: 34px;
    border: none;
    border-bottom: 1px solid theme('borderColor.DEFAULT');
    font-size: 14px;
    padding: 20px 20px 24px;
    box-sizing: border-box;
  }

  .flag-icon {
    @apply me-2;
  }

  &.is-floating .country-selector {
    opacity: 1;
  }

  .emr-phone-input-container {
    display: flex;
    height: var(--emr-phone-input-height, 24px);
  }

  input {
    border: none;
    background: none;
    outline: none;
    font: inherit;
    width: max-content;
    box-sizing: border-box;
    padding-right: 6px;
    padding-left: 4px;
    position: relative;
    z-index: 0;
  }

  .icon-wrapper {
    padding-right: 24px;
  }

  .mdc-button__label {
    margin-right: auto;
  }

  .country-selector {
    display: flex;
    align-items: center;
    border-radius: 0;
    color: var(--emr-phone-input-color);
    flex-shrink: 0;
    height: initial;
    line-height: unset;
    padding: 1px;
    opacity: var(--emr-phone-input-opacity, 0);
    transition: opacity 200ms;
    border: unset;

    font: {
      size: inherit;
      weight: inherit;
    }

    &:disabled {
      opacity: .8;
    }
  }

  .country-selector-code {
    color: var(--emr-phone-input-color);
    padding-right: 0;
  }
}

:host-context(html.dark) {
  --emr-phone-input-color: theme('colors.neutral.500');
}
