<div class="flex flex-col gap-10">
  <div class="flex gap-6">
    <emr-avatar text="PS" automaticColor="#fcd6bb"></emr-avatar>
    <emr-avatar text="N" automaticColor="#a7f3d0"></emr-avatar>
    <emr-avatar text="OP" automaticColor="#eecff3"></emr-avatar>
  </div>

  <div class="flex flex-col gap-8">
    <div class="flex gap-6 items-center">
      <emr-avatar automaticColor="#eecff3">
        <mat-icon class="filled">folder</mat-icon>
      </emr-avatar>
      <emr-avatar automaticColor="#fcd6bb">
        <mat-icon class="filled">cloud_download</mat-icon>
      </emr-avatar>
      <emr-avatar automaticColor="#a7f3d0">
        <mat-icon class="filled">person</mat-icon>
      </emr-avatar>
    </div>
    <div class="flex gap-6 items-center">
      <emr-avatar class="w-7 h-7" automaticColor="#fde68a">
        <mat-icon class="text-lg filled">folder</mat-icon>
      </emr-avatar>
      <emr-avatar class="w-7 h-7" automaticColor="#a7f3d0">
        <mat-icon class="text-lg filled">cloud_download</mat-icon>
      </emr-avatar>
      <emr-avatar class="w-7 h-7" automaticColor="#eecff3">
        <mat-icon class="text-lg filled">person</mat-icon>
      </emr-avatar>
    </div>
  </div>

  <emr-avatar-group>
    <emr-avatar text="am" automaticColor="#bfdbfe"></emr-avatar>
    <emr-avatar text="ps" automaticColor="#a7f3d0"></emr-avatar>
    <emr-avatar text="br" automaticColor="#eecff3"></emr-avatar>
    <emr-avatar-total>+20</emr-avatar-total>
  </emr-avatar-group>
</div>
