<div class="space-y-10">
<!--    <emr-mchart-line [data]="[2, 1, 3]"-->
<!--                          showMarkers-->
<!--                          class="w-[200px] h-[120px]"></emr-mchart-line>-->

<!--    <emr-mchart-line [data]="[2, 1, 3]"-->
<!--                          compact-->
<!--                          showMarkers-->
<!--                          class="w-[200px] h-[120px]"></emr-mchart-line>-->

<!--    <emr-mchart-line [data]="[2, 1, 3]"-->
<!--                          showArea-->
<!--                          showMarkers-->
<!--                          curve="catmullRom"-->
<!--                          class="w-[200px] h-[120px]"></emr-mchart-line>-->

  <emr-mchart-line  [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1]"
                    [category]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                    [tooltipTemplateRef]="tooltipRef"
                    compact
                    showArea
                    showMarkers
                    curve="curveBumpX"
                    class="w-[200px] h-[120px]">
    <ng-template #tooltipRef let-data>
      <emr-mchart-tooltip>
        <emr-mchart-tooltip-title>{{ data.category }}</emr-mchart-tooltip-title>
        <emr-mchart-tooltip-body>
          Value: {{ data.value }}
        </emr-mchart-tooltip-body>
      </emr-mchart-tooltip>
    </ng-template>
  </emr-mchart-line>
</div>
