<emr-layout-body>
  <emr-layout>
    <emr-layout-sidebar class="border-r border-r-default w-[300px] py-7 px-5">
      <emr-navigation [activeKey]="activeLinkId" appearance="secondary">
        @for (navItem of navItems; track navItem) {
          <a [routerLink]="navItem.link" emr-navigation-item [key]="navItem.link">{{ navItem.name }}</a>
        }
      </emr-navigation>
    </emr-layout-sidebar>
    <emr-layout-body>
      <router-outlet/>
    </emr-layout-body>
  </emr-layout>
</emr-layout-body>
