<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Select</h1>

      <h3 id="basic-radio">Basic Select</h3>
      <emr-playground>
        <app-basic-select-example></app-basic-select-example>
      </emr-playground>

      <h3>Getting and setting the select value</h3>
      <emr-playground>
        <app-get-set-value-example></app-get-set-value-example>
      </emr-playground>

      <h3>Form Field Features</h3>
      <emr-playground>
        <app-form-field-features-example></app-form-field-features-example>
      </emr-playground>

      <h3>Disabled</h3>
      <emr-playground>
        <app-disabled-example></app-disabled-example>
      </emr-playground>

      <h3>Resetting the select value</h3>
      <emr-playground>
        <app-resetting-value-example></app-resetting-value-example>
      </emr-playground>

      <h3>Groups of Options</h3>
      <emr-playground>
        <app-groups-of-options-example></app-groups-of-options-example>
      </emr-playground>

      <h3>Multiple Selection</h3>
      <emr-playground>
        <app-multiple-selection-example></app-multiple-selection-example>
      </emr-playground>

      <h3>Customizing the trigger label</h3>
      <emr-playground>
        <app-custom-trigger-example></app-custom-trigger-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
