<app-page>
  <div appPageContent>
    <h1>Phone Input</h1>

    <main class="mb-10">
      <p>
        Say goodbye to clunky phone number inputs! 🚀 Our Phone Input for Angular Material brings a sleek,
        user-friendly, and highly customizable phone number field to your Angular applications.
      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="ps-4 list-disc pt-3 flex flex-col gap-3">
          <li>
            ✅ Effortless UX – Intuitive design with country flag selection and automatic formatting.
          </li>
          <li>
            🌍 Global Support – Handles international phone numbers like a pro.
          </li>
          <li>
            🎨 Material 3 & Tailwind Ready – Seamlessly blends into your UI.
          </li>
          <li>
            ⚡ Optimized for Performance – Lightweight, fast, and developer-friendly.
          </li>
        </ul>
      </div>
      <p>
        Perfect for authentication forms, contact pages, and any app that needs clean,
        validated phone inputs. Upgrade your Angular forms today! 💡📱
      </p>
    </main>

    <h3 class="mat-title-large">Basic phone input</h3>
    <emr-playground exampleUrl="_docs/forms/phone-input/_examples" exampleName="basic-phone-input-example">
      <app-basic-phone-input-example/>
    </emr-playground>

    <h3 class="mat-title-large">Phone input with custom country list</h3>
    <emr-playground exampleUrl="_docs/forms/phone-input/_examples" exampleName="phone-input-only-countries-example">
      <app-phone-input-only-countries-example/>
    </emr-playground>

    <h3 class="mat-title-large">Phone input with preferred country list</h3>
    <p>
      Countries that will be displayed in priority order at the beginning of the list.
    </p>
    <emr-playground exampleUrl="_docs/forms/phone-input/_examples" exampleName="phone-input-preferred-countries-example">
      <app-phone-input-preferred-countries-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-phone-input</code> component.
    </p>
    <mat-tab-group class="my-6">
      <mat-tab label="Properties">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/2">Prop</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div>autocomplete</div>
                <div class="text-xs text-neutral-500 mt-0.5">Specifies whether autocomplete is applied to an editable text field.</div>
              </td>
              <td>on | off</td>
              <td>on</td>
            </tr>
            <tr>
              <td>
                <div>errorStateMatcher</div>
                <div class="text-xs text-neutral-500 mt-0.5">Custom errorStateMatcher</div>
              </td>
              <td>ErrorStateMatcher</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>onlyCountries</div>
                <div class="text-xs text-neutral-500 mt-0.5">List of iso codes of available country list</div>
              </td>
              <td>string[]</td>
              <td>[]</td>
            </tr>
            <tr>
              <td>
                <div>preferredCountries</div>
                <div class="text-xs text-neutral-500 mt-0.5">List of iso codes of available preferred country list</div>
              </td>
              <td>string[]</td>
              <td>[]</td>
            </tr>
            <tr>
              <td>
                <div>format</div>
                <div class="text-xs text-neutral-500 mt-0.5">Custom phone format</div>
              </td>
              <td>default | national | international</td>
              <td>default</td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Events">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Event</th>
              <th>Output</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>valueChange</td>
              <td>number|undefined</td>
              <td>Executed when a value changed</td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
