<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Stepper</h1>

      <h2>Basic Stepper</h2>
      <emr-playground>
        <app-basic-stepper-example></app-basic-stepper-example>
      </emr-playground>

      <h2>Stepper Vertical</h2>
      <emr-playground>
        <app-stepper-vertical-example></app-stepper-vertical-example>
      </emr-playground>

      <h2>Stepper Header Position</h2>
      <emr-playground>
        <app-stepper-header-position-example></app-stepper-header-position-example>
      </emr-playground>

      <h2>Stepper That Displays Errors In The Steps</h2>
      <emr-playground>
        <app-stepper-with-errors-state-example></app-stepper-with-errors-state-example>
      </emr-playground>

      <h2>Stepper Responsive</h2>
      <emr-playground>
        <app-stepper-responsive-example></app-stepper-responsive-example>
      </emr-playground>

      <h2>Stepper Label Bottom Position</h2>
      <emr-playground>
        <app-stepper-label-bottom-position-example></app-stepper-label-bottom-position-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
