<app-page>
  <div appPageContent>
    <h1>Stepper</h1>

    <h3 class="mat-title-large">Basic Stepper</h3>
    <emr-playground exampleUrl="_docs/components/stepper/_examples" exampleName="basic-stepper-example">
      <app-basic-stepper-example></app-basic-stepper-example>
    </emr-playground>

    <h3 class="mat-title-large">Stepper Vertical</h3>
    <emr-playground exampleUrl="_docs/components/stepper/_examples" exampleName="stepper-vertical-example">
      <app-stepper-vertical-example></app-stepper-vertical-example>
    </emr-playground>

    <h3 class="mat-title-large">Stepper Header Position</h3>
    <emr-playground exampleUrl="_docs/components/stepper/_examples" exampleName="stepper-header-position-example">
      <app-stepper-header-position-example></app-stepper-header-position-example>
    </emr-playground>

    <h3 class="mat-title-large">Stepper That Displays Errors In The Steps</h3>
    <emr-playground exampleUrl="_docs/components/stepper/_examples" exampleName="stepper-with-errors-state-example">
      <app-stepper-with-errors-state-example></app-stepper-with-errors-state-example>
    </emr-playground>

    <h3 class="mat-title-large">Stepper Responsive</h3>
    <emr-playground exampleUrl="_docs/components/stepper/_examples" exampleName="stepper-responsive-example">
      <app-stepper-responsive-example></app-stepper-responsive-example>
    </emr-playground>

    <h3 class="mat-title-large">Stepper Label Bottom Position</h3>
    <emr-playground exampleUrl="_docs/components/stepper/_examples" exampleName="stepper-label-bottom-position-example">
      <app-stepper-label-bottom-position-example></app-stepper-label-bottom-position-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/stepper/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
