<app-page>
  <div appPageContent>
    <h1>Micro Chart</h1>

<!--    <h3>Area Line Chart</h3>-->
<!--    <emr-playground exampleUrl="_docs/components/micro-chart/_examples" exampleName="micro-chart-area-line-example">-->
<!--      <app-micro-chart-area-line-example></app-micro-chart-area-line-example>-->
<!--    </emr-playground>-->

    <h3>Bar Chart</h3>
    <emr-playground exampleUrl="_docs/components/micro-chart/_examples" exampleName="app-micro-chart-bar-example">
      <app-micro-chart-bar-example></app-micro-chart-bar-example>
    </emr-playground>
  </div>
</app-page>
