<app-page>
  <div appPageContent>
    <h1>Micro Chart</h1>

<!--    <h3>Bar micro chart</h3>-->
<!--    <emr-playground exampleUrl="_docs/components/micro-chart/_examples" exampleName="micro-chart-bar-example">-->
<!--      <app-micro-chart-bar-example></app-micro-chart-bar-example>-->
<!--    </emr-playground>-->

    <h3>Line micro chart</h3>
    <emr-playground exampleUrl="_docs/components/micro-chart/_examples" exampleName="line-micro-chart-example">
      <app-line-micro-chart-example></app-line-micro-chart-example>
    </emr-playground>
  </div>
</app-page>
