<app-page>
  <div appPageContent>
    <h1>Number Input</h1>

    <main class="mb-10">
      <p>
        Tired of clunky number fields that don’t fit seamlessly into your Angular Material design?
        Meet <strong>Number Input</strong> – a sleek, fully customizable component built
        for precision, accessibility, and effortless integration.
      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="ps-4 list-disc space-y-3 mt-3">
          <li>
            ✅ Material Design Native – Looks and feels like a first-class Angular Material component.
          </li>
          <li>
            🎯 Precision & Control – Set min/max values, step increments, and enforce number formats.
          </li>
          <li>
            ⚡ Keyboard & Mouse Friendly – Intuitive controls for both power users and casual inputs.
          </li>
          <li>
            🛠 Flexible & Extensible – Easily adapt to your project’s needs with robust configuration options.
          </li>
        </ul>
      </div>
      <p>
        Drop it into your forms and watch your UX soar! 🚀
        Try Number Input today and bring smarter number fields to your Angular apps.
      </p>
    </main>

    <h3 class="mat-title-large">Basic Number Input</h3>
    <emr-playground exampleUrl="_docs/forms/number-input/_examples" exampleName="basic-number-input-example">
      <app-basic-number-input-example/>
    </emr-playground>

    <h3 class="mat-title-large">Custom Controls</h3>
    <emr-playground exampleUrl="_docs/forms/number-input/_examples" exampleName="number-input-custom-controls-example">
      <app-number-input-custom-controls-example/>
    </emr-playground>

    <h3 class="mat-title-large">Min, Max Value</h3>
    <emr-playground exampleUrl="_docs/forms/number-input/_examples" exampleName="number-input-min-max-example">
      <app-number-input-min-max-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-number-input</code> component.
    </p>
    <mat-tab-group class="my-6">
      <mat-tab label="Properties">
        <div class="border rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/2">Prop</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div>min</div>
                <div class="text-xs text-neutral-500 mt-0.5">Minimum value</div>
              </td>
              <td>number</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>max</div>
                <div class="text-xs text-neutral-500 mt-0.5">Maximum value</div>
              </td>
              <td>number</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>step</div>
                <div class="text-xs text-neutral-500 mt-0.5">Step of value</div>
              </td>
              <td>number</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>readonly</div>
                <div class="text-xs text-neutral-500 mt-0.5">Sets control as readonly</div>
              </td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>
                <div>disabled</div>
                <div class="text-xs text-neutral-500 mt-0.5">Disable control</div>
              </td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            <tr>
              <td>
                <div>required</div>
                <div class="text-xs text-neutral-500 mt-0.5">Sets control as required</div>
              </td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Events">
        <div class="border rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Event</th>
              <th>Output</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>valueChange</td>
              <td>number|undefined</td>
              <td>Executed when a value changed</td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
