:host {
  animation: var(--emr-skeleton-item-animation);
  display: inline-block;
  flex: none;
  border-radius: 50%;
}

:host:not([class*="w-"]):not([class*="size-"]) {
  width: var(--emr-skeleton-circle-size);
}

:host:not([class*="h-"]):not([class*="size-"]) {
  height: var(--emr-skeleton-circle-size);
}
