<div class="space-y-10">
  <emr-breadcrumbs lastItemAsLink>
    <emr-breadcrumb-item>Home</emr-breadcrumb-item>
    <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
    <emr-breadcrumb-item>Navigation</emr-breadcrumb-item>
  </emr-breadcrumbs>
  <emr-breadcrumbs lastItemAsLink>
    <emr-breadcrumb-item>
      <mat-icon emrBreadcrumbItemIcon class="filled">home</mat-icon>
    </emr-breadcrumb-item>
    <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
    <emr-breadcrumb-item>
      <mat-icon emrBreadcrumbItemIcon class="filled">person</mat-icon>
      Account
    </emr-breadcrumb-item>
    <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
    <emr-breadcrumb-item>
      <mat-icon emrBreadcrumbItemIcon class="filled">settings</mat-icon>
      Settings
    </emr-breadcrumb-item>
    <emr-breadcrumb-separator>/</emr-breadcrumb-separator>
    <emr-breadcrumb-item>
      <mat-icon emrBreadcrumbItemIcon class="filled">notifications</mat-icon>
      Notifications
    </emr-breadcrumb-item>
  </emr-breadcrumbs>
</div>
