<app-page>
  <div appPageContent>
    <h1>Badge</h1>

    <h3 class="mat-title-large">Basic Badges</h3>
    <emr-playground exampleUrl="_docs/components/badge/_examples" exampleName="basic-badges-example">
      <app-basic-badges-example></app-basic-badges-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/badge/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
