<div class="mb-6">
  <div class="mb-3">Variant:</div>
  <mat-radio-group [(ngModel)]="variant" aria-label="Select an option" class="flex gap-5">
    <mat-radio-button value="list">List</mat-radio-button>
    <mat-radio-button value="table">Table</mat-radio-button>
  </mat-radio-group>
</div>
<emr-data-view [columnDefs]="columnDefs"
               [data]="data"
               [paginator]="paginator"
               [variant]="variant()"
               withSelection></emr-data-view>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements" class="pt-3">
</mat-paginator>
