:host {
  @apply inline-flex text-[var(--emr-file-control-color)] cursor-pointer;
  font-size: var(--emr-file-control-font-size);

  &:hover {
    @apply text-[var(--emr-file-control-hover-color)];
  }
}
