<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Expansion Panel</h1>

      <h3>Basic Expansion Panel</h3>
      <emr-playground>
        <app-basic-expansion-panel-example></app-basic-expansion-panel-example>
      </emr-playground>

      <h3>Expansion Panel with expand/collapse all toggles</h3>
      <emr-playground>
        <app-expansion-panel-expand-collapse-toggles-example></app-expansion-panel-expand-collapse-toggles-example>
      </emr-playground>

      <h3>Expansion Panel as Accordion</h3>
      <emr-playground>
        <app-expansion-panel-as-accordion-example></app-expansion-panel-as-accordion-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
