<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Navigation</h1>

      <h3>Basic Navigation</h3>
      <emr-playground>
        <app-basic-navigation-example></app-basic-navigation-example>
      </emr-playground>

      <h3>Navigation with heading</h3>
      <emr-playground>
        <app-navigation-with-heading-example></app-navigation-with-heading-example>
      </emr-playground>

      <h3>Navigation with divider</h3>
      <emr-playground>
        <app-navigation-with-divider-example></app-navigation-with-divider-example>
      </emr-playground>

      <h3>Navigation with icons</h3>
      <emr-playground>
        <app-navigation-with-icons-example></app-navigation-with-icons-example>
      </emr-playground>

      <h3>Navigation with nested menu</h3>
      <emr-playground>
        <app-navigation-with-nested-menu-example></app-navigation-with-nested-menu-example>
      </emr-playground>

      <h3>Navigation secondary theme</h3>
      <emr-playground>
        <app-navigation-secondary-theme-example></app-navigation-secondary-theme-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
