:host {
  --emr-breadcrumbs-gap: calc(var(--spacing) * 2.5);
  --emr-breadcrumbs-item-font-size: var(--text-sm);
  --emr-breadcrumbs-item-color: var(--color-neutral-500);
  --emr-breadcrumbs-item-hover-color: var(--color-primary);
  --emr-breadcrumbs-active-item-color: var(--color-primary);
  --emr-breadcrumbs-item-font-weight: var(--400);
  --emr-breadcrumbs-separator-color: var(--color-neutral-400);
  --emr-breadcrumbs-separator-font-size: var(--text-xs);
  --emr-breadcrumbs-separator-position-top: 1px;
  --emr-breadcrumbs-title-color: var(--color-neutral-800);
  --emr-breadcrumbs-title-font-size: var(--text-xs);

  display: flex;
  align-items: center;
  gap: var(--emr-breadcrumbs-gap);
}

:host-context(html.dark) {
  --emr-breadcrumbs-item-color: var(--color-neutral-400);
  --emr-breadcrumbs-separator-color: var(--color-neutral-400);
  --emr-breadcrumbs-title-color: var(--color-neutral-100);
}
