:host {
  --emr-data-view-row-bg: var(--emr-background);
  --emr-data-view-hl-header-row-bg: theme('colors.surface-container');
  --emr-data-view-hl-header-margin: theme('margin.1') 0;
  --emr-data-view-sticky-header-top: 0;
  --emr-data-view-selected-border-color: theme('colors.primary.DEFAULT');
  --emr-data-view-row-hover-bg: theme('colors.surface-bright');
  --emr-data-view-bg: theme('colors.transparent');
  --mat-table-row-item-outline-width: 0;
  --mat-table-background-color: var(--emr-data-view-bg);
  --emr-content-fade-color: var(--emr-data-view-row-bg);
  --emr-data-view-header-bg: var(--emr-background);

  @apply block h-full;

  mat-table {
    @apply h-full pb-3;
  }

  ::ng-deep {
    .mat-mdc-header-row {
      background: var(--emr-data-view-header-bg);
    }
  }

  .mat-mdc-cell {
    @apply bg-[var(--emr-data-view-row-bg)];

    &.cell-action-bar {
      background: linear-gradient(to left, var(--emr-data-view-row-bg) 90%, transparent);
    }
  }

  .emr-skeleton-block {
    z-index: 1;
  }

  .mdc-data-table__cell.mat-column-selection:first-child,
  .mdc-data-table__header-cell.mat-column-selection:first-child {
    @apply max-w-16 p-0 justify-center;
  }

  .mat-mdc-header-cell {
    @apply uppercase text-xs overflow-hidden;
  }

  .mat-mdc-row.mdc-data-table__row {
    border: theme('width.px') solid theme('borderColor.DEFAULT') !important;
    @apply rounded-xl overflow-hidden h-16;

    & + .mdc-data-table__row {
      @apply mt-4;
    }
  }

  .mdc-data-table__row {
    @apply relative;

    &.is-selected {
      border-color: var(--emr-data-view-selected-border-color) !important;
    }
  }

  &.hover-rows {
    .data-view-row {
      &:hover {
        .mat-mdc-cell {
          --emr-data-view-row-bg: var(--emr-data-view-row-hover-bg);
        }
      }
    }
  }

  .data-view-row {
    &:hover {
      .cell-action-bar {
        @apply opacity-100 z-[1];
      }
    }
  }

  &.is-loading {
    .data-view-row {
      .cell-action-bar {
        @apply hidden;
      }
    }
  }

  ::ng-deep {
    .header-cell,
    .cell {
      min-width: var(--emr-data-view-cell-width, auto);
      max-width: var(--emr-data-view-cell-width, auto);
    }

    .cell {
      @apply py-2;
    }

    .header-cell-action-bar,
    .cell-action-bar {
      @apply absolute top-0 bottom-0 end-0 p-0;

      &:not(:has(.force-visible)) {
        @apply opacity-0 -z-50;
      }
    }
  }

  .mat-mdc-table {
    .mat-mdc-header-cell {
      @apply text-on-surface;
    }
  }

  &.highlight-header {
    ::ng-deep {
      .mat-mdc-header-row {
        position: relative;
        margin: var(--emr-data-view-hl-header-margin);

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          background: var(--emr-data-view-hl-header-row-bg);
          height: theme('height.10');
          border-radius: theme('borderRadius.lg');
          z-index: 0;
        }
      }

      .mdc-data-table__header-cell {
        --emr-skeleton-from-bg: theme('colors.neutral.300/60');
        --emr-skeleton-from-to: theme('colors.neutral.400/50');
      }

      .mat-mdc-table .mat-mdc-header-cell {
        background: transparent;
        @apply text-neutral-700 dark:text-neutral-400;
      }
    }
  }

  ::ng-deep {
    .mat-sort-header {
      z-index: 1;
      position: relative;
    }

    .mat-sort-header-stem {
      width: 1px;
    }

    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right {
      height: 1px;
    }

    .mat-sort-header-pointer-middle {
      width: 1px;
      height: 1px;
    }
  }

  &[data-view-variant="table"] {
    --emr-data-view-hl-header-margin: 0;

    .mat-mdc-header-row {
      &::before {
        height: theme('height.12');
      }
    }

    .mat-mdc-row.mdc-data-table__row {
      border: none !important;
      @apply rounded-none h-auto;
      border-top: theme('width.px') solid theme('borderColor.DEFAULT') !important;

      & + .mdc-data-table__row {
        @apply mt-0;
      }
    }

    &.highlight-header {
      .mat-mdc-row.mdc-data-table__row {
        &:first-of-type {
          border-top: none !important;
        }
      }
    }
  }
}

:host-context(html.dark) {
  --emr-data-view-row-hover-bg: theme('colors.surface-container-low');

  ::ng-deep {
    .mdc-data-table__header-cell {
      --emr-skeleton-from-bg: theme('colors.neutral.700/60');
      --emr-skeleton-from-to: theme('colors.neutral.800/50');
    }
  }
}
