:host {
  --mat-table-row-item-outline-width: 0;

  .emr-skeleton-block {
    z-index: 1;
  }

  .mdc-data-table__cell.mat-column-selection:first-child,
  .mdc-data-table__header-cell.mat-column-selection:first-child {
    @apply max-w-16 p-0 justify-center;
  }

  .mat-mdc-header-cell {
    @apply uppercase text-xs overflow-hidden;
  }

  .mat-mdc-row.mdc-data-table__row {
    border: theme('width.px') solid theme('borderColor.DEFAULT') !important;
    @apply rounded-xl overflow-hidden h-16;

    & + .mdc-data-table__row {
      @apply mt-4;
    }
  }

  .mdc-data-table__row {
    &.is-selected {
      border-color: var(--emr-data-view-selected-border-color) !important;
    }
  }

  ::ng-deep {
    .header-cell,
    .cell {
      min-width: var(--emr-data-view-cell-width, auto);
      max-width: var(--emr-data-view-cell-width, auto);
    }
  }

  .mat-mdc-table .mat-mdc-header-cell {
    @apply text-neutral-500 dark:text-neutral-400;
  }

  &.highlight-header {
    ::ng-deep {
      .mat-mdc-header-row {
        position: relative;
        margin: var(--emr-data-view-hl-header-margin);

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          background: var(--emr-data-view-hl-header-row-bg);
          height: theme('height.10');
          border-radius: theme('borderRadius.lg');
          z-index: 0;
        }
      }

      .mdc-data-table__header-cell {
        --emr-skeleton-from-bg: theme('colors.neutral.300/60');
        --emr-skeleton-from-to: theme('colors.neutral.400/50');
      }

      .mat-mdc-table .mat-mdc-header-cell {
        background: transparent;
        @apply text-neutral-700 dark:text-neutral-400;
      }
    }
  }

  ::ng-deep {
    .mat-sort-header {
      z-index: 1;
      position: relative;
    }

    .mat-sort-header-stem {
      width: 1px;
    }

    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right {
      height: 1px;
    }

    .mat-sort-header-pointer-middle {
      width: 1px;
      height: 1px;
    }
  }
}

:host-context(html.dark) {
  .mat-mdc-row.mdc-data-table__row:not(.is-selected) {
    border-color: theme('borderColor.inverse') !important;
  }

  ::ng-deep {
    .mdc-data-table__header-cell {
      --emr-skeleton-from-bg: theme('colors.neutral.700/60');
      --emr-skeleton-from-to: theme('colors.neutral.800/50');
    }
  }
}
