@reference 'tailwindcss';

:host {
  --emr-skeleton-gap: calc(var(--spacing) * 4);
  --emr-skeleton-item-border-radius: theme(--radius-2xl);
  --emr-skeleton-from-bg: var(--color-neutral-200); // theme('colors.neutral.200/80');
  --emr-skeleton-to-bg: var(--color-neutral-300); // theme('colors.neutral.300/70');

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--emr-skeleton-gap);

  &.is-direction-col {
    flex-direction: column;
  }

  &.is-direction-row {
    flex-direction: row;
  }
}

:host-context(html.dark) {
  --emr-skeleton-from-bg: var(--color-neutral-500); // theme('colors.neutral.500/80');
  --emr-skeleton-to-bg: var(--color-neutral-600); // theme('colors.neutral.600/70');
}
