:host {
  --emr-marquee-animation-duration: 20s;
  --emr-marquee-gap: 1rem;
  --emr-marquee-reverse: ;
  --emr-marquee-pause: running;

  @apply block w-full;

  .container {
    @apply w-full h-full;

    &.direction-row {
      .content {
        flex-direction: row;

        .item-wrapper {
          flex-direction: row;
          animation: emr-marquee-row var(--emr-marquee-animation-duration) infinite linear var(--emr-marquee-reverse);
        }
      }
    }

    &.direction-column {
      .content {
        flex-direction: column;

        .item-wrapper {
          flex-direction: column;
          animation: emr-marquee-column var(--emr-marquee-animation-duration) infinite linear var(--emr-marquee-reverse);
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      gap: var(--emr-marquee-gap);
      overflow: hidden;
      padding: 0.5rem;

      .item-wrapper {
        display: flex;
        gap: var(--emr-marquee-gap);
        flex-shrink: 0;
      }
    }

    .content:hover {
      & > .item-wrapper {
        animation-play-state: var(--emr-marquee-pause);
      }
    }

    .content.out-of-view {
      & > .item-wrapper {
        animation-play-state: paused;
      }
    }
  }

  .invisible {
    @apply w-0 h-0 hidden pointer-events-none;
  }

  @keyframes emr-marquee-row {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--emr-marquee-gap)));
    }
  }

  @keyframes emr-marquee-column {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100% - var(--emr-marquee-gap)));
    }
  }
}
