<div class="flex flex-col gap-6">
  <emr-announcement variant="neutral" closable>You still have not uploaded your Mart invoice due on 22 April 2024</emr-announcement>
  <emr-announcement variant="informative">You still have not uploaded your Mart invoice due on 22 April 2024</emr-announcement>
  <emr-announcement variant="negative">You still have not uploaded your Mart invoice due on 22 April 2024</emr-announcement>
  <emr-announcement variant="positive" closable>You still have not uploaded your Mart invoice due on 22 April 2024</emr-announcement>
  <emr-announcement variant="warning">You still have not uploaded your Mart invoice due on 22 April 2024</emr-announcement>
</div>
