:host {
  display: block;
  height: 100%;
  position: relative;

  .sidebar {
    background-color: var(--sys-surface-container-low);
    border-inline-end: 1px solid var(--emr-border);
  }

  .header {
    height: calc(var(--spacing) * 20);
    display: flex;
    align-items: center;

    --emr-sidebar-header-padding: 0 calc(var(--spacing) * 7);
    --emr-sidebar-header-compact-padding: 0 calc(var(--spacing) * 7);
  }

  .logo {
    font-size: var(--text-lg);
    color: var(--sys-primary);
    font-weight: 800;

    &:hover {
      color: var(--sys-tertiary);
    }
  }

  .body {
    --emr-sidebar-body-padding: 0 calc(var(--spacing) * 3);
    --emr-sidebar-body-compact-padding: 0 calc(var(--spacing) * 3);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    --emr-sidebar-footer-padding: calc(var(--spacing) * 6) calc(var(--spacing) * 7);
    --emr-sidebar-footer-compact-padding: calc(var(--spacing) * 3) calc(var(--spacing) * 7);
  }
}
