<emr-sidebar [compact]="compact" class="sidebar">
  <emr-sidebar-header class="header">
    <div class="h-20 flex items-center w-full justify-between border-b border-b-default">
      <a emr-logo routerLink="/" emrSidebarCompactViewMode>EL</a>
      <a emr-logo routerLink="/" emrSidebarFullViewMode>ELEMENTAR</a>
      <button mat-icon-button (click)="compact = !compact" class="sidebar-toggle">
        @if (compact) {
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        } @else {
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        }
      </button>
    </div>
  </emr-sidebar-header>
  <emr-sidebar-body class="body">
    <emr-sidebar-nav [activeKey]="activeKey" [navItems]="navItems">
      <emr-sidebar-nav-item *emrSidebarNavItemDef="let node">{{ node.name }}</emr-sidebar-nav-item>
      <a emr-sidebar-nav-item *emrSidebarNavItemDef="let node; is: isLink" [routerLink]="node.link">{{ node.name }}</a>
      <emr-sidebar-nav-group *emrSidebarNavItemDef="let node; is: isGroup"></emr-sidebar-nav-group>
      <emr-sidebar-nav-heading *emrSidebarNavItemDef="let node; is: isHeading">{{ node.name }}</emr-sidebar-nav-heading>
    </emr-sidebar-nav>
  </emr-sidebar-body>
  <emr-sidebar-footer class="footer">
    <div emrSidebarCompactViewMode>
      <emr-dicebear src="assets/avatars/1.svg"/>
    </div>
    <div emrSidebarFullViewMode>
      <emr-sidebar-toolbar/>
    </div>
  </emr-sidebar-footer>
</emr-sidebar>
