<div class="flex flex-col gap-6">
  <emr-alert>
    <emr-alert-title>Alert Title</emr-alert-title>
    This is a Elementar Admin alert — check it out!
  </emr-alert>
  <emr-alert variant="secondary">
    <emr-alert-title>Alert Title</emr-alert-title>
    This is a Elementar Admin alert — check it out!
  </emr-alert>
  <emr-alert variant="positive">
    <emr-alert-title>Alert Title</emr-alert-title>
    This is a Elementar Admin alert — check it out!
  </emr-alert>
  <emr-alert variant="negative">
    <emr-alert-title>Alert Title</emr-alert-title>
    This is a Elementar Admin alert — check it out!
  </emr-alert>
</div>
