<div class="w-[1200px] mx-auto pb-12">
  <div class="flex w-full items-center justify-center">
    <section class="relative w-full overflow-hidden px-4 py-12 lg:px-8 lg:py-12">
      <div class="relative z-10 my-12 flex flex-col items-center justify-center gap-4">
        <div class="flex w-full flex-col items-start justify-center space-y-4 md:items-center">
          <div class="mb-2 inline-block rounded-full bg-primary-200 dark:bg-primary-650
                   dark:text-white px-3 py-1 text-xs font-medium uppercase text-primary">
            Pricing
          </div>
          <h1 class="mt-2 text-3xl font-black tracking-tight sm:text-4xl">Fair pricing, unfair advantage</h1>
          <p class="text-md max-w-xl text-neutral-600 dark:text-neutral-400 md:text-center">
            Get started with Acme today and take your business to the next level
          </p>
        </div>
        <div class="flex items-center justify-center mt-4 gap-3">
          @if (paymentType === 'monthly') {
            <button mat-stroked-button (click)="payMonthly()">Monthly</button>
            <button mat-button (click)="payAnnual()">Annual</button>
          } @else {
            <button mat-button (click)="payMonthly()">Monthly</button>
            <button mat-stroked-button (click)="payAnnual()">Annual</button>
          }
        </div>
      </div>
      <div class="relative mx-auto mt-16 flex w-full flex-col gap-8 lg:flex-row lg:gap-6">
        @for (pricingPlan of pricingPlans; track pricingPlan) {
          <div class="w-full rounded-xl border dark:border-inverse p-6 text-left">
            <p class="mb-1 text-sm font-medium uppercase text-primary">{{ pricingPlan.name }}</p>
            <p class="mb-6 text-sm text-neutral-600 dark:text-neutral-400">{{ pricingPlan.description }}</p>
            <div class="mb-8">
              <div class="text-3xl font-semibold text-neutral-900 dark:text-neutral-200">
                @if (paymentType === 'monthly') {
                  <span>{{ pricingPlan.monthlyPrice | number }}</span>
                  <span class="text-sm font-medium">/month</span>
                } @else {
                  <span>{{ pricingPlan.annualPrice | number }}</span>
                  <span class="text-sm font-medium">/year</span>
                }
              </div>
              <div class="mt-8">
                <button mat-flat-button class="w-full">Get Started</button>
              </div>
            </div>
            @for (feature of pricingPlan.features; track feature) {
              <div class="mb-3 flex items-center gap-2">
                <mat-icon class="material-symbols-outlined filled text-primary">done</mat-icon>
                <span class="text-sm text-secondary">{{ feature }}</span>
              </div>
            }
          </div>
        }
      </div>
    </section>
  </div>
</div>
