<div class="text-sm font-semibold 2xl:pt-2.5">Tertiary</div>
<div class="mt-3 grid grid-cols-4 gap-8">
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">tertiary</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-tertiary</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-on-tertiary"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">tertiary-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-tertiary-container</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-tertiary-container"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">tertiary-fixed</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-tertiary-fixed"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">tertiary-fixed-dim</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-fixed-dim"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-tertiary-fixed</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full border border-default bg-on-tertiary-fixed"></div>
    </div>
  </div>
  <div class="relative flex">
    <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
      <div class="w-6 font-medium text-xs 2xl:w-full">on-tertiary-fixed-variant</div>
      <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-on-tertiary-fixed-variant"></div>
    </div>
  </div>
</div>
<div class="my-14">
  <mat-divider></mat-divider>
</div>
<div>
  <div class="text-sm font-semibold">Tertiary</div>
  <div class="grid mt-3 grid-cols-4 gap-8">
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-50"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">50</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-100"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">100</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-200"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">200</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-300"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">300</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-400"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">400</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-450"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">450</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-500"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">500</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-600"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">600</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-650"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">650</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-700"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">700</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-800"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">800</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-900"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">900</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-950"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">950</div>
        </div>
      </div>
    </div>
    <div class="relative flex">
      <div class="flex items-center gap-x-3 w-full cursor-pointer sm:block sm:flex flex-col gap-1.5">
        <div class="h-10 w-10 rounded dark:ring-1 dark:ring-inset dark:ring-white/10 sm:w-full bg-tertiary-1000"></div>
        <div class="px-0.5">
          <div class="w-6 font-medium text-xs text-slate-900 2xl:w-full dark:text-white">1000</div>
        </div>
      </div>
    </div>
  </div>
</div>
