<div class="flex items-center gap-12">
  <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                  [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                  [tooltip]="tooltipRef"
                  class="w-[50px] h-[25px]"></emr-mchart-bar>
  <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                  [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                  [tooltip]="tooltipRef"
                  class="w-[100px] h-[50px]"></emr-mchart-bar>
  <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                  [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                  [tooltip]="tooltipRef"
                  class="w-[200px] h-[100px]">
  </emr-mchart-bar>
</div>
<div class="flex items-center gap-12 mt-10">
  <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                  [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                  [tooltip]="tooltipRef"
                  fillGradient
                  class="w-[50px] h-[25px]"></emr-mchart-bar>
  <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                  [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                  [tooltip]="tooltipRef"
                  fillGradient
                  class="w-[100px] h-[50px]"></emr-mchart-bar>
  <emr-mchart-bar [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                  [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                  [tooltip]="tooltipRef"
                  fillGradient
                  class="w-[200px] h-[100px]">
  </emr-mchart-bar>
</div>
<ng-template #tooltipRef let-data>
  <emr-mchart-tooltip>
    <emr-mchart-tooltip-title>{{ data.label }}</emr-mchart-tooltip-title>
    <emr-mchart-tooltip-body>
      Value: {{ data.value }}
    </emr-mchart-tooltip-body>
  </emr-mchart-tooltip>
</ng-template>
