<div class="h-32 w-full px-14 bg-background">
  <div class="h-full flex items-center gap-7">
    <div class="flex items-center">
      <div>
        <div class="text-xl font-bold">Dashboard</div>
        <div class="text-xs text-neutral-500 mt-1">Friday, August 26, 2024</div>
      </div>
    </div>
    <div class="ms-auto flex items-center gap-6">
      <div class="flex items-center gap-4">
        <div class="w-max border border-neutral-300  rounded-full">
          <button mat-icon-button matTooltip="Notifications"
                  [emrPopoverTriggerFor]="notificationsPopover" position="below-end">
            <mat-icon matBadge="4">notifications</mat-icon>
          </button>
        </div>
        <div class="w-max border border-neutral-300  rounded-full">
          <button mat-icon-button (click)="_themeManager.toggleColorScheme()" matTooltip="Color Theme"
                  emrSoundEffect soundSrc="/assets/sound-effects/mouse-click.ogg">
            @if (_themeManager.getColorScheme() === 'light') {
              <mat-icon>light_mode</mat-icon>
            } @else if (_themeManager.getColorScheme() === 'dark') {
              <mat-icon>dark_mode</mat-icon>
            }
          </button>
        </div>
      </div>
      <div class="flex items-center gap-3 cursor-pointer" [matMenuTriggerFor]="accountMenu">
        <emr-dicebear key="PS" matTooltip="Account" class="size-12"/>
        <div>
          <div class="text-tiny font-medium">Louis Vincent</div>
          <div class="text-2xs text-neutral-500">Sales Manager</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notificationsPopover>
  @defer {
    <emr-notifications-popover/>
  }
</ng-template>

<mat-menu xPosition="before" #accountMenu="matMenu">
  <div class="flex items-center px-4 pb-4 pt-2 gap-3">
    <emr-dicebear key="PS" class="size-14"/>
    <div class="-mt-0.5">
      <div class="flex items-center gap-2">
        Pavel Salauyou
        <div class="border flex items-center border-neutral-900 dark:border-neutral-200 h-5 leading-3 px-2
                    rounded-full font-bold text-4xs uppercase text-neutral-500 dark:text-neutral-200">Free</div>
      </div>
      <div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">louis.vincent&#64;mail.com</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>tune</mat-icon>
    <span>Settings</span>
  </a>
  <a mat-menu-item>
    <mat-icon>contrast</mat-icon>
    <span>Appearance</span>
  </a>
  <a mat-menu-item>
    <mat-icon>question_mark</mat-icon>
    <span>Help Center</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>translate</mat-icon>
    <span>Language</span>
  </a>
  <a mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add Account</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </a>
</mat-menu>
