<emr-navigation activeKey="dashboard" class="border dark:border-inverse p-2 w-1/2">
  <emr-navigation-item key="dashboard">
    <ng-template emrNavigationItemIcon>
      <mat-icon emrNavigationItemIcon class="font-icon">home</mat-icon>
    </ng-template>
    Dashboard
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon class="font-icon">view_kanban</mat-icon>
    Projects
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon class="font-icon">check</mat-icon>
    Tasks
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon class="font-icon">person</mat-icon>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </emr-navigation-item>
  <emr-navigation-item>
    <mat-icon emrNavigationItemIcon class="font-icon">support</mat-icon>
    Support
  </emr-navigation-item>
</emr-navigation>
