<div class="flex flex-wrap h-screen mat-typography">
  <div class="flex w-full flex-col md:w-1/2 h-screen">
    <div>
      <a emr-logo routerLink="/" class="mt-7 ms-8">ELEMENTAR</a>
    </div>
    <div class="grow px-10 md:px-20 flex items-center justify-center overflow-y-auto">
      <div class="w-[500px]">
        <h2>Welcome back, Pavel</h2>
        <p class="mt-2 text-left text-neutral-500 text-sm">Welcome back, please enter your details.</p>
        <div class="grid mt-8 gap-3 grid-cols-2 text-sm">
          <button class="col-span-1 flex items-center justify-center rounded-full border border-default  gap-2 px-3 py-3 outline-none ring-neutral-400
                       ring-offset-2 transition focus:ring-2 hover:border-primary dark:hover:border-primary">
            <img class="w-5 h-5" src="assets/auth/google-logo.svg" alt="Log in with Google"> Log in with Google
          </button>
          <button class="flex col-span-1 items-center justify-center rounded-full border border-default  gap-2 px-3 py-3 outline-none
                       ring-neutral-400 ring-offset-2 transition focus:ring-2 hover:border-primary dark:hover:border-primary">
            <img class="w-6 h-6" src="assets/auth/facebook-logo.svg" alt="Log in with Facebook"> Log in with Facebook
          </button>
        </div>
        <emr-h-divider class="mt-8">or</emr-h-divider>
        <form class="flex flex-col pt-3 md:pt-8">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput>
            <a routerLink="/auth/forgot-password" matSuffix
               class="mr-3 underline-offset-4 text-xs font-semibold text-neutral-800 dark:text-neutral-300 hover:underline hover:text-accent">Forgot?</a>
          </mat-form-field>
          <button mat-flat-button color="primary" type="button" class="!h-12 mt-5">Log in</button>
        </form>
        <div class="py-12 text-center">
          <p class="whitespace-nowrap text-xs">
            <span class="inline-block me-1 text-neutral-600 dark:text-neutral-400">Don't have an account?</span>
            <a routerLink="/auth/signup" class="underline-offset-4 font-semibold text-neutral-800 dark:text-neutral-300
                                              underline hover:text-accent dark:hover:text-accent">Sign up for free.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen flex items-center
              justify-center select-none bg-surface-container md:flex md:w-1/2">
    <img class="z-1 max-w-[80%] w-full mx-auto" ngSrc="assets/onboarding/step1.svg" alt="Onboarding" fill>
  </div>
</div>
