<emr-timeline>
  <emr-timeline-header>1 AUG, 2023</emr-timeline-header>
  <emr-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></emr-avatar>
    </ng-template>
    <emr-timeline-timestamp>11, July</emr-timeline-timestamp>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
  </emr-timeline-item>
  <emr-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <emr-avatar class="w-7 h-7">
        <mat-icon class="font-icon text-lg">folder</mat-icon>
      </emr-avatar>
    </ng-template>
    <emr-timeline-timestamp>03, July</emr-timeline-timestamp>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
  </emr-timeline-item>
  <emr-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></emr-avatar>
    </ng-template>
    <emr-timeline-timestamp>25, June</emr-timeline-timestamp>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
  </emr-timeline-item>
  <emr-timeline-item>
    <ng-template emrTimelineItemIndicator>
      <emr-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-8 h-8" text="J"></emr-avatar>
    </ng-template>
    <emr-timeline-timestamp>22, June</emr-timeline-timestamp>
    <emr-timeline-title>Created "emrimaKit in Angular" task</emr-timeline-title>
    <emr-timeline-description>Find more detailed insctructions here.</emr-timeline-description>
  </emr-timeline-item>
</emr-timeline>
