<app-page>
  <div appPageContent>
    <h1>Skeleton</h1>

    <h3 class="mat-title-large">Dashboard cards skeleton</h3>
    <emr-playground exampleUrl="_docs/store/skeleton/_examples" exampleName="dashboard-cards-example">
      <app-dashboard-cards-example/>
    </emr-playground>

    <h3 class="mat-title-large">Dashboard chart skeleton</h3>
    <emr-playground exampleUrl="_docs/store/skeleton/_examples" exampleName="dashboard-chart-example">
      <app-dashboard-chart-example/>
    </emr-playground>

    <h3 class="mat-title-large">Dashboard stats skeleton</h3>
    <emr-playground exampleUrl="_docs/store/skeleton/_examples" exampleName="dashboard-example">
      <app-dashboard-example/>
    </emr-playground>
  </div>
</app-page>
