:host {
  --emr-action-required-bg: var(--color-error-container);
  --emr-action-action-text-bg: var(--color-error-200);
  --emr-action-text-color: var(--color-on-error-container);

  display: flex;
  width: 100%;
  border-radius: var(--rounded-3xl);
  padding: var(--p-7);
  gap: var(--gap-8);
  align-items: center;
  background-color: var(--emr-action-required-bg);
  color: var(--emr-action-text-color);

  .action-text {
    display: flex;
    background: var(--emr-action-action-text-bg);
    padding: var(--p-3_5);
    border-radius: var(--rounded-2xl);
    align-content: center;
    flex: none;
    font-size: var(--text-md);
    gap: var(--gap-1_5);
  }

  .description {
    flex-grow: 1;
  }

  .button {
    flex: none;
  }
}

:host-context(html.dark) {
  --emr-action-action-text-bg: var(--color-error-600);
}
