<div class="flex items-center gap-2">
  <div class="text-sm">{{ name }}</div>
  <div class="border border-default flex items-center border-neutral-900 dark:border-neutral-200 h-5 leading-3 px-2
                    rounded-full font-bold text-4xs uppercase text-neutral-500 dark:text-neutral-200">{{ subscription }}</div>
</div>
<div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">{{ email }}</div>
<div class="my-4">
  <emr-h-divider/>
</div>
<div class="ms-auto flex items-center gap-2.5">
  <emr-dicebear key="PS" src="assets/avatars/1.svg" class="size-12"/>
  <div class="flex items-center rounded-full p-1 gap-[0.5] bg-surface-container-high
              dark:bg-surface-container-highest hover:text-on-surface">
    <button mat-icon-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Payments">
      <mat-icon>credit_card</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
      <mat-icon matBadge="3">notifications</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
