<app-page>
  <div appPageContent>
    <h1>Paginator</h1>

    <h3 class="mat-title-large">Basic Paginator</h3>
    <emr-playground exampleUrl="_docs/components/paginator/_examples" exampleName="basic-paginator-example">
      <app-basic-paginator-example></app-basic-paginator-example>
    </emr-playground>

    <h3 class="mat-title-large">Configurable Paginator</h3>
    <emr-playground exampleUrl="_docs/components/paginator/_examples" exampleName="configurable-paginator-example">
      <app-configurable-paginator-example></app-configurable-paginator-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/paginator/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
