<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Progress Spinner</h1>

      <h3>Basic Progress Spinner</h3>
      <emr-playground>
        <app-basic-progress-spinner-example></app-basic-progress-spinner-example>
      </emr-playground>

      <h3>Configurable Progress Spinner</h3>
      <emr-playground>
        <app-configurable-spinner-example></app-configurable-spinner-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
