<div class="relative overflow-hidden rounded-lg border dark:border-inverse">
  <div class="p-6">
    <div class="flex justify-between">
      <div class="font-semibold text-sm">My Investments</div>
      <a routerLink="/my-investments" class="flex items-center text-sm gap-1 relative -end-3 hover:text-blue-500 dark:hover:text-blue-400">
        <span>See All</span>
        <mat-icon class="font-icon text-base">arrow_forward</mat-icon>
      </a>
    </div>
  </div>
  <div class="-mt-4 pb-1">
    <mat-list role="list" class="space-y-1.5">
      <a mat-list-item matRipple role="listitem" class="hover:bg-neutral-100 dark:hover:bg-neutral-700 cursor-pointer">
        <div class="flex items-center justify-between px-2 text-sm">
          <div class="flex items-center gap-3">
            <div class="bg-zinc-100 dark:bg-neutral-200 flex items-center justify-center w-9 h-9 flex-none rounded-lg">
              <img src="assets/banking/apple-logo.svg" alt="" class="w-5 h-5">
            </div>
            Apple Inc.
          </div>
          <div class="text-green-600 dark:text-green-400">+0.36%</div>
        </div>
      </a>
      <a mat-list-item matRipple role="listitem" class="hover:bg-neutral-100 dark:hover:bg-neutral-700 cursor-pointer">
        <div class="flex items-center justify-between px-2 text-sm">
          <div class="flex items-center gap-3">
            <div class="bg-zinc-100 dark:bg-neutral-200 flex items-center justify-center w-9 h-9 flex-none rounded-lg">
              <img src="assets/banking/netflix-logo.svg" alt="" class="w-5 h-5">
            </div>
            Netflix
          </div>
          <div class="text-green-600 dark:text-green-400">+10.01%</div>
        </div>
      </a>
      <a mat-list-item matRipple role="listitem" class="hover:bg-neutral-100 dark:hover:bg-neutral-700 cursor-pointer">
        <div class="flex items-center justify-between px-2 text-sm">
          <div class="flex items-center gap-3">
            <div class="bg-zinc-100 dark:bg-neutral-200 flex items-center justify-center w-9 h-9 flex-none rounded-lg">
              <img src="assets/banking/macdonalds-logo.svg" alt="" class="w-5 h-5">
            </div>
            McDonald’s
          </div>
          <div class="text-red-600 dark:text-red-400">-2.17%</div>
        </div>
      </a>
      <a mat-list-item matRipple role="listitem" class="hover:bg-neutral-100 dark:hover:bg-neutral-700 cursor-pointer">
        <div class="flex items-center justify-between px-2 text-sm">
          <div class="flex items-center gap-3">
            <div class="bg-zinc-100 dark:bg-neutral-200 flex items-center justify-center w-9 h-9 flex-none rounded-lg">
              <img src="assets/banking/airbnb-logo.svg" alt="" class="w-5 h-5">
            </div>
            Airbnb
          </div>
          <div class="text-green-600 dark:text-green-400">+6.09%</div>
        </div>
      </a>
      <a mat-list-item matRipple role="listitem" class="hover:bg-neutral-100 dark:hover:bg-neutral-700 cursor-pointer">
        <div class="flex items-center justify-between px-2 text-sm">
          <div class="flex items-center gap-2">
            <div class="bg-zinc-100 dark:bg-neutral-200 flex items-center justify-center w-9 h-9 flex-none rounded-lg">
              <img src="assets/banking/amazon-logo.svg" alt="" class="w-5 h-5">
            </div>
            Amazon
          </div>
          <div class="text-red-600 dark:text-red-400">-9.54%</div>
        </div>
      </a>
    </mat-list>
  </div>
</div>
