<div class="bg-white dark:bg-neutral-700 shadow rounded-lg p-3.5">
  <div class="flex items-center gap-2.5">
    <emr-avatar text="PS" src="https://avatar.iran.liara.run/public" class="size-9"></emr-avatar>
    <div>
      <div class="text-sm">Pavel Salauyou</div>
      <div class="text-xs text-neutral-500 dark:text-neutral-400">elementarlabs&#64;gmail.com</div>
    </div>
  </div>
  <div class="mt-2.5">
    <button mat-flat-button class="w-full">
      <mat-icon>bolt</mat-icon>Upgrade to Pro
    </button>
  </div>
</div>
