:host {
  .date-range-input {
    --mat-form-field-container-vertical-padding: 0.5rem;
    --mat-form-field-container-height: 2.5rem;
    --mdc-outlined-text-field-container-shape: 0.3125rem;
    --mat-form-field-container-text-size: var(--text-sm);
    --mdc-outlined-text-field-outline-color: transparent;
    width: 14rem;
    background: var(--color-neutral-200);
    border-radius: 0.3125rem;

    ::ng-deep .mat-mdc-form-field-subscript-wrapper,
    ::ng-deep .mat-mdc-form-field-bottom-align {
      display: none;
    }
  }
}

:host-context(html.dark) {
  .date-range-input {
    background: var(--color-neutral-700);
  }
}
