<app-page>
  <div appPageContent>
    <h1>Brand Colors</h1>

    <main class="mb-10">
      <p>
        Introducing <strong>Brand Colors</strong>, a simple yet powerful inline color picker for Angular Material!
      </p>
      <p>
        Easily select and customize colors for your brand directly within your app.
        Designed to fit seamlessly into Angular Material projects, this component makes color
        picking effortless and intuitive.
      </p>
      <div class="my-7">
        <div>Key features:</div>
        <ul class="list-disc ps-4 flex flex-col gap-3 mt-3">
          <li>
            🎨 <strong>Customizable</strong>: Tailor the color picker to match your app's design.
          </li>
          <li>
            ⚡ <strong>Lightweight & Fast</strong>: Minimal impact on performance, smooth user experience.
          </li>
          <li>
            🛠️ <strong>Seamless Integration</strong>: Built specifically for Angular Material—just plug and play!
          </li>
        </ul>
      </div>
      <p>
        Perfect for building apps where color matters—whether it's dashboards, design tools, or content creators' platforms.
        Save time and keep your branding on point with <strong>Brand Colors</strong>!
      </p>
      <p>
        Get started today and add a splash of color to your projects!
      </p>
    </main>

    <h3 class="mat-title-large">Basic brand colors</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="basic-brand-colors-example">
      <app-basic-brand-colors-example/>
    </emr-playground>

    <h3 class="mat-title-large">Brand colors with custom colors</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="brand-colors-custom-colors-example">
      <app-brand-colors-custom-colors-example/>
    </emr-playground>

    <h3 class="mat-title-large">Brand colors with disabled state</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="brand-colors-disabled-example">
      <app-brand-colors-disabled-example/>
    </emr-playground>

    <h3 class="mat-title-large">Brand colors as form control</h3>
    <emr-playground exampleUrl="_docs/components/brand-colors/_examples" exampleName="brand-colors-as-form-control-example">
      <app-brand-colors-as-form-control-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-brand-colors</code> component.
    </p>

    <mat-tab-group class="my-6">
      <mat-tab label="Properties">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/2">Prop</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div>colors</div>
                <div class="text-xs text-neutral-600 mt-0.5">List of colors</div>
              </td>
              <td>string[]</td>
              <td>List of default colors</td>
            </tr>
            <tr>
              <td>
                <div>selectedColor</div>
                <div class="text-xs text-neutral-600 mt-0.5">Selected color</div>
              </td>
              <td>string</td>
              <td>&ndash;</td>
            </tr>
            <tr>
              <td>
                <div>disabled</div>
                <div class="text-xs text-neutral-600 mt-0.5">Disable control</div>
              </td>
              <td>boolean</td>
              <td>false</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Events">
        <div class="border border-default rounded-xl shadow-sm overflow-hidden my-6">
          <table class="emr-table not-mat-typography">
            <thead>
            <tr class="bg-neutral-200 dark:bg-neutral-700">
              <th class="w-1/3">Event</th>
              <th>Description</th>
              <th class="w-1/3">Output type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>colorChange</td>
              <td>Executed when a color changed by clicking on a color button</td>
              <td>string</td>
            </tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
