<div class="h-20 w-full px-10 bg-background">
  <div class="h-full flex items-center border-b border-b-default dark:border-b-neutral-600 gap-7">
    <div class="flex items-center gap-3 -ms-3">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <emr-assistant-search/>
    </div>
    <div class="ms-auto flex items-center gap-3">
      <a mat-stroked-button href="https://github.com/elementarlabs/elementar-admin" target="_blank">Github</a>
      <button mat-icon-button [matMenuTriggerFor]="appsMenu" matTooltip="Applications">
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Notifications"
              [emrPopoverTriggerFor]="notificationsPopover" position="below-end">
        <mat-icon matBadge="3">notifications</mat-icon>
      </button>
      <button mat-icon-button (click)="_themeManager.toggleColorScheme()" matTooltip="Color Theme"
              emrSoundEffect soundSrc="/assets/sound-effects/mouse-click.ogg">
        @if (_themeManager.getColorScheme() === 'light') {
          <mat-icon>light_mode</mat-icon>
        } @else if (_themeManager.getColorScheme() === 'dark') {
          <mat-icon>dark_mode</mat-icon>
        }
      </button>
      <emr-dicebear key="PS" [clickable]="true" [matMenuTriggerFor]="accountMenu"
                  matTooltip="Account" class="size-10"/>
    </div>
  </div>
</div>

<mat-menu xPosition="before" #appsMenu="matMenu" class="max-h-[400px]">
  <div class="w-80">
    <a routerLink="/" mat-menu-item>
      <div class="flex items-center gap-3 my-3">
        <div class="size-14 border border-neutral-400 dark:border-inverse rounded-lg flex-none flex items-center justify-center">
          <img src="assets/applications/file-storage.svg" alt="File Storage" class="size-8 dark:hidden">
          <img src="assets/applications/file-storage-dark.svg" alt="File Storage" class="size-8 hidden dark:block">
        </div>
        <div class="-mt-0.5">
          <div>File Storage</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">
            Store, share, and access files across devices
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/" mat-menu-item>
      <div class="flex items-center gap-3 my-3">
        <div class="size-14 border border-neutral-400 dark:border-inverse rounded-lg flex-none flex items-center justify-center">
          <img src="assets/applications/sign.svg" alt="Sign" class="size-8 dark:hidden">
          <img src="assets/applications/sign-dark.svg" alt="Sign" class="size-8 hidden dark:block">
        </div>
        <div class="-mt-0.5">
          <div>Sign</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">
            Securely send any documents for electronic signature
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/" mat-menu-item>
      <div class="flex items-center gap-3 my-3">
        <div class="size-14 border border-neutral-400 dark:border-inverse rounded-lg flex-none flex items-center justify-center">
          <img src="assets/applications/backup.svg" alt="Backup" class="size-8 dark:hidden">
          <img src="assets/applications/backup-dark.svg" alt="Backup" class="size-8 hidden dark:block">
        </div>
        <div class="-mt-0.5">
          <div>Backup</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">
            Automatically back up all your devices
          </div>
        </div>
      </div>
    </a>
    <div class="my-3">
      <mat-divider></mat-divider>
    </div>
    <div class="text-base py-3 px-4">
      See what other options there are
    </div>
    <a routerLink="/" mat-menu-item>
      <div class="flex items-center gap-3 my-3">
        <div class="size-14 border border-neutral-400 dark:border-inverse rounded-lg flex-none flex items-center justify-center">
          <img src="assets/applications/passwords.svg" alt="Passwords" class="size-8 dark:hidden">
          <img src="assets/applications/passwords-dark.svg" alt="Passwords" class="size-8 hidden dark:block">
        </div>
        <div class="-mt-0.5">
          <div>Passwords</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">
            Sync and save passwords across all your devices
          </div>
        </div>
      </div>
    </a>
    <div class="my-3">
      <mat-divider/>
    </div>
    <a routerLink="/" mat-menu-item>
      <div class="flex items-center gap-3 my-3">
        <div class="size-14 border border-neutral-400 dark:border-inverse rounded-lg flex-none flex items-center justify-center">
          <mat-icon class="font-icon !text-2xl !w-5 !h-8 relative -right-1">arrow_forward</mat-icon>
        </div>
        <div class="-mt-0.5">
          <div>App Center</div>
          <div class="text-xs text-neutral-500 dark:text-neutral-400">
            Find apps in Elementar and connect them
          </div>
        </div>
      </div>
    </a>
  </div>
</mat-menu>

<ng-template #notificationsPopover>
  @defer {
    <emr-notifications-popover/>
  }
</ng-template>

<mat-menu xPosition="before" #accountMenu="matMenu">
  <div class="flex items-center px-4 pb-4 pt-2 gap-3">
    <emr-dicebear key="PS" class="w-14 h-14"/>
    <div class="-mt-0.5">
      <div class="flex items-center gap-2">
        Pavel Salauyou
        <div class="border flex items-center border-neutral-900 dark:border-neutral-200 h-5 leading-3 px-2
                    rounded-full font-bold text-4xs uppercase text-neutral-500 dark:text-neutral-200">Free</div>
      </div>
      <div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">pavel.salauyou&#64;mail.com</div>
    </div>
  </div>
  <div class="px-4 pb-4">
    <button mat-stroked-button class="w-full">
      <mat-icon>workspace_premium</mat-icon>
      Upgrade
    </button>
  </div>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>tune</mat-icon>
    <span>Settings</span>
  </a>
  <a mat-menu-item>
    <mat-icon>contrast</mat-icon>
    <span>Appearance</span>
  </a>
  <a mat-menu-item>
    <mat-icon>question_mark</mat-icon>
    <span>Help Center</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>translate</mat-icon>
    <span>Language</span>
  </a>
  <a mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add Account</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </a>
</mat-menu>
