:host {
  --emr-navigation-item-hover-bg: var(--color-primary-200);
  --emr-navigation-item-active-bg: var(--color-primary-300);
  --emr-navigation-item-active-color: var(--color-primary-800);
  --emr-navigation-item-active-icon-color: var(--color-primary-800);
  --emr-navigation-items-gap: calc(var(--spacing) * 2);

  height: 100%;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;

  .logo {
    font-weight: 800;
    font-size: var(--text-xl);
    color: var(--color-neutral-950);
    margin-left: calc(var(--spacing) * 12);
    margin-right: calc(var(--spacing) * 12);

    &:hover {
      color: var(--sys-tertiary);
    }
  }

  .header {
    flex: none;
    display: flex;
    align-items: center;
  }

  .body {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
  }

  .footer {
    flex: none;
  }
}

:host-context(html.dark) {
  --emr-navigation-item-hover-bg: var(--color-neutral-700);

  .logo {
    color: var(--color-neutral-200);

    &:hover {
      color: var(--sys-tertiary);
    }
  }

  background-color: var(--sys-surface-container);
}
