:host {
  --emr-navigation-item-hover-bg: var(--color-primary-200);
  --emr-navigation-item-active-bg: var(--color-primary-300);
  --emr-navigation-item-active-color: var(--color-primary-800);
  --emr-navigation-item-active-icon-color: var(--color-primary-800);
  --emr-navigation-items-gap: var(--gap-2);

  @apply h-full flex flex-col w-[300px] bg-white overflow-y-auto overflow-x-hidden;

  .logo {
    @apply font-extrabold text-xl text-neutral-950 mx-12 hover:text-tertiary;
  }

  .header {
    @apply flex-none flex items-center;
  }

  .body {
    @apply grow relative overflow-y-auto overflow-x-hidden px-6;
  }

  .footer {
    @apply flex-none;
  }
}

:host-context(html.dark) {
  --emr-navigation-item-hover-bg: var(--color-neutral-700);

  .logo {
    @apply text-neutral-200 hover:text-tertiary;
  }

  @apply bg-surface-container;
}
