<div class="inner">
  <div class="header h-32">
    <a routerLink="/" class="logo">ELEMENTAR</a>
    <!--  <div class="p-4">-->
    <!--    <img src="assets/logo.svg" alt="" class="h-10">-->
    <!--  </div>-->
  </div>
  <div class="body">
    <emr-navigation #navigation [activeKey]="activeKey" class="navigation">
      @for (navItem of navItems; track navItem) {
        @switch (navItem.type) {
          @case ('heading') {
            <emr-navigation-heading>{{ navItem.name }}</emr-navigation-heading>
          }
          @case ('group') {
            <emr-navigation-group>
              <emr-navigation-group-toggle [for]="navItem.key">
                @if (navItem.icon) {
                  <mat-icon emrNavigationItemIcon class="filled">{{ navItem.icon }}</mat-icon>
                }
                {{ navItem.name }}
                <mat-icon emrNavigationGroupToggleIcon>arrow_drop_down</mat-icon>
              </emr-navigation-group-toggle>
              <emr-navigation-group-menu [key]="navItem.key">
                @for (childItem of navItem.children | orderBy:'name'; track childItem) {
                  <a emr-navigation-item [routerLink]="childItem.link" [key]="childItem.key">
                    {{ childItem.name }}
                  </a>
                }
              </emr-navigation-group-menu>
            </emr-navigation-group>
          }
          @default {
            @if (navItem.link) {
              <a emr-navigation-item [routerLink]="navItem.link" [key]="navItem.key">
                @if (navItem.icon) {
                  <mat-icon emrNavigationItemIcon class="filled">{{ navItem.icon }}</mat-icon>
                }
                {{ navItem.name }}
              </a>
            } @else {
              <emr-navigation-item [key]="navItem.key">
                @if (navItem.icon) {
                  <mat-icon emrNavigationItemIcon class="filled">{{ navItem.icon }}</mat-icon>
                }
                {{ navItem.name }}
              </emr-navigation-item>
            }
          }
        }
      }
    </emr-navigation>
  </div>
  <div class="footer py-7 px-10">
    <emr-sidebar-toolbar/>
  </div>
</div>
