:host {
  @apply w-screen h-screen flex flex-col;

  .header {
    @apply absolute top-0 start-0 right-0 h-20 flex-none px-4 z-[3] flex items-center justify-between
  }

  .content {
    @apply shadow z-[2] flex items-center justify-center gap-8 h-screen w-screen;
  }

  &:has(.title) {
    .content {
      @apply pt-12;
    }
  }

  &:has(.aside) {
    .content {
      @apply pe-[420px];
    }
  }

  .img {
    @apply select-none;
    scale: var(--emr-image-viewer-picture-scale, 1);
    transition: scale .15s linear;
  }

  .title {
    @apply font-medium h-10 rounded-full px-4 text-tiny flex items-center;
    @apply bg-neutral-700 text-neutral-300;
  }

  .close,
  .zoom {
    @apply size-10 rounded-full flex items-center justify-center;
    @apply bg-neutral-700 text-neutral-300 hover:bg-neutral-800 hover:text-neutral-200;
    @apply active:text-neutral-100 active:bg-neutral-950;
  }

  .aside {
    @apply w-[420px] absolute end-0 top-0 bottom-0 flex-none bg-neutral-50 flex flex-col gap-5 h-full pe-10;

    &-header {
      @apply font-bold px-8 pt-8;
    }

    &-body {
      @apply relative grow text-sm text-neutral-600 leading-relaxed;

      &-scroll {
        @apply absolute inset-0 overflow-y-auto px-8 pb-8;
      }
    }
  }

  .image {
    @apply relative flex items-center justify-end h-full max-w-[90%] max-h-[90%];

    img {
      @apply max-h-full max-w-full;
    }
  }

  .spinner {
    @apply invisible w-max absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-[1];
  }

  &.loading {
    .spinner {
      @apply visible z-[1];
    }

    img {
      @apply invisible relative -z-50;
    }
  }
}

:host-context(html.dark) {
  .title {
    @apply bg-neutral-100 text-neutral-600;
  }

  .close {
    @apply bg-neutral-100 text-neutral-600;
    @apply hover:bg-neutral-200 hover:text-neutral-700;
    @apply active:bg-neutral-300 active:text-neutral-900;
  }

  .aside {
    @apply bg-neutral-900;

    &-body {
      @apply text-neutral-400;
    }
  }
}
