:host {
  animation: var(--emr-skeleton-item-animation);
  display: block;
  flex: none;
  border-radius: var(--emr-skeleton-line-border-radius);
}

:host:not([class*="w-"]) {
  width: var(--emr-skeleton-line-width);
}

:host:not([class*="h-"]) {
  height: var(--emr-skeleton-line-height);
}
