:host {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--gap-3_5);
  min-height: var(--h-8);

  .color {
    --emr-brand-colors-item-color: transparent;
    width: var(--w-6);
    height: var(--h-6);
    border-radius: var(--rounded-full);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    position: relative;
    background: var(--emr-brand-colors-item-color);
    line-height: 1;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-bold);

    &:hover {
      scale: 1.05;
    }

    &.is-selected {
      outline-offset: 2px;
      outline-color: var(--emr-brand-colors-item-color);
      outline-style: solid;
    }
  }

  &.is-disabled {
    pointer-events: none;
    opacity: var(--opacity-60);
  }
}
