<div class="flex gap-10 px-5 py-10">
  <div class="grow">
    <div class="container w-[900px] mx-auto prose dark:prose-invert max-w-none">
      <h1>Card</h1>

      <h3>Basic Card</h3>
      <emr-playground>
        <app-basic-card-example></app-basic-card-example>
      </emr-playground>

      <h3>Card Actions</h3>
      <emr-playground>
        <app-card-actions-example></app-card-actions-example>
      </emr-playground>

      <h3>Card Multiple Sections</h3>
      <emr-playground>
        <app-card-multiple-sections-example></app-card-multiple-sections-example>
      </emr-playground>

      <h3>Card Footer Loading</h3>
      <emr-playground>
        <app-card-footer-loading-example></app-card-footer-loading-example>
      </emr-playground>
    </div>
  </div>
  <nav class="sticky top-32 w-72">
  </nav>
</div>
