<app-page>
  <div appPageContent>
    <h1>Pie micro chart</h1>

    <h3>Basic pie micro chart</h3>
    <emr-playground exampleUrl="_docs/micro-charts/pie-chart/_examples" exampleName="mchart-pie-basic-example">
      <app-mchart-pie-basic-example></app-mchart-pie-basic-example>
    </emr-playground>

    <h3>Pie micro chart with legend</h3>
    <emr-playground exampleUrl="_docs/micro-charts/pie-chart/_examples" exampleName="mchart-pie-with-legend-example">
      <app-mchart-pie-with-legend-example></app-mchart-pie-with-legend-example>
    </emr-playground>

    <h3>Pie micro chart with value on slices</h3>
    <emr-playground exampleUrl="_docs/micro-charts/pie-chart/_examples" exampleName="mchart-pie-value-on-slices-example">
      <app-mchart-pie-value-on-slices-example></app-mchart-pie-value-on-slices-example>
    </emr-playground>

    <h3>Pie micro chart with tooltip</h3>
    <emr-playground exampleUrl="_docs/micro-charts/pie-chart/_examples" exampleName="mchart-pie-with-tooltip-example">
      <app-mchart-pie-with-tooltip-example></app-mchart-pie-with-tooltip-example>
    </emr-playground>
  </div>
</app-page>
