<app-page>
  <div appPageContent>
    <h1>Timepicker</h1>

    <h3 class="mat-title-large">Basic time picker</h3>
    <emr-playground exampleUrl="_docs/components/timepicker/_examples" exampleName="basic-timepicker-example">
      <app-basic-timepicker-example/>
    </emr-playground>

    <h3 class="mat-title-large">Integration with MatDatepicker</h3>
    <emr-playground exampleUrl="_docs/components/timepicker/_examples" exampleName="timepicker-with-datepicker-example">
      <app-timepicker-with-datepicker-example/>
    </emr-playground>

    <h3 class="mat-title-large">Customizing the toggle icon</h3>
    <emr-playground exampleUrl="_docs/components/timepicker/_examples" exampleName="timepicker-custom-toggle-icon-example">
      <app-timepicker-custom-toggle-icon-example/>
    </emr-playground>
  </div>
</app-page>
