:host {
  display: grid;
  height: 100%;
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 10);
  gap: calc(var(--spacing) * 2);
  grid-template-columns: 312px 1fr;

  &:has(.sidebar) {
    grid-template-columns: 312px 1fr 312px;
  }

  emr-comment-editor {
    --emr-comment-editor-content-max-height: 160px;
  }
}
