<section class="threads flex flex-col gap-5">
  <div class="flex justify-between">
    <h2 class="text-3xl">Messages</h2>
    <div class="border rounded-full w-max">
      <button mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex items-center gap-3">
    <div class="relative grow">
      <mat-icon class="absolute start-2.5 top-1/2 -translate-y-1/2">search</mat-icon>
      <input type="text" matInput placeholder="Search"
             class="bg-surface-container-low w-full border outline-none ps-10 h-10 pe-3 rounded-full">
    </div>
    <button mat-icon-button>
      <mat-icon>tune</mat-icon>
    </button>
  </div>
  <div class="grow rounded-3xl bg-surface-container-low p-4">
    fasfasf
  </div>
</section>
<main class="messages">
  <div class="messages-header">asfasf</div>
</main>
<aside class="sidebar">
  <div class="h-full rounded-3xl bg-surface-container-low p-5">
    asfasfasf
  </div>
</aside>
