:host {
  display: grid;
  height: 100%;
  padding: var(--p-5) var(--p-10);
  gap: var(--gap-2);
  grid-template-columns: 312px 1fr;

  &:has(.sidebar) {
    grid-template-columns: 312px 1fr 312px;
  }

  emr-comment-editor {
    --emr-comment-editor-content-max-height: 160px;
  }
}
