<div class="mb-6">
  <div class="mb-3">Variant:</div>
  <mat-radio-group [(ngModel)]="variant" aria-label="Select an option" class="flex gap-5">
    <mat-radio-button value="list">List</mat-radio-button>
    <mat-radio-button value="table">Table</mat-radio-button>
  </mat-radio-group>
</div>
<emr-data-view [columnDefs]="columnDefs"
               [data]="data"
               [loading]="true"
               [variant]="variant()">
  <emr-data-view-action-bar *emrDataViewActionBar="let row">
    <button mat-stroked-button>Edit</button>
    <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button>
  </emr-data-view-action-bar>
</emr-data-view>
