<div class="h-[600px] relative">
  <emr-sidebar class="border border-default ">
    <emr-sidebar-header class="border-b border-b-default">
      <div class="h-20 font-bold px-7 flex items-center text-primary">
        Elementar
      </div>
    </emr-sidebar-header>
    <emr-sidebar-body>
      <emr-sidebar-nav activeKey="home" [navItems]="navItems">
        <ng-template emrSidebarNavItemIcon let-name>
          <emr-icon [name]="name"/>
        </ng-template>
      </emr-sidebar-nav>
    </emr-sidebar-body>
    <emr-sidebar-footer class="border-t border-t-default">
      <div class="h-20 px-7 flex items-center text-sm">
        Copyright &copy; 2024
      </div>
    </emr-sidebar-footer>
  </emr-sidebar>
</div>
