:host {
  --emr-navigation-item-hover-bg: theme('colors.primary.200');
  --emr-navigation-item-active-bg: theme('colors.primary.300');
  --emr-navigation-item-active-color: theme('colors.primary.800');
  --emr-navigation-item-active-icon-color: theme('colors.primary.800');
  --emr-navigation-item-gap: theme('gap.2');
  --emr-navigation-items-gap: theme('gap.2');

  .logo {
    @apply font-extrabold text-xl text-neutral-950 mx-12 hover:text-tertiary;
  }

  @apply block h-full p-0 rounded-e-xl;

  .inner {
    @apply h-full flex flex-col w-[300px] bg-white overflow-y-auto overflow-x-hidden;
  }

  .header {
    @apply flex-none flex items-center;
  }

  .body {
    @apply grow relative overflow-y-auto overflow-x-hidden px-6;
  }

  .footer {
    @apply flex-none;
  }
}

:host-context(html.dark) {
  --emr-navigation-item-hover-bg: theme('colors.neutral.700');

  .logo {
    @apply text-neutral-200 hover:text-tertiary;
  }

  .inner {
    @apply bg-neutral-900;
  }
}
